/* CSS comm */
*{margin:0;padding:0;}
body{background:#fff;font-size:12px;color:#333333;font-family:"宋体";}
td,ul,li,dt,dd,p,label{ list-style:none;padding:0;margin:0;}
fieldset,img{border:none}
table,td{border-collapse:collapse;}
a{color:#333333;text-decoration:underline;}
a:hover{text-decoration:underline;}
h1,h2,h3,h4,h5{font-size:12px;}
img{vertical-align:top;display:inline-block;}
.fl{float:left;}
.no{display:none;}
.red{ color:#f00}
/* pop */
#pop{width:550px;}
h1.top{ height:38px;background:url(http://dicimg.naver.com/endic/img/bg_top_popup.gif) repeat-x 0 0;}
h1.top .tit{float:left;padding:12px 0 0 20px;}
h1.top .logo{float:right;padding:14px 12px 0 0;}
.con{padding:22px 20px 26px 19px;_padding:23px 20px 26px 19px;height:255px;overflow:hidden;zoom:1}
.con p{ padding:18px 0 0 0;line-height:18px;text-align:justify;font-size:12px;font-family:"돋움";}
.con p.first{ padding:0;}
.bot{height:33px;background-color:#f8f8f8;color:#979797;font-size:11px;font-family:"돋움";}
.bot input{ float:left;margin:10px 0 0 20px;*margin:6px 0 0 16px;}
.bot label{ float:left;margin:10px 0 0 6px;*margin:11px 0 0 3px;}
.bot .close{ float:right;margin:7px 9px 0 0;}
.table_01 td{padding:3px;border:solid 1px #000;color:#000}
.table_01 .th td{background-color:#f2f2f2;}
.table_01 .th td p{text-align:center}
.table_01 td p{padding:0}
