@charset "euc-kr";
/* NHN Web Standard 1Team JJS 111026 / NTS UID-TEAM1 CDY 120521 */
.spi_default,.spi_default ul,.spi_default li,.spi_default form,.spi_default fieldset,.spi_default legend,.spi_default input{margin:0;padding:0;color:#404040;font-family:'나눔고딕',NamumGothic,'돋움',dotum,sans-serif;font-size:12px;line-height:16px}
.spi_default:after{display:block;clear:both;content:''}
.spi_default fieldset{border:0}
.spi_default ul{list-style:none}
.spi_default em{font-style:normal}
.spi_default a{color:#333;text-decoration:none}
.spi_default a:hover,.spi_default a:active,.spi_default a:focus,.spi_default a:visited{color:#404040}
.spi_default legend{display:none}
.spi_default{position:relative;z-index:1000}
.spi_default .spi_lst a:hover{text-decoration:none}
.spi_lst{zoom:1}
.spi_lst a,.spi_lst span,.spi_lst em,.spi_btn_facebook a,.spi_btn_twitter a,.spi_btn_me2day a,.spi_btn_release .spi_bg_release,.spi_btn_release .spi_bu_arr,.spi_lnk_mail span,.spi_lnk_cafe span,.spi_lnk_blog span,.spi_lnk_yozm span,.spi_btn_me{background:url(http://static.news.naver.net/image/news/2012/07/sp_spi.png) no-repeat}}
.spi_default .spi_lst{position:relative;margin-right:-5px}
.spi_lst:after{display:block;clear:both;content:''}
.spi_lst li{display:inline;float:left;position:relative;height:30px;margin-right:5px}
.spi_lst li .spi_dimmed,.spi_lst li .spi_dimmed:link,.spi_lst li .spi_dimmed:hover,.spi_lst li .active,.spi_lst li .spi_dimmed:focus,.spi_lst li .spi_dimmed:visited{color:#999 !important}
.spi_lst a{display:inline-block;float:left;position:relative;height:23px;_height:30px;padding:7px 11px 0 27px;_padding:7px 10px 0 31px;background-position:0 0;font-size:12px;letter-spacing:-1px;line-height:15px}
.spi_btn_release a{width:42px;_width:80px}
.spi_lst span{display:block;position:absolute;width:15px;height:15px;background-position:0 -80px;cursor:pointer}
.spi_lst em{display:inline-block;position:absolute;top:0;right:0;width:2px;height:29px;background-position:100% 0}
.spi_lst .me2day_me2box{width:auto;height:auto;background:none}
.spi_lst .spi_btn_release{width:80px}
.spi_btn_me a{padding-left:27px}
.spi_btn_me span{top:7px;left:8px;width:15px;height:15px;background-position:-100px -92px}
.spi_btn_bookmark a{padding:7px 10px 0 27px}
.spi_btn_bookmark span{top:7px;left:8px;width:16px;height:16px;background-position:-100px -35px}
.loading{position:absolute;top:7px;left:7px;width:16px;height:16px;border:none}
.spi_lst .spi_btn_me2day{background:none}
.spi_btn_me2day span{top:5px;left:8px;width:15px;height:16px;background-position:-60px -80px}
.spi_lst .spi_cnt_tooltip{display:block;position:relative;left:3px;margin-right:3px}
:root .spi_lst .spi_cnt_tooltip{display:inline-block}
.spi_lst .spi_cnt_tooltip em{right:-1px}
:root .spi_lst .spi_cnt_tooltip em{right:1px}
.spi_lst .spi_cnt_tooltip .spi_cnt{margin-right:3px;*margin-right:1px}
.spi_cnt_tooltip li{margin-left:2px;_margin-left:-1px;background-image:none}
.spi_cnt_tooltip div,.spi_cnt_tooltip a{width:auto;height:21px;_height:27px;padding:5px 4px 1px 8px;background-position:0 -30px;color:#705bb6;font-family:tahoma;font-size:11px;letter-spacing:0}
.spi_cnt_tooltip a:hover,.spi_cnt_tooltip a:link,.spi_cnt_tooltip a:active,.spi_cnt_tooltip a:focus,.spi_cnt_tooltip a:visited{color:#705bb6 !important}
.spi_cnt_tooltip em{background-position:-198px -30px}
.spi_btn_release .spi_lst_release a{display:block;float:none;width:auto;padding:7px 0 5px 30px;background:none}
.spi_btn_release .spi_lst_release a:hover{color:#339900;text-decoration:underline}
.spi_btn_release .spi_lst_release .spi_lnk_cafe a{padding-left:31px}
.spi_btn_release .spi_lst_release .spi_lnk_blog a,.spi_btn_release .spi_lst_release .spi_lnk_memo a,.spi_btn_release .spi_lst_release .spi_lnk_schd a,.spi_btn_release .spi_lst_release .spi_lnk_yozm a{padding-top:6px}
.spi_lst_release a{height:21px;_height:26px;padding:6px 0 0 32px}
.spi_btn_release .spi_bg_release{top:7px;left:8px;width:18px;height:15px;background-position:-120px -35px}
.spi_btn_release .spi_bu_arr{top:13px;right:9px;left:auto;width:5px;height:3px;overflow:hidden;background-position:0 -70px}
.spi_lst .spi_lst_release{position:absolute;top:32px;left:-175px;width:243px;_width:255px;padding:3px 0 5px 10px;border:1px solid #888;background-color:#fafafa;text-align:left;z-index:10}
.spi_lst_release li{display:inline-block;width:78px;height:26px;margin:0;padding:0;background:none;line-height:16px}
.spi_lst_release .spi_lnk_urlcopy,.spi_lst_release .spi_lnk_blog,.spi_lst_release .spi_lnk_yozm{width:81px}
.spi_lst_release span{top:4px;left:6px;width:20px;height:18px}
.spi_lnk_urlcopy span{background-position:-120px -90px}
.spi_lnk_mail span{background-position:-140px -35px}
.spi_lnk_cafe span{background-position:-160px -35px}
.spi_lnk_blog span{background-position:-180px -35px}
.spi_lnk_memo span{background-position:-140px -90px}
.spi_lnk_schd span{background-position:-160px -90px}
.spi_lnk_yozm span{background-position:-200px -35px}
.spi_btn_facebook a,.spi_btn_twitter a,.spi_btn_me2day a{width:29px;height:30px;overflow:hidden;text-indent:-999px;padding:0;background-position:0 -35px}
.spi_btn_facebook a{background-position:-34px -35px}
.spi_btn_me2day a{background-position:-68px -35px}
.spi_btn_release_open .spi_bu_arr{background-position:-20px -70px}
.spi_btn_release_open a{background-position:0 -77px}
.spi_btn_release_open em{background:none}
/* Layer Popup */
.spi_default .spi_ly_pop{display:none;position:absolute;top:31px;left:50%;width:255px;margin-left:-127px;z-index:1000;margin-left:8px;padding:10px 0 12px 3px;text-align:left;border:1px solid #b1b1b1;background:#fff;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.spi_default .ly_pop_v1{width:213px;top:-70px;left:220px}
.spi_default .spi_ly_pop .spi_dsc{margin:0 0 0 15px;color:#333;line-height:19px}
.spi_default .spi_ly_pop .spi_dsc em{color:#390}
.spi_default .spi_ly_pop .spi_dsc .spi_impact{color:#390;text-decoration:underline}
.spi_default .spi_ly_pop .spi_dsc .spi_impact:link,.spi_default .spi_ly_pop .spi_dsc .spi_impact:hover,.spi_default .spi_ly_pop .spi_dsc .spi_impact:active,.spi_default .spi_ly_pop .spi_dsc .spi_impact:focus,.spi_default .spi_ly_pop .spi_dsc .spi_impact:visited{color:#390}
.spi_default .spi_ly_pop .spi_btn{clear:both;position:relative;width:223px;margin:14px 0 -2px 12px;padding-top:10px;text-align:center;border-top:1px solid #e5e5e5}
.spi_default .spi_ly_pop .spi_btn a{cursor:pointer}
.spi_default .spi_ly_pop .spi_btn .spi_y{display:inline-block;float:none;position:relative;top:0;width:41px;height:25px;margin-right:1px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_btn .spi_y span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:41px;height:25px;background:url(http://static.news.naver.net/image/news/2012/07/sp_spi.png) -100px -60px no-repeat}
.spi_default .spi_ly_pop .spi_btn .spi_n{display:inline-block;float:none;position:relative;top:0;width:53px;height:25px;padding:0;background:none}
.spi_default .spi_ly_pop .spi_btn .spi_n span{display:inline-block;position:absolute;top:0;left:0;z-index:20;width:53px;height:25px;background:url(http://static.news.naver.net/image/news/2012/07/sp_spi.png) -145px -60px no-repeat}
.spi_default .spi_ly_pop .spi_close{overflow:visible;position:absolute;top:0;right:3px;_right:0;width:25px;padding:0;border:none;background:none;color:#b5b5b5;font-size:10px;cursor:pointer}
.spi_default .spi_ly_pop .spi_close span{display:block;position:relative;top:0;left:0;z-index:20;width:25px;height:25px;margin:0;border:none;background:url(http://static.news.naver.net/image/news/2012/07/sp_spi.png) -200px -60px no-repeat;font-size:0}
.spi_default .spi_ly_pop .spi_close em{position:absolute;top:3px;left:6px}
.spi_default .spi_ly_pop .spi_ico_arr{position:absolute;left:22px;bottom:-6px;width:9px;height:6px;background:url(http://static.naver.net/common/spi/sp_social_plugin17.png) -200px -60px no-repeat;font-size:0;line-height:0}