@charset "utf-8";
td {font-size:12px;line-height:1.4;font-family:굴림;color:#333333;}
img {border:none;}
A:link{COLOR:0047B6;TEXT-DECORATION:none}
A:visited {COLOR:0047B6;TEXT-DECORATION:none}
A:hover{ COLOR:0047B6;TEXT-DECORATION:underline}
.b,a.b:link,a.b:visited,a.b:hover,a.b:active{font-weight:bold;letter-spacing:-1px }
.ul,a.ul:link,a.ul:visited,a.ul:hover,a.ul:active{TEXT-DECORATION:underline}
.p1,a.p3:link,a.p3:visited,a.p3:hover,a.p3:active{font-size:11px;}
.p2,a.p2:link,a.p2:visited,a.p2:hover,a.p2:active{font-size:12px;}
.p3,a.p3:link,a.p3:visited,a.p3:hover,a.p3:active{font-size:13px;}
.p4,a.p4:link,a.p4:visited,a.p4:hover,a.p4:active{font-size:14px;}
.p6,a.p6:link,a.p6:visited,a.p6:hover,a.p6:active{font-size:16px;}
.fad,a.fad:link,a.fad:visited,a.fad:hover,a.fad:active{font-family:verdana,arial,돋움}
.fd,a.fd:link,a.fd:visited,a.fd:hover,a.fd:active{font-family:돋움}
.fb,a.fb:link,a.fb:visited,a.fb:hover,a.fb:active{font-family:바탕}
sup{text-decoration:none}
.ls{letter-spacing:-1px }
.pgn,a.pgn:link{color:#404040;text-decoration:none;font-size:12px}a.pgn:visited{color:#404040;text-decoration:none;font-size:12px}a.pgn:hover{color:#999999;text-decoration:underline}
.pgnon{color:#FF7635;font-size:12px} td.naverpgn_on{background-color:#f7f7f7} td.naverpgn_off{background-color:#ffffff}
/*----------------------------------공용---------------------------------------------*/
/*----01.파란색----*/
/*기본 파란색-링크시에만 underline*/
.bl-nu01 {color:0047B6 ;}
A.bl-nu01:link {COLOR:0047B6;TEXT-DECORATION:none}
A.bl-nu01:visited {COLOR:0047B6;TEXT-DECORATION:none}
A.bl-nu01:hover {COLOR:469AF1;TEXT-DECORATION:underline}
/*짙은 파란색-링크시에만 underline*/
.bl-nu02 {color:013883 ;}
A.bl-nu02:link {COLOR:013883;TEXT-DECORATION:none}
A.bl-nu02:visited {COLOR:013883;TEXT-DECORATION:none}
A.bl-nu02:hover {COLOR:0047B6;TEXT-DECORATION:underline}
/*기본 파란색-항상 underline*/
.bl-uu01 {color:0047B6 ;}
A.bl-uu01:link {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu01:visited {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu01:hover {COLOR:469AF1;TEXT-DECORATION:underline}
.bl-uu02 {color:0047B6 ;}
A.bl-uu02:link {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu02:visited {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu02:hover {COLOR:0047B6;TEXT-DECORATION:underline}
.bl-uu03 {color:0047B6 ;}
A.bl-uu03:link {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu03:visited {COLOR:0047B6;TEXT-DECORATION:underline}
A.bl-uu03:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
/*검정색*/
/*링크시에만 underline+블루칼라 변화*/
.bb-nu01 {color:333333 ;}
A.bb-nu01:link {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu01:visited {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu01:hover {COLOR:0047B6;TEXT-DECORATION:underline}
/*링크시에만 underline*/
.bb-nu02 {color:333333;}
A.bb-nu02:link {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu02:visited {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu02:hover {COLOR:333333;TEXT-DECORATION:underline}
/*링크시에만 underline+레드칼라 변화:사전 뜻풀이 본문링크에 많이 사용*/
.bb-nu03 {color:333333 ;}
A.bb-nu03:link {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu03:visited {COLOR:333333;TEXT-DECORATION:none}
A.bb-nu03:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
.bb-nu03 a:link {COLOR:333333;TEXT-DECORATION:none}
.bb-nu03 a:visited {COLOR:333333;TEXT-DECORATION:none}
.bb-nu03 a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
/*항상 none*/
.bb-nn01 {color:333333 ;}
A.bb-nn01:link {COLOR:333333;TEXT-DECORATION:none}
A.bb-nn01:visited {COLOR:333333;TEXT-DECORATION:none}
A.bb-nn01:hover {COLOR:333333;TEXT-DECORATION:none}
/*링크시 칼라만 변화*/
.bb-nn02 {color:333333 ;}
A.bb-nn02:link {COLOR:333333;TEXT-DECORATION:none}
A.bb-nn02:visited {COLOR:333333;TEXT-DECORATION:none}
A.bb-nn02:hover {COLOR:0047B6;TEXT-DECORATION:none}
/*항상 underline*/
.bb-uu01 {color:333333 ;}
A.bb-uu01:link {COLOR:333333;TEXT-DECORATION:underline}
A.bb-uu01:visited {COLOR:333333;TEXT-DECORATION:underline}
A.bb-uu01:hover {COLOR:333333;TEXT-DECORATION:underline}
/*항상 underline*/
.bb-uu02 {color:333333 ;}
A.bb-uu02:link {COLOR:333333;TEXT-DECORATION:underline}
A.bb-uu02:visited {COLOR:333333;TEXT-DECORATION:underline}
A.bb-uu02:hover {COLOR:469AF1;TEXT-DECORATION:underline}
/*회색*/
/*밝은회색*/
.gr-nu01 {color:949494;}
A.gr-nu01:link {COLOR:949494;TEXT-DECORATION:none}
A.gr-nu01:visited {COLOR:949494;TEXT-DECORATION:none}
A.gr-nu01:hover {COLOR:949494;TEXT-DECORATION:underline}
/*어두운회색*/
.gr-nu02 {color:4D4D4D ;}
A.gr-nu02:link {COLOR:4D4D4D;TEXT-DECORATION:none}
A.gr-nu02:visited {COLOR:4D4D4D;TEXT-DECORATION:none}
A.gr-nu02:hover {COLOR:4D4D4D4;TEXT-DECORATION:underline}
/*중간회색*/
.gr-nu03 {color:818181 ;}
A.gr-nu03:link {COLOR:818181;TEXT-DECORATION:none}
A.gr-nu03:visited {COLOR:818181;TEXT-DECORATION:none}
A.gr-nu03:hover {COLOR:818181;TEXT-DECORATION:underline}
/*오렌지색*/
/*어두운 오렌지칼라-링크시에만 underline*/
.or-nu01 {color:CF4900 ;}
A.or-nu01:link {COLOR:CF4900;TEXT-DECORATION:none}
A.or-nu01:visited {COLOR:CF4900;TEXT-DECORATION:none}
A.or-nu01:hover {COLOR:FF6633;TEXT-DECORATION:underline}
/*오렌지칼라-링크시에만 underline*/
.or-nu02 {color:E46628;}
A.or-nu02:link {COLOR:E46628;TEXT-DECORATION:none}
A.or-nu02:visited {COLOR:E46628;TEXT-DECORATION:none}
A.or-nu02:hover {COLOR:E46628;TEXT-DECORATION:underline}
/*밝은오렌지칼라-링크시에만 underline*/
.or-nu03 {color:FF6633 ;}
A.or-nu03:link {COLOR:FF6633;TEXT-DECORATION:none}
A.or-nu03:visited {COLOR:FF6633;TEXT-DECORATION:none}
A.or-nu03:hover {COLOR:FF6633;TEXT-DECORATION:underline}
/*----------------------------------용어사전---------------------------------------------*/
/*단어 뜻풀이*/
.de {color:#333333;font-size:13px;font-family:굴림;line-height:1.5}
.de a:link {color:#333333;TEXT-DECORATION:none}
.de a:visited {color:#333333;TEXT-DECORATION:none}
.de a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
/*초록색*/
.gg-nu01 {color:0E8D1D ;}
A.gg-nu01:link {COLOR:0E8D1D;TEXT-DECORATION:none}
A.gg-nu01:visited {COLOR:0E8D1D;TEXT-DECORATION:none}
A.gg-nu01:hover {COLOR:0E8D1D;TEXT-DECORATION:underline}
/*밝은회색-항상 underline*/
.gr-uu01 {color:949494;}
A.gr-uu01:link {COLOR:949494;TEXT-DECORATION:underline}
A.gr-uu01:visited {COLOR:949494;TEXT-DECORATION:underline}
A.gr-uu01:hover {COLOR:949494;TEXT-DECORATION:underline}
/* 뜻풀이 관련*/
.Idiom_EN {COLOR:0047B6;font-weight:bold;TEXT-DECORATION:none}
.Idiom_EN a:link {COLOR:0047B6;TEXT-DECORATION:none}
.Idiom_EN a:visited {COLOR:0047B6;TEXT-DECORATION:none}
.Idiom_EN a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
.Exp_No{COLOR:E32E10;font-weight:bold;TEXT-DECORATION:none}
.Exp_No a:link {COLOR:E32E10;TEXT-DECORATION:none}
.Exp_No a:visited {COLOR:E32E10;TEXT-DECORATION:none}
.Exp_No a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
.HeadText {color:4D4D4D }
.HeadText a:visited {color:4D4D4D;TEXT-DECORATION:none}
.HeadText a:active {COLOR:DA2F08;TEXT-DECORATION:underline}
.HeadText a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
.Discr{color:727272 }
.Discr a:visited {color:727272;TEXT-DECORATION:none}
.Discr a:active {COLOR:DA2F08;TEXT-DECORATION:underline}
.Discr a:hover {COLOR:DA2F08;TEXT-DECORATION:underline}
/*부록 관련*/
.or-nu04 {color:A5540C ;}
#s_bar{width:187;height:272;overflow:auto;padding:0px;border:0;
scrollbar-face-color:#DEDEDE;
scrollbar-highlight-color:#CDCDCD;
scrollbar-shadow-color:#CDCDCD;
scrollbar-3dlight-color:#F5F5F5;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#F1F1F1;
scrollbar-darkshadow-color:#F5F5F5;
scrollbar-base-color:#DEDEDE;
}
#s_bar2{width:230;height:87;overflow:auto;padding:0px;border:0;
scrollbar-face-color:#DEDEDE;
scrollbar-highlight-color:#CDCDCD;
scrollbar-shadow-color:#CDCDCD;
scrollbar-3dlight-color:#F5F5F5;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:#F1F1F1;
scrollbar-darkshadow-color:#F5F5F5;
scrollbar-base-color:#DEDEDE;
}
/* 2006/07/10 메뉴 개편 */
#Left_Menu{width:150px;float:left}
#Left_Menu .line{width:150px;height:5px;background-color:#FFFFFF;font-size:1px}
#Left_Menu .box01_t{width:150px;background:url(http://static.naver.com/dic/menu/bg_menu01.jpg) repeat-y top;}
#Left_Menu .box01_t h1{margin:0;padding:0 0 20px 0}
#Left_Menu .box01_t h1 img{margin:13px 0 0 11px;}
#Left_Menu .box01_t h3{background:url(http://static.naver.com/dic/menu/ico_marw01.gif) 15px 3px no-repeat;margin:0;padding:0 0 4px 29px;font-family:돋움,dotum,sans-serif;font-size:12px;color:#2D2D2D;}
#Left_Menu .box01_t ul{width:132px;margin:0 0 0 9px;padding:7px 0 14px 0;border-top:1px solid #A7C8D3;font-family:돋움,dotum,sans-serif;}
#Left_Menu .box01_t ul li{background:url(http://static.naver.com/dic/menu/ico_list01.gif) 9px 7px no-repeat;list-style-type:none;margin:0;padding:0 0 1px 16px}
#Left_Menu .box01_t ul li a{color:#2D2D2D}
#Left_Menu .box01_t ul.btm{width:132px;margin:0 0 0 9px;padding:7px 0 0 0;border-top:1px solid #A7C8D3;font-family:돋움,dotum,sans-serif;}
#Left_Menu .box01_t ul.btm li{background:url(http://static.naver.com/dic/menu/ico_list01.gif) 9px 7px no-repeat;list-style-type:none;margin:0;padding:0 0 1px 16px}
#Left_Menu .box01_t ul.btm li a{color:#2D2D2D}
#Left_Menu .box01_b{width:150px;height:10px;background:url(http://static.naver.com/dic/menu/bg_menu01.jpg) repeat-y bottom;font-size:1px;}
#Left_Menu .box02_t{width:150px;background:url(http://static.naver.com/dic/menu/bg_menu02.jpg) repeat-y top;}
#Left_Menu .box02_t h3{margin:0;padding:17px 0 4px 15px;font-family:돋움,dotum,sans-serif;font-size:12px;color:#2D2D2D;}
#Left_Menu .box02_t ul{width:132px;margin:0 0 0 9px;padding:7px 0 0 0;border-top:1px solid #C4D0D8;font-family:돋움,dotum,sans-serif;}
#Left_Menu .box02_t ul li{background:url(http://static.naver.com/dic/menu/ico_list01.gif) 9px 7px no-repeat;list-style-type:none;margin:0;padding:0 0 1px 16px}
#Left_Menu .box02_t ul li a{color:#2D2D2D}
#Left_Menu .box02_b{width:150px;height:10px;background:url(http://static.naver.com/dic/menu/bg_menu02.jpg) repeat-y bottom;}
#Left_Menu .board{margin:10px 0 0 9px}
/* 080331 - GNB,LNB 개편 */
body {text-align:center;font-family:"돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif;font-size:12px;line-height:14px;}
ul,li,dl,dt,dd {margin:0;padding:0;list-style:none;}
img,fieldset {border:none;}
hr,legend {display:none;}
form,fieldset,legend {margin:0;padding:0;list-style:none;}
#skip,.skip {position:absolute;width:0;height:0;overflow:hidden;}
.box {font-family:"네이버사전",naverdic,"새굴림","굴림",Gulim,AppleGothic,Sans-serif;font-size:12px}
.enen_txt{padding-left:76px;*padding-left:75px;font:11px dotum;font-weight:bold;color:#666;letter-spacing:-1px}
.enen_txt input{ position:relative;top:2px;}
