div{border:0 solid #000000;font-size:12px;}
body{background-color:#FFFFFF;margin:0;padding:0;text-align:center;}
img{border:none}
.none{display:none;}
#Naver{text-align:left;width:960px;margin:0 auto;padding:0 0 4px 0;}
#Naver #Logo{height:39px;}
#Naver #Gnb{width:960px;height:32px;background:url(http://static.naver.com/dic/top2/bg_gnb_line01.gif) repeat-x;}
#Naver #Gnb #Main_Gnb{float:left}
#Naver #Gnb #Main_Gnb ul{margin:0;padding:0 0 0 7px}
#Naver #Gnb #Main_Gnb li{float:left;list-style-type:none;margin:0;padding:0}
#Naver #Gnb #Main_Gnb img{vertical-align:top}
#Naver #Gnb #Main_Ad{float:right;padding:12px 13px 0 0;}	
#Naver #Gnb #Main_Ad a{color:#393D3E;text-decoration:none;font-weight:bold;}
#Naver #Gnb #Main_Ad a:hover{text-decoration:underline}
#Naver #Gnb_dic01{width:960px;height:38px;background:url(http://static.naver.com/dic/top2/bg_gnb01.gif) no-repeat #2896C0;position:relative;}
#Naver #Gnb_dic01 #left{height:38px;float:left;}
#Naver #Gnb_dic01 #right{height:38px;float:right;padding:1px 9px 0 0;}
#Naver #Gnb_dic02{width:960px;height:38px;background:url(http://static.naver.com/dic/top2/bg_gnb02.gif) no-repeat #2896C0;position:relative;}
#Naver #Gnb_dic02 #left{height:38px;float:left;}
#Naver #Gnb_dic02 #right{height:38px;float:right;padding:1px 9px 0 0;}
#Naver #Gnb_dic03{width:960px;height:38px;background:url(http://static.naver.com/dic/top2/bg_gnb03.gif) no-repeat #2896C0;position:relative;}
#Naver #Gnb_dic01 .ico_new,#Gnb_dic02 .ico_new,#Gnb_dic03 .ico_new{width:20px;height:10px;position:absolute;top:-3px;left:199px;background:url(http://static.naver.com/dic/top2/ico_new.gif) no-repeat;}
#Naver #Gnb_dic01 ul,#Gnb_dic02 ul,#Gnb_dic03 ul{margin:0;padding:0}
#Naver #Gnb_dic01 ul li,#Gnb_dic02 ul li,#Gnb_dic03 ul li{float:left;list-style-type:none;margin:0;padding:0;}
#Naver #Gnb_dic01 img,#Gnb_dic02 img,#Gnb_dic03 img{vertical-align:top;margin:7px 0 0 11px}
#Naver #Gnb_dic01 p{padding:14px 0 0 23px;font-family:돋움,Dotum,sans-serif;color:#A7E4E9;margin:0}
#Naver #Gnb_dic01 p a{color:#F6F4F7;text-decoration:none;margin:0 0 0 10px}
#Naver #Gnb_dic01 p a:hover{text-decoration:underline}
#Naver #Search{width:960px;height:40px;background:url(http://static.naver.com/dic/top2/bg_search01.gif) no-repeat #E9EDEE;position:relative;}
#Naver #Search #Form{position:absolute;left:253px;top:8px}
#Naver #Search #Form select,input{font-family:돋움,Dotum,sans-serif;color:#333333;}
#Naver #Search #Form .btn{margin:0 0 -5px 0}
html>body #Naver #Search #Form .btn{margin:0 0 -8px 0}
#Naver #Search #Hangul{position:absolute;left:665px;top:14px;}
#Naver #Search #Hangul a{font-family:돋움,Dotum,sans-serif;color:#1541B1;text-decoration:underline}
#Naver #Menu{width:136px;float:right;}
#Naver #Menu ul{margin:0;padding:14px 0 0 0}
#Naver #Menu li{float:left;list-style-type:none;margin:0;padding:0 11px 0 13px;background:url(http://static.naver.com/dic/top2/ico_arw02.gif) 0 1px no-repeat}
#Naver #Menu li a{color:#393D3E;font-family:돋움,Dotum,sans-serif;font-weight:bold;text-decoration:none;letter-spacing:-1px}
#Naver #Menu li a:hover{text-decoration:underline}
dl.selectlist dd ul.opt li a {*width:86px;_width /**/:86px;}
dl.selectlist dt a {*height:21px;_height /**/:21px;}
.search_form .sel_box .on dt a {*width:86px;}