@charset "utf-8";
/* NHN China WS Team LZJ 111116,CYL 111212 */
.t input[type=text],.t input[type=password],.t input[type=image],.t button,.t input[type=button],.t input[type=reset],.t input[type=submit],.t textarea{-webkit-appearance:none;-webkit-text-size-adjust:none;-webkit-border-radius:0}
.t strong,.t b,.t .fnt_k17{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .con_find dt{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .menu_box_x dl dd li a.on,.t .menu_box_x dl dd li a.on:hover{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t #header{margin:0 -10px;}
.t #header .goback{left:220px}
.t .search fieldset .keybox{padding-top:1px}
/* 이미지 수정 */
.t .view_list ul li a{background:url(http://dicimg.naver.com/endic/img/t_select_sprite1_new.gif) no-repeat 0 0}
.t .view_list ul li.tx_depth1 a{background-position:0 -20px;}
.t .view_list ul li.tx_depth2 a{background-position:-60px -20px;}
.t .view_list ul li.tx_depth3 a{background-position:-147px -20px;}
.t .view_list ul li.tx_depth4 a{background-position:-208px -20px;}
.t .view_list ul li.tx_depth5 a{background-position:-274px -20px;}
.t .view_list ul li.tx_depth1 strong a{background-position:0 0;}
.t .view_list ul li.tx_depth2 strong a{background-position:-60px 0;}
.t .view_list ul li.tx_depth3 strong a{background-position:-147px 0;}
.t .view_list ul li.tx_depth4 strong a{background-position:-208px 0;}
.t .view_list ul li.tx_depth5 strong a{background-position:-274px 0;}
.t .view_list2 ul li a{background:url(http://dicimg.naver.com/endic/img/t_select_sprite1_new.gif) no-repeat 0 0}
.t .view_list2 ul li.tx_depth1 a{background-position:0 -20px;}
.t .view_list2 ul li.tx_depth2 a{background-position:-60px -20px;}
.t .view_list2 ul li.tx_depth3 a{background-position:-147px -20px;}
.t .view_list2 ul li.tx_depth4 a{background-position:-208px -20px;}
.t .view_list2 ul li.tx_depth5 a{background-position:-274px -20px;}
.t .view_list2 ul li.tx_depth1 strong a{background-position:0 0;}
.t .view_list2 ul li.tx_depth2 strong a{background-position:-60px 0;}
.t .view_list2 ul li.tx_depth3 strong a{background-position:-147px 0;}
.t .view_list2 ul li.tx_depth4 strong a{background-position:-208px 0;}
.t .view_list2 ul li.tx_depth5 strong a{background-position:-274px 0;}
.t #wrap{padding:0 10px}
.t .auto_complete2 p strong{-webkit-text-stroke-width:0}
.t .list_select p.sel input{margin-top:2px;vertical-align:middle}
.t .list_select p.sel{vertical-align:middle}
.t .fnt_k06,.t .fnt_k03,.t .con_study dt,.t .list_select ul li,.t .fnt_syn,.t .search fieldset .keyword,.t .menu_box_x dl dd ul.group01_a li a.on,.t .menu_box_x dl dd ul.group01_b a.on{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .nbox_01 dd li.on a span,.t .nbox_01 .word_ps dd li.on a span,.t .nbox_01 .word_ps dd li.on a span,.t .nbox_01 dl.ps02 dd li.on a span,.t .nbox_01 dl.ps02 dd li.l_on a span,.t .nbox_01 .word_find dd li.on a span img{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .fnt_e15,.t .auto_complete2 p strong,.t .fnt_e30 a,.t .dic_tit1 strong,.t .nbox_02 .entrylist table td .w_baseInfo_en .e_19_a{font-family:Helvetica,Verdana}
.t .auto_complete2 .list_head span.w1,.t .auto_complete2 .list_a span.w1,.t .search fieldset .keyword,.t .search_form .keyword,.t .auto_complete2 .list_a span.w2,.t .auto_complete2 .list_head span.w2{font-family:AppleGothic,sans-serif}
/* 111230 */
.t #gnb a{vertical-align:top}
.t #gnb .lst_svc li.me_menu{margin-bottom:1px;padding:1px 7px 1px 8px}
/* 120113 */ 
.t ul.h_tx_en li a{background:url(http://dicimg.naver.com/endic/img/select_sprite1_new_en2.gif) no-repeat 0 0} 
.t ul.h_tx_en li.tx_depth1 a{background-position:0 -20px} 
.t ul.h_tx_en li.tx_depth2 a{background-position:-83px -20px} 
.t ul.h_tx_en li.tx_depth3 a{background-position:-196px -20px} 
.t ul.h_tx_en li.tx_depth4 a{background-position:-285px -22px} 
.t ul.h_tx_en li.tx_depth5 a{background-position:-394px -20px} 
.t ul.h_tx_en li.tx_depth1 strong a{background-position:0 0} 
.t ul.h_tx_en li.tx_depth2 strong a{background-position:-83px 0} 
.t ul.h_tx_en li.tx_depth3 strong a{background-position:-196px 0} 
.t ul.h_tx_en li.tx_depth4 strong a{background-position:-285px 0} 
.t ul.h_tx_en li.tx_depth5 strong a{background-position:-394px 0} 
