<!DOCTYPE html>
<html lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi">
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
	<meta name="format-detection" content="telephone=no">
	<title>[검색] 리스트</title>
	<link rel="stylesheet" type="text/css" href="css/w.css">
	<link rel="stylesheet" type="text/css" href="css/comment.css">
	<link rel="stylesheet" type="text/css" href="css/mediaScreen.css">
</head>

<body class="">
<div id="u_skip" class="u_skip">
	<a href="#ct">본문 바로가기</a>
</div>

<!-- {% set search_type = " v2" %} -->
<!-- {% include "include/header.html" %} -->

<div class="bx_tab tab_tp v2">
	<!-- [D] 선택된 경우 li에 class="on" 추가 -->
	<ul>
	<li class="on"><a href="#">전체</a></li>
	<li><a href="#">웹툰</a></li>
	<li><a href="#">베스트도전</a></li>
	<li><a href="#">만화</a></li>
	</ul>
	<h2 class="u_hc">전체</h2>
</div>

<!-- ct  -->
<hr>
<div id="ct">
	<section class="srch_sc">
		<!-- 웹툰 -->
		<article>
			<h3>웹툰 <em class="cnt">5</em></h3>
			<ul class="toon_lst">
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt=""><span class="ico_new">NEW</span></span>
						</span>

						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견참견</span></strong></span>
                                <span class="aside_info"><span class="ico_up">UP</span><span class="ico_cut">컷툰</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt=""><span class="ico_end">완결</span></span>
						</span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견</span></strong></span>
				                <span class="aside_info"><span class="ico_up">UP</span><span class="ico_smart">스마트툰</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt=""></span>
						</span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견</span></strong></span>
                                <span class="aside_info"><span class="ico_store2">스토어</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="http://thumb.comic.naver.net/webtoon/183559/thumbnail/title_thumbnail_20140810204630_t125x101.JPG" width="63" height="51" alt="신의 탑"><span class="ico_game">채널링 작품</span></span>
						</span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>신의 탑</span></strong></span>
								<span class="aside_info"><span class="ico_break">휴재</span></span>
							</h4>
							<p class="sub_info">SIU</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt=""></span>
						</span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견</span></strong></span>
								<span class="aside_info"><span class="ico_adult2">19세 이상 이용가</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			</ul>
			<a href="#" class="more"><span class="u_hc">웹툰</span>더보기</a>
		</article>

		<!-- 베스트 도전 -->
		<article>
			<h3>베스트 도전 <em class="cnt">3</em></h3>
			<ul class="toon_lst toonlst2">
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt=""></span></span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견참견참견참견참견참견참견참견참견참견참견참견참견참견참견</span></strong></span>
								<span class="aside_info"><span class="ico_adult2">19세 이상 이용가</span><span class="ico_store2">스토어</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:50%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt="콘텐츠 제목">
							<!-- [D] 정식연재인 경우: mark_serial, 포텐업인 경우: mark_poten -->
							<span class="mark_serial">정식연재 작품</span>
							<span class="mark_bg"></span>
						</span></span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견</span></strong></span>
				                <span class="aside_info"><span class="ico_smart">스마트툰</span></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			<li>
				<div class="lst">
					<a href="#">
						<span class="im_br"><span class="im_inbr"><img src="im/@tmp/@age_toon.png" width="63" height="51" alt="콘텐츠 제목">
							<!-- [D] 정식연재인 경우: mark_serial, 포텐업인 경우: mark_poten -->
							<span class="mark_poten">포텐업 작품</span>
							<span class="mark_bg"></span>
						</span></span>
						<div class="toon_info">
							<h4>
								<span class="toon_name"><strong><span>생활의 참견</span></strong></span>
							</h4>
							<p class="sub_info">김양수</p>
							<p class="sub_info">
								<span class="st1"><span class="u_grp"><span class="u_grp_v" style="width:60%"></span></span></span>
								<span class="if1 st_r">8.2</span>
							</p>
						</div>
					</a>
				</div>
			</li>
			</ul>
		</article>

		<!-- 만화 -->
		<article class="category_lst">
			<h3>만화 <em class="cnt">30</em></h3>
			<ul>
            <li>
                <div class="info">
                    <a href="#">
                        <div class="sc_thumb">
                            <img src="im/@tmp/@thumb62x90.jpg" width="62" height="90" alt="밤을 걷는 선비">
                        </div>
                        <dl>
                        <dt>밤을 걷는 선비
                            <span class="aside_info"><span class="ico_store2">스토어</span></span>
                        </dt>
                        <dd>드라마<span class="bar">|</span>한승희, 조주희</dd>
                        <dd>총 36화(미완결)</dd>
                        <dd class="price">대여 <em>300</em>원/화</dd>
                        <dd class="price">구매 <em>500</em>원/화</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <a href="#">
                        <div class="sc_thumb">
                            <img src="http://dev.ui.naver.com/tmp/?62x90_none_y_666666_10" width="62" height="90" alt="인기 로맨스 소설 원작 만화 스페셜">
                        </div>
                        <dl>
                        <dt>언더그라운드 피셔맨 클럽</dt>
                        <dd>무협<span class="bar">|</span>사마달</dd>
                        <dd>총 24화(미완결)</dd>
                        <dd class="price">대여 <em>300</em>원/화</dd>
                        <dd class="price">구매 <em>500</em>원/화</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <a href="#">
                        <div class="ico_srch tp5"><span>타임딜</span></div>
                        <div class="sc_thumb">
                            <img src="im/@tmp/@thumb62x90.jpg" width="62" height="90" alt="오늘은 조선 한양에서">
							<!-- [D] 웹툰 스토어> 타임딜 작품인 경우 노출 -->
							<span class="thmb_mark">13일 남음</span>
                        </div>
                        <dl>
                        <dt>오늘은 조선 한양에서</dt>
                        <dd>순정<span class="bar">|</span>원혜정</dd>
                        <dd>총 24화(완결)<span class="bar">|</span>1회 무료</dd>
                        <dd class="price">대여 <em>300</em>원/화</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <a href="#">
                        <div class="ico_srch tp6"><span>오늘또쿠폰</span></div>
                        <div class="sc_thumb">
                            <img src="im/@tmp/@thumb62x90.jpg" width="62" height="90" alt="네가 있던 미래에선 어떻게 (이슈 연재) 1화 네가 있던 미래에선 어떻게 (이슈 연재) 1화">
                            <!-- [D] 웹툰 스토어> 오늘부터 무료 작품인 경우 노출 -->
                            <span class="thmb_mark v2">11/11 까지</span>
                        </div>
                        <dl>
                        <dt>네가 있던 미래에선 어떻게 (이슈 연재) 1화 네가 있던 미래에선 어떻게 (이슈 연재) 1화</dt>
                        <dd>드라마<span class="bar">|</span>이시영</dd>
                        <dd>총 24화(완결)</dd>
                        <dd class="ticket">자유이용권</dd>
                        <dd class="price">대여 <em>200</em>원/화</dd>
                        </dl>
                    </a>
                </div>
            </li>
            <li>
                <div class="info">
                    <a href="#">
                        <!-- [D] 19세 이상 이용가능한 경우 -->
                        <div class="sc_thumb">
                            <span class="mask_adult"><em>19</em>세 이상<br>이용가능</span>
                        </div>
                        <dl>
                        <dt><span class="ico_adult">19세 이상 이용가능</span>밤을 걷는 선비
                            <span class="aside_info"><span class="ico_store2">스토어</span></span>
                        </dt>
                        <dd>드라마<span class="bar">|</span>한승희, 조주희</dd>
                        <dd>총 36화(미완결)</dd>
                        <dd class="price">대여 <em>300</em>원/화</dd>
                        <dd class="price">구매 <em>500</em>원/화</dd>
                        </dl>
                    </a>
                </div>
            </li>
            </ul>
			<a href="#" class="more"><span class="u_hc">만화</span>더보기</a>
			<!-- {% include "include/component_paging.html" %} -->
		</article>
	</section>

	<!-- 검색결과 없을때 -->
	<div class="srch no_lst">
		<span class="ico_srch"></span>
		<h3><span>&#39ㄶ&#39</span>에 대한 검색결과가 없습니다.</h3>
		<p class="msg">단어의 철자가 정확한지 확인해 주세요.<br>
			검색어의 단어 수를 줄이거나, 다른 검색어로 검색해 보세요.<br>
			보다 일반적인 검색어로 다시 검색해 보세요.
		</p>
	</div>
</div>
<hr>
<!-- //ct -->
<!-- {% include "include/footer.html" %} -->

<!-- [D] 마크업확인용 개발시 삭제해주세요 -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="http://view.gitlab2.uit.nhncorp.com/gwangyeom-kim/nunjucks-nts/raw/master/nunjucks_nts.min.js"></script>
</body>
</html>