@charset "utf-8";
/* NTS 2015-03-25 KKM */

/* background image */
.u_likeit_list_module .u_likeit_list_btn .u_ico{width:18px;height:16px;background-image:url(http://static.naver.net/m/likeit/comic/sp_likeit_list_v2.png);background-position:0 0;-webkit-background-size:18px 40px;background-size:18px 40px}

/* 서비스 공통 */
.u_likeit_list_module .u_likeit_list_btn{height:42px;padding:0 10px 0 15px;color:#fff;line-height:43px}
.u_likeit_list_module .u_likeit_list_btn.on .u_ico{background-position:0 -20px !important}

.toon_info .u_likeit_list_module .u_likeit_list_btn,.cmt .u_likeit_list_module .u_likeit_list_btn{display:block;overflow:hidden;position:relative;height:34px;margin:0;padding:0 5px;border:1px solid #9c9c9c;border-radius:3px;background:#fdfdfd;line-height:33px !important;text-align:center;font-size:13px;font-weight:bold;-webkit-box-sizing:border-box;box-sizing:border-box;color:#3c3c3c}
.toon_info .u_likeit_list_module .u_likeit_list_btn .u_ico,.cmt .u_likeit_list_module .u_likeit_list_btn .u_ico{width:16px;height:15px;margin-top:9px;background-image:url(http://static.naver.net/m/likeit/comic/sp_likeit_list.png);-webkit-background-size:16px 35px;background-size:16px 35px}
.toon_info  .u_likeit_list_module .u_none_txt .u_txt,.cmt  .u_likeit_list_module .u_none_txt .u_txt{display:inline-block !important;margin:0;font-size:13px}

.viewer.cuttoon .u_likeit_list_module{overflow:hidden;float:left;height:42px;margin:0}
.viewer.cuttoon .u_likeit_list_module .u_likeit_list_btn .u_ico{margin-top:14px}
.viewer.cuttoon .u_likeit_list_module .u_likeit_list_btn .u_cnt,.viewer.cuttoon .u_likeit_list_module .u_likeit_list_btn .u_txt{margin-right:4px;font-size:15px;font-family:Helvetica,snas-serif;line-height:32px}
.viewer.cuttoon .u_likeit_list_module .u_likeit_list_btn .u_cnt{margin:0 0 0 2px;font-weight:normal}


