@charset "utf-8";
/* NTS 2013-05-29 PSJ */

/* sp background */
.u_likeit_module .u_btn_likeit .u_likeit_ico,
.u_likeit_module .u_btn_likeit_on .u_likeit_ico,
.u_likeit_module .u_btn_value:after,
.u_likeit_module .u_likeit_friends:before,
.u_likeit_module .u_likeit_friends .u_btn_set:before,
.u_likeit_module .u_likeit_friends .u_likeit_ico:before,
.u_likeit_module .u_likeit_friends a.u_txt:after{background-image:url(http://static.naver.net/m/likeit/comic/sp_likeit2.png);-webkit-background-size:100px 100px;background-size:100px 100px}

/* 좋아요 버튼 */
.u_likeit_module .u_likeit_rbox{border-color:#9c9c9c;background-color:#fdfdfd}
.u_likeit_module .u_likeit_rbox:after{border-left-color:#acacac}
.u_likeit_module .u_btn_likeit,.u_likeit_module .u_btn_value{color:#3c3c3c}
.u_likeit_module .u_btn_likeit .u_likeit_ico{background-position:0 0}
.u_likeit_module .u_btn_likeit_on .u_likeit_ico{background-position:-20px 0 !important}
.u_likeit_module .u_btn_value:after{background-position:-40px 0}
.u_likeit_module .u_btn_value_on:after{background-position:-50px 0}

/* 친구 리스트 */
.u_likeit_module .u_likeit_friends{border-color:#c9c9c9;background-color:#fff}
.u_likeit_module .u_likeit_friends:before{background-position:-40px -10px}
.u_likeit_module .u_likeit_friends .u_list_area:after{background:-webkit-gradient(linear,100% 0,0 0,from(rgba(255,255,255,1)),to(rgba(255,255,255,0)))}
.u_likeit_module .u_likeit_friends .u_list_area > div > div{background-image:url(http://static.naver.net/m/likeit/comic/bg_box.png)}
.u_likeit_module .u_likeit_friends .u_thmb a{-webkit-box-shadow:0 rgba(76,77,81,1);box-shadow:0 rgba(76,77,81,1)}
.u_likeit_module .u_likeit_friends .u_thmb a:before{-webkit-box-shadow:0 1px rgba(255,255,255,0.03),inset 0 0 1px rgba(0,0,0,0.75),inset 0 0 2px rgba(0,0,0,0.75);box-shadow:0 1px rgba(255,255,255,0.03),inset 0 0 1px rgba(0,0,0,0.75),inset 0 0 2px rgba(0,0,0,0.75)}
.u_likeit_module .u_likeit_friends .u_dsc{color:#3c3c3c}
.u_likeit_module .u_likeit_friends .u_txt{color:#3c3c3c}
.u_likeit_module .u_likeit_friends .u_txt2{color:#636363}
.u_likeit_module .u_likeit_friends .u_txt3{color:#3c3c3c}
.u_likeit_module .u_likeit_friends .u_btn_area > a{color:#f8f8f8}
.u_likeit_module .u_likeit_friends .u_btn_area .u_btn_one{background-color:#7b7d85}
.u_likeit_module .u_likeit_friends .u_btn_area .u_btn_auto{background-color:#2fb501}
.u_likeit_module .u_likeit_friends .u_likeit_ico:before{background-position:-20px 0}
.u_likeit_module .u_likeit_friends .u_chk{border-top-color:#e1e1e1}
.u_likeit_module .u_likeit_friends .u_chk label{color:#666}
.u_likeit_module .u_likeit_friends .u_btn_friend{background-color:#2fb501;color:#f8f8f8}
.u_likeit_module .u_likeit_friends .u_btn_set{color:#626262}
.u_likeit_module .u_likeit_friends .u_btn_set:before{background-position:-80px 0}
.u_likeit_module .u_likeit_friends .u_btn_close{color:#666}