@charset "utf-8";
/* NHN Technology Services UIT Developmenet KKM 140219 Update */

/* CSS Document */

.right_area .ico{display:block;position:absolute;top:50%;left:0;width:10px;height:10px;margin:-5px 0 0 0;background:url(http://static1.naver.net/m/comic/im/2012/ico_s_size.png) no-repeat}

@media screen and (-webkit-min-device-pixel-ratio:1.5){
.ic3 img{background-image:url(http://static.naver.net/m/comic/im/ic_ton_l.gif);-webkit-background-size:60px 16px;}
.u_pg2 .u_pg2_prev,.u_pg2 .u_pg2_next{background-image:url(http://static.naver.net/m/comic/im/ico_pg2_l.gif);-webkit-background-size:18px 48px}
.bt5 .pv, .bt7 .pv, .bt7 .nx{background-image:url(http://static2.naver.net/m/comic/im/ib_l2.gif);-webkit-background-size:15px 546px}
.u_pg3 a{background:url(http://static2.naver.net/m/comic/im/ib_l2.gif) no-repeat,-webkit-gradient(linear,0 0,0 100%,from(#f8f8f8),to(#efefef));-webkit-background-size:15px 546px,0 100%}
.bt5 .x{background:url(http://static1.naver.net/m/comic/im/2012/u_cm_l2.png) no-repeat -66px -440px;-webkit-background-size:81px 456px}
.u_ftlkw .u_ftlkbt:before{background:url(http://static1.naver.net/m/comic/im/2012/u_cm_l2.png) no-repeat 100% -106px;-webkit-background-size:81px 456px} 
.ico_l,.u_ftst:before{background-image:url(http://static1.naver.net/m/comic/im/2012/ico_l_20.png);-webkit-background-size:50px 500px}
.nothing_toonlst .no_img.week,.register{background:url(http://static.naver.net/m/comic/im/2012/no_4g.png) no-repeat;-webkit-background-size:110px 108px}
.nothing_toonlst .no_img.srch{background:url(http://static.naver.net/m/comic/im/2012/no_srch_4g.png) no-repeat;-webkit-background-size:106px 103px}
.chn.m2 a.more span{background:url(http://static.naver.net/m/comic/im/2012/im_4g.png) no-repeat 0 -122px;-webkit-background-size:250px 200px}
.chn.m2.close a.more span{background:url(http://static.naver.net/m/comic/im/2012/im_4g.png) no-repeat -16px -122px;-webkit-background-size:250px 200px}

.btn_smart{background-image:url(http://static2.naver.net/m/comic/im/2012/u_gnb4_4g.png);-webkit-background-size:200px 150px}
}

@media screen and (orientation:landscape){.chn.m2 a.more{right:3px}}