@charset "utf-8";

body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;font-family:'돋움',dotum,Helvetica,sans-serif;-webkit-text-size-adjust:none}
body,input,textarea,select{font-size:14px;line-height:1.25em}
body.s,.s input,.s textarea,.s select,.s button,.s table{font-family:Helvetica}
body{position:relative;background-color:#f4f4f4;color:#000;word-wrap:break-word;word-break:break-all}
.it,textarea{border:1px solid #bcbcbc}
li{list-style:none}
table{border-collapse:collapse}
img,fieldset{border:none}
a{color:#000;text-decoration:none;cursor:pointer}
label{cursor:pointer}
strong{font-weight:normal}
em,address{font-style:normal}
.hc,hr{display:none!important}
.u_hc{visibility:hidden;overflow:hidden;position:absolute;left:-999em;width:0;height:0;font-size:0;line-height:0}

/* adpost - w.css와 동일코드 */
.end_pl{overflow:hidden;height:185px;border-top:1px solid #c9c9c9;background:#fff;text-align:left}
.end_pl .tit .mb,.end_pl .tit .mge,.end_pl .tit .cart,.end_pl .npay,.end_pl .lk_w .lnk_call,.end_pl .ads,.end_pl .ly_lnk a{display:inline-block;background:url(http://static.naver.net/m/comic/im/sp_ap.png) no-repeat;-webkit-background-size:108px 175px;background-size:108px 175px}
.end_pl .pl{padding:0 0 5px 10px;font-size:1.15em;font-weight:bold}
.end_pl .pl_h{position:relative;margin:0} 
.end_pl .ads{display:block;overflow:hidden;position:absolute;top:8px;right:8px;width:72px;height:11px;background-position:0 -53px;text-indent:-9999em} 
.end_pl .lk{position:relative;height:92px;border-bottom:1px solid #dcdcdc} 
.end_pl .lk.on:after{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.3);content:''} 
.end_pl li.lk:last-child{border-bottom:none}
.end_pl .lk .lk_w{display:block;height:74px;padding:18px 9px 0} 
.end_pl .tit{display:block;padding-bottom:3px}
.end_pl .tit a{color:#005fc1}
.end_pl .tit em{position:relative;margin-left:2px;text-indent:-5000px;vertical-align:top} 
.end_pl .tit .mb{top:-2px;width:10px;height:14px;background-position:0 0;vertical-align:middle}
.end_pl .tit .mge{top:2px;width:13px;height:13px;background-position:0 -20px}
.end_pl .tit .npay{top:2px;left:1px;width:29px;height:13px;background-position:-20px -20px}
.end_pl .cnt{display:block;overflow:hidden;padding-bottom:3px;color:#666;font-size:13px;white-space:nowrap;text-overflow:ellipsis} 
.end_pl .ly_lnk{display:none;position:absolute;bottom:12px;z-index:30} 
.end_pl .lk.on .ly_lnk{display:-webkit-box;display:box;width:100%;-webkit-box-orient:vertical;-webkit-box-pack:center}
.end_pl .ly_lnk a{display:inline-block;width:108px;height:41px;text-indent:-9999px} 
.end_pl .ly_lnk a:first-child{margin:0} 
.end_pl .ly_lnk .lnk_call{background-position:0 -85px} 
.end_pl .ly_lnk .lnk_page{margin-left:3px;background-position:0 -131px} 
.end_pl .lnk_hp{display:block;overflow:hidden;color:#32a800;font-size:13px;white-space:nowrap;text-overflow:ellipsis}
.end_pl .lk_w .lnk{padding-top:3px} 
.end_pl .lk_w .lnk .lnk_call{float:left;margin:-1px 7px 0 0;padding:1px 6px 2px 18px;border:1px solid #d1dee2;background-color:#f9fafa;background-position:4px -64px;color:#666;font-size:13px}
.end_pl .btn_clse{display:none;position:absolute;top:0;right:0;z-index:30;width:35px;height:35px}
.end_pl .btn_clse span{width:19px;height:18px;margin:8px 0 0 8px;background-position:-89px 0;text-indent:-9999px}
.end_pl .lk.on .btn_clse{display:block}

/* android app */
.a .end_pl{height:166px}
.a .end_pl .lk{height:83px}
.a .end_pl li.lk:last-child{height:84px;border-bottom:none}
.a .end_pl .lk .lk_w{display:block;height:72px;padding:12px 9px 0}
.a .end_pl ul{overflow:hidden;height:167px}