@charset "utf-8";
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;font-family:'돋움',dotum,Helvetica,sans-serif;-webkit-text-size-adjust:none}
body,input,textarea,select{font-size:14px;line-height:1.25em}
body.s,.s input,.s textarea,.s select,.s button,.s table{font-family:Helvetica}
body{position:relative;background-color:#f4f4f4;color:#000;word-wrap:break-word;word-break:break-all}
.it,textarea{border:1px solid #bcbcbc}
li{list-style:none}
table{border-collapse:collapse}
img,fieldset{border:none}
a{color:#000;text-decoration:none;cursor:pointer}
label{cursor:pointer}
strong{font-weight:normal}
em,address{font-style:normal}
.hc,hr{display:none!important}
.u_hc{visibility:hidden;overflow:hidden;position:absolute;left:-999em;width:0;height:0;font-size:0;line-height:0}

/* adpost */
.end_pl{padding-top:3px;border-top:none;background:#fff}
.end_pl .tit .mb,.end_pl .tit .mge,.end_pl .tit .cart,.end_pl .co,.end_pl .dial,.end_pl .ads{display:inline-block;background:url(http://static.naver.net/m/comic/im/2012/sp_ap.png) no-repeat;-webkit-background-size:72px 81px;background-size:72px 81px}
.end_pl .pl{padding:0 0 5px 10px;font-size:1.15em;font-weight:bold}
.end_pl .pl_h{position:relative}
.end_pl .ads{display:block;overflow:hidden;position:absolute;top:5px;right:8px;width:72px;height:11px;background-position:0 -54px;text-indent:-9999em}
.end_pl ul{padding-bottom:3px}
.end_pl .lk{padding:13px 10px 16px;border-bottom:1px solid #dcdcdc}
.end_pl li.lk:last-child{border-bottom:none}
.end_pl .tit{overflow:hidden;padding-bottom:3px;white-space:nowrap;text-overflow:ellipsis}
.end_pl .tit a{color:#005fc1}
.end_pl .tit em{position:relative;vertical-align:top}
.end_pl .tit .mb{top:-2px;width:10px;height:14px;margin-left:2px;background-position:-1px -1px;text-indent:-5000px;vertical-align:middle}
.end_pl .tit .mge{top:1px;width:16px;height:16px;margin-left:2px;background-position:-1px -16px;text-indent:-5000px}
.end_pl .tit .co{top:0;width:13px;height:16px;margin-left:1px;background-position:-1px -33px;text-indent:-5000px}
.end_pl .cnt{overflow:hidden;padding-bottom:3px;color:#666;font-size:13px;white-space:nowrap;text-overflow:ellipsis}
.end_pl .ctt{padding-top:3px}
.end_pl .dial{float:left;margin:-1px 7px 0 0;padding:1px 6px 2px 18px;border:1px solid #d1dee2;background-color:#f9fafa;background-position:4px -65px;color:#666;font-size:13px}
.end_pl .blog{display:block;overflow:hidden;color:#32a800;font-size:13px;white-space:nowrap;text-overflow:ellipsis}

.a .end_pl{border-top:1px solid #c7c7c7}
.a .end_pl ul{padding-bottom:0}
.a .end_pl .lk{padding:13px 10px 13px}
.a .end_pl .tit{padding-bottom:1px}
.a .end_pl .ctt{padding-top:0}