@charset "utf-8";
body,input,textarea,select,button,table{font-family:'나눔고딕',NanumGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'굴림',Gulim,Helvetica,AppleGothic,sans-serif}
.u_vc{*left:-9999em}
.blind{position:absolute !important;left:-10000px !important;color:transparent !important}
.dicl em{position:absolute !important;left:-10000px !important;color:transparent !important}
.read{*margin-top:1px}
/* image sprite*/
.ts .help,
.hs .hssbt{background-image:url(../img/sp_header_e.png)}
.bann_notice .close,.mainw .main_h2 .help,.lsc,.btn_open_m:after,.btn_clse_m:after,.word .banner_wrap .banner_cnkrdic:after,.more_ico,.dicl,.ico_krword{background-image:url(../img/sp_krcndic_e.png)}
.kib .butt .del{background-image:url(../img/ki_ic6_e.png)}
.kib .butt .del.on{background-image:url(../img/ki_ic6_on_e.png)}
.set_lang select{background-image:url(../img/sp_ico_e.png)}
.ico_top{background-image:url(../img/ico_top_e.png)}
.common_btn_wrap .btn_lst_more_show .ico_arrow{background-image:url(../img/ico_btn_more_e.png)}
.bt_ico{background-image:url(../img/bt_ico_s.png)}
.btn_open{background-image:url(../img/sp_word_otr_e.png)}
.btn_add,.pop_txt .arr_top{background-image:url(../img/sp_addbt_s.png)}
.word_select .word_btn{background-image:url(../img/sp_repeat_x_e.png)}
.word_select .word_btn span.tit{background-image:url(../img/sp_main_ico_e.png)}
.top_tab5 li{background-image:url(../img/dv_bg_e.png)}
/* 웹수집 */
.con_clt .ask,.con_clt .ask .pop_clt a,.con_clt .ask .arr_top,.userentry_word .note .ico{background-image:url(../img/sp_clt_e.png)}
.new_pop a.btn_close{background-image:url(../img/sp_layer_pop_s.png)}
/* 오픈사전 이미지 */
.go_register .ico,.go_register .ico2,.btn_regist .ico,.btn_txt_style1.info_userent .ico,.userentry_section .more_ico,.userentry_word .vote .like a,.userentry_word .vote .dislike a,.open_mean .detail .arrow{background-image:url(../img/sp_opendict_e.png)}

/* 메인 배너 */
.banner_card.opendict .banner_inner .img_area{background-image:url(../img/ico_banner_opendict_e.png);}
.banner_card.dictapp .banner_inner .img_area{background-image:url(../img/ico_banner_dictapp_e.png);}
.banner_card.krcn .banner_inner .img_area{background-image:url(../img/ico_banner_krcn_e.png);}
.banner_card.linedict .banner_inner .img_area{background-image:url(../img/ico_banner_linedict_e.png);}
.banner_card.quiz .banner_inner .img_area{background-image:url(../img/ico_banner_quiz_e.png);}
.banner_card.trans_cn .banner_inner .img_area {background-image:url(../img/ico_banner_translate_cn_e.png);}
.banner_card.translate .banner_inner .img_area {background-image:url(../img/ico_banner_translate_e.png);}
.banner_card.multitrans .banner_inner .img_area {background-image:url(../img/ico_banner_multitrans_e.png);}
.banner_card.level .banner_inner .img_area {background-image:url(../img/ico_banner_level_e.png);}
.banner_card.autocomplete .banner_inner .img_area {background-image:url(../img/ico_banner_autocomlete_e.png);}
.banner_card.phrasebook .banner_inner .img_area {background-image:url(../img/ico_banner_phrasebook_e.png);}