@charset "utf-8";
/* NTS UIT Development KJE 141022 */


#wrap{position:relative;width:980px;margin:0 auto;text-align:left}

/* content */
.promotion{padding-bottom:50px !important}
.promotion #content{width:978px;margin-bottom:0;padding:0;border:1px solid #e6e6e6;border-top:none;background:none}
.promotion h3{overflow:hidden;height:31px;margin-bottom:20px;background:url(../img/sp_interior.gif) no-repeat;text-indent:-9000px}
.promotion img{vertical-align:top}
.interior_spot{margin-top:20px;height:450px;background:url(../img/bg_spot.jpg) no-repeat}
.section_build{padding:60px 79px 51px}
.section_build h3{background-position:0 0}
.section_build .dsc{margin-top:8px;font-size:11px;color:#888;letter-spacing:-1px;text-align:right}
.dot_line{display:block;position:relative;width:975px;height:2px;margin-top:-1px;background:url(../img/line_dot.gif) repeat-x;z-index:1}
.section_build + .dot_line{margin:0 0 -1px}
.section_interior{padding:61px 79px 51px;background:#f8f8f7}
.section_interior h3{background-position:0 -35px}
.section_interior .btn_interior{display:block;width:310px;height:71px;margin:30px auto 0;background:url(../img/sp_interior.gif) no-repeat 0 -145px;text-indent:-9000px}
.section_info{padding:55px 79px 70px}
.section_info h3{margin-bottom:40px;padding-bottom:8px;border-bottom:2px solid #808080;background-position:0 -70px}
.build_list li{overflow:hidden;margin-top:60px}
.build_list li:first-child{margin-top:0}
.build_list li .thmb,.build_list li .info{float:left}
.build_list li .thmb{display:block;margin-right:40px}
.build_list li .info{width:410px}
.build_list li .info dt{margin:0 0 16px -2px;font-weight:bold;color:#222;letter-spacing:-1px;line-height:21px}
.build_list li .info dt em{display:block;margin:0 0 0 1px;font-size:15px;color:#5e80d6}
.build_list li .info ul{height:169px;border-top:1px solid #d4d4d4}
.build_list li .info li{margin-top:0;padding:8px 0 7px 5px;border-bottom:1px solid #ededed;color:#666;line-height:15px}
.build_list li .info li strong{display:inline-block;width:125px;padding-left:9px;background:url(../img/sp_interior.gif) no-repeat 0 -151px}
.build_list li .info li .price{color:#ff0000}
.build_list li .info dd .btn_more{display:block;width:93px;height:22px;background:url(../img/sp_interior.gif) no-repeat 0 -115px;text-indent:-9000px}