body, html, div, p, ul, ol, li, img, dl, dt, dd, input, fieldset, form, legend, label, span, em, h1, h2, h3, h4, h5, h6, strong, header, footer, section, article, address, menu {
    margin: 0;
    padding: 0;
}

body, input, textarea, select, button, table, h1, h2, h3, h4, h5 {
    font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light,Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.267em
}

html,body{
    min-height:100%;
}

html {
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

body {
    background-color: #fff
}

table {
    border-collapse: collapse
}

img, fieldset {
    border: 0
}

ul, ol, li {
    list-style: none
}

em, address {
    font-style: normal
}

button {
    padding: 0
}

a {
    text-decoration: none;
}

img {
    vertical-align: top
}

.hide {overflow:hidden;position:absolute;width:0;height:0;font-size:0;line-height:0}
.u_hc {position:absolute;clip:rect(0 0 0 0);width:1px;height:1px;margin:-1px;overflow:hidden}