$inbck: inline-block;
$absol: absolute;
$reltv: relative;

// font 정의
$fnt_H45L: "HelveticaNeueW10-45LigT", HelveticaNeue-Light,AppleSDGothicNeo-Light,"Helvetica Neue",Helvetica, Arial, sans-serif; // Helvetica 45 Light
$fnt_H45LU: "HelveticaNeueW10-45LigT", HelveticaNeue-Light,AppleSDGothicNeo-UltraLight,"Helvetica Neue",Helvetica, Arial, sans-serif; // 산돌고딕 UltraLight
$fnt_H55R: "HelveticaNeueW10-55Roma","Helvetica Neue",Helvetica, Arial, sans-serif; // Helvetica 55 Roman
$fnt_H55L: "HelveticaNeueW10-55LigT", HelveticaNeue-Light,AppleSDGothicNeo-Regular,"Helvetica Neue",Helvetica, Arial, sans-serif; // Helvetica 45 Light, 산돌고딕 Regular
$fnt_sdH55R: "HelveticaNeueW10-55Roma",AppleSDGothicNeo-Medium,"Helvetica Neue",Helvetica, Arial, sans-serif; // 산돌네오고딕 Medium, Helvetica 55 Roman
$fnt_HM: "HelveticaNeue-Medium", AppleSDGothicNeo-Medium,"Helvetica Neue",Helvetica, Arial, sans-serif;
$fnt_sdM:"Helvetica Neue",Helvetica, AppleSDGothicNeo-Medium,Arial, sans-serif; // 산돌 Medium
$fnt_sdM35T: "HelveticaNeueW10-35Thin",AppleSDGothicNeo-Medium,Helvetica, Arial, sans-serif; // 산돌 Medium, Helvetica 35 Thin
$fnt_sdL: HelveticaNeue-Light, AppleSDGothicNeo-Light,"Helvetica Neue",Helvetica, Arial, sans-serif; // 산돌 Light, 영문 Helvetica
$fnt_sdR: "Helvetica Neue",Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif; // 산돌 Regular, 영문 Helvetica
$fnt_sdSM: "HelveticaNeueW10-55Roma","Helvetica Neue",Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif; // 산돌 SemiBold
$fnt_sdrH45L: "HelveticaNeueW10-45LigT", HelveticaNeue-Light,AppleSDGothicNeo-Regular,"Helvetica Neue",Helvetica, Arial, sans-serif; // 산돌 Regular, 영문 Helvetica 45 Light
$fnt_sdrH65L: "HelveticaNeueW10-65LigT", HelveticaNeue-Light,AppleSDGothicNeo-Regular,"Helvetica Neue",Helvetica, Arial, sans-serif; // 산돌 Regular, 영문 Helvetica 45 Light
$fnt_sdB: "HelveticaNeueW10-55Roma","HelveticaNeue-Bold",Helvetica-Bold, AppleSDGothicNeo-Bold, Arial, sans-serif; // 산돌 Bold
$fnt_H55sdL: "HelveticaNeueW10-55Roma","Helvetica Neue",AppleSDGothicNeo-Light,Helvetica, Arial, sans-serif; // 산돌 Light , 영문 Helvetica 55 Roma
$fnt_H55sdR: "HelveticaNeueW10-55Roma","Helvetica Neue",AppleSDGothicNeo-Regular,Helvetica, Arial, sans-serif; // 산돌 Regular , 영문 Helvetica 55 Roma

// 테마매물
$crd-box-top: 8px; // 카드섹션 상단 여백
$theme_banner_box_padding: (70/140)*100#{%}; // 테마매물 배너 image size : 210 x 140
$theme_item_list_padding: (100/200)*100#{%}; // 테마매물 리스트 image size : 336 x 200
$theme_item_list2_padding: (120/290)*100#{%}; // 테마매물 리스트 B Type 상단 image size : 690 x 240

// 지도 & 필터
$main-color: #38447e; // 메인 포인트 색상
$main-side-color: #3162dd; // 지도 주변매물 버튼 색상
$basic-side-padding: 20px; // 매물필터 좌우 여백
$map-slct-pdt-width: 179px; // 지도 상단 메뉴 사이즈
$map-slct-pdt-height: 31px; // 지도 상단 메뉴 사이즈
$map-btn-height: 38px; // 지도 하단 필터버튼 높이
$map-path-height: 38px; // 지도상단 지역경로 높이

// 단지리스트
$map-objlst-btn-width:60px; // 단지리스트 버튼 사이즈

// 아래 예시와 같이 사용한다.
// background:url(#{$imgUrl-mobile}/article/articlelist.gif);

// 이미지경로 (static)
//$imgUrl-mobile: "http://static.land.naver.net/static/mobile/20160823";

// 이미지경로 (develop)
//$imgUrl-mobile: "${imageUrl}";

// 이미지경로 (develop)
$imgUrl-mobile: "../../im";