@charset "UTF-8";

$G-font-helveticaNeue:HelveticaNeue, Helvetica, sans-serif;;
$G-font-basic:HelveticaNeue-Light, Helvetica, sans-serif;
$G-font-middle:HelveticaNeue,AppleSDGothicNeo-SemiBold, Helvetica, sans-serif;
