@charset "utf-8";
/* NHN Web Standard 1Team JJS 100906 */ 
/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
/* Content */
#pop_wrap{width:375px;height:645px;overflow:hidden}
#pop_content{margin:65px 0 0 19px;}
.section{width:337px;border-bottom:1px solid #c6c9d0}
.ifr_preview{width:337px;height:480px;overflow-x:hidden}
.btn_area{width:337px;padding:4px 0 3px 0;border-top:1px solid #fff;background-color:#c6c9d0;text-align:center}
.btn_area a,.btn_area img{display:inline-block}
.skin0{background:url(http://static.naver.com/common/mobile/skin_iphone.gif) 0 0 no-repeat}
.skin1{background:url(http://static.naver.com/common/mobile/skin_galaxy.gif) 0 0 no-repeat}