@charset "utf-8";
/* common */
body,div,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,table,th,td,ul,ol,li,form,fieldset,legend {margin:0;padding:0;list-style:none;}
fieldset,img {border:none;}
legend,hr {display:none;}
a {text-decoration:none;}
a:hover {text-decoration:underline;}
em,address {font-style:normal;}
a em {font-weight:bold;}
body,select,input,textarea {font-family:Dotum,Gulim,"MS PGothic",AppleGothic,Sans-serif;font-size:12px;line-height:14px;}
html {overflow:hidden;}
/* Skip Navigation */
#u_skip{position:relative;z-index:100;}
#u_skip a{overflow:hidden;position:absolute;width:0;height:0;line-height:0;font-size:0;}
#u_skip a:focus{position:static;display:block;width:100%;height:20px;text-align:center;font-size:15px;line-height:20px;color:#000;}

/* layout */
#wrap {width:405px;text-align:left;}
#header {position:relative;width:100%;text-align:center;z-index:20;}
#container,#container2 {position:relative;width:405px;height:325px;overflow:auto;z-index:1}
#container,#container2 {scrollbar-face-color:#fff;scrollbar-highlight-color:#fff;scrollbar-shadow-color:#fff;scrollbar-3dlight-color:#e5e5e5;scrollbar-arrow-color:#999;scrollbar-track-color:#f5f5f5;scrollbar-darkshadow-color:#e5e5e5;scrollbar-base-color:#ffffff;}
#content {width:368px;margin:0 0 0 0;padding:0 0 0 10px;overflow:hidden;}
#footer {margin:10px 4px 0;padding:12px 0 0 0;border-top:1px solid #e4e4e4;text-align:center;}
#skip,.skip {position:absolute;width:0;height:0;overflow:hidden;}
#top {position:absolute;width:1px;height:1px;}
/* heading */
#header h1 {position:relative;display:inline;float:left;height:26px;margin:8px 0 0 10px;font-size:12px;letter-spacing:2px;}
#header h1 img {vertical-align:top;}
#header h1 a {float:left;}
#header h1 a.service {margin:4px 0 0 6px;}/* 20090116 eidt */
#header .lnb {position:relative;clear:both;height:30px;background:url(http://dicimg.naver.com/endic/img/bg_mini_lnb2.gif) repeat-x left bottom;overflow:hidden;}
#header .lnb ul.menu {display:inline;float:left;margin:0 0 0 9px;}
#header .lnb ul.menu li {position:relative;display:inline;float:left;margin:0 1px 0 0;vertical-align:top;}
#header .lnb ul.menu li.on {z-index:1;}
#header .lnb ul.menu li img {vertical-align:middle;}
#header .lnb ul.menu li .new {position:absolute;right:-2px;top:6px;width:12px;height:12px;text-indent:-1000px;background:url(http://dicimg.naver.com/cndic/web/new_cn.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://dicimg.naver.com/cndic/web/new_cn.png',sizingMethod='crop');overflow:hdden;}
#header .useful {position:absolute;left:322px;top:10px;overflow:hidden;}
#header .useful li {float:left;margin:0 5px 0 -1px;padding:2px 0 0 5px;background:url(http://dicimg.naver.com/cndic/web/img_line_01.gif) no-repeat left top;font-size:11px;letter-spacing:-1px;}
#header .useful li a {color:#353535;}
#header .goback {position:absolute;left:279px;top:11px;color:#dbdbdb;font-size:14px;letter-spacing:1px;}
#header .goback img {vertical-align:middle;}
/* footer */
#footer address {color:#444;font:9px Verdana;}
#footer address a {color:#009bcb;font:9px Tahoma;font-weight:bold}
#footer .p1{ clear:both;padding:9px 0 0;color:#7e7e7e;}
#footer .p2{ clear:both;padding:4px 0 12px;color:#7e7e7e;}
#footer .p1 a{ margin-left:5px;padding-left:5px;background:url(http://dicimg.naver.com/endic/img/v_line12.gif) no-repeat 0 0;color:#7e7e7e;}
#footer .p1 a.nobg{ margin-left:0;padding-left:0;background:none;}
#footer .p1 .en{ font:9px verdana;}
#footer .p1 .kr{ font:11px dotum;letter-spacing:-1px;}
/* search */
.search {position:relative;height:32px;margin-bottom:2px;text-align:left;background:#f1f1f1 url(http://dicimg.naver.com/endic/img/bg_mini_search.gif) no-repeat left top;z-index:30}
	.search fieldset {color:#c4c4c4;float:left;width:285px;}
		.search fieldset input {float:left;margin:4px 0 0 7px;}
		.search fieldset .keybox {float:left;width:208px;height:19px;_height /**/:21px;margin:5px 0 0 20px;border:1px solid #7f9db9;background:#fff;}
		.search fieldset .keyword {width:180px;height:15px;margin:1px 0 0 2px;padding:0 2px 0 0;border:1px solid #fff;font-family:simsun,"네이버사전",dotum,"돋움",Arial,Sans-serif;letter-spacing:1px;line-height:16px;}
		.search fieldset .arrow {position:absolute;left:206px;top:8px;width:15px;height:15px;background:url(http://dicimg.naver.com/cndic/web/bg_arrow.gif) no-repeat;cursor:pointer;}
	.search div.device {position:absolute;overflow:hidden;left:294px;padding-top:10px;}
.auto_complete2 {display:none;position:absolute;left:20px;top:26px;width:208px;border:1px solid #888d95;border-top:0;background:#fff;overflow:hidden;z-index:3;}
.auto_complete2 .list_a{ clear:both;padding-top:3px;min-height:inherit;*min-height:auto;}
.auto_complete2 .list_a2{margin-top:2px;border-top:solid 1px #e1e1e1;}
.auto_complete2 .list_a li{ clear:both;height:22px;*height:20px;padding-right:7px;margin-top:0;line-height:22px;*line-height:20px;overflow:hidden}
.auto_complete2 .list_a li.on{*height:20px;*line-height:20px;background-color:#f5f5f5;}
.auto_complete2 .list_a li.line{margin-top:2px;border-top:solid 1px #e1e1e1;height:4px;font-size:0;line-height:0;}
.auto_complete2 .list_a span.w1{display:inline-block;float:left;width:97px;_width:97px;margin-right:7px;padding-left:7px;color:#333;font-size:12px;font-family:gulim}
.auto_complete2 .list_a span.w1 strong{color:#f76d1a}
.auto_complete2 .list_a span.w2{display:inline-block;float:left;width:90px;_width:90px;color:#777777;font-size:12px;font-family:gulim}
.auto_complete2 .list_a span.w2 strong{color:#f76d1a}
.auto_complete2 .list_a span.w3 {display:block;height:22px;padding-left:7px;overflow:hidden;white-space:nowrap;color:#333;font-size:12px;font-family:gulim}
.auto_complete2 .list_a span.w3 strong{color:#f76d1a}
.auto_complete2 .option{clear:both;height:18px;margin-top:6px;padding:5px 8px 0;border-top:1px solid #eee;background:#f8f8f8;color:#a1a2a5;font-size:11px;word-spacing:2px;text-align:right;}
.auto_complete2 .option a {color:#a1a2a5;letter-spacing:-1px;}
.auto_complete2 .option .t1{display:inline-block;float:left;}
	/* 자동완성 관련 */
	div.search fieldset .auto_complete2 {display:none;}
	div.search fieldset.on .auto_complete2 {display:block;}
	/* 온오프 안내문구 */
	div.search fieldset .msg_on ul {display:none;}
	div.search fieldset .msg_on .auto_off_info {display:block;}
	div.auto_on fieldset .msg_on .auto_on_info {display:block;}
	div.auto_on fieldset .msg_on .auto_off_info {display:none;}
	div.auto_on fieldset .no_result .nothing {display:block;}
	div.auto_on fieldset .no_result .auto_on_info {display:none;}
	div.search fieldset .auto_complete span {display:none;}
	div.auto_on fieldset .auto_complete span {display:inline;}
	div.auto_on fieldset .auto_complete ul li a var{font-style:normal;}
	/* 화살표 관련 */
	div.search fieldset .arrow {background-position:left top;}
	div.search fieldset.on .arrow {background-position:right top;}
	div.auto_on fieldset .arrow {background-position:left bottom;}
	div.auto_on fieldset.on .arrow {background-position:right bottom;}
	.auto_complete2 p{display:none;margin:8px 9px 5px;line-height:18px;color:#666;}
	.auto_complete2 p strong{font-weight:normal;color:#F76D1A;}
/* content */
.dic_tit1{ clear:both;height:16px;margin-top:2px;padding:12px 0 0 1px;color:#777;font-weight:normal;font-size:12px;font-family:gulim;overflow:hidden}
.dic_tit1 span{display:inline-block;float:left;}
.dic_tit1 strong{padding-right:3px;color:#000;font-family:tahoma;font-size:13px}
.dic_tit1 strong.fk01{font-size:12px;font-family:"굴림";}
.dic_tit1 .line{color:#d9d9d9}
.dic_tit1 .black{color:#000}
.dic_tit1 p{ float:right;margin:-2px -3px 0 0;*margin:-4px -3px 0 0;_margin:-4px -3px 0 0;margin:-1px -3px 0 0 \0;color:#666;font-family:gulim;font-size:12px;}
.dic_tit1 p input{ position:relative;padding:0;margin:0;top:2px;*top:1px;left:-1px;left:-4px \0;}
.dic_tit1 p strong{font-size:12px}
.dic_tit2{ clear:both;font-weight:normal;}
.dic_tit2 span.word{padding-right:3px;font-family:Tahoma;font-size:15px;color:#000;font-weight:bold}
.dic_tit2x{margin-top:-1px;}
.dic_tit2x2{margin-left:10px;}
.dic_tit2 img{padding-right:6px;vertical-align:middle;}
.dic_tit2 span{ position:relative;display:inline-block;*top:-1px;padding-right:9px;}
.dic_tit2 span.fnt{font-family:"gulim";font-size:12px;color:#777777;font-weight:bold}
.dic_tit2 .fnt_k15{display:inline-block;border-bottom:solid 1px #0034AC;}
.dic_tit3{ margin:14px 0 0 0;*margin:13px 0 0 0;_margin:12px 0 0 0;}
.dic_tit4{ margin:28px 0 0 0;_margin:27px 0 0 0;}
.dic_tit5{ clear:both;height:16px;*padding-top:1px;overflow:hidden;zoom:1;}
.dic_tit5 .tit{ float:left;}
.dic_tit5 img{vertical-align:middle;}
.dic_tit5 ul{ float:left;margin-top:0px;}
.dic_tit5 ul li{ float:left;margin-left:6px;padding-left:6px;*padding-left:7px;background:url(http://dicimg.naver.com/endic/img/v_line2.gif) no-repeat 0 4px;}
.dic_tit5 ul li a{ display:inline}
.dic_tit5 ul li.first{margin-left:0;padding-left:9px;background:none;}
.dic_tit5 ul li img{margin-right:3px;}
.dic_tit5 ul li img.on{margin-right:4px;}
.dic_tit5 span.vline{ color:#c9c9c9;padding:0 7px;font-weight:normal;font-size:14px;}
.dic_tit5 span.fnt,.dic_tit5 span.fnt a{font-family:gulim;font-size:12px;color:#777777;font-weight:bold}
.dic_tit5 span.fnt_on{font-family:gulim;font-size:12px;color:#01a62a;font-weight:bold}
.dic_tit5 span.fnt2{font-family:gulim;font-size:12px;color:#a0a0a0;font-weight:bold}
.dic_tit5 span.word{float:left;padding-right:3px;font-family:Tahoma;font-size:15px;color:#000;font-weight:bold}
.dic_tit6{}
.dic_tit6 img{padding-right:6px;vertical-align:middle;}
.dic_tit6 span{ position:relative;*top:-2px;padding-right:9px;}
.dic_tit7{margin-top:13px;}
.dic_tit7 img{ vertical-align:top}
.dic_tit7 img.ico{padding-right:8px;}
.dic_tit8{ margin-top:11px;}
p.old_en{ margin-top:1px;padding-bottom:19px;}
p.old_en2{ margin-top:32px;}
p.dic_desc{padding:10px 0 0;}
p.dic_desc2{padding:32px 0 0;}
.dic_desc3{ margin:19px 0 0 0;padding:14px 16px 19px;border:solid 1px #ededed;}
.dic_desc3 p{ line-height:16px;}
.dic_desc3 .pad{padding-top:3px;}
.dic_desc4{ margin:17px 0 0 0;padding:17px 16px 16px;border:solid 1px #ededed;}
.dic_desc4 dt{}
.dic_desc4 dd{ padding:6px 0 0 2px;}
.dic_desc4 dd p{ margin-top:6px;padding:0 0 0 6px;background:url(http://dicimg.naver.com/endic/img/ico_list04.gif) no-repeat 0 6px;}
.bg_yellow{background-color:#ffff00;cursor:url(http://dicimg.naver.com/endic/img/hand.png),pointer;*cursor:url(img/hand.cur);}
.bg_yellow a:hover{text-decoration:none}
.bg_yellow:hover{text-decoration:none}
.tip2{ float:left;width:366px;color:#777777;margin-bottom:1px;padding:12px 0 9px 2px;border-bottom:solid 1px #e1e1e1;font:12px gulim;}
.tip2 .col1{ color:#e85028;font:12px gulim;}
.tip2 .col2{ color:#0033ac;font:12px gulim;}
.tip2 .col2 a,.tip2 .col2 a:hover{color:#0033ac;text-decoration:none;border-bottom:solid 1px #0033ac;}
p.dic_more{padding-top:10px;_padding-top:9px;text-align:right;}
p.dic_more2{margin-top:-10px;padding-top:0;}
p.dic_more4{margin-top:0;padding-top:0;}
p.dic_more a{display:inline-block;padding-right:8px;*padding-right:7px;background:url(http://dicimg.naver.com/endic/img/ico_arrow_more.gif) no-repeat right 2px;background-position:right 3px \9;}
p.dic_more3{ float:right;margin:15px 0 0 0;}
p.dic_more3 .off{display:inline-block;padding:0 15px 0 0;background:url(http://dicimg.naver.com/endic/img/ico_view_off.gif) no-repeat right top;}
p.dic_more3 .on{display:inline-block;padding:0 15px 0 0;background:url(http://dicimg.naver.com/endic/img/ico_view_on.gif) no-repeat right top;}
.play{margin-left:5px;}
.play2{margin:0 6px 0 4px;*margin:0 6px 0 5px;_margin:0 6px 0 4px;vertical-align:middle}
.word_num .pad_px,.word_num_nobor .pad_px,.word_num_nobor2 .pad_px{ position:relative;top:-1px;*top:0;_top:-2px;*padding-bottom:1px;}
.word_num{ clear:both;padding:0 0 10px 10px;*padding:0 0 11px 10px;_padding:0 0 10px 10px;border-bottom:solid 1px #dfdfdf;}
.word_num_nobor{clear:both;padding:20px 0 0 10px;*padding:19px 0 0 10px;_padding:19px 0 0 10px;}
.word_num_nobor2{clear:both;padding:0 0 0 10px;*padding:0 0 0 10px;_padding:0 0 0 10px;}
.word_num_nobor3{clear:both;margin-top:-2px;padding:0 0 0 10px;*padding:0 0 0 10px;_padding:0 0 0 10px;}
.word_num2{ padding-top:18px;}
.word_num .fnt_k09,.word_num_nobor .fnt_k09,.word_num_nobor2 .fnt_k09,.d02_list02 .fnt_k09,.list_a .fnt_k09{ display:inline-block;position:relative;left:-2px;margin-right:-3px;}
.mar_img01{margin-right:5px;vertical-align:middle;}
.mar_img02{margin-right:8px;vertical-align:middle;}
.view_list{ clear:both;height:33px;margin:2px 0 20px;*margin-top:3px 0 20px;padding:0 13px 0 6px;background-color:#fbfbfb;border-top:solid 2px #868686;border-bottom:solid 1px #e5e5e5;}
.view_list ul{ float:left;margin-top:6px;}
.view_list ul li{ float:left;margin-right:8px;*margin-right:9px;}
.view_list ul li input{ position:relative;top:0px \9;margin-right:4px;*margin-right:1px;}
.view_list2{margin:1px 0 -5px;padding:0 0 0 1px;overflow:hidden;zoom:1;}
.view_list2 ul{ float:left;margin-top:6px;}
.view_list2 ul li{ float:left;margin-right:8px;*margin-right:9px;}
.view_list2 ul li input{ position:relative;top:0px \9;margin-right:4px;*margin-right:1px;}
.box_wrap1{ clear:both;margin:17px 0 0 0;*margin:19px 0 0 0;padding:20px 10px 0 10px;*padding:18px 10px 0 10px;border-top:solid 1px #e5e5e5;}
.box_wrap2{ clear:both;margin:19px 0 0 0;padding:20px 10px 0 10px;*padding:18px 10px 0 10px;border-top:solid 1px #e5e5e5;}
.box_wrap3{ clear:both;margin:20px 0 0 0;padding:17px 18px 18px;*padding:19px 18px 18px;border:solid 1px #ededed}
.box_wrap4{padding:20px 0 0 10px;*padding:18px 0 0 10px;overflow:hidden;zoom:1;}
.box_wrap5{margin-top:15px;padding:20px 0 10px 15px;*padding:19px 0 10px 15px;border-top:solid 2px #868686}
.box_wrap6{border-top:1px solid #DFDFDF;padding:18px 0 0 10px;}
.box_wrap6x{margin-top:10px;padding:18px 0 0 10px;border-top:1px solid #DFDFDF;}
.box_wrap7{padding:18px 0 39px 15px;border-bottom:1px solid #DFDFDF;}
.box_wrap8{padding:19px 0 0 15px;}
.box_wrap9{ clear:both;margin:20px 0 0 0;*margin:18px 0 0 0;padding:20px 15px 10px 15px;border-top:solid 1px #e5e5e5;}
.box_wrap10{ clear:both;padding:23px 0 29px;border-bottom:solid 2px #868686;}
.box_wrap10x{ clear:both;padding:24px 0 40px;border-bottom:solid 2px #868686;}
.box_wrap11{ clear:both;margin-top:7px;padding:18px 10px 20px;border-bottom:solid 2px #868686;border-top:solid 2px #868686;}
.box_wrap12{ clear:both;padding:26px 0 4px 14px;border-bottom:solid 1px #e5e5e5;}
.box_wrap13{ clear:both;padding:20px 15px 12px;border-bottom:solid 2px #868686;zoom:1;overflow:hidden}
.box_wrap14{padding:20px 0 10px 15px;*padding:19px 0 10px 15px;border-bottom:1px solid #DFDFDF;border-top:solid 2px #868686}
.box_wrap15{ clear:both;padding:24px 0 20px;border-bottom:solid 2px #868686;}
.box_wrap16{ clear:both;padding:23px 0 29px;border-bottom:solid 1px #DFDFDF;}
.box_wrap17{margin-top:15px;padding:18px 0 0 10px;border-top:2px solid #868686;}
.word_view{clear:both;margin-top:13px;padding:14px 0 13px 10px;*padding:8px 0 13px 10px;border:solid 8px #efefef;overflow:hidden;zoom:1;}
.word_view2{padding:23px 20px 12px 10px;*padding:14px 20px 8px 10px;}
.word_view3{padding:23px 20px 8px 8px;*padding:22px 20px 14px 8px;}
.word_view .tit{clear:both;padding:0 0 11px 3px;*padding:0 0 6px 3px;}
.word_view .tit .star{margin:0 0 2px 8px;}
.word_view .pron{ clear:both;padding:0 0 0 4px;}
.word_view .pron ul{float:left;}
.word_view .pron ul li{display:inline;padding:0 0 0 8px;background:url(http://dicimg.naver.com/endic/img/v_line3.gif) no-repeat left 1px;font-size:11px;color:#000;font-family:dotum;}
.word_view .pron ul li.first{padding:0 8px 0 0;background:none;}
.word_view .pron ul li .fnt_e16{ display:inline-block;padding-left:1px;*padding-left:2px;font-size:11px;}
.word_view .pron ul li .fnt_e16 sup{ vertical-align:top;}
.word_view .pron ul li img{ vertical-align:middle}
.word_view .pron ul li img.play{margin-left:3px;}
.word_view .pron ul li img.fresh{margin-left:-1px;}
.word_view .pron p{ float:right;margin-top:4px;padding:0 3px 0 0;font-family:"돋움";font-size:11px;letter-spacing:-1px;color:#777;}
.word_view .pron p a{color:#777}
.word_view .pron p a:hover{ text-decoration:none}
.word_view .pron p img.ico{ position:relative;top:3px;right:5px;}
.word_view .sync{ float:left;width:332px;margin:10px 0 0;padding:11px 0 0 4px;border-top:solid 1px #ebebeb;}
.btn_zoom{ position:relative;clear:both;height:23px;margin-top:13px;z-index:10}
.btn_zoom p.btn{float:left;}
.btn_zoom p.btn .print{margin-left:3px;}
.btn_zoom p.sel{ float:right;padding:2px 0 0 0;font:11px dotum;letter-spacing:-1px;color:#666;}
.btn_zoom p.sel input{ position:relative;top:2px;*top:1px;right:-2px;}
.btn_zoom p.sel span{ color:#b2b2b2;}
.btn_zoom .list001{display:none;position:absolute;}
.btn_zoom .list001 ul{float:left;padding:0;padding-top:1px;*padding-top:0px;_padding-top:1px;border:1px solid #888;background:#fff;}
.btn_zoom .list001 ul li{float:left;padding:7px 5px 2px;padding:5px 5px 4px;text-align:left;font-weight:normal}
.btn_zoom .list001 ul li.on{padding:4px 5px 3px 5px;_padding:5px 5px 4px;border-top:1px solid #e9f0f2;border-bottom:1px solid #e9f0f2;background:#f2f5f7;}
.btn_zoom .list001 ul li.last{margin-bottom:0px;}
.btn_zoom .list001 ul li.add{margin-top:-2px;*margin-top:-1px;_margin-top:-2px;padding:10px 5px 3px;*padding:9px 5px 4px;_padding:10px 5px 3px;background:url(http://dicimg.naver.com/endic/img/bg_dot.gif) repeat-x 0 0}
.btn_zoom .list001 ul li.add img{margin:3px 3px 0 2px;}
.btn_zoom .list001 ul li.add.on{border:none;}/* new add */
.btn_zoom .list001 ul li a{color:#333;}
.btn_zoom .list001 ul li a:hover{ text-decoration:none}
.btn_zoom .box_w{width:221px;top:26px;left:111px;}
.btn_zoom .box_w li{width:211px;}
.btn_zoom .open_pop{ position:absolute;width:324px;height:172px;padding:15px 20px 0;background-color:#fff;border:solid 2px #83888e;z-index:999;right:0;top:30px;}
.btn_zoom .open_pop .tit{ font-size:12px;font-family:gulim;color:#000;}
.btn_zoom .open_pop .tit .fnt_e14{ font-size:13px;font-family:tahoma}
.open_pop_list{ clear:both;height:118px;margin-top:10px;padding:12px 0 0 0;border-top:solid 1px #e5e5e5;overflow:auto}
.open_pop_list img{ vertical-align:middle}
.open_pop_list dt{height:22px;line-height:18px;margin-top:17px;}
.open_pop_list dt img{ margin-bottom:4px;}
.open_pop_list dt.first{margin-top:0;}
.open_pop_list dd{ overflow:hidden;zoom:1;}
.open_pop_list dd p{ padding-top:6px;}
.open_pop_list dd p.pad1{ padding-top:5px;}
.open_pop_list dd p .fnt_k10{}
.list_select{ clear:both;margin-top:7px;height:33px;border-top:solid 2px #868686;border-bottom:solid 1px #e5e5e5;background-color:#fbfbfb;z-index:2;}
.list_selectx{ clear:both;margin:7px 0 -5px;border-top:solid 2px #868686;z-index:2;}
.list_select ul{ float:left;padding:11px 0 0 9px;}
.list_select ul li{ float:left;padding:0 10px 0 10px;background:url(http://dicimg.naver.com/endic/img/v_line5.gif) no-repeat left 1px;color:#000;font-weight:bold;font-family:gulim;}
.list_select ul li.first{padding:0 10px 0 0;background:none;}
.list_select ul li a{color:#000;}
/*02 css*/
.d02_list01{padding:29px 0 17px 10px;border-bottom:1px solid #DFDFDF}
.d02_list01x{padding-top:35px;}
.d02_list01 img{vertical-align:middle}
.d02_list01 h4 img{margin-right:6px}
.list_e01{margin:15px 0 25px 0;*margin:14px 0 25px 0}
.list_e01 dt{margin-bottom:5px}
.list_e01 .b_add{margin-left:7px}
.list_e01 dd ol{margin-top:9px}
.list_e01 dd li{margin:8px 0}
.list_e01 dd p{margin:9px 0 0;*margin:9px 0 -2px;}
.d02_list02{margin-top:29px;padding:0 0 0 20px}
.d02_list02 img{vertical-align:middle}
.d02_list02 h4 img{margin-right:6px}
.d02_list02 h4 a{margin-left:9px}
.d02_list02 .list_e01{margin-bottom:24px}
.d02_list02 .list_e01 dd{margin-left:3px}
.d02_list02 .list_e01 dd a{margin-left:5px}
.d02_list02 .list_more{margin-top:-9px;text-align:right}
.d02_list02 .list_a{margin-top:3px}
.d02_list02 .list_a li{margin-top:20px}
.d02_list02 .list_a li.first{margin-top:0}
.d02_list03{padding:0 0 0 10px}
.d02_list03 img{vertical-align:middle}
.d02_list03 h4 img{margin-right:6px}
h4 .fnt_k03{ position:relative;top:1px;*top:-1px;}
h4 .fnt_k15{ position:relative;top:-1px;}
h3 .fnt_k15,h4 .fnt_k15{ display:inline-block;border-bottom:solid 1px #0034ac;}
.list_a{ clear:both;min-height:100px;padding:8px 0 0 0;*padding:5px 0 0 0;}
.list_ax{ padding:10px 0 0 0;*padding:7px 0 0 0;}
.list_a img{ vertical-align:middle}
.list_a img.img_marbot1{*margin-bottom:1px;*vertical-align:top;}
.list_a img.img_padbot2{*padding-bottom:2px;}
.list_a li{margin-top:12px;}
.list_a li.first{margin-top:0;}
.list_a li.first2{margin-top:14px;}
.list_a li.first3{margin-top:7px;}
.list_a li p{ padding-top:4px;}
.list_a li p .fnt_k10{line-height:17px;}
.list_a2_c{ clear:both;padding:16px 0 0 7px;}
.list_a2_c li{ clear:both;padding:8px 0 0 0;}
.list_a2_c li .fnt_k09{padding-right:4px;font-size:12px;}
.list_a2_c li .fnt_k05{font-size:12px;}
.list_aa02{ clear:both;margin-bottom:-5px;padding:19px 0 17px 9px;border-bottom:solid 1px #e5e5e5;}
.list_aa02 li{ clear:both;padding:4px 0 0 0;font-family:arial;font-size:12px;color:#333;}
.list_aa02 li a{ color:#0034ac;}
.list_aa02 li .fnt_k09{position:relative;left:-2px}
.mar_img01{margin-right:5px;vertical-align:middle;}
.list_a3{ clear:both;padding:14px 0 0;*padding:11px 0 0;}
.list_a3 dt{clear:both;margin:22px 0 0 0;}
.list_a3 dt.first{margin:0 0 0 0;}
.list_a3 dt .fnt_k05{ letter-spacing:-1px;font-size:12px;}
.list_a3 dd{ clear:both;padding:10px 0 0 11px;}
.list_a3 dd p{padding:0 0 0 8px;}
.list_a3 dd p.bg{margin:0 0 5px 0;background:url(http://dicimg.naver.com/endic/img/ico_list04.gif) no-repeat 2px 7px;}
.list_a3 dd p.pad1{padding-top:7px;}
.list_a3 dd p.pad2{padding-top:3px;*padding-top:2px;}
.list_a3 dd p.pad3{padding-top:15px;}
.list_a3 dd p.link1{padding-top:8px;padding-bottom:1px;font-family:gulim;color:#777;}
.list_a3 dd p.link1 a{ color:#0034ac;text-decoration:underline;font-family:arial;font-size:13px;}
.list_a3x{padding:8px 0 0;margin-bottom:19px;}
.list_a3x dt{ margin:12px 0 0 0;}
.list_a3x dd{ clear:both;padding:8px 0 0 11px;}
.list_a3x2{padding:14px 14px 0 0;*padding:11px 14px 0 0;}
.list_a3x2 dt{margin:27px 0 0 0;}
.list_a4{padding:9px 0 0;}
.list_a4 dt{clear:both;margin:18px 0 0 0;}
.list_a4 dt.first{margin:0 0 0 0;}
.list_a4 dd{ clear:both;padding:10px 0 0 0;}
.list_a4 dd.first{padding:8px 0 0 0;}
.list_a4 dd p.pad1{padding-top:8px;}
.list_a4 dd p.pad2{padding-top:2px;}
.list_a4 dd p.pad3{padding-top:4px;}
.list_a5{ clear:both;overflow:hidden;zoom:1;}
.list_a5 li{ margin:13px 0 0 0;}
.list_a5 li .fnt_k09{display:inline-block;position:relative;left:-2px;}
.list_a5x{ clear:both;margin:6px 10px 0;overflow:hidden;zoom:1;}
.list_a5x li{ margin:13px 0 0 0;}
.list_a5x li .fnt_k09{display:inline-block;position:relative;left:-2px;}
.list_a8{ clear:both;padding:11px 0 0;}
.list_a8 dt{clear:both;margin:21px 0 0 0;line-height:18px;}
.list_a8x dt{margin:26px 0 0 0}
.list_a8 dt.first{margin:0 0 0 0;}
.list_a8 dd{ clear:both;padding:5px 0 0 11px;}
.list_a8 dd p{margin-top:4px;padding:0 0 0 9px;background:url(http://dicimg.naver.com/endic/img/ico_list04.gif) no-repeat 3px 7px;}
.list_a8 dd p.pad1{padding-top:4px;}
.list_a8 dd p.pad3{margin-top:0;padding-top:15px;}
.list_a8 dd p.nobg{padding-left:0;background:none;}
.list_a8 dt .fnt_e11{ float:left;display:inline-block;}
.list_a8 dt p{padding-left:20px;}
.list_a8 dt p .fnt_k09{ position:relative;left:-1px;*left:-2px;*left:-3px;}
.list_a11{ clear:both;padding:0 9px;}
.list_a11 dt{clear:both;margin:23px 0 0 0;color:#000;font-family:arial;font-size:13px;font-weight:bold;}
.list_a11 dt.first{margin:0;}
.list_a11 dt .fnt_k05{ font-weight:normal}
.list_a11 dd{ clear:both;padding:13px 20px 0;*padding:14px 20px 0;}
.list_a11 dd.first{padding-top:9px;}
.list_a11 dd p{ margin-top:4px;}
.list_a11 dd p.mar1{ margin-top:1px;}
.list_e2{ clear:both;padding:15px 0 0;*padding:14px 0 0;}
.list_e2 img{ vertical-align:middle}
.list_e2 dt{margin-top:18px;}
.list_e2 dt img{ margin-bottom:5px;*margin-bottom:4px;}
.list_e2 dt.first{margin-top:0;}
.list_e2 dt .pad_left{padding-left:5px;*padding-left:6px;_padding-left:5px;}
.list_e2 dt .blue a:hover{ text-decoration:underline}
.list_e2 dt .star{margin-left:4px;*margin-left:5px;_margin-left:4px;margin-right:5px;}
.list_e2 dt .add{margin-left:3px;}
.list_e2 dd{ overflow:hidden;zoom:1;}
.list_e2 dd .pad_left{padding-left:6px;}
.list_e2 dd.padtop1{ padding-top:6px;}
.list_e2 dd.padtop2{ padding-top:18px;}
.list_e2 dd p{ padding-top:4px;}
.list_e2 dd p.pad2{ padding-top:2px;}
.list_e2 dd p.pad3{ padding:1px 0 2px 0;*padding:3px 0 0 0;}
.list_e2 dd .view{ float:left;margin-right:12px;padding:3px;border:solid 1px #dfdfdf;}
.list_e3{ clear:both;padding:13px 30px 0 0;*padding:12px 30px 0 0;_padding:14px 30px 0 0;}
.list_e3 dt{margin:23px 0 2px;*margin:23px 0 2px;padding-left:10px;background:url(http://dicimg.naver.com/endic/img/ico_h.gif) no-repeat 2px 5px;}
.list_e3 dt.first{ margin-top:0;}
.list_e3 dt.first2{ margin-top:12px;}
.list_e3 dd{padding-left:9px;}
.list_e3 dd.pad{padding-top:13px;*padding-top:11px;}
.list_e3 dd p{ padding-top:4px;}
.list_e3 dd p .pad1{padding-left:6px;}
.list_e3 dd p.pad2{padding:6px 0 1px;*padding:6px 0 3px;}
.list_e3 dd p.pad3{padding:9px 0 0;}
.list_e3 dd p.pad4{padding-top:8px;*padding-top:10px;}
.list_e3 dd p .blue{padding:0 2px 0 4px;*padding:0 3px 0 4px;}
.list_e3 dd p .blue2{padding-left:12px;*padding-left:11px;}
.list_e4{ clear:both;padding:13px 0 0 0;*padding:12px 0 0 0;}
.list_e4 .fnt_k05{ font-size:12px}
.list_e4 img{ vertical-align:middle}
.list_e4 dt{margin-top:17px;margin-bottom:2px;}
.list_e4 dt img{ margin-bottom:4px;}
.list_e4 dt.first{margin-top:0;}
.list_e4 dt .pad_left{padding-left:4px;}
.list_e4 dt .blue a:hover{ text-decoration:underline}
.list_e4 dt .star{margin-left:5px;}
.list_e4 dt .add{margin-left:3px;}
.list_e4 dd{ overflow:hidden;zoom:1;}
.list_e4 dd .pad_left{padding-left:6px;}
.list_e4 dd.padtop1{ padding-top:6px;}
.list_e4 dd.padtop2{ padding-top:18px;}
.list_e4 dd p{ padding-top:4px;}
.list_e4 dd p.pad2{ padding-top:2px;}
.list_e4 dd .view{ float:left;margin-right:12px;padding:3px;border:solid 1px #dfdfdf;}
.edit_ktxt{ position:relative;clear:both;height:23px;}
.edit_ktxt .input1{float:left;width:248px;height:16px;margin:1px 0 0 0;padding:5px 0 0 4px;border:solid 1px #adadad;border-right-color:#dddddd;border-bottom-color:#dddddd;color:#333;font:12px gulim;}
.edit_ktxt .submit{float:left;margin:0 0 0 7px;}
.edit_ktxt .cancel{ position:absolute;right:11px;}
.d04_list01{margin:28px 0 0;*margin:27px 0 0;_margin:28px 0 0;padding:0 0 19px 9px;border-bottom:1px solid #e6e6e6;font-family:"굴림";}
.d04_list01 h4{font-weight:bold;font-size:12px;color:#000;}
.d04_list03{margin:50px 0 0;*margin:49px 0 0;_margin:50px 0 0;padding:0 0 0 35px;font-family:"굴림";}
.d04_list03 h4{font-weight:bold;font-size:12px;color:#000;}
.list_a01{margin:19px 0 0 9px}
.list_a01 li{padding-left:7px;margin-bottom:8px;background:url(http://dicimg.naver.com/endic/img/ico_list01.gif) no-repeat 0 4px}
.list_a01 li a{color:#000;text-decoration:underline}
.d04_list02{padding:0 0 0 9px;font-family:"굴림";}
.d04_list02 h4{margin:25px 0 11px;*margin:24px 0 12px;_margin:25px 0 12px;padding:0 0 0 7px;color:#000;font-size:12px;background:url(http://dicimg.naver.com/endic/img/ico_list02.gif) no-repeat 1px 4px}
.d04_list02 .d04_p{margin:17px 0 0 1px;padding-left:7px;background:url(http://dicimg.naver.com/endic/img/ico_list03.gif) no-repeat 0 9px;line-height:17px;}
.d04_list02 .d04_p .fnt_k15{display:inline-block;border-bottom:solid 1px #0034AC;line-height:13px;}
.d04_list02 h5{margin:18px 0 0 1px;padding-left:7px;background:url(http://dicimg.naver.com/endic/img/ico_list03.gif) no-repeat 0 6px;color:#333;font-size:12px;}
.d04_list02 h5.t1{margin:17px 0 0 1px;}
.list_a02{margin:8px 0 0 8px;_margin:7px 0 0 8px;}
.list_a02 li{margin-bottom:6px;*margin-bottom:7px}
.list_a03{margin:6px 0 -2px 9px;_margin:5px 0 -2px 9px}
.list_a03 li{margin-bottom:5px}
.list_e02{margin:0 0 16px 7px}
.list_e02 dt{margin-bottom:6px}
.list_e02 dd p{line-height:1.4}
.list_e02 dd p.info{margin-top:3px}
.list_e02 .date{margin-left:5px}
.list_e02 .line{margin:0 8px;color:#d9d9d9}
.list_e02 .lr{margin:0 5px}
.list_e02 .sr{margin-right:8px}
.d04_list02 .list_more{text-align:right}
.d04_list02 .list_more img{vertical-align:middle}
.list_endic{ clear:both;margin-top:11px;border-top:solid 1px #d3d3d3;}
.list_endic li{padding:9px 0 8px 13px;border-top:solid 2px #f6f6f6;background:#fbfbfb url(http://dicimg.naver.com/endic/img/bg_li01.gif) repeat-x 0 bottom;color:#444;}
.list_endic li img{padding-right:4px;}
.hit_top{ clear:both;margin-top:18px;text-align:right}
.hit_top img{padding:2px 0;}
/*pagenavi*/
.sp_paging {display:block;position:relative;clear:both;margin-top:9px;padding:30px 0 0 0;text-align:center;}
.sp_paging2 {margin-top:-14px;}
.sp_paging a,
.sp_paging strong {position:relative;display:inline-block;margin-right:1px;padding:3px 7px 5px;_padding:3px 3px 5px;color:#000;text-decoration:none;border:1px solid #fff;line-height:normal;font:bold 13px Verdana;_width:18px;}
.sp_paging strong {color:#f23219 !important;border:1px solid #e9e9e9;}
.sp_paging .pre,.sp_paging .next {font-weight:normal;display:inline-block;color:#565656;_position:relative;_top:1px;font:12px 奔覆,Gulim,AppleGothic,sans-serif;_width:84px;}
.sp_paging .pre {width:76px;_width:84px;background:url(http://sstatic.naver.com/search/common/bg_common_sprite1.gif) -12px -84px no-repeat;}
.sp_paging .next {width:76px;_width:84px;background:url(http://sstatic.naver.com/search/common/bg_common_sprite1.gif) -12px -107px no-repeat;}
/*font_korean*/
.fnt_k01{font-family:"굴림";font-size:13px;color:#0034ac;font-weight:normal}
.fnt_k02,.fnt_k02 a{font-family:"굴림";font-size:13px;color:#0034ac;font-weight:bold}
.fnt_k03{font-family:"굴림";font-size:12px;color:#777777;font-weight:bold}
.fnt_k04{font-family:"굴림";font-size:12px;color:#666666;font-weight:normal}
.fnt_k05{font-family:"굴림";font-size:12px;color:#000000;}
.fnt_k06{font-family:"굴림";font-size:13px;color:#000000;font-weight:bold}
.fnt_k07{font-family:"굴림";font-size:12px;color:#333333;font-weight:normal}
.fnt_k08{font-family:"굴림";font-size:13px;color:#6e4987;font-weight:normal}
.fnt_k09,.fnt_k09 a{font-family:"굴림";font-size:12px;color:#777777}
.fnt_k10{font-family:"굴림";font-size:12px;color:#777777;font-weight:normal}
.fnt_k11{font-family:"돋움";font-size:11px;color:#777777;letter-spacing:-1px;font-weight:normal}
.fnt_k12{font-family:"굴림";font-size:12px;color:#0034ac;font-weight:normal}
.fnt_k13{font-family:"돋움";font-size:11px;color:#0034ac;text-decoration:none;}
.fnt_k13 a{color:#0034ac;}
.fnt_k14{font-family:"돋움";font-size:12px;color:#0034ac;letter-spacing:-1px;text-decoration:none;font-weight:bold}
.fnt_k15{font-family:"굴림";font-size:12px;color:#0034ac;font-weight:normal;}
.fnt_k15:hover{ text-decoration:none}
.fnt_k16{font-family:"굴림";font-size:12px;color:#d9d9d9;font-weight:normal}
.fnt_k17{font-family:"굴림";font-size:12px;color:#e82828;font-weight:bold}
.fnt_k18{font-family:"돋움";font-size:24px;color:#000000;font-weight:bold}
.fnt_k19{font-family:"굴림";font-size:12px;color:#000000;font-weight:bold}
.fnt_k20{font-family:"굴림";font-size:12px;color:#333333;font-weight:normal}
.fnt_k21{font-family:"굴림";font-size:12px;color:#000000;}
.fnt_k22{font-family:"돋움";font-size:20px;color:#000000;font-weight:bold}
.fnt_k23,fnt_k23 a{font:12px gulim;color:#0034ac;line-height:16px;}
.fnt_k24,fnt_k24 a{font:12px gulim;color:#0034ac;}
.fnt_k27{font-family:dotum;font-size:14px;color:#000;font-weight:bold;}
/*font_english*/
sup{ font-size:10px;font-size:12px \9;}
.bg_yellow{background-color:#ffff00;}
.bg_yellow a:hover{text-decoration:none;}
.fnt_e01,.fnt_e01 a{font-family:Tahoma;font-size:14px;color:#0034ac;}
.fnt_e02,.fnt_e02 a{font-family:Tahoma;font-size:14px;color:#0034ac;font-weight:bold}
.fnt_e03{font-family:Tahoma;font-size:14px;color:#333333;font-weight:bold}
.fnt_e04{font-family:Tahoma;font-size:10px;color:#0034ac;font-weight:bold}
.fnt_e05{font-family:Tahoma;font-size:13px;color:#0034ac;font-weight:normal}
.fnt_e06{font-family:Tahoma;font-size:14px;color:#6e4987;font-weight:normal}
.fnt_e07{font-family:Arial;font-size:12px;color:#777777;font-weight:normal}
.fnt_e08,.fnt_e08 a{font-family:Arial;font-size:12px;color:#000000;font-style:italic;font-weight:normal}
.fnt_e09{font-family:Arial;font-size:12px;color:#000000;font-weight:normal}
.fnt_e10,.fnt_e10 a{font-family:Arial;font-size:13px;color:#0034ac;font-weight:bold}
.fnt_e11{font-family:Arial;font-size:15px;color:#000000;font-weight:bold}
.fnt_e12{font-family:Arial;font-size:12px;color:#000000;font-weight:bold}
.fnt_e13{font-family:Arial;font-size:12px;color:#000000;font-weight:normal}
.fnt_e14{font-family:Arial;font-size:12px;color:#000000;font-weight:bold}
.fnt_e15{font-family:Tahoma;font-size:20px;color:#000000;font-weight:bold}
.fnt_e16{font-family:"Lucida Sans Unicode";font-size:13px;color:#000000}
.fnt_e17{font-family:Tahoma;font-size:14px;color:#000000}
.fnt_e18{font-family:Tahoma;font-size:14px;color:#777777;font-weight:bold;font-style:italic}
.fnt_e19,.fnt_e19 a{font-family:Tahoma;font-size:13px;color:#0034ac;text-decoration:underline}
.fnt_e20{font-family:Arial;font-size:12px;color:#95b3d7}
.fnt_e21{font-family:Arial;font-size:13px;color:#000000;font-weight:bold}
.fnt_e22,.fnt_e22 a{font-family:Tahoma;font-size:12px;color:#0034ac;}
.fnt_e23{font-family:Arial;font-size:12px;color:#777777;font-weight:normal}
.fnt_e24{font-family:Arial;font-size:13px;color:#777777;}
.fnt_e25{font-family:"Lucida Sans Unicode";font-size:12px;color:#000000}
.fnt_e26{font-family:Tahoma;font-size:14px;color:#000;font-weight:bold}
.topformarea{ position:relative;z-index:99;margin:8px 0 0 0;zoom:1;}
dl.navitem{ position:relative;float:left;width:90px}
dl.navitem04{ float:left;width:95px;}
dl.navitem dt{display:block;position:relative;width:90px;height:34px;background:url(http://dicimg.naver.com/endic/img/bg_menu02_c.gif) repeat-x;}
dl.navitem04 dt{ width:98px;}
dl.navitem dt span{display:block;position:absolute;top:0;left:0;width:2px;height:31px;background:url(http://dicimg.naver.com/endic/img/bg_menu02_bar.gif) no-repeat;}
dl.navitem01 dt span{display:block;position:absolute;top:0;left:0px;width:2px;height:31px;background:url(http://dicimg.naver.com/endic/img/bg_menu02_l.gif)no-repeat;}
dl.navitem04 dt span.rbar{display:block;position:absolute;top:0;left:96px;width:2px;height:31px;background:url(http://dicimg.naver.com/endic/Finder/bg_menu02_r.gif) no-repeat;}
dl.navitem dt a{}
dl.navitem dt a img{ margin:8px 0 0 10px;}
dl.navitem dt a img.icon{ position:absolute;top:8px;right:4px;margin:0px;}
dl.navitem dt em{ position:relative;top:-2px;margin-left:5px;color:#FFF;font:normal 11px Dotum;}
li.list_item{vertical-align:bottom}
dl.navitem dd{ position:absolute;top:30px;left:0;z-index:100;width:88px;border:1px solid #7C858D;background:#FFF;}
dl.navitem dd ul{ margin:7px 0 5px 5px;}
dl.navitem dd ul li{ position:relative;margin:0 0 1px 0;width:73px;}
dl.navitem dd ul li a{display:block;width:62px;height:21px;margin:0;padding-left:13px;color:#7A7E81;font:normal 11px/21px Dotum;text-decoration:none;}
dl.navitem dd ul li a:hover{color:#444;font:bold 11px/21px Dotum;background:url(http://dicimg.naver.com/endic/Finder/bg_link_mini01.gif) no-repeat;text-decoration:none;}
dl.navitem dd ul li a:visited{color:#444;}
dl.navitem dd ul li a.h{display:block;width:62px;height:21px;margin:0;display:block;color:#3a7198;font:bold 11px/21px Dotum;background:url(http://dicimg.naver.com/endic/img/bg_link_mini01.gif) no-repeat;}
dl.navitem dd ul li a.on{color:#3a7198;font:bold 11px/21px Dotum;background:url(http://dicimg.naver.com/endic/img/bg_link_mini02.gif) no-repeat;}
dl.navitem dd ul li img.ico{ position:absolute;top:3px;right:6px;*right:2px;}
dl.navitem04 dd{ position:absolute;top:30px;left:0;width:96px;border:1px solid #7C858D;background:#FFF;}
dl.navitem04 dd ul li a{width:74px;}
dl.navitem04 dd ul li a:hover{color:#3a7198;font:bold 11px/21px Dotum;background:url(http://dicimg.naver.com/endic/Finder/bg_link_mini01a.gif) no-repeat;text-decoration:none;}
dl.navitem04 dd ul li a.on{color:#444;font:bold 11px/21px Dotum;background:url(http://dicimg.naver.com/endic/img/bg_link_mini02a.gif) no-repeat;}
dl.navitem dd ul li ul.layers{ position:absolute;top:-7px;left:78px;padding:9px 0px 0 13px;*padding:13px 0px 0 13px;width:165px;height:94px;border:solid 3px #85939B;z-index:99999;background:#FFF;overflow:hidden;}
dl.navitem dd ul li ul.layers li,.menu_box dl.navitem dd ul.layers li{ float:left;width:66px;margin:0;padding:0 0 3px 0;_padding-bottom:10px;color:#7A7E81;font:normal 11px/19px Dotum;}
dl.navitem dd ul li ul.layers li.fr,.menu_box dl.navitem dd ul.layers li.fr{ width:90px;}
dl.navitem dd ul li ul.layers li.close{ position:absolute;top:0px;right:0;width:16px;height:16px;border:0;overflow:hidden}
dl.navitem dd ul li ul.layers li.close a,.dl.navitem dd ul li ul.layers li.close a:hover,dl.navitem dd ul li ul.layers li.close a,dl.navitem dd ul li ul.layers li.close a:hover{ display:inline;background:none;width:16px;height:16px;border:0;padding:0;margin:0}
dl.navitem dd ul li ul.layers{ position:absolute;}
dl.navitem dd ul li ul.layers2{width:165px;height:50px}
dl.navitem dd ul li ul.layers2 li.close{position:absolute;top:0px;right:0;width:16px;height:16px;border:0;overflow:hidden}
/* 2009011 add */
dl.navitem dd ul li ul.layers li .checkbox,
.menu_box dl.navitem dd ul.layers li .checkbox{margin-right:5px;vertical-align:middle;}
ul.layers li .on{color:#3a7198;font-weight:bold;}
/* speed_control */
#content .word_view a.speed{margin:3px 0 0 7px;color:#DE0000;font-family:dotum;font-size:11px;letter-spacing:-1px;text-decoration:underline;}
#content .word_view a.speed.control{font-weight:bold;text-decoration:none;}
.speed_control{position:absolute;width:141px;height:79px;border:1px solid #888;background:#FFFFFF;color:#333333;font-family:dotum;font-size:11px;letter-spacing:-1px;line-height:13px;top:110px;left:220px;z-index:10;}
.speed_control .btn .close{float:right;width:18px;height:18px;background:url(http://dicimg.naver.com/endic/img/btn_close04.gif) no-repeat center 4px;cursor:pointer;cursor:hand;}
.speed_control .btn .close:hover{background:url(http://dicimg.naver.com/endic/img/btn_close04_over.gif) no-repeat center 4px}
.speed_control .bar{clear:both;width:123px;margin-left:18px;background:url(http://dicimg.naver.com/endic/img/bg_speed_slider.gif) no-repeat 3px 4px;text-align:left;}
.speed_control .bar .btn{position:relative;width:102px;height:12px;}
.speed_control .bar .btn img{position:absolute;left:0;cursor:pointer;}
.speed_control .num{padding:0 0;font:9px Tahoma;color:#777;}
.speed_control .num span{float:left}
.speed_control .num .on{ color:#333;font-weight:bold;}
.speed_control .num01{width:35px;*width:36px;text-align:left}
.speed_control .num02{width:35px;*width:35px;text-align:center}
.speed_control .num03{width:32px;text-align:right}
.speed_control .speed_1 .num01{font-weight:bold;color:#333}
.speed_control .speed_2 .num02{font-weight:bold;color:#333}
.speed_control .speed_3 .num03{font-weight:bold;color:#333}
.speed_control .tips{clear:both;padding-top:7px;*padding-top:3px;_padding-top:4px;}
.speed_control .tips .col1{ font:12px gulim;color:#777;}
.speed_control .tips .col2{ font:12px gulim;color:#333;}
.speed_control .tips ul{position:absolute;left:74px;top:49px;top:49px\9;*top:47px;_top:49px;line-height:14px;}
.speed_control .tips ul li{display:none;}
.speed_control .speed_1 .speed1,.speed_control .speed_2 .speed2,.speed_control .speed_3 .speed3{display:block;}