@charset "utf-8";
/* NHN China WS part CYL 111220 */
/* popup */
body{text-align:left}
#pop_print{position:relative;width:680px;padding:0;line-height:15px}
#pop_print #container{width:100%;margin:0;border:none}
#pop_container.scroll{overflow-y:auto!important;position:relative;height:415px;*height:414px;_height:415px}
#pop_content{overflow:hidden;width:600px;margin:0 10px;line-height:15px}
#pop_footer{text-align:center;clear:both;width:auto;margin-top:0;padding:21px 0 50px;border-top:1px solid #efefef;border-bottom:none;background:none}
#pop_footer .footer_inner{width:auto}
#pop_footer address{font-family:Verdana;font-size:9px;color:#444}
#pop_footer address .logo{display:inline-block;margin:1px 3px 0 0;vertical-align:top}
#pop_footer address .logo img{vertical-align:top}
#pop_footer address a,address a:visited,address a:link{padding-right:1px;font-family:Tahoma;font-weight:bold;font-size:9px;color:#2cb400}
#pop_footer address a:hover{color:#2cb400;text-decoration:underline}
#pop_print #content{overflow:visible;float:none!important;position:static;width:auto;margin:0 20px}
#pop_content h4 .tit{display:inline-block;vertical-align:bottom}
#pop_content h4 em{display:inline-block;padding-bottom:2px;font-family:tahoma;font-size:12px;color:#777;vertical-align:bottom}
#pop_content h5{margin:0 0 15px;padding-top:8px;font-size:14px;font-weight:bold;color:#e82828;letter-spacing:-1px}
#pop_content h5 span{display:inline-block;margin:-1px 0 1px 2px;font-family:'굴림',gulim,sans-serif;font-size:12px;font-weight:normal;color:#444;letter-spacing:0}
#pop_content h5 a:hover{text-decoration:none}
#pop_header{position:relative;z-index:100;zoom:1}
#pop_print .print_head{height:39px;border-bottom:1px solid #ededeb;background:#f4f4f3}
#pop_print .print_head h1{padding:14px 0 0 19px;*padding:13px 0 0 19px;font-size:14px;color:#333;font-family:"돋움",Dotum,AppleGothic,Sans-serif}
#pop_print .print_head .h_abbr{margin-left:-1px;letter-spacing:-1px}
#pop_print .print_head .close{position:absolute;top:10px;right:7px;background:url(http://dicimg.naver.com/endic/img/btn_close2.gif) no-repeat}
#pop_print .print_head .close a{display:inline-block;width:23px;height:23px}
#pop_print .btn_top2{overflow:hidden;padding:40px 20px 0 10px;margin-top:20px;text-align:right;zoom:1;border-top:solid 1px #E5E5E5}
#pop_print .btn_top2 a{display:block;overflow:hidden;float:right;width:42px;height:22px;background:url(http://dicimg.naver.com/endic/img/hit_top2.gif) no-repeat;line-height:999px}
#pop_print .pop_print_con{padding:0 20px 5px 20px}
#pop_print .view_ctrl{width:auto;z-index:110;float:right;position:relative;margin:6px 0 0 0;*margin-right:2px;_height:auto;padding:0 0 5px 0}
#pop_print .view_ctrl .zin{margin:0 2px 0 0;*margin:0 4px 0 0;width:32px;background:url(http://dicimg.naver.com/endic/img/spr_btn.gif) no-repeat 0 0}
#pop_print .view_ctrl .print{margin:0 0 0 -2px;width:21px;height:21px;background:url(http://dicimg.naver.com/endic/img/spr_btn.gif) no-repeat -42px 0}
#pop_print .view_ctrl button{margin:0;padding:0;border:0;position:relative;height:21px;vertical-align:top;cursor:pointer}
#pop_print .view_ctrl dl{position:absolute;top:20px;right:25px;*right:23px;z-index:100;border:1px solid #aaa}
#pop_print .word_view{padding:21px 18px 24px 15px;*padding:19px 18px 22px 15px;border:solid #3C414E;border-width:2px 0}
#pop_print .word_view .tit{*padding:0 0 0 3px}
#pop_print .word_view .tit span.cate_v1{color:#313131}
#pop_print .word_view .pron .fy em .fnt_e16{line-height:14px}
#pop_print .word_view .sync{width:600px;overflow:hidden;zoom:1;padding:10px 0 0 5px}
#pop_print .word_view .sync2{margin-top:7px;*margin-top:5px;padding:4px 0 0 5px}
#pop_print .word_view .sync dt span{padding-top:0;line-height:22px}
#pop_print .word_view .sync dd ul{padding-top:0;line-height:22px}
#pop_print .word_view .sync2 dd p{padding-top:0;line-height:22px}
#pop_print .pop_print_con .list_a3{padding:12px 0 0 17px;*padding:8px 0 0 17px}
#pop_print .box_wrap1_mar1{margin-top:17px;*margin-top:20px}
#pop_print .box_wrap1{padding-left:19px}
#pop_print .fnt_k06{font-weight:normal}
/* tb_abbr */
.tb_abbr{width:500px;margin:20px 20px 0;border:0;border-top:1px solid #b2b2b2;border-collapse:collapse}
.tb_abbr th{padding:11px 0 11px;border:0;border-bottom:2px solid #b2b2b2;text-align:left}
.tb_abbr th img{display:inline-block;margin-left:14px}
.tb_abbr td{padding:9px 0 10px;border:0;border-bottom:1px solid #ececec}
.tb_abbr td span{padding-left:14px}
.tb_abbr .abbr{font-weight:bold;color:#e82828;font-family:arial;font-size:13px}
.tb_abbr .abbr2{font-family:arial;font-size:13px;color:#000}
.tb_abbr .kor{color:#333}
.tb_abbr caption{display:block}
/* 130306 */
.pop_area{width:307px;height:129px;padding:19px;font-size:12px;color:#333}
.pop_area .pf_type{margin-top:18px;border-top:1px solid #e0e0e0;height:23px;padding:12px 0 14px;position:relative}
.pop_area .pf_type label{margin-right:70px;font-size:11px;color:#aaa;line-height:23px}
.pop_area .pop_tit{font-size:12px;margin-bottom:11px;font-weight:bold}
.pop_area .pop_txt{margin-bottom:11px;line-height:18px}