kldn @charset "utf-8";
.ad {width:240px;height:240px;margin:0 0 10px 0;}
.ad2 {margin:10px 0 0 0;}
.aside .section {position:relative;width:218px;_width /**/:240px;margin:10px 0 0 0;padding:0 10px;border:1px solid #ddd;}
.aside .jp {font-size:12px;}
.aside .relation {}
						.aside .relation dl {width:210px;margin:9px 4px 13px;overflow:hidden;}
						.aside .relation dl dt {float:left;width:31px;margin:5px 0 0 0;}
						.aside .relation dl dt img {margin:-1px 0 1px 0;vertical-align:middle;}
						.aside .relation dl dd {float:left;width:175px;margin:4px 0 0 4px;line-height:16px;}
						.aside .relation dl dd a {color:#525252;}
.aside .neighbor {}
						.aside .neighbor ul {margin:10px 0 11px 0;}
						.aside .neighbor ul li {width:206px;margin:4px 0 0 0;padding:0 0 0 12px;background:url(http://dicimg.naver.com/jpdic/img/bu_square.gif) no-repeat 4px 6px;line-height:16px;}
						.aside .neighbor ul li a {color:#525252;}
						.aside .neighbor ul li span{font-size:12px;}
.aside .myword {}
						.aside .myword ul {margin:14px 0 11px 0;}
						.aside .myword ul li {width:206px;margin:4px 0 0 0;padding:0 0 0 12px;background:url(http://dicimg.naver.com/jpdic/img/bu_square.gif) no-repeat 4px 6px;line-height:16px;*line-height:20px}
						.aside .myword ul li a {color:#525252;font-size:15px;}
						.aside .myword ul li .x {margin:0 0 0 -3px;vertical-align:middle;}
						.aside .myword p {margin:15px 0 12px;color:#525252;text-align:center;}
						.aside .myword .jp{font-size:15px;}
.aside .trans_result {}
/* modify 090513 start */
						.aside .trans_result_add{width:100%;overflow:hidden;}
						.aside .trans_result_add h3{border:0;overflow:hidden;zoom:1;}
						.aside .trans_result_add h3 img{float:left;vertical-align:top;}
						.aside .trans_result_add ul{list-style:none;position:absolute;right:6px;_right:1px;*right:5px;top:2px;}
						.aside .trans_result_add li{float:left;margin-right:0px;}
						.aside .trans_result_add li input{display:none}
						.aside .trans_result_add li label{display:inline-block;padding:2px 0 2px 17px;background:url(http://dicimg.naver.com/endic/img/bg_radio_off.gif) left 1px no-repeat;color:#000;font-family:dotum;font-size:12px;letter-spacing:-1px;}
						.aside .trans_result_add li.select label{background-image:url(http://dicimg.naver.com/endic/img/bg_radio_on.gif);}
						.aside .trans_result_add li{float:left;margin-right:3px;}
						.aside .trans_result_add li label{position:relative;top:4px;_top:7px;*top:7px;color:#000;font-family:dotum;font-size:12px;letter-spacing:-1px;}
						.aside .trans_result_add li label img{position:relative;margin:0 3px;*left:3px;top:-2px;}
/* modify 090513 end */
						.aside .trans_result input {margin:4px 0 8px;vertical-align:top;}
						.aside .trans_result textarea {width:206px;_width /**/:218px;height:45px;_height /**/:55px;margin:-1px 0;padding:4px 5px;border:1px solid;border-color:#cfcfcf #ddd #ddd #cfcfcf;line-height:16px;overflow:auto;overflow-x:hidden;}
						.aside .trans_result .before {margin:-1px 0 0 0;text-align:left;}
						.aside .trans_result .before textarea {background:#fbfafa url(http://dicimg.naver.com/jpdic/img/bg_before.gif) no-repeat;color:#848484;font-family:"MS PGothic";}
						.aside .trans_result .before textarea.outfocus{color:#969696;font-family:dotum;font-size:12px;}
						.aside .trans_result .after {display:none;text-align:center;}
						.aside .trans_result .after textarea {background:url(http://dicimg.naver.com/jpdic/img/bg_after.gif) no-repeat;color:#525252;font-family:"MS PGothic";}
.aside .section .empty {position:absolute;right:10px;top:5px;}
/* 20090504 add */
.js_translateButton{position:relative;z-index:5;}/*090521 modify */
.limit{position:relative;margin:-27px 1px 13px 0;*margin-bottom:0;color:#969696;font-family:dotum;font-size:11px;text-align:right;z-index:1;}
.limit span{color:#f96900;}