@charset "UTF-8";

@media (min-width: 768px) {
	.reading_area,
	.keyword_area,
	.best_reply_area,
	.quiz_home_area,
	.listening_area,
	.speaking_area,
	.comment_area,
	.status_area,
	.review_area,
	.record_area,
	.banner_area,
	.yellow_area,
	.weekly_area,
	.quiz_area{
		position:relative;
		max-width: 83.8%;
		margin-left: auto;
		margin-right: auto;
		box-sizing: border-box;
		float:none;
	}
	.banner_area.talk{
		max-width:100%;
	}
}
@media (min-width: 1024px) {
	.reading_area,
	.keyword_area,
	.best_reply_area,
	.quiz_home_area,
	.listening_area,
	.speaking_area,
	.comment_area,
	.status_area,
	.review_area,
	.record_area,
	.banner_area,
	.yellow_area,
	.weekly_area,
	.quiz_area{
		max-width: 68.4%;
	}
}
