@import "../../common/_variable";
@import "../../common/_mixin";
@import "../../common/_common";

body,input,textarea,select,button,table {
    font-family: '&#45208;&#45588;&#44256;&#46357;',NanumGothic,'&#47569;&#51008;&#44256;&#46357;','Malgun Gothic','&#46027;&#50880;',Dotum,'&#44404;&#47548;',Gulim,Helvetica,AppleGothic,sans-serif
}

.u_ts img {
    #{$ie6-hack}vertical-align: top
}

.u_gnbu {
    #{$ie6-hack}zoom: 1
}

.u_gnbn {
    #{$ie6-hack}margin-top: 11px;
    #{$ie6-hack}vertical-align: 0
}

select {
    padding-right: 0
}

/* tab */
.u_tab_l {
    #{$ie7-hack}float: left
}

.u_tab3_l {
    #{$ie7-hack}float: left
}

.menu_type .on a {
    #{$ie6-hack}border: 0
}

.u_h .u_h_h {
    #{$ie7-hack}vertical-align: .5em
}

.u_sel_unfd,.u_sel_fd {
    #{$ie6-hack}padding-bottom: 1px
}

.sel_lst .lst .sel {
    #{$ie7-hack}float: left
}

.sel_lst3 .lst .sel {
    #{$ie7-hack}float: left
}

.complex_info .thmb .num {
    #{$ie6-hack}right: -1px;
    #{$ie6-hack}bottom: -1px
}

.complex_info .info_area .txt_info .txt {
    #{$ie7-hack}display: inline-block
}

.ground_size .u_btn,.ground_size .tit {
    #{$ie7-hack}display: inline;
    #{$ie7-hack}top: 0;
    #{$ie7-hack}vertical-align: middle
}

.u_wrt {
    #{$ie7-hack}display: block
}

.u_wrt_h,.u_wrt_ct {
    #{$ie7-hack}display: inline;
    #{$ie7-hack}float: left
}

.u_wrt_it {
    #{$ie7-hack}width: 10em
}

.u_wrt_ct .input_chk {
    #{$ie7-hack}margin: 0 -2px 0 -4px
}

.u_selo,.area_srch,.u_sel3 .sel_menu,.complex_info .info_area,.ground_size,.section_busi .tit_area,.btn_line2,.notice_lst .lst_box,.my_headline,.product_info,.sel_lst3,.clause_area {
    #{$ie6-hack}zoom: 1
}

.notice_lst .lst_box .cont {
    #{$ie7-hack}zoom:1}

.notice_lst .lst_box .cont .ico_new {
    #{$ie7-hack}top: 0
}

.clause_lst {
    #{$ie6-hack}width: 100%
}

.location button .w {
    margin: 0
}

.location .pl {
    #{$ie6-hack}padding-right: 1px;
    #{$ie6-hack}padding-bottom: 1px
}

.location .pr,.location .li1 {
    #{$ie6-hack}padding-left: 1px;
    #{$ie6-hack}padding-bottom: 1px
}

.location .ic1 {
    #{$ie7-hack}font-size: 0;
    #{$ie7-hack}line-height: 0;
    #{$ie7-hack}text-indent: 0;
    #{$ie6-hack}color: #fff
}

.location .nvt .l1 {
    #{$ie7-hack}width: 33.9%
}

.location .area_lst .lst_box {
    #{$ie7-hack}float: left;
    #{$ie7-hack}width: 24.5%
}

.location .area_lst .lst_box a {
    #{$ie7-hack}display: block
}

.location .area_lst .lst_box a span {
    #{$ie7-hack}display: block;
    #{$ie7-hack}height: 100%
}
