@import "../../common/_variable";
@import "../../common/_mixin";
@import "../../common/_common";

/* HiveLab  / author : YHS */

#container.promotion{margin-top:20px;padding:0;background:#fff}
#container.promotion .content{float:none;width:100%;margin:0}

.section_site{border:1px solid #edeeef;border-bottom:0}
.section_site .site_area{position:relative;width:958px;height:278px;background:url(#{$imgUrl-center}/promotion/bg_site1.jpg) no-repeat}
.section_site .site_area .btn_area{position:absolute;top:194px;left:97px;padding:0}
.section_site .site_area .btn_area a,.section_site .site_area .btn_area span{overflow:hidden;float:left;width:145px;height:38px;margin-right:4px;background:url(#{$imgUrl-center}/promotion/btn_site_1.png) no-repeat;text-indent:-999px}
.section_site .site_area .btn_area .btn{background-position:0 -79px}
.section_site .site_area .btn_area .center{background-position:0 -122px}
.section_site .site_area2{width:808px;height:274px;margin:70px auto 0;background:url(#{$imgUrl-center}/promotion/bg_site2.png) no-repeat}
.section_site .site_area3{width:808px;margin:42px auto 0}
.section_site .h_site{overflow:hidden;height:23px;margin-left:40px;padding:0;background:url(#{$imgUrl-center}/promotion/bg_site3.png) no-repeat}
.section_site .site_area4{width:726px;height:456px;margin:30px 0 0 40px;background:url(#{$imgUrl-center}/promotion/bg_site4.png) no-repeat}
.section_site .site_area5{width:726px;height:408px;margin-left:40px;background:url(#{$imgUrl-center}/promotion/bg_site5.png) no-repeat}
.section_site .site_area6{width:808px;height:523px;background:url(#{$imgUrl-center}/promotion/bg_site6.png) no-repeat}
.section_site .site_area7{width:726px;margin:42px auto 0;padding-top:75px;background:url(#{$imgUrl-center}/promotion/bg_site7.png) no-repeat 10px 0}
.section_site .site_area8{width:726px;margin-top:37px;padding-top:60px;background:url(#{$imgUrl-center}/promotion/bg_site8.png) no-repeat 10px 0}
.section_site .site_area9{width:726px;height:493px;background:url(#{$imgUrl-center}/promotion/bg_site9.png) no-repeat}
.section_site .site_area10{width:726px;height:225px;margin-top:17px;background:url(#{$imgUrl-center}/promotion/bg_site10.png) no-repeat}
.section_site .site_area11{width:726px;height:252px;margin-top:17px;background:url(#{$imgUrl-center}/promotion/bg_site11_1.png) no-repeat}
.section_site .site_area12{width:726px;height:180px;margin-top:17px;background:url(#{$imgUrl-center}/promotion/bg_site12.png) no-repeat}
.section_site .site_area13{width:726px;height:145px;margin-top:16px;background:url(#{$imgUrl-center}/promotion/bg_site13.png) no-repeat}
.section_site .site_area14{width:707px;height:162px;margin:37px 0 0 10px;background:url(#{$imgUrl-center}/promotion/bg_site14.png) no-repeat}
.section_site .site_area15{width:707px;margin:37px 0 0 10px;padding-top:28px;background:url(#{$imgUrl-center}/promotion/bg_site15.png) no-repeat}
.section_site .site_area16{width:707px;height:134px;background:url(#{$imgUrl-center}/promotion/bg_site16.png) no-repeat}
.section_site .site_area17{width:707px;height:112px;margin-top:40px;background:url(#{$imgUrl-center}/promotion/bg_site17.png) no-repeat}
.section_site .site_area18{width:707px;height:166px;margin-top:40px;background:url(#{$imgUrl-center}/promotion/bg_site18.png) no-repeat}
.section_site .site_area19{width:707px;margin:37px 0 0 10px;padding-top:28px;background:url(#{$imgUrl-center}/promotion/bg_site19.png) no-repeat}
.section_site .site_area20{width:707px;height:170px;background:url(#{$imgUrl-center}/promotion/bg_site20.png) no-repeat}
.section_site .site_area21{width:707px;height:114px;margin-top:40px;background:url(#{$imgUrl-center}/promotion/bg_site21.png) no-repeat}
.section_site .site_area22{width:707px;margin:37px 0 0 10px;padding-top:60px;background:url(#{$imgUrl-center}/promotion/bg_site22.png) no-repeat}
.section_site .site_area23{width:707px;height:112px;background:url(#{$imgUrl-center}/promotion/bg_site23.png) no-repeat}
.section_site .site_area24{width:726px;height:168px;margin-top:16px;background:url(#{$imgUrl-center}/promotion/bg_site24.png) no-repeat}
.section_site .tab_site{overflow:hidden;height:41px;margin-left:10px;background:url(#{$imgUrl-center}/promotion/tab_site.png) no-repeat}
.section_site .tab_site2{background-position:0 -50px}
.section_site .tab_site3{background-position:0 -100px}
.section_site .tab_site4{background-position:0 -150px}
.section_site .tab_site5{background-position:0 -200px}
.section_site .tab_site a{overflow:hidden;float:left;height:41px;text-indent:-999px}
.section_site .tab_site .tab{width:157px}
.section_site .tab_site .tab2{width:136px}
.section_site .tab_site .tab3{width:137px}
.section_site .tab_site .tab4{width:138px}
.section_site .tab_site .tab5{width:139px}
.section_site .btn_area{margin:0;padding:30px 0 69px;text-align:center}
.section_site .btn_area2{padding-top:0}
.section_site .btn_area a{display:inline-block;width:69px;height:34px;background:url(#{$imgUrl-center}/promotion/btn_site_1.png) no-repeat;vertical-align:top}
.section_site .btn_area .btn2{background-position:0 -40px}