@import "../common/_variable";
@import "../common/_mixin";

.hide {
  opacity: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  z-index: -100;
}
.shotString {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sp_header {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_header.png') no-repeat;
  background-size: 190px 105px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_ic {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_ic.png') no-repeat;
  background-size: 435px 255px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_lst {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_lst.png') no-repeat;
  background-size: 265px 245px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_end {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_end.png') no-repeat;
  background-size: 225px 340px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_scrh {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_scrh.png') no-repeat;
  background-size: 85px 50px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_lypop {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_lypop.png') no-repeat;
  background-size: 135px 120px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.sp_fclty {
  display: inline-block;
  background: url('http://static.land.naver.net/static/mobile/20160316/sp_fclty.png') no-repeat;
  background-size: 240px 250px;
  text-indent: 100%;overflow:hidden;white-space:nowrap;
}
.webkitFlex {
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
}

.fnt_H45L {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fnt_H55R {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fnt_HM {
  font-family: "HelveticaNeue-Medium", AppleSDGothicNeo-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fnt_sdM {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Medium, Arial, sans-serif;
}
.fnt_sdL {
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.fnt_sdR {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
}
.fnt_sdSM {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
}

.pdt_lst{

	.scroll_area{
		width:100%;
		z-index:50
	}

}
.spec{
	.data_srce{
		margin-top:5px;
		margin-bottom:-10px
	}
}

.location {
	&.nr_sta {

		.addr {


			li.addrs_txt{
				position:$reltv;

				&:before{
					content: '';
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -6px;
					width: 1px;
					height: 12px;
					background: #e3e3e3;
				}
			}
		}
	}

}

.align1_1{
	display:none
}

.btn_prev_ver {
    position: absolute;
	left:175px;
	top:0;
    width: 93px;
    height: 45px;
    z-index: 1100;
}
.btn_prev_ver span {
    width: 93px;
    height: 23px;
    margin: 12px 0 0 0;
	@include sp_header();
    background-position: 0 -15px;
}

@media only screen and (max-width : 320px) {
	.btn_prev_ver {
		left:165px;
		display:none;
	}
}


#dom_list_map {
    width:100%;
    top:auto;
    bottom:0;
}

.pdt_tbl{

	.spec & + .pdt_tbl{
		border-top:0;
		padding-top:0;
	}

}
.scroll_box{
    position: absolute;
    overflow: hidden;
    width:100%
}

.area_selc{
	position: absolute;
	top:10px;
	right:0;
	left:0;
	z-index:99;
}
.btn_selc_area{
	width:85px;
	height:30px;
	margin:0 auto;
	background-color:rgba(255,255,255,.9);
	border:1px solid rgba(169,169,169,.9);
	box-sizing:border-box;
	-webkit-background-clip: border;
	border-radius:30px;

	button{
		width:85px;
		height:30px;
		font-family:$fnt_sdR;
		border:0;
		background-color:transparent;

		&:after{
			content:'';
			width:10px;
			height:6px;
			@include sp_header();
			background-position:-80px -40px;
			vertical-align:middle;
			margin-left:4px
		}
	}
}

.space_sign{
	width:250px;
}
