/* HiveLab  / author : YHS */
#container.homepage {
  position: relative;
  margin: 20px 0 -3px;
  padding: 0;
  background: #fff;
}

#container.homepage .content {
  float: none;
  width: 100%;
  margin: 0;
}

.section_hp {
  border: 1px solid #e2e2e4;
}

.section_hp .spot_hp {
  height: 274px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/bg_spot.jpg) no-repeat;
}

.section_hp .hp_area {
  margin: 0 39px;
}

table {
  width: 100%;
  border: 0;
  border-top: 3px solid #777;
  border-bottom: 1px solid #777;
  border-spacing: 0;
}

table td, table th {
  border: 0;
  border-left: 1px solid #ccc;
}

table thead th {
  text-align: center;
}

table thead th.frst {
  text-align: left;
}

table caption {
  visibility: hidden;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.frst {
  border-left: 0;
}

.t_l th, .t_l td {
  border-top: 1px solid #777;
}

.b_c {
  background-color: #fbfbfc;
}

table th, table td {
  vertical-align: top;
}

table th span {
  overflow: hidden;
  display: inline-block;
  height: 12px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat;
  line-height: 999px;
}

table th .th {
  width: 33px;
  height: 16px;
}

table th .th2 {
  width: 167px;
  height: 16px;
  background-position: -36px 0;
}

table th .th3 {
  width: 72px;
  height: 16px;
  background-position: -206px 0;
}

table th .th4 {
  width: 87px;
  height: 16px;
  background-position: -281px 0;
}

table th .th5 {
  width: 67px;
  background-position: -371px 0;
}

table th .th6 {
  width: 22px;
  background-position: -441px 0;
}

table th .th7 {
  width: 42px;
  height: 28px;
  background-position: -466px 0;
}

table th .th8 {
  width: 43px;
  background-position: -511px 0;
}

table th .th9 {
  width: 33px;
  background-position: 0 -19px;
}

table th .th10 {
  width: 64px;
  background-position: -36px -19px;
}

table th .th11 {
  width: 53px;
  background-position: -103px -19px;
}

table th .th12 {
  width: 43px;
  height: 28px;
  background-position: -159px -19px;
}

table th .th13 {
  width: 32px;
  background-position: -205px -19px;
}

table th .th14 {
  width: 33px;
  background-position: -240px -19px;
}

table th .th15 {
  width: 33px;
  background-position: -276px -19px;
}

table th .th16 {
  width: 43px;
  background-position: -312px -19px;
}

table th .th17 {
  width: 33px;
  background-position: -358px -19px;
}

table th .th18 {
  width: 32px;
  background-position: -394px -19px;
}

table th .th19 {
  width: 43px;
  background-position: -511px -19px;
}

table th .th20 {
  width: 22px;
  background-position: 0 -34px;
}

table th .th21 {
  display: block;
  width: 74px;
  background-position: -205px -34px;
}

table tbody th span {
  display: block;
  line-height: 0;
  text-indent: -999px;
}

table thead th .inner {
  padding: 20px 0;
}

table tbody .inner {
  overflow: hidden;
  width: 90px;
  padding-top: 20px;
  border-top: 1px solid #e1e1e1;
}

table tbody td .inner {
  width: auto;
  margin: 0 20px;
}

table tbody .t_l .inner {
  border: 0;
}

table .btn {
  padding: 20px 0;
  text-align: center;
}

table .btn .btn_apply {
  display: inline-block;
  width: 131px;
  height: 44px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_btn.png) no-repeat 0 -27px;
}

table .btn span.btn_apply {
  background-position: 0 -74px;
}

.thmb {
  vertical-align: bottom;
}

.thmb .inner {
  overflow: visible;
  padding: 12px 0 20px;
}

.thmb_view {
  position: relative;
}

.thmb_view img {
  vertical-align: bottom;
}

.thmb_view .ico_end {
  overflow: hidden;
  position: absolute;
  top: 3px;
  right: -6px;
  width: 54px;
  height: 54px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/ico_end.png) no-repeat;
  text-indent: -999px;
}

.btn_hp {
  margin-top: 10px;
}

.btn_hp a {
  display: inline-block;
  width: 105px;
  height: 24px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_btn.png) no-repeat;
}

.btn_hp a.view2 {
  background-position: -110px 0;
}

.lst .inner {
  padding: 15px 0 14px;
}

.lst_cha li {
  padding-left: 10px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/bu_dot_hp.gif) no-repeat 0 9px;
  line-height: 22px;
  color: #333;
}

.dsc_hp .inner {
  padding: 17px 0 16px;
}

.dsc_hp .dsc, .dsc_hp .dsc2 {
  line-height: 18px;
  color: #333;
}

.dsc_hp .dsc span {
  letter-spacing: -1px;
}

.dsc_hp .dsc2 {
  text-align: center;
}

.dsc_hp2 .inner {
  padding-top: 82px;
}

.dsc_hp2 .dsc {
  line-height: 18px;
  color: #333;
  text-align: center;
}

.price, .price2 {
  text-align: center;
  vertical-align: middle;
}

.price2 {
  vertical-align: top;
}

.price .inner {
  padding: 16px 0;
}

.price2 .inner {
  padding: 7px 0;
}

.price .dsc, .price2 .dsc {
  line-height: 18px;
  color: #333;
}

.price .dsc strong {
  display: block;
  margin-bottom: 12px;
  font-size: 11px;
  color: #333;
}

.price .dsc em {
  color: #3a89c8;
  font-style: normal;
}

.price .dsc2, .price2 .dsc2, .price2 .dsc4 {
  float: left;
  width: 108px;
}

.price .dsc3, .price2 .dsc3 {
  width: 107px;
}

.price2 .dsc4 {
  width: 78px;
}

.price2 .dsc5 {
  width: 60px;
}

.price2 .dsc4 span {
  font-size: 11px;
}

.lst_hp dt {
  margin: 12px 0 2px;
  font-weight: bold;
  font-size: 11px;
  line-height: 16px;
  color: #333;
  text-align: center;
}

.lst_hp dd {
  padding-left: 7px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/bu_dot_hp.gif) no-repeat 0 7px;
  font-size: 11px;
  line-height: 16px;
  color: #333;
}

.info_hp {
  width: 569px;
  height: 102px;
  margin: 50px 0;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat 0 -49px;
}

.hp_result {
  overflow: hidden;
  height: 215px;
  padding: 0 39px;
  border-top: 1px solid #e2e2e4;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/bg_result.gif) repeat-x;
}

.hp_result .tit {
  overflow: hidden;
  width: 98px;
  height: 13px;
  margin-top: 50px;
  padding: 0;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat -25px -34px;
  text-indent: -999px;
}

.hp_result .dsc {
  overflow: hidden;
  width: 422px;
  height: 12px;
  margin-top: 10px;
  padding: 0;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat 0 -234px;
  text-indent: -999px;
}

.hp_result table {
  margin-top: 10px;
}

.hp_result table tbody .inner {
  border: 0;
}

.hp_result table tbody td .inner {
  position: relative;
  margin-left: 43px;
  padding-bottom: 20px;
}

.hp_result table tbody .inner th {
  text-align: left;
}

.hp_result table tbody .inner p {
  overflow: hidden;
  height: 16px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat;
  text-indent: -999px;
}

.hp_result table tbody .inner .make {
  width: 291px;
  background-position: 0 -177px;
}

.hp_result table tbody .inner .make2 {
  width: 203px;
  background-position: 0 -196px;
}

.hp_result table tbody .inner .make3 {
  width: 192px;
  background-position: 0 -215px;
}

.hp_result table tbody .inner .btn_hp {
  position: absolute;
  top: 8px;
  right: 0;
  width: 170px;
  height: 20px;
  background: url(http://static.land.naver.net/static/center/20160802/hmpgprdn/sp_txt.png) no-repeat 0 -154px;
  text-indent: -999px;
}

/*# sourceMappingURL=../../maps/include/landad/homepage.css.map */
