@charset "utf-8";
/* NHN China WS Team LZJ 111116 */

.t input[type=text],.t input[type=password],.t input[type=image],.t button,.t input[type=button],.t input[type=reset],.t input[type=submit],.t textarea{-webkit-appearance:none;-webkit-text-size-adjust:none;-webkit-border-radius:0}
.t strong,.t b{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .faq dt,.t .hsk_b01 dl dd li.on,.t .bh li a.on{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .top_frame .search_form .keybox {background:url(../img/t_bg_main_input.gif) 0 0 no-repeat;}
.t .top_frame .search_form .keyword{height:15px;margin:5px 0 0 4px}
.t .aside .aside_con .sta_hsk dd{font-family: dotum,"돋움",Arial}
.t h5{font-weight:normal;-webkit-text-stroke-width:0.02em}
.t .view_list .sel{padding-right:4px}

