#container,#footer{width:980px;margin:0 auto}
.header_one{position:relative;z-index:60;margin-bottom:10px}
.header_one:after,.header_one .inner_wrap:after{display:block;clear:both;content:''}
.header_one .blind,.header_one legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.header_one .icon,.header_one .nav_list .menu a,.header_one .sub_nav_list .menu a,.header_one .button_area a{display:inline-block;overflow:hidden;background-image:url(../img/gnb/sp_gnb_one.png);background-repeat:no-repeat;color:transparent;line-height:999px;vertical-align:top}
.header_one .inner_wrap{position:relative;width:980px;margin:0 auto}
.header_one .gnb_wrap,.header_one .nav_wrap,.header_one .sub_nav_wrap{min-width:980px}
.header_one .gnb_wrap{position:relative;z-index:1;background:#00c73c;border-bottom:1px solid #00a732}
.header_one .gnb_wrap .inner_wrap{height:54px}
.header_one .item_area{float:left}
.header_one .logo_area{float:left;margin:16px 14px 0 -1px}
.header_one .logo_area a{display:inline-block;float:left;margin-right:4px}
.header_one .logo_area .icon{height:24px}
.header_one .logo_naver .icon{width:55px;background-position:0 0}
.header_one .logo_land .icon{width:63px;background-position:-59px 0}
.header_one .inner_gnb_search{float:left;margin-top:9px}
.header_one input{font-family:'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD GothicNeo',Sans-serif}
.header_one .search_input,.header_one .search_button{float:left;height:35px;border:1px solid #00a933}
.header_one .search_input{width:300px;padding:0 10px;border-right-width:0;line-height:35px;color:#999}
.header_one .search_button{margin-right:3px;background:#00b336;color:#fff;text-align:center;vertical-align:middle}
.header_one .search_button.type_inside{width:35px;border-left-width:0}
.header_one .search_button.type_integration{width:65px}
.header_one .search_button.type_inside .icon{width:15px;height:15px;margin-top:10px;background-position:-130px 0}
.header_one .search_button.type_integration .icon{width:48px;height:14px;margin-top:11px;background-position:-150px 0}
.header_one .gnb_area{float:right}
.header_one .gnb_name{max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.header_one .nav_wrap,.header_one .sub_nav_wrap{border-bottom:1px solid #e5e5e5}
.header_one .nav_wrap .inner_wrap,.header_one .sub_nav_wrap .inner_wrap{height:40px}
.header_one .nav_list,.header_one .nav_list .menu,.header_one .sub_nav_list,.header_one .sub_nav_list .menu{float:left}
.header_one .nav_list .menu a{position:relative;height:41px;padding:0 15px}
.header_one .nav_list .menu:first-child a{padding-left:0}
.header_one .nav_list .menu.on a{color:#00c73c}
.header_one .nav_list .menu.on a:after{position:absolute;left:15px;right:15px;bottom:0;height:3px;background:#00c73c;content:''}
.header_one .nav_list .menu.on:first-child a:after{left:0}
.header_one .sub_nav_wrap{background:#fafafa}
.header_one .sub_nav_list{margin-top:8px}
.header_one .sub_nav_list .menu a{height:24px;margin-right:14px;padding:0 6px}
.header_one .sub_nav_list .menu.on a{background-color:#00c73c}
.header_one .sub_nav_list .menu:first-child a{padding-left:0}
.header_one .sub_nav_list .menu.on:first-child a{padding-left:6px}
.header_one .button_area{float:right;margin-top:7px}
.header_one .button_area a{height:24px;padding:0 15px;border:1px solid #d7d7d7;background-color:#fcfcfc}
.header_one .nav_list .menu.main_home a{width:54px;background-position:0 -30px}
.header_one .nav_list .menu.main_article a{width:25px;background-position:-69px -30px}
.header_one .nav_list .menu.main_isale a{width:26px;background-position:-123px -30px}
.header_one .nav_list .menu.main_news a{width:25px;background-position:-177px -30px}
.header_one .nav_list .menu.main_community a{width:48px;background-position:-232px -30px}
.header_one .nav_list .menu.main_auction a{width:24px;background-position:-309px -30px}
.header_one .nav_list .menu.main_mypage a{width:59px;background-position:-362px -30px}
.header_one .nav_list .menu.main_home.on a{background-position:0 -70px}
.header_one .nav_list .menu.main_article.on a{background-position:-69px -70px}
.header_one .nav_list .menu.main_isale.on a{background-position:-123px -70px}
.header_one .nav_list .menu.main_news.on a{background-position:-177px -70px}
.header_one .nav_list .menu.main_community.on a{background-position:-232px -70px}
.header_one .nav_list .menu.main_auction.on a{background-position:-309px -70px}
.header_one .nav_list .menu.main_mypage.on a{background-position:-362px -70px}
.header_one .button_area a.type_admin{width:81px;background-position:-450px -37px}
.header_one .sub_nav_list .menu.saleinfo a{width:43px;background-position:0 -118px}
.header_one .sub_nav_list .menu.salenews a{width:41px;background-position:-62px -118px}
.header_one .sub_nav_list .menu.salehelp a{width:33px;background-position:-129px -118px}
.header_one .sub_nav_list .menu.saleinfo.on a{background-position:6px -157px}
.header_one .sub_nav_list .menu.salenews.on a{background-position:-62px -157px}
.header_one .sub_nav_list .menu.salehelp.on a{background-position:-129px -157px}
.header_one .sub_nav_list .menu.news_headline a{width:43px;background-position:0 -197px}
.header_one .sub_nav_list .menu.news_region a{width:64px;background-position:-63px -197px}
.header_one .sub_nav_list .menu.news_issue a{width:31px;background-position:-153px -197px}
.header_one .sub_nav_list .menu.news_field a{width:54px;background-position:-210px -197px}
.header_one .sub_nav_list .menu.news_breaking a{width:54px;background-position:-290px -197px}
.header_one .sub_nav_list .menu.news_expert a{width:53px;background-position:-370px -197px}
.header_one .sub_nav_list .menu.news_magazine a{width:64px;background-position:-449px -197px}
.header_one .sub_nav_list .menu.news_trend a{width:53px;background-position:-539px -197px}
.header_one .sub_nav_list .menu.news_forum a{width:75px;background-position:-620px -197px}
.header_one .sub_nav_list .menu.news_headline.on a{background-position:6px -237px}
.header_one .sub_nav_list .menu.news_region.on a{background-position:-63px -237px}
.header_one .sub_nav_list .menu.news_issue.on a{background-position:-153px -237px}
.header_one .sub_nav_list .menu.news_field.on a{background-position:-210px -237px}
.header_one .sub_nav_list .menu.news_breaking.on a{background-position:-290px -237px}
.header_one .sub_nav_list .menu.news_expert.on a{background-position:-370px -237px}
.header_one .sub_nav_list .menu.news_magazine.on a{background-position:-449px -237px}
.header_one .sub_nav_list .menu.news_trend.on a{background-position:-539px -237px}
.header_one .sub_nav_list .menu.news_forum.on a{background-position:-620px -237px}
.header_one .sub_nav_list .menu.com_kin a{width:65px;background-position:0 -278px}
.header_one .sub_nav_list .menu.com_ourtown a{width:79px;background-position:-84px -278px}
.header_one .sub_nav_list .menu.com_sponsor a{width:54px;background-position:-187px -278px}
.header_one .sub_nav_list .menu.com_kin.on a{background-position:6px -317px}
.header_one .sub_nav_list .menu.com_ourtown.on a{background-position:-84px -317px}
.header_one .sub_nav_list .menu.com_sponsor.on a{background-position:-187px -317px}
.header_one .sub_nav_list .menu.auction_beginner a{width:67px;background-position:0 -358px}
.header_one .sub_nav_list .menu.auction_search a{width:55px;background-position:-87px -358px}
.header_one .sub_nav_list .menu.auction_report a{width:64px;background-position:-168px -358px}
.header_one .sub_nav_list .menu.auction_beginner.on a{background-position:6px -398px}
.header_one .sub_nav_list .menu.auction_search.on a{background-position:-87px -398px}
.header_one .sub_nav_list .menu.auction_report.on a{background-position:-168px -398px}
.header_one .sub_nav_list .menu.interest_article a{width:96px;background-position:0 -440px}
.header_one .sub_nav_list .menu.interest_column a{width:70px;background-position:-116px -440px}
.header_one .sub_nav_list .menu.isale_schedule_notice a{width:70px;background-position:-212px -440px}
.header_one .sub_nav_list .menu.secession a{width:78px;background-position:-308px -440px}
.header_one .sub_nav_list .menu.interest_article.on a{background-position:6px -479px}
.header_one .sub_nav_list .menu.interest_column.on a{background-position:-116px -479px}
.header_one .sub_nav_list .menu.isale_schedule_notice.on a{background-position:-212px -479px}
.header_one .sub_nav_list .menu.secession.on a{background-position:-308px -479px}
.header_one .logo_land_tool .icon,.header_one .logo_land_small .icon,.header_one .nav_list .menu.main_tool1 a,.header_one .nav_list .menu.main_tool2 a{background-image:url(../img/gnb/sp_tool_gnb_one.png)}
.header_one .logo_land_tool .icon{width:62px;background-position:0 0}
.header_one .logo_land_small .icon{width:57px;margin-left:5px;background-position:-71px 0}
.header_one .nav_list .menu.main_tool1 a{width:103px;background-position:0 -25px}
.header_one .nav_list .menu.main_tool2 a{width:49px;background-position:-118px -25px}
.header_one .nav_list .menu.main_tool1.on a{background-position:0 -55px}
.header_one .nav_list .menu.main_tool2.on a{background-position:-118px -55px}
.header_one .desc_wrap{overflow:hidden;height:35px;background:#f9fafb;border-bottom:1px solid #e5e5e5}
.header_one .desc_wrap .text{float:left;margin-top:9px;padding-left:11px;background:url(../img/gnb/bullet.gif) no-repeat 0 6px;font-size:11px;line-height:18px;color:#646464}
.header_one .desc_wrap .text .description{margin-right:14px}
.header_one .desc_wrap .text .description .bar{color:#b3b3b3}
.header_one .desc_wrap .text .description strong{color:#000}
.header_one .desc_wrap .button_area{float:right;margin-top:8px}
.header_one .desc_wrap .button_area a{padding:0;border:0}
.header_one .desc_wrap .button_area a.type_agency{width:74px;height:19px;background:url(../img/gnb/btn_agency.png) no-repeat 0 0}
#container2{margin:10px auto 0!important}
#container.promotion{margin-top:5px;padding:0;background:0 0}
#container.promotion .content{float:none;width:100%;margin:0}
.sp_pro{overflow:hidden;background:url(../img/report/sp_promotion.png) no-repeat}
.pro_spot{height:109px}
.bx_spot{overflow:hidden;height:290px;background:#fafafb;border:1px solid #d1d5db;border-top:0}
.bx_spot .lst_mem{margin:19px 0 0 22px}
.bx_spot .lst_mem li{float:left;margin-right:21px}
.bx_spot .lst_mem li a{display:block;width:170px;height:254px}
.bx_spot .lst_mem li.mem{background-position:0 -115px}
.bx_spot .lst_mem li.mem2{background-position:-175px -115px}
.bx_spot .lst_mem li.mem3{background-position:-350px -115px}
.bx_spot .lst_mem li.mem4{background-position:-525px -115px}
.bx_spot .lst_mem li.mem5{background-position:-700px -115px}
.tit_hot{width:149px;height:19px;background-position:0 -375px}
.tit_issue{width:149px;height:19px;background-position:-155px -375px}
.tit_poll{width:132px;height:19px;background-position:-130px -400px}
.tit_poll2{width:443px;height:22px;margin:29px 0 0 114px;background-position:0 -675px}
.bx_pro{overflow:hidden;margin-top:10px;border:1px solid #d1d5db;border-top:2px solid #434851}
.bx_pro_v2{border-width:2px 0 0}
.bx_pro .bx_l{float:left;width:230px}
.bx_pro .bx_r{position:relative;float:left;width:749px;background:#fcfcfd;border:1px solid #d1d5db;border-width:0 1px 1px 0}
.issue_area .bx_pro .bx_r{height:444px}
.poll_area .bx_pro .bx_r{height:201px}
.lst_hot{overflow:hidden;width:953px;padding:25px 0 4px 25px}
.lst_hot li{position:relative;float:left;width:135px;height:155px;margin-right:24px}
.lst_hot li.item2,.lst_hot li.item3,.lst_hot li.item8,.lst_hot li.item9{margin-right:23px}
.lst_hot li .mask{position:absolute;top:0;left:0;z-index:10;width:132px;height:93px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.lst_hot li .sp_pro{position:absolute;top:0;left:0;z-index:20;width:35px;height:28px;line-height:999px}
.lst_hot li.item1 .sp_pro{background-position:-875px -145px}
.lst_hot li.item2 .sp_pro{background-position:-915px -145px}
.lst_hot li.item3 .sp_pro{background-position:-875px -180px}
.lst_hot li.item4 .sp_pro{background-position:-915px -180px}
.lst_hot li.item5 .sp_pro{background-position:-875px -215px}
.lst_hot li.item6 .sp_pro{background-position:-915px -215px}
.lst_hot li.item7 .sp_pro{background-position:-875px -250px}
.lst_hot li.item8 .sp_pro{background-position:-915px -250px}
.lst_hot li.item9 .sp_pro{background-position:-875px -285px}
.lst_hot li.item10 .sp_pro{background-position:-915px -285px}
.lst_hot li.item11 .sp_pro{background-position:-875px -320px}
.lst_hot li.item12 .sp_pro{background-position:-915px -320px}
.lst_hot li a,.lst_hot li img{display:block;margin-bottom:9px}
.lst_hot li a{line-height:17px;color:#2f2f2f;letter-spacing:-1px}
.hot_area{margin-top:34px}
.issue_area{margin-top:32px}
.issue_area .tit_area{height:167px;padding:43px 0 0 51px;border-left:1px solid #d1d5db;border-right:1px solid #e1e4e8}
.issue_area h5.sp_pro{width:124px;height:96px;background-position:0 -400px}
.issue_area .nav_issue{overflow:hidden;width:230px;height:235px}
.issue_area .nav_issue li{float:left;margin-bottom:-1px}
.issue_area .nav_issue li a{display:block;width:230px;height:40px}
.issue_area .nav_issue li.nav a{background-position:-305px -375px}
.issue_area .nav_issue li.nav2 a{background-position:-305px -414px}
.issue_area .nav_issue li.nav3 a{background-position:-305px -453px}
.issue_area .nav_issue li.nav4 a{background-position:-305px -492px}
.issue_area .nav_issue li.nav5 a{background-position:-305px -531px}
.issue_area .nav_issue li.nav6 a{background-position:-305px -570px}
.issue_area .nav_issue li.nav_on,.issue_area .nav_issue li.nav2_on,.issue_area .nav_issue li.nav3_on,.issue_area .nav_issue li.nav4_on,.issue_area .nav_issue li.nav5_on,.issue_area .nav_issue li.nav6_on{position:relative}
.issue_area .nav_issue li.nav_on a{background-position:-540px -375px}
.issue_area .nav_issue li.nav2_on a{background-position:-540px -414px}
.issue_area .nav_issue li.nav3_on a{background-position:-540px -453px}
.issue_area .nav_issue li.nav4_on a{background-position:-540px -492px}
.issue_area .nav_issue li.nav5_on a{background-position:-540px -531px}
.issue_area .nav_issue li.nav6_on a{background-position:-540px -570px}
.issue_area .tit_top{width:636px;height:46px;margin:28px 0 0 28px;background-position:0 -700px}
.issue_area .tit_top2{width:497px;background-position:0 -750px}
.issue_area .tit_top3{width:652px;background-position:0 -800px}
.issue_area .tit_top4{width:588px;background-position:0 -850px}
.issue_area .tit_top5{width:540px;background-position:0 -900px}
.issue_area .tit_top6{width:634px;background-position:0 -950px}
.issue_area .bx_issue{margin:21px 28px 0;border:1px solid #e9ecef;background:#fff}
.issue_area .bx_issue .headline_list{margin:22px 25px 20px}
.issue_area .bx_issue .headline_list li{width:100%;margin-top:19px}
.issue_area .bx_issue .headline_list li dl{width:100%}
.issue_area .bx_issue .headline_list li dl:after{display:block;clear:both;content:''}
.issue_area .bx_issue .headline_list li dl dt{font-size:14px;font-weight:700;line-height:20px}
.issue_area .bx_issue .headline_list li dl dt.photo{display:inline;float:left;position:relative;margin:3px 6px 0 0}
.issue_area .bx_issue .headline_list li dl dt a{color:#000063}
.issue_area .bx_issue .headline_list li dl dd{margin-top:3px;color:#444;line-height:16px}
.issue_area .bx_issue .headline_list li dl dd.sub{overflow:hidden;clear:both;position:relative;width:100%;margin:0 0 -8px;line-height:16px}
.issue_area .bx_issue .headline_list li dl dd.sub ul{margin-top:6px}
.issue_area .bx_issue .headline_list li dl dd.sub ul li{margin:6px 0 0;padding-left:11px;background:url(../img/news/ico_sub_list2.gif) no-repeat 0 5px}
.issue_area .bx_issue .headline_list li dl dd.sub ul li a{color:#333}
.issue_area .bx_issue .writing{color:#d17575;font-size:11px}
.issue_area .bx_issue .date{padding-left:7px;background:url(../img/news/bar_date.gif) no-repeat 0 0;font-family:tahoma;color:#999;font-size:11px;letter-spacing:0}
.issue_area .btn_more{position:absolute;top:27px;right:28px;width:77px;height:23px;background-position:-875px -115px}
.poll_area{margin:34px 0 -1px}
.poll_area .tit_area{height:161px;padding:40px 0 0 50px;border-left:1px solid #d1d5db;border-right:1px solid #e1e4e8;border-bottom:1px solid #d1d5db}
.poll_area h5.sp_pro{width:123px;height:96px;background-position:0 -500px}
.poll_area .ico_q{position:absolute;top:28px;left:27px;width:67px;height:66px;background-position:-130px -425px;line-height:999px}
.poll_area .tx_poll{margin:10px 0 0 115px;line-height:19px;color:#6e6e6f}
.poll_area .poll_sel{width:695px;height:54px;margin:20px 0 0 28px;background-position:0 -615px}
.poll_area .lst_poll{overflow:hidden}
.poll_area .lst_poll li{position:relative;float:left}
.poll_area .lst_poll li a{display:block;width:116px;height:54px}
.poll_area .lst_poll li.type a{width:115px}
.poll_area .lst_poll .num{position:absolute;top:13px;left:50px}
.poll_area .lst_poll .frst .num{left:55px}
.poll_area .lst_poll .num em{overflow:hidden;float:left;height:16px;background:url(../img/report/sp_promotion.png) no-repeat;line-height:999px}
.poll_area .lst_poll .num .num0{width:9px;background-position:-130px -500px}
.poll_area .lst_poll .num .num1{width:6px;background-position:-145px -500px}
.poll_area .lst_poll .num .num2{width:10px;background-position:-155px -500px}
.poll_area .lst_poll .num .num3{width:10px;background-position:-170px -500px}
.poll_area .lst_poll .num .num4{width:10px;background-position:-185px -500px}
.poll_area .lst_poll .num .num5{width:10px;background-position:-200px -500px}
.poll_area .lst_poll .num .num6{width:10px;background-position:-215px -500px}
.poll_area .lst_poll .num .num7{width:8px;background-position:-230px -500px}
.poll_area .lst_poll .num .num8{width:10px;background-position:-245px -500px}
.poll_area .lst_poll .num .num9{width:9px;background-position:-260px -500px}
.poll_area .lst_poll .num .com{width:4px;background-position:-275px -500px}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
body,input,textarea,select,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.blind_caption{overflow:hidden;visibility:visible;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
body{margin:0}
h1,h2,h3,h4,h5,h6,p{outline:0}
#wrap{position:relative;text-align:left}
#u_skip{position:relative;z-index:2147483647}
#u_skip a{position:absolute;left:0;top:-45px;width:128px;background:url(../img/lnb/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:0}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/lnb/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}
#footer{clear:both;padding:40px 0 30px;border-top:1px solid #dedede;text-align:center;zoom:1}
#footer *{margin:0;padding:0;font-size:12px;font-style:normal;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:normal;color:#333;list-style:none}
#footer img{vertical-align:top}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 9px}
#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) left 3px no-repeat;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}
#footer ul li.first{padding:0 3px 0 0;background:0 0}
#footer .info{margin:0 0 11px;font-size:11px;line-height:15px;color:#7e7e7e}
#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}
#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) 1px 50% no-repeat;#background-position:left 10%;font-size:11px}
#footer address{font:9px/14px Verdana}
#footer address img{vertical-align:middle}
#footer address a{font:700 9px Tahoma;color:#444}
#footer address a:hover{color:#2cb400}
#footer address span{padding-left:2px;font:9px/14px Verdana}
#footer address em{padding-left:3px;font:9px verdana}
#footer address .logo{display:inline-block;overflow:hidden;width:58px;height:11px;margin:-1px 0 1px;background:url(../img/footer/bg_header_footer.gif) no-repeat -524px -84px;line-height:999px;vertical-align:middle}
#footer .sta_search_box{overflow:hidden;width:322px;margin:0 auto 22px;padding-top:10px}
#footer .sta_search_box .sta_search_text{float:left;width:202px;height:17px;.height:15px;margin-right:3px;padding:2px 0 0 7px;.padding:4px 0 0 7px;border:0;border:3px solid #3eaf0e;font:12px '돋움',Dotum,AppleGothic,sans-serif;color:#888;vertical-align:middle}
#footer .sta_search_box .sta_text_ovr{color:#000}
#footer .sta_search_box .btn_search{display:inline-block;overflow:hidden;width:42px;height:25px;margin-left:-3px;background:url(../img/home/bg_header_footer.gif) no-repeat -524px -49px;line-height:999px;vertical-align:top}
#footer .sta_search_box .btn_search2{display:inline-block;overflow:hidden;width:56px;height:25px;background:url(../img/home/bg_header_footer.gif) no-repeat -569px -49px;line-height:999px;vertical-align:top}
.hidden{display:none}
.view_mobile{width:100%;height:17px;padding:20px 0;border-top:1px solid #e7e7e7;background-color:#f3f3f3;text-align:center}
.view_mobile strong{display:inline-block;overflow:hidden;width:176px;height:17px;background:url(../img/footer/view_mobile.gif) no-repeat;text-indent:-9999px;vertical-align:top}
/*# sourceMappingURL=maps/endofyear.css.map */
