#container,#footer{width:980px;margin:0 auto}
.header_one{position:relative;z-index:60;margin-bottom:10px}
.header_one:after,.header_one .inner_wrap:after{display:block;clear:both;content:''}
.header_one .blind,.header_one legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.header_one .icon,.header_one .nav_list .menu a,.header_one .sub_nav_list .menu a,.header_one .button_area a{display:inline-block;overflow:hidden;background-image:url(../img/gnb/sp_gnb_one.png);background-repeat:no-repeat;color:transparent;line-height:999px;vertical-align:top}
.header_one .inner_wrap{position:relative;width:980px;margin:0 auto}
.header_one .gnb_wrap,.header_one .nav_wrap,.header_one .sub_nav_wrap{min-width:980px}
.header_one .gnb_wrap{position:relative;z-index:1;background:#00c73c;border-bottom:1px solid #00a732}
.header_one .gnb_wrap .inner_wrap{height:54px}
.header_one .item_area{float:left}
.header_one .logo_area{float:left;margin:16px 14px 0 -1px}
.header_one .logo_area a{display:inline-block;float:left;margin-right:4px}
.header_one .logo_area .icon{height:24px}
.header_one .logo_naver .icon{width:55px;background-position:0 0}
.header_one .logo_land .icon{width:63px;background-position:-59px 0}
.header_one .inner_gnb_search{float:left;margin-top:9px}
.header_one input{font-family:'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD GothicNeo',Sans-serif}
.header_one .search_input,.header_one .search_button{float:left;height:35px;border:1px solid #00a933}
.header_one .search_input{width:300px;padding:0 10px;border-right-width:0;line-height:35px;color:#999}
.header_one .search_button{margin-right:3px;background:#00b336;color:#fff;text-align:center;vertical-align:middle}
.header_one .search_button.type_inside{width:35px;border-left-width:0}
.header_one .search_button.type_integration{width:65px}
.header_one .search_button.type_inside .icon{width:15px;height:15px;margin-top:10px;background-position:-130px 0}
.header_one .search_button.type_integration .icon{width:48px;height:14px;margin-top:11px;background-position:-150px 0}
.header_one .gnb_area{float:right}
.header_one .gnb_name{max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.header_one .nav_wrap,.header_one .sub_nav_wrap{border-bottom:1px solid #e5e5e5}
.header_one .nav_wrap .inner_wrap,.header_one .sub_nav_wrap .inner_wrap{height:40px}
.header_one .nav_list,.header_one .nav_list .menu,.header_one .sub_nav_list,.header_one .sub_nav_list .menu{float:left}
.header_one .nav_list .menu a{position:relative;height:41px;padding:0 15px}
.header_one .nav_list .menu:first-child a{padding-left:0}
.header_one .nav_list .menu.on a{color:#00c73c}
.header_one .nav_list .menu.on a:after{position:absolute;left:15px;right:15px;bottom:0;height:3px;background:#00c73c;content:''}
.header_one .nav_list .menu.on:first-child a:after{left:0}
.header_one .sub_nav_wrap{background:#fafafa}
.header_one .sub_nav_list{margin-top:8px}
.header_one .sub_nav_list .menu a{height:24px;margin-right:14px;padding:0 6px}
.header_one .sub_nav_list .menu.on a{background-color:#00c73c}
.header_one .sub_nav_list .menu:first-child a{padding-left:0}
.header_one .sub_nav_list .menu.on:first-child a{padding-left:6px}
.header_one .button_area{float:right;margin-top:7px}
.header_one .button_area a{height:24px;padding:0 15px;border:1px solid #d7d7d7;background-color:#fcfcfc}
.header_one .nav_list .menu.main_home a{width:54px;background-position:0 -30px}
.header_one .nav_list .menu.main_article a{width:25px;background-position:-69px -30px}
.header_one .nav_list .menu.main_isale a{width:26px;background-position:-123px -30px}
.header_one .nav_list .menu.main_news a{width:25px;background-position:-177px -30px}
.header_one .nav_list .menu.main_community a{width:48px;background-position:-232px -30px}
.header_one .nav_list .menu.main_auction a{width:24px;background-position:-309px -30px}
.header_one .nav_list .menu.main_mypage a{width:59px;background-position:-362px -30px}
.header_one .nav_list .menu.main_home.on a{background-position:0 -70px}
.header_one .nav_list .menu.main_article.on a{background-position:-69px -70px}
.header_one .nav_list .menu.main_isale.on a{background-position:-123px -70px}
.header_one .nav_list .menu.main_news.on a{background-position:-177px -70px}
.header_one .nav_list .menu.main_community.on a{background-position:-232px -70px}
.header_one .nav_list .menu.main_auction.on a{background-position:-309px -70px}
.header_one .nav_list .menu.main_mypage.on a{background-position:-362px -70px}
.header_one .button_area a.type_admin{width:81px;background-position:-450px -37px}
.header_one .sub_nav_list .menu.saleinfo a{width:43px;background-position:0 -118px}
.header_one .sub_nav_list .menu.salenews a{width:41px;background-position:-62px -118px}
.header_one .sub_nav_list .menu.salehelp a{width:33px;background-position:-129px -118px}
.header_one .sub_nav_list .menu.saleinfo.on a{background-position:6px -157px}
.header_one .sub_nav_list .menu.salenews.on a{background-position:-62px -157px}
.header_one .sub_nav_list .menu.salehelp.on a{background-position:-129px -157px}
.header_one .sub_nav_list .menu.news_headline a{width:43px;background-position:0 -197px}
.header_one .sub_nav_list .menu.news_region a{width:64px;background-position:-63px -197px}
.header_one .sub_nav_list .menu.news_issue a{width:31px;background-position:-153px -197px}
.header_one .sub_nav_list .menu.news_field a{width:54px;background-position:-210px -197px}
.header_one .sub_nav_list .menu.news_breaking a{width:54px;background-position:-290px -197px}
.header_one .sub_nav_list .menu.news_expert a{width:53px;background-position:-370px -197px}
.header_one .sub_nav_list .menu.news_magazine a{width:64px;background-position:-449px -197px}
.header_one .sub_nav_list .menu.news_trend a{width:53px;background-position:-539px -197px}
.header_one .sub_nav_list .menu.news_forum a{width:75px;background-position:-620px -197px}
.header_one .sub_nav_list .menu.news_headline.on a{background-position:6px -237px}
.header_one .sub_nav_list .menu.news_region.on a{background-position:-63px -237px}
.header_one .sub_nav_list .menu.news_issue.on a{background-position:-153px -237px}
.header_one .sub_nav_list .menu.news_field.on a{background-position:-210px -237px}
.header_one .sub_nav_list .menu.news_breaking.on a{background-position:-290px -237px}
.header_one .sub_nav_list .menu.news_expert.on a{background-position:-370px -237px}
.header_one .sub_nav_list .menu.news_magazine.on a{background-position:-449px -237px}
.header_one .sub_nav_list .menu.news_trend.on a{background-position:-539px -237px}
.header_one .sub_nav_list .menu.news_forum.on a{background-position:-620px -237px}
.header_one .sub_nav_list .menu.com_kin a{width:65px;background-position:0 -278px}
.header_one .sub_nav_list .menu.com_ourtown a{width:79px;background-position:-84px -278px}
.header_one .sub_nav_list .menu.com_sponsor a{width:54px;background-position:-187px -278px}
.header_one .sub_nav_list .menu.com_kin.on a{background-position:6px -317px}
.header_one .sub_nav_list .menu.com_ourtown.on a{background-position:-84px -317px}
.header_one .sub_nav_list .menu.com_sponsor.on a{background-position:-187px -317px}
.header_one .sub_nav_list .menu.auction_beginner a{width:67px;background-position:0 -358px}
.header_one .sub_nav_list .menu.auction_search a{width:55px;background-position:-87px -358px}
.header_one .sub_nav_list .menu.auction_report a{width:64px;background-position:-168px -358px}
.header_one .sub_nav_list .menu.auction_beginner.on a{background-position:6px -398px}
.header_one .sub_nav_list .menu.auction_search.on a{background-position:-87px -398px}
.header_one .sub_nav_list .menu.auction_report.on a{background-position:-168px -398px}
.header_one .sub_nav_list .menu.interest_article a{width:96px;background-position:0 -440px}
.header_one .sub_nav_list .menu.interest_column a{width:70px;background-position:-116px -440px}
.header_one .sub_nav_list .menu.isale_schedule_notice a{width:70px;background-position:-212px -440px}
.header_one .sub_nav_list .menu.secession a{width:78px;background-position:-308px -440px}
.header_one .sub_nav_list .menu.interest_article.on a{background-position:6px -479px}
.header_one .sub_nav_list .menu.interest_column.on a{background-position:-116px -479px}
.header_one .sub_nav_list .menu.isale_schedule_notice.on a{background-position:-212px -479px}
.header_one .sub_nav_list .menu.secession.on a{background-position:-308px -479px}
.header_one .logo_land_tool .icon,.header_one .logo_land_small .icon,.header_one .nav_list .menu.main_tool1 a,.header_one .nav_list .menu.main_tool2 a{background-image:url(../img/gnb/sp_tool_gnb_one.png)}
.header_one .logo_land_tool .icon{width:62px;background-position:0 0}
.header_one .logo_land_small .icon{width:57px;margin-left:5px;background-position:-71px 0}
.header_one .nav_list .menu.main_tool1 a{width:103px;background-position:0 -25px}
.header_one .nav_list .menu.main_tool2 a{width:49px;background-position:-118px -25px}
.header_one .nav_list .menu.main_tool1.on a{background-position:0 -55px}
.header_one .nav_list .menu.main_tool2.on a{background-position:-118px -55px}
.header_one .desc_wrap{overflow:hidden;height:35px;background:#f9fafb;border-bottom:1px solid #e5e5e5}
.header_one .desc_wrap .text{float:left;margin-top:9px;padding-left:11px;background:url(../img/gnb/bullet.gif) no-repeat 0 6px;font-size:11px;line-height:18px;color:#646464}
.header_one .desc_wrap .text .description{margin-right:14px}
.header_one .desc_wrap .text .description .bar{color:#b3b3b3}
.header_one .desc_wrap .text .description strong{color:#000}
.header_one .desc_wrap .button_area{float:right;margin-top:8px}
.header_one .desc_wrap .button_area a{padding:0;border:0}
.header_one .desc_wrap .button_area a.type_agency{width:74px;height:19px;background:url(../img/gnb/btn_agency.png) no-repeat 0 0}
#container2{margin:10px auto 0!important}
*{margin:0;padding:0}
img{vertical-align:top}
img,fieldset,button{border:0}
hr,button img{display:none}
li{list-style:none}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
html:first-child select{padding-right:6px;height:20px}
option{padding-right:6px}
button,label{cursor:pointer;cursor:hand}
button{background:0 0;background-repeat:no-repeat}
button *{position:relative}
.input_text,textarea{.margin:-1px 0;border:1px solid}
.input_check,.input_radio{width:13px;height:13px;.margin:1px 0 -1px}
.blind,legend{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.clear{clear:both}
body{text-align:center;font-family:dotum,sans-serif}
#header #menu{height:40px!important}
#container{clear:both;position:relative;width:958px;#width:960px;border:1px solid #d9d9d9}
.spot{width:958px;height:360px;background:url(../img/sale/bg_event.gif) no-repeat}
.spot .post_area{position:absolute;top:288px;right:228px;padding:9px 10px 7px 15px;text-align:right;background-color:#f6f6f6}
.spot .post_area em{display:inline-block;font-family:tahoma;font-size:14px;line-height:16px;#line-height:14px;color:#039ed9;font-style:normal;border-bottom:1px solid #a1a1a1}
.spot .post_area img{vertical-align:middle}
.spot .btn_win{position:absolute;top:287px;right:71px}
#content{margin:0 70px}
.section_write{#width:818px;height:354px;#height:394px;padding:22px 26px 22px 26px;background:url(../img/sale/bg_event_write.gif) no-repeat}
.section_write h3{position:relative;width:202px;height:19px;background:url(../img/sale/h_sale_event3.gif) no-repeat}
.section_write h3 span{display:block;text-indent:-9999px}
.section_write h3 a{overflow:hidden;position:absolute;top:0;left:93px;width:62px;height:19px;background:url(../img/sale/blank.gif) no-repeat}
.section_write textarea{overflow:hidden;overflow-y:auto;width:766px;height:215px;padding:10px 0 0 8px;margin:7px 0 6px 0;font:12px/18px "돋움",dotum,AppleGothic,Sans-serif;border:1px solid #c2c2c2;color:#888;font-size:12px;background:#fff;vertical-align:top}
.section_write input{vertical-align:middle}
.section_write label{font-size:11px;margin-left:6px}
.section_write .check_area{margin-top:11px}
.section_write .check_area label{font-size:12px;margin:0 15px 0 6px}
.section_write .btn_area{margin-top:18px;text-align:center}
.section_notice{margin:29px 0 48px;padding-left:1px;font-size:12px}
.section_notice h4{height:20px}
.section_notice ul{background:url(../img/sale/ico_event_list.gif) no-repeat 0 0}
.section_notice ul li{margin-top:8px;padding:1px 0 0 23px;color:#707070;line-height:18px}
.section_notice ul li strong{font-weight:400;color:#252525}
#pop_event{width:530px;text-align:left;background-color:#fff}
#pop_event .header{margin:0 0 0 21px;background:url(../img/popup/bg_event_line.gif) no-repeat left bottom}
#pop_event .header h1{padding:21px 0 7px 0;font-size:0}
#pop_event .container{overflow:hidden;#height:1%;margin:0 20px 0 21px;background:url(../img/popup/bg_event.gif) no-repeat}
#pop_event .container .section_view{margin-top:100px;border:1px solid #eaeaea;font-size:12px;line-height:24px;letter-spacing:-1px;color:#666;background-color:#fbfbfb}
#pop_event .container .section_view .desc1{margin:64px 0 79px;text-align:center}
#pop_event .container .section_view .desc1 strong{font-size:14px}
#pop_event .container .section_view .desc2{margin:13px 0 25px 29px;line-height:18px}
#pop_event .container .section_view .event_list{margin:50px 0 69px 22px}
#pop_event .container .section_view .event_list li{padding-left:6px;background:url(../img/popup/bu_event.gif) no-repeat 0 10px}
#pop_event .container .section_view .event_list2{margin:18px 0 0 22px}
#pop_event .container .section_view .event_list2 li{margin-bottom:7px;padding-left:7px;line-height:17px;background:url(../img/popup/bu_event.gif) no-repeat 0 7px}
#pop_event .container .section_view .event_list2 li strong{font-weight:400;color:#2f7cb2}
#pop_event .container .section_view .user_info{overflow:hidden;width:428px;margin-left:29px;padding-top:18px}
#pop_event .container .section_view .user_info dt{float:left;width:117px;padding:5px 0 4px;border-bottom:1px solid #ebebeb}
#pop_event .container .section_view .user_info dd{float:left;width:311px;padding:5px 0 4px;color:#333;border-bottom:1px solid #ebebeb}
#pop_event .container .section_view .user_info dd.input{padding:5px 0 7px}
#pop_event .container .section_view .user_info dd select{width:77px;font-family:dotum,'돋움';line-height:14px}
#pop_event .container .section_view .user_info dd input{width:86px;height:19px;padding:2px 0 0 4px;line-height:14px;font-family:dotum,'돋움';border:1px solid #ccc}
#pop_event .footer{margin:30px 20px 0 21px;text-align:center;border-top:1px solid #eeeeec}
#pop_event .footer img{margin:10px 0 15px}
.spot_immovables{position:relative;width:958px;height:442px;font-family:gulim;background:url(http://static.land.naver.net/imgland/new/sale/bg_immovables.jpg) no-repeat left top}
.spot_immovables .best_prise{position:absolute;top:196px;right:92px;width:360px;height:130px;background:url(http://static.land.naver.net/imgland/new/sale/bg_best_prise.jpg) no-repeat left top}
.spot_immovables .best_prise h3{margin:18px 0 0 76px}
.spot_immovables .best_prise .btns{position:absolute;top:17px;right:17px}
.spot_immovables .best_prise .btns a{margin-right:2px}
.spot_immovables .best_prise p{margin:17px 0 0 77px;color:#3796cd;letter-spacing:-1px;font-size:13px;font-weight:700}
.spot_immovables .best_prise p em{margin-right:4px;color:#909090;font-style:normal}
.spot_immovables .best_prise .btn{margin:11px 0 0 74px}
.use_comment{overflow:hidden;margin:45px 0 50px 88px}
.use_comment .menu{float:left;position:relative;width:171px;margin-right:24px}
.use_comment .menu h3{width:171px;height:28px;text-indent:-3000px;background:url(http://static.land.naver.net/imgland/new/sale/bg_title_use_prise.gif) no-repeat left top}
.use_comment .menu .use_reple_view{margin:18px 0 0 11px;padding-bottom:20px;font-size:12px}
.use_comment .menu .use_reple_view li{margin-bottom:6px}
.use_comment .menu .use_reple_view strong{padding-left:15px;background:url(http://static.land.naver.net/imgland/new/img/sale/ico_list.gif) no-repeat left 1px;color:#3796cd;font-weight:700}
.use_comment .menu .use_reple_view a{padding-left:15px;color:#443d40;letter-spacing:-1px;background:url(http://static.land.naver.net/imgland/new/sale/ico_list.gif) no-repeat left 1px}
.use_comment .menu .use_reple_view a.on{color:#3796cd;font-weight:700}
.use_comment .menu .use_reple_view li.sub{position:relative;margin-top:6px;padding-left:16px;background:url(http://static.land.naver.net/imgland/new/sale/ico_sublist.gif) no-repeat left 2px;line-height:18px}
.use_comment .menu .use_reple_view li.sub a{background:url(http://static.land.naver.net/imgland/new/sale/ico_list.gif) no-repeat 1px 2px}
.use_comment .comment{float:left;width:586px}
.use_comment .comment h3{padding:0 0 6px 5px;border-bottom:1px solid #3796cd;font-family:gulim;color:#443d40;font-size:16px}
.use_comment .comment .scroll{overflow:auto;width:586px;height:607px;.height:628px;margin-top:27px;padding-top:20px;scrollbar-3dlight-color:#e3e3e3;scrollbar-highlight-color:#f5f5f5;scrollbar-shadow-color:#f5f5f5;scrollbar-darkshadow-color:#e3e3e3;scrollbar-arrow-color:#e3e3e3;scrollbar-face-color:#f5f5f5;scrollbar-track-color:#f6f6f6}
.use_comment .comment .scroll dl{width:547px}
.use_comment .comment .scroll dl dt{overflow:hidden;width:546px;color:#858585;font-size:11px}
.use_comment .comment .scroll dl dt .user{display:inline;float:left;margin:1px 0 0 5px}
.use_comment .comment .scroll dl dt .date{display:inline;float:right;margin:1px 5px 0 0}
.use_comment .comment .scroll dl dd{width:492px;.width:546px;margin:8px 0 29px 0;padding:21px 33px 25px 21px;border:1px solid #ccd8e3;font-family:gulim;color:#443d40;font-size:13px;line-height:22px;background:#e6eef5}
.best_prises{width:781px;margin:40px 0 0 90px;border:1px solid #ccd8e3;border-top:2px solid #2f7cb2;border-bottom:none;font-family:"굴림",gulim;color:#443d40}
.best_prises th{width:148px;border-right:1px solid #ccd8e3;border-bottom:1px solid #ccd8e3;background:#E6EEF5;text-align:left;vertical-align:top}
.best_prises th span{display:block;overflow:hidden;width:65px;height:14px;margin:13px 0 0 15px;background:url(http://static.land.naver.net/imgland/new/sale/sprite_best_prises_th.gif) no-repeat;text-indent:-300px}
.best_prises .bg_th1{background-position:0 0;margin-top:10px}
.best_prises .bg_th2{background-position:0 -50px}
.best_prises .bg_th3{background-position:0 -100px}
.best_prises td{padding:7px 0 7px 15px;border-bottom:1px solid #ccd8e3}
.best_prises select{margin-bottom:5px;font-family:"굴림",gulim;font-size:12px;color:#443d40}
.best_prises select1{width:80px}
.best_prises select2{width:120px}
.best_prises select3{width:100px}
.best_prises select4{width:170px}
.best_prises .notice{font-size:11px;letter-spacing:-1px;line-height:16px;margin-bottom:-3px}
.best_prises .recom_notice{margin-left:-15px;padding:0 0 3px 15px;border-bottom:1px solid #CCD8E3}
.best_prises .recom_notice li{padding-bottom:4px}
.best_prises td .prise_txt{width:576px;height:22px;padding:3px 0 0 3px;font-size:12px;border:1px solid #c8c8c8}
.best_prises td textarea{overflow:auto;width:567px;height:238px;margin:9px 0 9px 0;padding:10px 0 0 13px;border:1px solid #c8c8c8;font-size:12px;color:#443d40;scrollbar-3dlight-color:#e3e3e3;scrollbar-highlight-color:#f5f5f5;scrollbar-shadow-color:#f5f5f5;scrollbar-darkshadow-color:#e3e3e3;scrollbar-arrow-color:#e3e3e3;scrollbar-face-color:#f5f5f5;scrollbar-track-color:#f6f6f6}
.btn_registration{margin:20px 0 270px;text-align:center}
.paginate{padding-top:7px;text-align:center}
.paginate *{margin:0;padding:0}
.paginate a,.paginate strong{display:inline-block;#position:relative;margin-right:-6px;padding:4px 7px 2px 7px;font:700 12px dotum,Serif;color:#8a8a8a;line-height:normal;text-decoration:none!important;background:#fff url(http://static.naver.com/common/paginate/line_pg4.gif) no-repeat 0 5px}
.paginate strong{color:#45a9e3!important}
.paginate a.first{background:0 0}
.paginate a.end{background:0 0}
.paginate a:hover,.paginate a:active,.paginate a:focus{background-color:#f7f7f7}
.paginate a.pre,.paginate a.pre_end,.paginate a.next,.paginate a.next_end{font:12px "돋움",Dotum,"굴림",Gulim,AppleGothic,Sans-serif}
.paginate a.pre{padding:4px 4px 2px 11px;background:url(http://static.land.naver.net/imgland/new/sale/bg_page_prev.gif) no-repeat 2px 1px!important}
.paginate a.pre_end{padding:4px 10px 2px 16px;background:url(http://static.naver.com/common/paginate/bu_pg4_l2.gif) no-repeat right 4px!important}
.paginate a.next{padding:4px 18px 2px 9px;background:url(http://static.land.naver.net/imgland/new/sale/bg_page_next.gif) no-repeat left 1px!important}
.paginate a.next_end{padding:4px 16px 2px 9px;background:url(http://static.naver.com/common/paginate/bu_pg4_r2.gif) no-repeat left 4px!important}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
body,input,textarea,select,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.blind_caption{overflow:hidden;visibility:visible;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
body{margin:0}
h1,h2,h3,h4,h5,h6,p{outline:0}
#wrap{position:relative;text-align:left}
#u_skip{position:relative;z-index:2147483647}
#u_skip a{position:absolute;left:0;top:-45px;width:128px;background:url(../img/lnb/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:0}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/lnb/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}
#footer{clear:both;padding:40px 0 30px;border-top:1px solid #dedede;text-align:center;zoom:1}
#footer *{margin:0;padding:0;font-size:12px;font-style:normal;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:normal;color:#333;list-style:none}
#footer img{vertical-align:top}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 9px}
#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) left 3px no-repeat;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}
#footer ul li.first{padding:0 3px 0 0;background:0 0}
#footer .info{margin:0 0 11px;font-size:11px;line-height:15px;color:#7e7e7e}
#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}
#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) 1px 50% no-repeat;#background-position:left 10%;font-size:11px}
#footer address{font:9px/14px Verdana}
#footer address img{vertical-align:middle}
#footer address a{font:700 9px Tahoma;color:#444}
#footer address a:hover{color:#2cb400}
#footer address span{padding-left:2px;font:9px/14px Verdana}
#footer address em{padding-left:3px;font:9px verdana}
#footer address .logo{display:inline-block;overflow:hidden;width:58px;height:11px;margin:-1px 0 1px;background:url(../img/footer/bg_header_footer.gif) no-repeat -524px -84px;line-height:999px;vertical-align:middle}
#footer .sta_search_box{overflow:hidden;width:322px;margin:0 auto 22px;padding-top:10px}
#footer .sta_search_box .sta_search_text{float:left;width:202px;height:17px;.height:15px;margin-right:3px;padding:2px 0 0 7px;.padding:4px 0 0 7px;border:0;border:3px solid #3eaf0e;font:12px '돋움',Dotum,AppleGothic,sans-serif;color:#888;vertical-align:middle}
#footer .sta_search_box .sta_text_ovr{color:#000}
#footer .sta_search_box .btn_search{display:inline-block;overflow:hidden;width:42px;height:25px;margin-left:-3px;background:url(../img/home/bg_header_footer.gif) no-repeat -524px -49px;line-height:999px;vertical-align:top}
#footer .sta_search_box .btn_search2{display:inline-block;overflow:hidden;width:56px;height:25px;background:url(../img/home/bg_header_footer.gif) no-repeat -569px -49px;line-height:999px;vertical-align:top}
.hidden{display:none}
.view_mobile{width:100%;height:17px;padding:20px 0;border-top:1px solid #e7e7e7;background-color:#f3f3f3;text-align:center}
.view_mobile strong{display:inline-block;overflow:hidden;width:176px;height:17px;background:url(../img/footer/view_mobile.gif) no-repeat;text-indent:-9999px;vertical-align:top}
/*# sourceMappingURL=maps/land_sale_event.css.map */
