#container,#footer{width:980px;margin:0 auto}
.header_one{position:relative;z-index:60;margin-bottom:10px}
.header_one:after,.header_one .inner_wrap:after{display:block;clear:both;content:''}
.header_one .blind,.header_one legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.header_one .icon,.header_one .nav_list .menu a,.header_one .sub_nav_list .menu a,.header_one .button_area a{display:inline-block;overflow:hidden;background-image:url(../img/gnb/sp_gnb_one.png);background-repeat:no-repeat;color:transparent;line-height:999px;vertical-align:top}
.header_one .inner_wrap{position:relative;width:980px;margin:0 auto}
.header_one .gnb_wrap,.header_one .nav_wrap,.header_one .sub_nav_wrap{min-width:980px}
.header_one .gnb_wrap{position:relative;z-index:1;background:#00c73c;border-bottom:1px solid #00a732}
.header_one .gnb_wrap .inner_wrap{height:54px}
.header_one .item_area{float:left}
.header_one .logo_area{float:left;margin:16px 14px 0 -1px}
.header_one .logo_area a{display:inline-block;float:left;margin-right:4px}
.header_one .logo_area .icon{height:24px}
.header_one .logo_naver .icon{width:55px;background-position:0 0}
.header_one .logo_land .icon{width:63px;background-position:-59px 0}
.header_one .inner_gnb_search{float:left;margin-top:9px}
.header_one input{font-family:'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD GothicNeo',Sans-serif}
.header_one .search_input,.header_one .search_button{float:left;height:35px;border:1px solid #00a933}
.header_one .search_input{width:300px;padding:0 10px;border-right-width:0;line-height:35px;color:#999}
.header_one .search_button{margin-right:3px;background:#00b336;color:#fff;text-align:center;vertical-align:middle}
.header_one .search_button.type_inside{width:35px;border-left-width:0}
.header_one .search_button.type_integration{width:65px}
.header_one .search_button.type_inside .icon{width:15px;height:15px;margin-top:10px;background-position:-130px 0}
.header_one .search_button.type_integration .icon{width:48px;height:14px;margin-top:11px;background-position:-150px 0}
.header_one .gnb_area{float:right}
.header_one .gnb_name{max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.header_one .nav_wrap,.header_one .sub_nav_wrap{border-bottom:1px solid #e5e5e5}
.header_one .nav_wrap .inner_wrap,.header_one .sub_nav_wrap .inner_wrap{height:40px}
.header_one .nav_list,.header_one .nav_list .menu,.header_one .sub_nav_list,.header_one .sub_nav_list .menu{float:left}
.header_one .nav_list .menu a{position:relative;height:41px;padding:0 15px}
.header_one .nav_list .menu:first-child a{padding-left:0}
.header_one .nav_list .menu.on a{color:#00c73c}
.header_one .nav_list .menu.on a:after{position:absolute;left:15px;right:15px;bottom:0;height:3px;background:#00c73c;content:''}
.header_one .nav_list .menu.on:first-child a:after{left:0}
.header_one .sub_nav_wrap{background:#fafafa}
.header_one .sub_nav_list{margin-top:8px}
.header_one .sub_nav_list .menu a{height:24px;margin-right:14px;padding:0 6px}
.header_one .sub_nav_list .menu.on a{background-color:#00c73c}
.header_one .sub_nav_list .menu:first-child a{padding-left:0}
.header_one .sub_nav_list .menu.on:first-child a{padding-left:6px}
.header_one .button_area{float:right;margin-top:7px}
.header_one .button_area a{height:24px;padding:0 15px;border:1px solid #d7d7d7;background-color:#fcfcfc}
.header_one .nav_list .menu.main_home a{width:54px;background-position:0 -30px}
.header_one .nav_list .menu.main_article a{width:25px;background-position:-69px -30px}
.header_one .nav_list .menu.main_isale a{width:26px;background-position:-123px -30px}
.header_one .nav_list .menu.main_news a{width:25px;background-position:-177px -30px}
.header_one .nav_list .menu.main_community a{width:48px;background-position:-232px -30px}
.header_one .nav_list .menu.main_auction a{width:24px;background-position:-309px -30px}
.header_one .nav_list .menu.main_mypage a{width:59px;background-position:-362px -30px}
.header_one .nav_list .menu.main_home.on a{background-position:0 -70px}
.header_one .nav_list .menu.main_article.on a{background-position:-69px -70px}
.header_one .nav_list .menu.main_isale.on a{background-position:-123px -70px}
.header_one .nav_list .menu.main_news.on a{background-position:-177px -70px}
.header_one .nav_list .menu.main_community.on a{background-position:-232px -70px}
.header_one .nav_list .menu.main_auction.on a{background-position:-309px -70px}
.header_one .nav_list .menu.main_mypage.on a{background-position:-362px -70px}
.header_one .button_area a.type_admin{width:81px;background-position:-450px -37px}
.header_one .sub_nav_list .menu.saleinfo a{width:43px;background-position:0 -118px}
.header_one .sub_nav_list .menu.salenews a{width:41px;background-position:-62px -118px}
.header_one .sub_nav_list .menu.salehelp a{width:33px;background-position:-129px -118px}
.header_one .sub_nav_list .menu.saleinfo.on a{background-position:6px -157px}
.header_one .sub_nav_list .menu.salenews.on a{background-position:-62px -157px}
.header_one .sub_nav_list .menu.salehelp.on a{background-position:-129px -157px}
.header_one .sub_nav_list .menu.news_headline a{width:43px;background-position:0 -197px}
.header_one .sub_nav_list .menu.news_region a{width:64px;background-position:-63px -197px}
.header_one .sub_nav_list .menu.news_issue a{width:31px;background-position:-153px -197px}
.header_one .sub_nav_list .menu.news_field a{width:54px;background-position:-210px -197px}
.header_one .sub_nav_list .menu.news_breaking a{width:54px;background-position:-290px -197px}
.header_one .sub_nav_list .menu.news_expert a{width:53px;background-position:-370px -197px}
.header_one .sub_nav_list .menu.news_magazine a{width:64px;background-position:-449px -197px}
.header_one .sub_nav_list .menu.news_trend a{width:53px;background-position:-539px -197px}
.header_one .sub_nav_list .menu.news_forum a{width:75px;background-position:-620px -197px}
.header_one .sub_nav_list .menu.news_headline.on a{background-position:6px -237px}
.header_one .sub_nav_list .menu.news_region.on a{background-position:-63px -237px}
.header_one .sub_nav_list .menu.news_issue.on a{background-position:-153px -237px}
.header_one .sub_nav_list .menu.news_field.on a{background-position:-210px -237px}
.header_one .sub_nav_list .menu.news_breaking.on a{background-position:-290px -237px}
.header_one .sub_nav_list .menu.news_expert.on a{background-position:-370px -237px}
.header_one .sub_nav_list .menu.news_magazine.on a{background-position:-449px -237px}
.header_one .sub_nav_list .menu.news_trend.on a{background-position:-539px -237px}
.header_one .sub_nav_list .menu.news_forum.on a{background-position:-620px -237px}
.header_one .sub_nav_list .menu.com_kin a{width:65px;background-position:0 -278px}
.header_one .sub_nav_list .menu.com_ourtown a{width:79px;background-position:-84px -278px}
.header_one .sub_nav_list .menu.com_sponsor a{width:54px;background-position:-187px -278px}
.header_one .sub_nav_list .menu.com_kin.on a{background-position:6px -317px}
.header_one .sub_nav_list .menu.com_ourtown.on a{background-position:-84px -317px}
.header_one .sub_nav_list .menu.com_sponsor.on a{background-position:-187px -317px}
.header_one .sub_nav_list .menu.auction_beginner a{width:67px;background-position:0 -358px}
.header_one .sub_nav_list .menu.auction_search a{width:55px;background-position:-87px -358px}
.header_one .sub_nav_list .menu.auction_report a{width:64px;background-position:-168px -358px}
.header_one .sub_nav_list .menu.auction_beginner.on a{background-position:6px -398px}
.header_one .sub_nav_list .menu.auction_search.on a{background-position:-87px -398px}
.header_one .sub_nav_list .menu.auction_report.on a{background-position:-168px -398px}
.header_one .sub_nav_list .menu.interest_article a{width:96px;background-position:0 -440px}
.header_one .sub_nav_list .menu.interest_column a{width:70px;background-position:-116px -440px}
.header_one .sub_nav_list .menu.isale_schedule_notice a{width:70px;background-position:-212px -440px}
.header_one .sub_nav_list .menu.secession a{width:78px;background-position:-308px -440px}
.header_one .sub_nav_list .menu.interest_article.on a{background-position:6px -479px}
.header_one .sub_nav_list .menu.interest_column.on a{background-position:-116px -479px}
.header_one .sub_nav_list .menu.isale_schedule_notice.on a{background-position:-212px -479px}
.header_one .sub_nav_list .menu.secession.on a{background-position:-308px -479px}
.header_one .logo_land_tool .icon,.header_one .logo_land_small .icon,.header_one .nav_list .menu.main_tool1 a,.header_one .nav_list .menu.main_tool2 a{background-image:url(../img/gnb/sp_tool_gnb_one.png)}
.header_one .logo_land_tool .icon{width:62px;background-position:0 0}
.header_one .logo_land_small .icon{width:57px;margin-left:5px;background-position:-71px 0}
.header_one .nav_list .menu.main_tool1 a{width:103px;background-position:0 -25px}
.header_one .nav_list .menu.main_tool2 a{width:49px;background-position:-118px -25px}
.header_one .nav_list .menu.main_tool1.on a{background-position:0 -55px}
.header_one .nav_list .menu.main_tool2.on a{background-position:-118px -55px}
.header_one .desc_wrap{overflow:hidden;height:35px;background:#f9fafb;border-bottom:1px solid #e5e5e5}
.header_one .desc_wrap .text{float:left;margin-top:9px;padding-left:11px;background:url(../img/gnb/bullet.gif) no-repeat 0 6px;font-size:11px;line-height:18px;color:#646464}
.header_one .desc_wrap .text .description{margin-right:14px}
.header_one .desc_wrap .text .description .bar{color:#b3b3b3}
.header_one .desc_wrap .text .description strong{color:#000}
.header_one .desc_wrap .button_area{float:right;margin-top:8px}
.header_one .desc_wrap .button_area a{padding:0;border:0}
.header_one .desc_wrap .button_area a.type_agency{width:74px;height:19px;background:url(../img/gnb/btn_agency.png) no-repeat 0 0}
#container2{margin:10px auto 0!important}
*{margin:0;padding:0}
img{vertical-align:top}
img,fieldset,button{border:0}
hr,button img{display:none}
li{list-style:none}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
textarea{overflow:auto}
html:first-child select{padding-right:6px;height:20px}
option{padding-right:6px}
button,label{cursor:pointer;cursor:hand}
button{background:0 0;background-repeat:no-repeat}
button *{position:relative}
.input_text,textarea{.margin:-1px 0;border:1px solid}
.input_check,.input_radio{width:13px;height:13px}
.blind,legend{position:absolute;top:0;left:0;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.clear{clear:both}
body{text-align:center;font-family:dotum,sans-serif;font-size:12px}
.selectbox-naked *{display:none}
.selectbox-naked input,.selectbox-naked select{display:inline}
.selectbox-naked select *{display:block}
.selectbox-applied{position:relative}
.selectbox-applied select{display:none}
.selectbox-applied .selectbox-box{height:18px;#height:20px;cursor:pointer;#cursor:hand;border:1px solid #bbb;background:#fff url(http://img.land.naver.com/imgland/sale/2009/bg_select_arw.gif) right 50% no-repeat;color:#606060;letter-spacing:-1px}
.selectbox-applied .selectbox-label{overflow:hidden;margin:4px 0 0 6px}
.selectbox-applied .selectbox-layer{overflow:hidden;position:absolute;z-index:99999;border:1px solid #bbb;margin-top:-1px}
.selectbox-applied .selectbox-list{overflow-y:auto;list-style:none;scrollbar-face-color:#fff;scrollbar-track-color:#f7f7f7;scrollbar-3dlight-color:#e3e3e3;scrollbar-arrow-color:#8d8d8d;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-darkshadow-color:#e3e3e3}
.selectbox-applied .selectbox-list li{width:100%;cursor:pointer;#cursor:hand;padding:3px 0 2px 0;#padding:4px 0 1px 0;background:#fff;color:#606060;text-indent:4px}
.selectbox-applied .selectbox-list li.selectbox-item-hovered{background-color:#f3f3f3;color:#333}
.selectbox_dim{position:absolute;left:0;top:0;background:#FFF;width:100%;height:20px;filter:alpha(opacity=50);opacity:.6;-ms-filter:"alpha(Opacity=60)";filter:alpha(Opacity=60)}
#container{position:relative;clear:both;width:980px;overflow:hidden;margin-top:12px;padding-bottom:60px;z-index:1}
#content{position:relative;float:left;width:680px}
#content .spot{position:relative;clear:both;width:100%;height:240px;margin-bottom:22px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot.gif) repeat-x left bottom;z-index:1}
#content .spot h3{height:24px;#height:34px;margin-left:2px;padding:9px 0 0 16px;border-top:1px solid #fff;background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_tit.gif) repeat-x left top;font-size:0}
#content .spot .search{position:relative;float:left;width:425px;#padding-top:1px;border-top:1px solid #9b9b9b;background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_item.gif) no-repeat left -1px;#background-position:left top}
#content .spot .search .type1{clear:both;width:404px;overflow:hidden;margin:1px 0 15px 15px;line-height:14px}
#content .spot .search .type1 dt{float:left;width:36px;#width:39px;padding:17px 0 0 3px}
#content .spot .search .type1 dd{float:left;width:362px;padding-top:15px}
#content .spot .search .type1 dd ul{clear:both;width:100%;overflow:hidden;padding-top:1px}
#content .spot .search .type1 dd li{float:left;margin-left:-1px;padding:0 11px 8px 10px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_spot_ctg.gif) no-repeat left 4px;letter-spacing:-1px}
#content .spot .search .type1 dd li a{color:#333}
#content .spot .search .type1 dt.theme{border-top:1px solid #eee;margin-top:5px}
#content .spot .search .type1 dd.theme{border-top:1px solid #eee;margin-top:5px}
#content .spot .search .type1 dd.theme li{width:70px;padding:0 0 5px 0;text-align:center}
#content .spot .search .type2{clear:both;width:423px;height:67px;#height:88px;margin-left:2px;padding-top:21px;background:#fbfbfb url(http://img.land.naver.com/imgland/sale/2009/bg_spot_type2.gif) repeat-x left top}
#content .spot .search .type2 dt{float:left;margin-bottom:10px;padding:4px 15px 0 16px}
#content .spot .search .type2 dt.when{padding-left:17px}
#content .spot .search .type2 dd{position:relative;float:left;margin-bottom:10px;z-index:1}
#content .spot .search .type2 dd.line1{position:relative;z-index:10}
#content .spot .search .btn_search{position:absolute;top:199px;right:17px}
#content .spot .news{float:left;width:254px;#width:255px;border-top:1px solid #9b9b9b;border-right:1px solid #9b9b9b;background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_item.gif) no-repeat left -1px}
#content .spot .news dl{position:relative;width:235px;height:76px;margin:16px 0 0 17px}
#content .spot .news dt{margin:3px 0 7px 99px;font-weight:700;letter-spacing:-1px}
#content .spot .news dt a{color:#333}
#content .spot .news dd{margin-left:99px}
#content .spot .news dd a{color:#5c5c5c;letter-spacing:-1px;line-height:18px;word-break:keep-all}
#content .spot .news dd.thumb{position:absolute;top:0;left:0;margin:0}
#content .spot .news ul{width:230px;#width:246px;margin-left:1px;padding:19px 0 11px 16px;#padding:18px 0 11px 16px;background:#fff}
#content .spot .news li{margin-bottom:4px;padding-left:10px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 4px;line-height:14px}
#content .spot .news li a{color:#333}
.left_side{position:relative;float:left;width:426px;z-index:0}
.center_side{float:right;width:238px}
.bottom{clear:both;width:100%}
.bottom h3{padding-bottom:9px;font-size:0}
.main_component{position:relative;width:100%}
.main_component h3{padding-bottom:9px;border-bottom:1px solid #eee;font-size:0}
.main_component .more{position:absolute;top:3px;right:4px;padding-right:6px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_more.gif) no-repeat right 2px;color:#afafaf;font-size:11px;letter-spacing:-1px}
.main_component .calendar_area{clear:both;width:100%;height:176px;overflow:hidden;margin:-1px 0 26px;background:url(http://static.land.naver.net/static/service/20100804/sale/bg_calendar.gif) no-repeat}
.main_component .calendar_area .left{float:left;width:186px;margin-right:13px}
.main_component .calendar_area .top{padding:9px 0 0 15px}
.main_component .calendar_area .top img{vertical-align:middle;margin-top:-2px}
.main_component .calendar_area .top .today{margin-left:29px;font-size:11px;color:#777;letter-spacing:-1px;text-decoration:underline}
.main_component .calendar_area .top strong{font-size:13px;font-family:tahoma;color:#4d4d4d;padding-right:1px}
.main_component .calendar_area .calendar{margin:25px 0 0 11px}
.main_component .calendar_area .calendar th{height:17px;vertical-align:top;font-size:0}
.main_component .calendar_area .calendar td{width:23px;font-size:10;font-family:tahoma;color:#868686;text-align:center;letter-spacing:-1px}
.main_component .calendar_area .calendar td a{display:block;width:17px;color:#3c3c3c;font-weight:700}
.main_component .calendar_area .calendar td a.select{background:#134d7a;color:#fff}
.main_component .calendar_area .calendar td.sun,.main_component .calendar_area .calendar td.sun a{color:#ff5151}
.main_component .calendar_area .calendar td.blank{height:6px;font-size:0}
.main_component .calendar_area .calendar .thisweek td{background:#e9edf1}
.main_component .calendar_area .cal_line6 th{height:15px}
.main_component .calendar_area .cal_line6 td.blank{height:4px}
.main_component .calendar_area .right{float:left;width:226px}
.main_component .calendar_area .right h4{padding:12px 0 8px 0;border-bottom:1px solid #eee;color:#4d4d4d;font-size:12px;letter-spacing:-1px}
.main_component .calendar_area .right h4.date{padding:10px 0 8px 0}
.main_component .calendar_area .right h4.date span{color:#134d7a;font-family:tahoma;letter-spacing:0}
.main_component .calendar_area .ing{clear:both;width:216px;height:115px;overflow-y:auto;overflow-x:hidden;margin-top:12px;border:1px solid #fff}
html:first-child .main_component .calendar_area .ing{overflow:auto}
.main_component .calendar_area .ing dt{float:left;width:33px;font-size:11px;letter-spacing:-1px;color:#a0a0a0}
.main_component .calendar_area .ing dt strong{font-family:tahoma;font-size:10px;letter-spacing:0}
.main_component .calendar_area .ing dt.on{color:#134d7a;padding-top:1px}
.main_component .calendar_area .ing dd{float:left;width:160px;padding:1px 0 4px;letter-spacing:-1px}
.main_component .calendar_area .ing dd li{margin-bottom:3px;padding-left:7px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq2.gif) no-repeat 0 6px;line-height:16px}
.main_component .calendar_area .ing dd li a{color:#555}
.main_component .calendar_area .ing dd p{margin-top:-1px;padding-bottom:3px;color:#666;line-height:14px}
.main_component .tabmenu{clear:both;width:100%;overflow:hidden;margin-bottom:12px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_line_tab.gif) no-repeat left bottom;padding-left:1px}
.main_component .tabmenu li{float:left;display:inline}
.main_component .tabmenu li.on{margin-left:-1px;border-left:1px solid #d4d4d4}
.main_component .submenu{clear:both;width:100%;overflow:hidden;margin:12px 0 9px -10px}
.main_component .submenu li{float:left;margin-left:-1px;padding:0 10px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_submenu.gif) no-repeat left 2px}
.main_component .sale_detail{position:relative;width:100%;margin-bottom:31px;#margin-bottom:34px;padding-top:1px}
.main_component .sale_detail h4{margin-left:203px;padding:7px 0 6px;font-size:12px;letter-spacing:-1px;line-height:14px}
.main_component .sale_detail h4 a{color:#333}
.main_component .sale_detail h4.type2{padding:2px 0 6px}
.main_component .sale_detail dl{clear:both;width:222px;overflow:hidden;margin-left:203px;padding:3px 0}
.main_component .sale_detail dt{float:left;width:52px;margin-right:5px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_sale_detail.gif) no-repeat right 4px;letter-spacing:-1px;color:#333;line-height:14px}
.main_component .sale_detail dd{float:left;width:160px;margin:1px 0 3px;color:#333;line-height:14px}
.main_component .sale_detail dd.thm{margin:0 0 5px;font-family:tahoma}
.main_component .sale_detail .thumb{position:absolute;top:2px;left:0}
.main_component .sale_detail .thumb a{display:block;width:186px}
.main_component .sale_detail .thumb a:hover,.main_component .sale_detail .thumb a:focus,.main_component .sale_detail .thumb a:active{text-decoration:none}
.main_component .sale_detail .thumb .tit{position:absolute;left:0;top:73px;width:100%;height:24px;.cursor:hand;background:url(http://img.land.naver.com/imgland/sale/2009/bg_sale_detail_txt.png);#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.land.naver.com/imgland/sale/2009/bg_sale_detail_txt.png', sizingMethod='crop')}
.main_component .sale_detail .thumb .tit span{display:block;width:100%;padding-top:7px;text-align:center;color:#fff;font-weight:700}
.main_component .sale_detail .prefer{width:226px;overflow:hidden;margin-left:202px;margin-bottom:-1px}
.main_component .sale_detail .prefer li{position:relative;height:16px;margin-top:4px;padding-left:9px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 3px;color:#111;letter-spacing:-1px}
.main_component .sale_detail .prefer li .star{position:absolute;top:-1px;right:0}
.main_component .nav_detail{position:absolute;top:156px;right:0}
.main_component .nav_detail .prev{margin-right:-1px}
.main_component .skech{position:relative;width:100%;height:151px;margin:24px 0 35px;border-bottom:1px solid #eee}
.main_component .skech .photo{position:absolute;top:0;left:36px;width:160px;text-align:center;z-index:1}
.main_component .skech .photo .tit{display:block;width:100%;margin-top:10px;text-align:center;letter-spacing:-1px}
.main_component .skech .photo a{color:#111}
.main_component .skech .nav{position:absolute;top:48px;left:16px;z-index:0}
.main_component .skech .nav .prev{margin-right:175px}
.main_component .focus{position:relative;width:100%;height:76px;margin:14px 0 4px}
.main_component .focus dt{margin:3px 0 7px 99px;font-weight:700;letter-spacing:-1px}
.main_component .focus dt a{color:#333}
.main_component .focus dd{margin-left:99px}
.main_component .focus dd a{color:#5c5c5c;letter-spacing:-1px;line-height:18px;word-break:keep-all}
.main_component .focus dd.thumb{position:absolute;top:0;left:0;margin:0}
.main_component .img_focus{margin:14px 0 5px}
.main_component .normal{width:100%;padding:13px 0 24px}
.main_component .normal li{margin-bottom:4px;padding-left:10px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 4px;line-height:14px}
.main_component .normal li a{color:#333}
.newtown{width:100%;font-size:12px;border-top:1px solid #b7b7b7;border-bottom:1px solid #eee;table-layout:fixed}
.newtown th{padding:8px 0 4px;border-right:1px solid #eee;background:url(http://img.land.naver.com/imgland/sale/2009/bg_table_head.gif) repeat-x left top;color:#505050}
.newtown td{padding:14px 0;border-top:1px solid #eee;border-right:1px solid #eee;vertical-align:top}
.newtown td.emphasis{border-top:1px solid dedede}
.newtown td.emphasis p.thumb{float:left;padding:0 8px 0 13px}
.newtown td.emphasis p.txt{float:left;width:120px;padding-top:6px;letter-spacing:-1px;line-height:16px;word-break:keep-all}
.newtown td.emphasis p.txt a{color:#333}
.newtown td .citylist{clear:both;width:100%;overflow:hidden;margin-left:3px}
.newtown td .citylist li{float:left;width:61px;#width:77px;margin-bottom:8px;padding-left:16px;background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq2.gif) no-repeat 10px 3px;letter-spacing:-1px}
.newtown td .citylist li a{color:#666}
.newtown td .citylist li.one{width:180px}
.newtown td.left p.thumb{padding-left:9px}
.newtown td.left .citylist{margin-left:5px}
.newtown td.left .citylist li{width:67px;#width:81px;padding:0 5px 0 9px;background-position:4px 3px}
.newtown td.left .citylist li.one{width:200px}
.newtown .end{border-right:none}
.newtown td.end p.txt{width:90px;padding-top:0}
.aside{position:relative;float:right;width:280px}
.aside .banner{margin-top:7px}
.side_component{position:relative;margin-top:7px;border:1px solid #e4e4e4}
.side_component h3{padding:10px 0 9px 15px;#padding:10px 0 11px 15px;background:url(http://img.land.naver.com/imgland/sale/2009/bg_aside_tit.gif) repeat-x left top;font-size:12px}
.side_component .pop_housing{width:252px;margin:10px 0 0 13px;table-layout:fixed}
.side_component .pop_housing th{padding:4px 0;background:#f7f7f7;border-top:1px solid #eaeaea;border-bottom:1px solid #eaeaea;color:#4f4f4f;letter-spacing:-1px;font-weight:400}
.side_component .pop_housing th.tl1{padding-left:16px;text-align:left}
.side_component .pop_housing th.tl2{padding-left:11px;text-align:left}
.side_component .pop_housing th.linelt{border-left:1px solid #eaeaea}
.side_component .pop_housing th.linert{border-right:1px solid #eaeaea}
.side_component .pop_housing td{padding:5px 0 3px}
.side_component .pop_housing td.name{letter-spacing:-1px}
.side_component .pop_housing td.name a{color:#000}
.side_component .pop_housing td.name img{margin-top:-1px;margin-right:1px}
.side_component .pop_housing td.rank{color:#9a9a9a;font-family:tahoma;text-align:center}
.side_component .pop_housing td.rank img{vertical-align:middle}
.side_component .pop_housing td.rank img.ico_stat{margin-right:3px}
.side_component .pop_housing td.period{padding-left:11px;color:#9a9a9a;font-family:tahoma;font-size:11px}
.side_component .pop_housing td.period img{vertical-align:middle}
.side_component .pop_housing td.blank{height:9px;padding:0;font-size:0}
.side_component .housing{margin:14px 13px -1px 13px}
.side_component .housing li{position:relative;width:100%;height:49px;margin-bottom:18px;#margin-bottom:13px}
.side_component .housing li p{margin-left:76px;padding-top:9px;color:#343434;line-height:16px}
.side_component .housing li p a{color:#333}
.side_component .housing li p.date{color:#999;font-family:tahoma}
.side_component .housing li p.thumb{position:absolute;top:0;left:0;margin:0;padding:0}
.side_component .best_brand{clear:both;width:266px;overflow:hidden;margin-left:10px;padding:9px 0 10px}
.side_component .best_brand li{width:66px;float:left;padding:3px 0;text-align:center}
.scroll{scrollbar-face-color:#fff;scrollbar-track-color:#f7f7f7;scrollbar-3dlight-color:#e3e3e3;scrollbar-arrow-color:#8d8d8d;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-darkshadow-color:#e3e3e3}
.sale_info{overflow:hidden;width:100%;margin:14px 0 0}
.sale_info .thumb{float:left;width:92px}
.sale_info .info{float:left;width:142px}
.sale_info .info h4{margin-top:3px;font-size:12px;letter-spacing:-1px}
.sale_info .info h4 a{color:#111}
.sale_info .info p{margin:6px 0 0 1px;line-height:18px;letter-spacing:-1px}
.sale_info .info p a{color:#5f5f5f}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
body,input,textarea,select,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.blind_caption{overflow:hidden;visibility:visible;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
body{margin:0}
h1,h2,h3,h4,h5,h6,p{outline:0}
#wrap{position:relative;text-align:left}
#u_skip{position:relative;z-index:2147483647}
#u_skip a{position:absolute;left:0;top:-45px;width:128px;background:url(../img/lnb/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:0}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/lnb/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}
#footer{clear:both;padding:40px 0 30px;border-top:1px solid #dedede;text-align:center;zoom:1}
#footer *{margin:0;padding:0;font-size:12px;font-style:normal;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:normal;color:#333;list-style:none}
#footer img{vertical-align:top}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 9px}
#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) left 3px no-repeat;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}
#footer ul li.first{padding:0 3px 0 0;background:0 0}
#footer .info{margin:0 0 11px;font-size:11px;line-height:15px;color:#7e7e7e}
#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}
#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) 1px 50% no-repeat;#background-position:left 10%;font-size:11px}
#footer address{font:9px/14px Verdana}
#footer address img{vertical-align:middle}
#footer address a{font:700 9px Tahoma;color:#444}
#footer address a:hover{color:#2cb400}
#footer address span{padding-left:2px;font:9px/14px Verdana}
#footer address em{padding-left:3px;font:9px verdana}
#footer address .logo{display:inline-block;overflow:hidden;width:58px;height:11px;margin:-1px 0 1px;background:url(../img/footer/bg_header_footer.gif) no-repeat -524px -84px;line-height:999px;vertical-align:middle}
#footer .sta_search_box{overflow:hidden;width:322px;margin:0 auto 22px;padding-top:10px}
#footer .sta_search_box .sta_search_text{float:left;width:202px;height:17px;.height:15px;margin-right:3px;padding:2px 0 0 7px;.padding:4px 0 0 7px;border:0;border:3px solid #3eaf0e;font:12px '돋움',Dotum,AppleGothic,sans-serif;color:#888;vertical-align:middle}
#footer .sta_search_box .sta_text_ovr{color:#000}
#footer .sta_search_box .btn_search{display:inline-block;overflow:hidden;width:42px;height:25px;margin-left:-3px;background:url(../img/home/bg_header_footer.gif) no-repeat -524px -49px;line-height:999px;vertical-align:top}
#footer .sta_search_box .btn_search2{display:inline-block;overflow:hidden;width:56px;height:25px;background:url(../img/home/bg_header_footer.gif) no-repeat -569px -49px;line-height:999px;vertical-align:top}
.hidden{display:none}
.view_mobile{width:100%;height:17px;padding:20px 0;border-top:1px solid #e7e7e7;background-color:#f3f3f3;text-align:center}
.view_mobile strong{display:inline-block;overflow:hidden;width:176px;height:17px;background:url(../img/footer/view_mobile.gif) no-repeat;text-indent:-9999px;vertical-align:top}
/*# sourceMappingURL=maps/sale.css.map */
