#container,#footer{width:980px;margin:0 auto}
.header_one{position:relative;z-index:60;margin-bottom:10px}
.header_one:after,.header_one .inner_wrap:after{display:block;clear:both;content:''}
.header_one .blind,.header_one legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.header_one .icon,.header_one .nav_list .menu a,.header_one .sub_nav_list .menu a,.header_one .button_area a{display:inline-block;overflow:hidden;background-image:url(../img/gnb/sp_gnb_one.png);background-repeat:no-repeat;color:transparent;line-height:999px;vertical-align:top}
.header_one .inner_wrap{position:relative;width:980px;margin:0 auto}
.header_one .gnb_wrap,.header_one .nav_wrap,.header_one .sub_nav_wrap{min-width:980px}
.header_one .gnb_wrap{position:relative;z-index:1;background:#00c73c;border-bottom:1px solid #00a732}
.header_one .gnb_wrap .inner_wrap{height:54px}
.header_one .item_area{float:left}
.header_one .logo_area{float:left;margin:16px 14px 0 -1px}
.header_one .logo_area a{display:inline-block;float:left;margin-right:4px}
.header_one .logo_area .icon{height:24px}
.header_one .logo_naver .icon{width:55px;background-position:0 0}
.header_one .logo_land .icon{width:63px;background-position:-59px 0}
.header_one .inner_gnb_search{float:left;margin-top:9px}
.header_one input{font-family:'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD GothicNeo',Sans-serif}
.header_one .search_input,.header_one .search_button{float:left;height:35px;border:1px solid #00a933}
.header_one .search_input{width:300px;padding:0 10px;border-right-width:0;line-height:35px;color:#999}
.header_one .search_button{margin-right:3px;background:#00b336;color:#fff;text-align:center;vertical-align:middle}
.header_one .search_button.type_inside{width:35px;border-left-width:0}
.header_one .search_button.type_integration{width:65px}
.header_one .search_button.type_inside .icon{width:15px;height:15px;margin-top:10px;background-position:-130px 0}
.header_one .search_button.type_integration .icon{width:48px;height:14px;margin-top:11px;background-position:-150px 0}
.header_one .gnb_area{float:right}
.header_one .gnb_name{max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.header_one .nav_wrap,.header_one .sub_nav_wrap{border-bottom:1px solid #e5e5e5}
.header_one .nav_wrap .inner_wrap,.header_one .sub_nav_wrap .inner_wrap{height:40px}
.header_one .nav_list,.header_one .nav_list .menu,.header_one .sub_nav_list,.header_one .sub_nav_list .menu{float:left}
.header_one .nav_list .menu a{position:relative;height:41px;padding:0 15px}
.header_one .nav_list .menu:first-child a{padding-left:0}
.header_one .nav_list .menu.on a{color:#00c73c}
.header_one .nav_list .menu.on a:after{position:absolute;left:15px;right:15px;bottom:0;height:3px;background:#00c73c;content:''}
.header_one .nav_list .menu.on:first-child a:after{left:0}
.header_one .sub_nav_wrap{background:#fafafa}
.header_one .sub_nav_list{margin-top:8px}
.header_one .sub_nav_list .menu a{height:24px;margin-right:14px;padding:0 6px}
.header_one .sub_nav_list .menu.on a{background-color:#00c73c}
.header_one .sub_nav_list .menu:first-child a{padding-left:0}
.header_one .sub_nav_list .menu.on:first-child a{padding-left:6px}
.header_one .button_area{float:right;margin-top:7px}
.header_one .button_area a{height:24px;padding:0 15px;border:1px solid #d7d7d7;background-color:#fcfcfc}
.header_one .nav_list .menu.main_home a{width:54px;background-position:0 -30px}
.header_one .nav_list .menu.main_article a{width:25px;background-position:-69px -30px}
.header_one .nav_list .menu.main_isale a{width:26px;background-position:-123px -30px}
.header_one .nav_list .menu.main_news a{width:25px;background-position:-177px -30px}
.header_one .nav_list .menu.main_community a{width:48px;background-position:-232px -30px}
.header_one .nav_list .menu.main_auction a{width:24px;background-position:-309px -30px}
.header_one .nav_list .menu.main_mypage a{width:59px;background-position:-362px -30px}
.header_one .nav_list .menu.main_home.on a{background-position:0 -70px}
.header_one .nav_list .menu.main_article.on a{background-position:-69px -70px}
.header_one .nav_list .menu.main_isale.on a{background-position:-123px -70px}
.header_one .nav_list .menu.main_news.on a{background-position:-177px -70px}
.header_one .nav_list .menu.main_community.on a{background-position:-232px -70px}
.header_one .nav_list .menu.main_auction.on a{background-position:-309px -70px}
.header_one .nav_list .menu.main_mypage.on a{background-position:-362px -70px}
.header_one .button_area a.type_admin{width:81px;background-position:-450px -37px}
.header_one .sub_nav_list .menu.saleinfo a{width:43px;background-position:0 -118px}
.header_one .sub_nav_list .menu.salenews a{width:41px;background-position:-62px -118px}
.header_one .sub_nav_list .menu.salehelp a{width:33px;background-position:-129px -118px}
.header_one .sub_nav_list .menu.saleinfo.on a{background-position:6px -157px}
.header_one .sub_nav_list .menu.salenews.on a{background-position:-62px -157px}
.header_one .sub_nav_list .menu.salehelp.on a{background-position:-129px -157px}
.header_one .sub_nav_list .menu.news_headline a{width:43px;background-position:0 -197px}
.header_one .sub_nav_list .menu.news_region a{width:64px;background-position:-63px -197px}
.header_one .sub_nav_list .menu.news_issue a{width:31px;background-position:-153px -197px}
.header_one .sub_nav_list .menu.news_field a{width:54px;background-position:-210px -197px}
.header_one .sub_nav_list .menu.news_breaking a{width:54px;background-position:-290px -197px}
.header_one .sub_nav_list .menu.news_expert a{width:53px;background-position:-370px -197px}
.header_one .sub_nav_list .menu.news_magazine a{width:64px;background-position:-449px -197px}
.header_one .sub_nav_list .menu.news_trend a{width:53px;background-position:-539px -197px}
.header_one .sub_nav_list .menu.news_forum a{width:75px;background-position:-620px -197px}
.header_one .sub_nav_list .menu.news_headline.on a{background-position:6px -237px}
.header_one .sub_nav_list .menu.news_region.on a{background-position:-63px -237px}
.header_one .sub_nav_list .menu.news_issue.on a{background-position:-153px -237px}
.header_one .sub_nav_list .menu.news_field.on a{background-position:-210px -237px}
.header_one .sub_nav_list .menu.news_breaking.on a{background-position:-290px -237px}
.header_one .sub_nav_list .menu.news_expert.on a{background-position:-370px -237px}
.header_one .sub_nav_list .menu.news_magazine.on a{background-position:-449px -237px}
.header_one .sub_nav_list .menu.news_trend.on a{background-position:-539px -237px}
.header_one .sub_nav_list .menu.news_forum.on a{background-position:-620px -237px}
.header_one .sub_nav_list .menu.com_kin a{width:65px;background-position:0 -278px}
.header_one .sub_nav_list .menu.com_ourtown a{width:79px;background-position:-84px -278px}
.header_one .sub_nav_list .menu.com_sponsor a{width:54px;background-position:-187px -278px}
.header_one .sub_nav_list .menu.com_kin.on a{background-position:6px -317px}
.header_one .sub_nav_list .menu.com_ourtown.on a{background-position:-84px -317px}
.header_one .sub_nav_list .menu.com_sponsor.on a{background-position:-187px -317px}
.header_one .sub_nav_list .menu.auction_beginner a{width:67px;background-position:0 -358px}
.header_one .sub_nav_list .menu.auction_search a{width:55px;background-position:-87px -358px}
.header_one .sub_nav_list .menu.auction_report a{width:64px;background-position:-168px -358px}
.header_one .sub_nav_list .menu.auction_beginner.on a{background-position:6px -398px}
.header_one .sub_nav_list .menu.auction_search.on a{background-position:-87px -398px}
.header_one .sub_nav_list .menu.auction_report.on a{background-position:-168px -398px}
.header_one .sub_nav_list .menu.interest_article a{width:96px;background-position:0 -440px}
.header_one .sub_nav_list .menu.interest_column a{width:70px;background-position:-116px -440px}
.header_one .sub_nav_list .menu.isale_schedule_notice a{width:70px;background-position:-212px -440px}
.header_one .sub_nav_list .menu.secession a{width:78px;background-position:-308px -440px}
.header_one .sub_nav_list .menu.interest_article.on a{background-position:6px -479px}
.header_one .sub_nav_list .menu.interest_column.on a{background-position:-116px -479px}
.header_one .sub_nav_list .menu.isale_schedule_notice.on a{background-position:-212px -479px}
.header_one .sub_nav_list .menu.secession.on a{background-position:-308px -479px}
.header_one .logo_land_tool .icon,.header_one .logo_land_small .icon,.header_one .nav_list .menu.main_tool1 a,.header_one .nav_list .menu.main_tool2 a{background-image:url(../img/gnb/sp_tool_gnb_one.png)}
.header_one .logo_land_tool .icon{width:62px;background-position:0 0}
.header_one .logo_land_small .icon{width:57px;margin-left:5px;background-position:-71px 0}
.header_one .nav_list .menu.main_tool1 a{width:103px;background-position:0 -25px}
.header_one .nav_list .menu.main_tool2 a{width:49px;background-position:-118px -25px}
.header_one .nav_list .menu.main_tool1.on a{background-position:0 -55px}
.header_one .nav_list .menu.main_tool2.on a{background-position:-118px -55px}
.header_one .desc_wrap{overflow:hidden;height:35px;background:#f9fafb;border-bottom:1px solid #e5e5e5}
.header_one .desc_wrap .text{float:left;margin-top:9px;padding-left:11px;background:url(../img/gnb/bullet.gif) no-repeat 0 6px;font-size:11px;line-height:18px;color:#646464}
.header_one .desc_wrap .text .description{margin-right:14px}
.header_one .desc_wrap .text .description .bar{color:#b3b3b3}
.header_one .desc_wrap .text .description strong{color:#000}
.header_one .desc_wrap .button_area{float:right;margin-top:8px}
.header_one .desc_wrap .button_area a{padding:0;border:0}
.header_one .desc_wrap .button_area a.type_agency{width:74px;height:19px;background:url(../img/gnb/btn_agency.png) no-repeat 0 0}
#container2{margin:10px auto 0!important}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
body,input,textarea,select,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
table th{text-align:center}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.hidden{display:none}
.recommend{overflow:hidden;position:relative;margin:0 0 26px;width:734px}
.recommend h3{height:25px;.height:23px;padding:0 0 0 7px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#222}
.recommend h4{height:26px;margin:21px 0 0 5px;font-size:14px;color:#0E0F0E}
.recommend h5{overflow:hidden;height:13px;margin:0 0 7px 5px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_maintenace_svr.gif) no-repeat 0 0;line-height:999px;vertical-align:top}
.recommend p.img{display:inline;overflow:hidden;float:left;position:relative;width:219px;height:160px;margin:0 0 0 7px;padding:2px;border:1px solid #D8DADD}
.recommend .info{float:left;position:relative;width:315px;margin:0 0 0 9px}
.recommend .info h5{width:44px;background-position:0 -18px}
.recommend .info table{width:100%;border-collapse:collapse;border:none;border-top:1px solid #D8DADD}
.recommend .info table th,.recommend .info table td{height:28px;padding:0 0 0 10px;border:none;border-bottom:1px solid #EEEEF1}
:root .recommend .info table th,:root .recommend .info table td{height:29px}
.recommend .info table th{width:92px;border-right:1px solid #EEEEF1;background:#F9F9F9;font-weight:400;text-align:left;white-space:nowrap}
.recommend .info table th.w{width:49px;border-left:1px solid #EEEEF1}
.recommend .info table tr.btm th,.recommend .info table tr.btm td{border-bottom:1px solid #D8DADD}
.recommend .ground_plan{float:right;position:relative;width:175px}
.recommend .ground_plan h5{width:31px;background-position:0 -36px}
.recommend .ground_plan p{border:1px solid #D8DADD}
.recommend .pic{overflow:hidden;clear:both;position:relative;margin:0 0 0 7px;padding:17px 0 0;zoom:1}
.recommend .pic h4{overflow:hidden;width:42px;height:13px;margin:0 0 10px 5px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_maintenace_svr.gif) no-repeat 0 0;line-height:999px;vertical-align:top}
.recommend .pic ul{overflow:hidden;position:relative;height:104px;border:1px solid #D8DADD}
.recommend .pic ul li{display:inline;float:left;position:relative;width:131px;height:84px;margin:10px 0 0 13px}
.recommend .pic ul li.frst{margin-left:12px}
.recommend .pic ul li span{display:block;position:absolute;top:0;left:0;z-index:20;width:129px;height:82px;border:1px solid #E5E5E5;opacity:.3;filter:alpha(opacity=30)}
.recommend .more{position:relative;margin:8px 1px 0 0;text-align:right}
.recommend .more a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .recommend .more a{background-position:100% -37px}
.qna{overflow:hidden;position:relative;margin:0 0 26px}
.qna h3{height:25px;.height:23px;padding:0 0 0 7px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#222}
.qna ul{position:relative;overflow:hidden}
.qna ul li{position:relative;border-bottom:1px solid #E5E5E5;padding:15px 18px 6px 40px;overflow:hidden;zoom:1}
.qna ul li span.q{vertical-align:999px;line-height:999px;position:absolute;display:inline;left:0;top:0;margin:16px 0 0 18px;width:16px;height:16px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_maintenace_svr.gif) no-repeat -52px 0;overflow:hidden}
.qna ul li h4 a{color:#111!important;font-size:12px;float:left}
.qna ul li em{display:inline-block;color:#888;margin:0 10px;line-height:1.5;.line-height:1.4;#line-height:1.3}
.qna ul li p{clear:both}
.qna ul li a{color:#666;line-height:18px}
.qna .more{position:relative;margin:8px 1px 0 0;text-align:right}
.qna .more a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .qna .more a{background-position:100% -37px}
.qna2{overflow:hidden;position:relative;margin:0 0 26px}
.qna2 h3{height:25px;.height:23px;padding:0 0 0 7px;font-size:14px;color:#222}
.qna2 ul{overflow:hidden;position:relative}
.qna2 ul li{overflow:hidden;position:relative;padding:15px 18px 6px 40px;border-bottom:1px solid #E5E5E5;zoom:1}
.qna2 ul li span.q{display:inline;overflow:hidden;position:absolute;top:0;left:0;width:16px;height:16px;margin:16px 0 0 18px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_maintenace_svr.gif) no-repeat -52px 0;line-height:999px;vertical-align:999px}
.qna2 ul li h4 a{float:left;font-size:12px;color:#111!important}
.qna2 ul li em{display:inline-block;margin:0 10px;line-height:1.5;.line-height:1.4;#line-height:1.3;color:#888}
.qna2 ul li p{clear:both}
.qna2 ul li a{line-height:18px;color:#666}
.qna2 ul li.spot{margin-bottom:6px;padding:18px 59px 9px 220px;.padding:17px 59px 10px 220px;border:4px solid #EFEFEF}
.qna2 ul li.spot span.q{width:167px;height:98px;margin:14px 0 0 27px;background-position:-69px 0}
.qna2 ul li.spot h4{margin:0 0 6px;.margin:0 0 7px 0}
.qna2 ul li.spot h4 a{float:none;font-size:16px}
.qna2 ul li.spot a{letter-spacing:-1px}
.qna2 ul li.spot em{float:none;margin:5px 0 0}
.qna2 .more{position:relative;margin:10px 1px 0 0;text-align:right}
.qna2 .more a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .qna2 .more a{background-position:100% -37px}
.story{overflow:hidden;position:relative;margin:0 0 59px;zoom:1}
.story h3{height:25px;.height:23px;padding:0 0 0 7px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#222}
.story ul{overflow:hidden;position:relative;margin:24px 0 0;padding:0 0 0 7px}
.story ul li{overflow:hidden;float:left;position:relative;margin:0 0 0 11px;padding:2px;border:1px solid #D8DADD}
.story ul li.frst{margin:0}
.story ul li.img{height:83px}
.story ul li.spot{float:none;margin:0 0 22px;padding:0 19px 0 0;border:none}
.story ul li.spot a.img{display:block;overflow:hidden;float:left;margin:0 19px 0 0;padding:3px;border:1px solid #D8DADD}
.story ul li.spot a{letter-spacing:-1px}
.story ul li.spot h4{margin:0 0 6px;#margin:-16px 0 7px 0;line-height:1.7}
.story ul li.spot h4 a{font-size:16px;color:#111}
.story ul li.spot h4 span{margin:0 0 0 7px;font-size:12px;font-weight:400;color:#888}
.story ul li.spot p.con{text-align:justify}
.story ul li.spot p.con a{line-height:20px;color:#666}
.story .more{position:relative;margin:11px 1px 0 0;text-align:right}
.story .more a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .story .more a{background-position:100% -37px}
.special{overflow:hidden;position:relative}
.special h3{height:25px;.height:23px;padding:0 0 0 7px;font-size:14px;color:#222;letter-spacing:-1px}
.special h3.b_line{margin:0 0 16px;border-bottom:1px solid #E5E5E5}
.special p.more a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .special .more a{background-position:100% -37px}
.spot_news{overflow:hidden;position:relative;margin:0 8px 35px;padding:15px 14px;background:#F3F3F3;zoom:1}
.spot_news .img{overflow:hidden;float:left;position:relative;margin:0 21px 0 0}
.spot_news .img img{position:relative;z-index:10}
.spot_news .img span{position:absolute;top:0;left:0;z-index:20;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.spot_news h4{height:30px;padding:5px 0 0}
.spot_news h4 a{font-size:16px;color:#111}
.spot_news p.con{text-align:justify}
.spot_news p.con a{line-height:20px;color:#666;letter-spacing:-1px}
.spot_news .more{position:absolute;top:0;right:0;margin:20px 16px 0 0}
:root .spot_news .more{margin-top:16px}
.trend{overflow:hidden;position:relative;margin:0 8px 41px;padding:17px 11px;border:4px solid #E1E1E1;zoom:1}
.trend .map{overflow:hidden;float:left;position:relative;width:336px;height:265px}
.trend ul{overflow:hidden;float:right;position:relative;width:347px}
.trend ul li{overflow:hidden;position:relative;margin:0 0 11px;text-align:justify}
.trend ul li img{float:left;margin:0 16px 0 0;border:1px solid #DCDCDC}
.trend ul li a{line-height:17px;color:#666;letter-spacing:-1px}
.trend ul li a strong{display:inline-block;padding:1px 0 4px;color:#333;letter-spacing:0}
.trend .more{clear:both;position:absolute;right:0;bottom:0;margin:0 11px 10px 0}
ul.sale_list{overflow:hidden;overflow:hidden;position:relative;margin:4px 8px 52px;padding:17px 0 10px 14px;.padding:19px 0 17px 14px;border:1px solid #E5E5E5;background:#F3F3F3;zoom:1}
ul.sale_list li{float:left;float:left;width:218px;margin:0 0 6px;.margin:0 0 9px;padding:0 0 0 6px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bu_dot2.gif) no-repeat 0 4px}
ul.sale_list li a{color:#0033AC;letter-spacing:-1px}
.news{overflow:hidden;position:relative;margin:0 23px 32px 27px}
.news ul{overflow:hidden;position:relative;margin:0 18px 0 0}
.news ul li{overflow:hidden;position:relative;margin:0 0 13px;.margin:0 0 15px;zoom:1}
.news ul li div{overflow:hidden;position:relative}
.news ul li a.pic{display:block;overflow:hidden;float:left;position:relative;width:69px;margin:0 11px 0 0;padding:0 0 3px}
.news ul li a.tit{position:relative;top:0;color:#000063}
:root .news ul li a.tit{top:-2px}
.news ul li a.tit strong{display:inline-block;margin:0 0 6px;font-size:14px;color:#000063}
:root .news ul li a.tit strong{margin:0 0 2px}
.news ul li a.con{margin:0 0 5px;line-height:17px;color:#444}
.news ul li em{font-size:11px;font-style:normal;color:#999}
.news ul li em span{color:#E7E7E7}
.news ul li em strong{font-weight:400;color:#D17575}
.news ul ul{clear:both;position:relative;margin:6px 0 0;.margin:8px 0 0}
.news ul ul li{margin:0;padding:0 0 0 12px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bu_sub_lst.gif) no-repeat 0 4px}
.news ul ul li a{color:#333}
.news .more{clear:both;position:relative;text-align:right}
.expert{overflow:hidden;position:relative;margin:0 0 32px 8px}
.expert .lst{overflow:hidden;float:left;position:relative;width:444px}
.expert .lst ul{overflow:hidden;position:relative;margin:0 3px 0 0}
.expert .lst ul li{overflow:hidden;position:relative;margin:0 0 11px;text-align:justify}
.expert .lst ul li img{float:left;margin:0 16px 0 0;border:1px solid #DCDCDC}
.expert .lst ul li a{line-height:17px;color:#666;letter-spacing:-1px}
.expert .lst ul li a strong{display:inline-block;padding:1px 0 5px;color:#333;letter-spacing:0}
.expert .lst ul li em{display:inline-block;margin:5px 0 0;font-size:11px;font-style:normal;color:#999}
.expert .lst ul li em span{color:#E7E7E7}
.expert .lst p.more{margin:7px 0 0;text-align:right}
.expert .poll{overflow:hidden;overflow:hidden;float:right;position:relative;width:228px}
.expert .poll h5{overflow:hidden;position:relative;width:83px;height:10px;margin:0 0 15px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_special.gif) no-repeat 0 0;line-height:999px;vertical-align:top}
.expert .poll dl{position:relative;width:206px;height:168px;padding:0 10px;border:1px solid #E5E5E5}
.expert .poll dl dt{position:relative;margin:15px 0 16px;.margin-bottom:17px;padding:0 0 7px 20px;.padding-bottom:11px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_dotted_line.gif) repeat-x 0 100%;line-height:16px;color:#3C3C3C;letter-spacing:-1px;zoom:1}
.expert .poll dl dt span.q{display:block;overflow:hidden;position:absolute;top:0;.top:-2px;left:4px;width:12px;height:13px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_special.gif) no-repeat 0 -14px;line-height:999px;vertical-align:top}
.expert .poll dl dt em{display:inline-block;margin:1px 0 0;font-size:11px;font-style:normal;color:#999;letter-spacing:0}
.expert .poll dl dt em span{color:#E7E7E7}
.expert .poll dl dt em strong{font-weight:400;color:#6991E3}
.expert .poll dl dd{padding:0 0 0 6px;color:#666}
.expert .poll dl dd ul li{margin:0 0 5px;font-size:11px;color:#666;letter-spacing:-1px}
.expert .poll dl dd strong{font-weight:400}
.expert .poll dl dd strong.a{color:#517BD5}
.expert .poll dl dd strong.b{color:#E04E3B}
.expert .poll .btn_poll{position:absolute;width:100%;margin:-36px 0 0;text-align:center}
.expert .poll .btn_poll a{display:inline-block;overflow:hidden;overflow:hidden;width:54px;height:22px;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_special.gif) no-repeat -96px 0;line-height:999px;vertical-align:top}
.expert .poll p.more{position:absolute;top:0;right:0}
.expert .poll p.more a{background-position:100% -757px;font-size:11px;color:#9B9B9B}
:root .expert .poll p.more a{background-position:100% -755px}
.area_info{overflow:hidden;overflow:hidden;clear:both;position:relative;zoom:1}
.area_info h3{position:relative;padding:0 0 8px 10px;border-bottom:1px solid #d5d5d5;font-family:'굴림',gulim;font-size:12px;color:#666;vertical-align:top}
.area_info .hotarea{overflow:hidden;position:relative;margin:0 0 37px;padding:20px 10px 5px;border-bottom:1px solid #e9e9e9;color:#666}
.area_info .hotarea h4{padding-bottom:17px;font-size:12px;color:#000}
.area_info .hotarea h4 a{color:#000}
.area_info .hotarea .text{margin-bottom:17px;font-family:'돋움';line-height:18px;color:#333;text-align:justify}
.area_info .hotarea .text a{color:#333;text-decoration:none}
.area_info .hotarea .text br{line-height:9px}
.area_info .hotarea .thumb{float:left;margin:0 20px 20px 0}
.area_info table{width:100%;margin-top:15px;border-collapse:collapse;border:none;background-color:#fbfbfb;color:#666;table-layout:fixed}
.area_info table th,.area_info table td{border:none}
.area_info table th{padding:3px 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 10px -573px;text-align:left;vertical-align:top}
.area_info table th span{display:inline-block;padding-left:22px}
.area_info table td{height:18px;padding:3px 0;vertical-align:top}
.area_info table .first th{padding-top:18px;background-position:10px -558px}
.area_info table .first td{padding-top:18px}
.land_news{overflow:hidden;position:relative;margin:0 0 35px 10px}
.land_news a{color:#0033ac}
.land_news h3{font-family:'굴림',gulim;font-size:12px;color:#666;vertical-align:top}
.land_news h3 img{position:relative;top:3px}
.land_news ul{margin:18px 20px 0;color:#000}
.land_news ul li{overflow:hidden;#height:1%;margin-bottom:21px;line-height:18px}
.land_news ul .thumb{float:left;margin-right:14px}
.land_news ul .thumb img{border:1px solid #d9d9d9}
.land_news ul .title{overflow:hidden;#height:1%;.margin-top:-2px;#margin-top:0;color:#777}
.land_news ul .title a{font-family:'굴림',gulim;font-size:13px;text-decoration:underline}
.land_news ul .title .bar{color:#d8d8d8}
.land_news ul .title .dot{background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 1px -576px}
.land_news ul .title .kininfo{margin-top:3px}
.land_news ul .title .kininfo a{font-size:12px;color:#777;text-decoration:none}
.land_news ul .title .kininfo a:hover{text-decoration:underline}
.land_news ul .title .urlinfo a{font-family:'돋움',gulim;font-size:12px;color:#777;text-decoration:none}
.land_news ul .title .urlinfo a:hover{text-decoration:underline}
.land_news ul .title .urlinfo .url{margin-right:5px;font-size:12px;color:#218d44;letter-spacing:0;text-decoration:none}
.land_news ul .title .urlinfo .url:hover{text-decoration:underline}
.land_news ul .title .addment{margin-left:10px;font-family:'굴림',gulim}
.land_news ul .title .dict{margin-right:5px;font-family:'굴림',gulim;font-weight:700;line-height:17px;color:#4095ff;letter-spacing:-1px}
.land_news ul .desc{margin-top:3px;color:#000;text-align:justify}
.land_news p{position:relative;margin:-5px 0 0;text-align:right}
.land_news p a{display:inline-block;padding:0 9px 0 0;background:url(http://static.land.naver.net/img/contentSearch/20110817/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .land_news p a{background-position:100% -37px}
.monthly_rent_wrap{overflow:hidden;position:relative;margin:0 0 35px}
.monthly_rent_wrap h3{height:25px;margin:0 0 0 8px;font-size:14px;color:#222}
.monthly_rent_wrap .monthly_rent{overflow:hidden;position:relative;width:706px;padding:12px 0 12px 24px;border:5px solid #EFEFEF}
.monthly_rent_wrap .col{overflow:hidden;float:left;position:relative;width:211px;margin:0 24px 0 0}
.monthly_rent_wrap .img{display:block;overflow:hidden;float:left;width:103px;height:70px;margin:0 0 5px}
.monthly_rent_wrap .img img{position:absolute}
.monthly_rent_wrap .img span{position:absolute;width:101px;height:68px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.monthly_rent_wrap .img.fr{float:right}
.monthly_rent_wrap table{clear:both;width:100%;border-collapse:collapse;border:1px solid #D8DADD}
.monthly_rent_wrap table caption{display:none}
.monthly_rent_wrap table th,.monthly_rent_wrap table td{padding:4px 0 3px;border:none;border-bottom:1px solid #EEEEF1;line-height:16px;color:#505050}
.monthly_rent_wrap table tr.btm th,.monthly_rent_wrap table tr.btm td{border-bottom:1px solid #D8DADD}
.monthly_rent_wrap table th{border-right:1px solid #EEEEF1;background:#F9F9F9;text-align:left;vertical-align:top}
.monthly_rent_wrap table td em{font-weight:700;color:#FF5725}
.monthly_rent_wrap table span{display:block;padding:0 0 0 9px}
.monthly_rent_wrap p.view{margin:7px 0 0;text-align:right}
.monthly_rent_wrap p.view a{color:#0033AC;text-decoration:underline}
.dsc_type_wrap{overflow:hidden;position:relative;margin:0 0 35px}
.dsc_type_wrap h3{height:25px;margin:0 0 0 8px;font-size:14px;color:#222}
.dsc_type_wrap .dsc_type{overflow:hidden;position:relative;padding:18px 17px;border:5px solid #EFEFEF;zoom:1}
.dsc_type_wrap .img{display:block;overflow:hidden;float:left;width:128px;height:92px}
.dsc_type_wrap .img img{position:absolute}
.dsc_type_wrap .img span{position:absolute;width:126px;height:90px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.dsc_type_wrap h4,.dsc_type_wrap dl{overflow:hidden;float:right;width:549px}
.dsc_type_wrap h4{padding:0 0 5px;font-size:14px;color:#111;letter-spacing:-1px}
.dsc_type_wrap h4 cite{margin:0 0 0 5px;font-size:11px;font-weight:400;font-style:normal;color:#888}
.dsc_type_wrap dl dt{margin:14px 0 0;font-weight:700;line-height:18px;color:#333;letter-spacing:-1px}
.dsc_type_wrap dl dd{line-height:18px;color:#666;letter-spacing:-1px}
.tbl_type{overflow:hidden;position:relative;margin:0 0 35px;zoom:1}
.tbl_type h3{height:24px;margin:0 0 20px;padding:0 0 0 8px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#222}
.tbl_type table{width:643px;margin:0 auto;border-collapse:collapse;border:none}
.tbl_type table caption{display:none}
.tbl_type table th,.tbl_type table td{border:1px solid #E1E1E1}
.tbl_type table th{padding:8px 0 6px;background:#F4F5F9;color:#222;text-align:center}
.tbl_type table td.ac{text-align:center}
.tbl_type table td a{color:#0033AC;text-decoration:underline}
.tbl_type table td .ma{overflow:hidden;float:left;position:relative;margin:13px 13px 0 0;padding:0 0 9px 13px;line-height:17px}
.tbl_type table td .ma .img{display:block;overflow:hidden;float:left;width:106px;height:81px;margin:0 12px 0 0}
.tbl_type table td .ma .img img{position:absolute}
.tbl_type table td .ma .img span{position:absolute;width:104px;height:79px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.tbl_type table td .ma div{overflow:hidden;float:left}
.tbl_type table td .ma .tit{display:block;position:relative}
.tbl_type table td .ma .tit a strong{color:#0033AC}
.tbl_type table td .ma .tit small{font-size:11px;color:#999}
.tbl_type table td .ma .dsc{color:#666}
.tbl_type table td .ma .post{font-size:11px;color:#666}
.c_loc{position:relative;margin:0 0 35px;border:1px solid #EBEBEB}
.c_loc .c_loc_inner{position:relative;border:2px solid #EFEFEF}
.c_loc p{padding:15px 0 9px 15px;border:1px solid #EBEBEB;color:#000}
.section_theme{padding:5px;border:1px solid #dee0e2;background:#e7e9eb}
.section_theme .theme_area{position:relative;padding:27px 26px 27px 142px;background:#fff}
.section_theme .theme_area:after{display:block;clear:both;content:''}
.section_theme .theme_area h3{overflow:hidden;position:absolute;top:30px;left:26px;width:76px;height:37px;background:url(http://static.land.naver.net/img/contentSearch/20110817/sp_theme.png) no-repeat 0 0;line-height:999px}
.section_theme .theme_area p{position:absolute;top:92px;left:28px;font-family:tahoma;font-weight:700;font-size:11px;color:#A8A8A8}
.section_theme .theme_area p span{position:relative;top:-1px;margin:0 1px;font-weight:400;font-family:arial;font-size:9px;color:#C1C1C1}
.section_theme .theme_area dl{padding:3px 0 0 17px;border-left:1px solid #eff0f2}
.section_theme .theme_area dt{margin:0 0 10px;font-weight:700;font-size:14px}
.section_theme .theme_area dd{line-height:18px;color:#666}
.section_cast{position:relative;margin-top:19px;margin-bottom:35px;border:1px solid #b4b4b4;border-top:0}
.section_cast h4{position:relative;z-index:1;margin:0 -1px -1px;border:1px solid #71757c;background-color:#9497a8}
.section_cast h4 strong{display:inline-block;width:364px;height:33px;margin:0 -1px 0 0;border-top:1px solid #a6aab8;font-size:12px;line-height:33px;color:#fff;text-align:center}
.section_cast h4 span{overflow:hidden;position:absolute;top:-2px;left:345px;width:46px;height:50px;background:url(http://static.land.naver.net/img/contentSearch/20110817/sp_theme.png) no-repeat -81px 0;line-height:999px}
.section_cast .con{overflow:hidden;position:relative;border-top:1px solid #dfdfdf;background-color:#fff;background:url(http://static.land.naver.net/img/contentSearch/20110817/bg_themecast_dot.gif) repeat-y 368px 0}
.section_cast .con:after{display:block;clear:both;content:''}
.section_cast .con div{float:left;position:relative;width:316px;padding:25px 25px 16px}
.section_cast .con div h6{margin:0 0 10px 1px}
.section_cast .con div h6 a{font-size:12px;color:#222;letter-spacing:-1px}
.section_cast .con div a.img{display:block;overflow:hidden;position:relative;width:318px;height:150px}
.section_cast .con div a.img img{position:absolute;z-index:10}
.section_cast .con div a.img span{display:block;position:absolute;top:0;left:0;z-index:20;width:316px;height:148px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.section_cast .con div a.view{position:absolute;top:27px;right:27px;padding-right:6px;background:url(http://static.land.naver.net/img/contentSearch/20110817/sp_theme.png) no-repeat 100% -77px;line-height:12px;font-size:11px;color:#999;letter-spacing:-1px}
.section_cast .con dl{position:relative;margin-top:17px;padding:0 0 0 67px}
.section_cast .con dl:after{display:block;clear:both;content:''}
.section_cast .con dt{position:absolute;left:1px;height:12px;font-weight:700;color:#666}
.section_cast .con dd{margin:0 0 9px;color:#363636}
.section_cast .con dd strong{color:#ff470e}
.section_cast .con2{background-color:#fafafa}
.section_con_banner{margin-top:40px;position:relative;z-index:10;width:740px;height:100px;overflow:hidden;background:url(http://landthumb.phinf.naver.net/20120703_174/land_naver_1341299191096Nax80_JPEG/loan_promotion_740x100.jpg) no-repeat 0 0}
.section_con_banner p{line-height:999px;zoom:1}
.section_con_banner a{width:144px;height:38px;position:absolute;top:31px;right:30px}
.t_apt{margin:2px 0 0 1px;font-size:16px;line-height:20px;color:#222;letter-spacing:-1px}
.apt_box{width:719px;margin:11px 0 30px 0;padding:5px;border:1px solid #dee0e2;background-color:#e7e9eb}
.apt_box .btn{text-align:right}
.apt_box .btn a{display:inline-block;padding-right:9px;background:url(http://landthumb.phinf.naver.net/20120703_44/land_naver_1341298992308RAflH_GIF/bu_arr_apt.gif) no-repeat 100% 3px;font-family:gulim;line-height:14px;color:#0033ac;letter-spacing:-1px}
.apt_box .apt_inner{overflow:hidden;width:719px;background-color:#fff}
.apt_box .apt_info{float:left;margin-right:-1px;border-right:1px solid #f0f0f0}
.apt_box .apt_lst{overflow:hidden;width:341px;padding:8px 0 21px 21px}
.apt_box .apt_lst dt{float:left;width:63px;margin-top:12px;padding-left:12px;background:url(http://landthumb.phinf.naver.net/20120703_44/land_naver_1341298992308RAflH_GIF/bg_dot_apt.gif) no-repeat 0 5px;line-height:16px;color:#666;letter-spacing:-1px;font-weight:700}
.apt_box .apt_lst dd{float:left;width:250px;margin-top:12px;padding-right:16px;line-height:16px;color:#333}
.apt_box .apt_lst dd strong{color:#ff470e}
.apt_box .apt_info .btn{padding:0 17px 14px 0}
.apt_box .floor{float:left;width:356px;border-left:1px solid #f0f0f0}
.apt_box .floor h4{margin:21px 0 -2px 19px;padding-left:12px;background:url(http://landthumb.phinf.naver.net/20120703_44/land_naver_1341298992308RAflH_GIF/bg_dot_apt.gif) no-repeat 0 5px;font-size:12px;line-height:14px;color:#666;letter-spacing:-1px}
.apt_box .floor_lst{overflow:hidden;width:100%;margin:0 0 0 15px}
.apt_box .floor_lst li{position:relative;float:left;width:135px;margin:15px 17px 0;text-align:center}
.apt_box .floor_lst li img{vertical-align:top}
.apt_box .floor_lst li .mask{position:absolute;top:0;left:0;width:133px;height:88px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.apt_box .floor_lst li strong{display:inline-block;margin-top:8px;letter-spacing:-1px;color:#333}
.apt_box .floor .btn{padding:26px 11px 12px 0}
.apt_box .fl_area{float:left;width:379px;margin-right:-1px;padding:20px 0 20px 19px;border-right:1px solid #f0f0f0}
.apt_box2 .apt_info{margin:0;border:0;border-left:1px solid #f0f0f0}
.apt_box2 .apt_lst{width:320px;padding:12px 0 11px}
.apt_box2 .apt_lst dt{width:63px;margin-top:8px;padding-left:16px;background:0 0}
.apt_box2 .apt_lst dd{width:226px;margin-top:8px;padding-right:15px}
.apt_box2 .floor{overflow:hidden;width:719px;border:0;border-top:1px solid #f0f0f0}
.apt_box2 .floor h4{margin:18px 0 -2px 20px;padding:0;background:0 0}
.apt_box2 .floor_lst{margin:0}
.apt_box2 .floor_lst li{margin:15px 22px 0}
.apt_box2 .floor .btn{padding:24px 16px 16px 0}
.apt_area{margin-bottom:45px;border-bottom:1px solid #f0f0f0}
.apt_area .area_lst{overflow:hidden;width:730px;margin-top:2px}
.apt_area .area_lst dt{float:left;width:97px;margin-top:12px;padding-left:1px;line-height:16px;color:#666;font-weight:700}
.apt_area .area_lst dd{float:left;width:632px;margin-top:12px;line-height:16px;color:#333}
.apt_area .area_lst .map{position:relative;padding-top:4px}
.apt_area .area_lst .map img{vertical-align:top}
.apt_area .area_lst .mask{position:absolute;top:4px;left:0;width:298px;height:168px;border:1px solid #000;opacity:.1;filter:alpha(opacity=10)}
.apt_area .btn{margin-top:-11px;padding-bottom:23px;text-align:right}
.apt_area .btn a{display:inline-block;padding-right:9px;background:url(http://landthumb.phinf.naver.net/20120703_13/land_naver_1341299120398qxKdf_GIF/bu_arr_apt.gif) no-repeat 100% 3px;font-family:gulim;line-height:14px;color:#0033ac;letter-spacing:-1px}
.section_collection{margin-left:10px}
.section_collection h3{position:relative;padding-bottom:8px;font-family:'굴림',gulim;font-size:12px;color:#666;vertical-align:top}
.section_collection h3.intab{padding-bottom:0}
.section_collection h3.intab img{position:relative;top:-2px;vertical-align:top}
.section_collection h3.line{border-bottom:1px solid #d5d5d5}
.section_collection h3 img{position:relative;top:3px}
.section_collection h3 .powered{position:absolute;top:5px;right:10px;font-family:'돋움',dotum;font-size:12px;font-weight:400;color:#666;letter-spacing:-1px}
.section_collection h3 .localpw{right:0}
.section_collection h3 .bar{margin:0 4px;font-size:11px;color:#e4e4e4}
.section_collection h3 .date{letter-spacing:0}
.section_collection .newline{display:block}
.section_collection a{color:#0033ac}
.section_collection .num{font-size:12px;font-family:tahoma;color:#333}
.section_collection .dt{font-family:'돋움'}
.section_collection .orange{color:#ff5725!important}
.section_collection .tl{padding-left:5px;text-align:left}
.section_collection .tc{text-align:center}
.section_collection .pd10{padding-left:5px}
.section_collection .pd15{padding-left:10px}
.section_collection .underline{text-decoration:underline}
.section_collection .more_info{position:relative;min-height:51px;#height:51px}
.section_collection .more_info .info{position:relative;color:#666;vertical-align:top}
.section_collection .more_info .info img{position:relative;top:3px}
.section_collection .more_info .btn_more{position:absolute;top:16px;right:0;padding-right:9px;background:url(../img/search/sprite_common.gif) no-repeat right -40px;font-family:'굴림';letter-spacing:-1px;text-decoration:none}
.section_collection .more_info a:hover{text-decoration:underline}
.section_collection .local_sp .btn_more{top:12px}
.section_collection .graph .desc_graph{width:265px;margin-left:60px;padding-right:6px;padding-bottom:6px;font-size:11px;color:#585858;text-align:left}
.section_collection .graph .desc_graph em{color:#0c0c0c}
.section_collection .graph .desc_graph .bar{margin:0 -1px 0 -2px;color:#e5e5e5}
.section_collection .graph .desc_graph strong{color:#f4412d}
.section_collection .graph .grph_legend{position:relative;margin-top:20px;padding-bottom:1px}
.section_collection .graph .grph_legend ul li{margin-bottom:9px;padding-left:7px;background:url(../img/search/sprite_common.gif) no-repeat 0 -1861px;color:#999;letter-spacing:-1px}
.section_collection .graph .grph_legend ul li em{color:#333}
.section_collection .graph .grph_legend ul li.last{margin-bottom:5px}
.section_collection .intab_grapth{width:711px}
.premium_section{margin-bottom:25px}
.premium_section img{vertical-align:top}
.premium_section .btn_more{position:absolute;top:-21px;right:0;padding-right:4px;background:url(http://landthumb.phinf.naver.net/20120823_157/land_naver_1345726578408oxeBA_GIF/ico_arr.gif) no-repeat 100% 4px;font-size:11px;line-height:14px;color:#9fa0a9}
.premium_section h3{height:25px;padding:0 0 0 7px;font-size:14px;color:#222}
.premium_section .premium_area{width:732px;border:1px solid #a3a3a3}
.premium_section .info_area{overflow:hidden;width:692px;padding:20px}
.premium_section .info_area .thmb{float:left;width:230px;margin-right:30px}
.premium_section .info_area .tel{height:21px;padding-top:4px;border:1px solid #d0d3d9;border-color:#d0d3d9 #d0d3d9 #c3c4c6;background-color:#f4f5f7;font-family:tahoma;color:#909090;text-align:center}
.premium_section .info_area .info{position:relative;float:left;width:432px;height:230px;letter-spacing:-1px}
.premium_section .info_area .info h4{margin-top:15px}
.premium_section .info_area .info .dsc{width:322px;margin-top:13px;line-height:18px;color:#909090}
.premium_section .info_area .info .info_thmb{position:absolute;top:0;right:0}
.premium_section .info_area .info_sub{margin-top:10px;border-top:1px solid #f2f2f2}
.premium_section .info_area .lst_info{padding-top:15px}
.premium_section .info_area .lst_info dt{float:left;height:19px;margin-right:15px}
.premium_section .info_area .lst_info dd{height:19px;color:#909090}
.premium_section .info_area .lst_info dd a{color:#909090}
.premium_section .info_area .lst_info dd em{font-family:tahoma;font-size:11px;letter-spacing:0}
.premium_section .info_area .info_dsc{margin-bottom:-5px}
.premium_section .info_area .info_dsc h5{margin-top:12px}
.premium_section .info_area .info_dsc p{width:322px;margin-top:8px;line-height:18px}
.premium_section .info_area .info_dsc p a{color:#909090}
.premium_section .info .btn_area{position:absolute;bottom:0;left:0}
.premium_section .info .btn_area a{margin-right:1px}
.premium_section .news_area{padding:20px 20px 0;background-color:#fcfcfc;border-top:1px solid #f2f2f2}
.premium_section .news_info{position:relative;overflow:hidden;width:692px;margin-top:12px}
.premium_section .news_info .btn_more{top:3px}
.premium_section .news_info h4{margin:2px 0 10px}
.premium_section .lst_news{overflow:hidden;width:730px}
.premium_section .lst_news li{float:left}
.premium_section .lst_news h5{margin-top:10px;text-align:center}
.premium_section .lst_news h5 a{font-weight:400;font-size:12px;line-height:14px;color:#3f4043}
.premium_section .lst_news p{margin-top:3px;font-size:11px;line-height:17px;color:#909197;text-align:center}
.premium_section .lst_type{padding-bottom:12px}
.premium_section .lst_type li{width:214px;margin-right:25px}
.premium_section .lst_type li.frst{margin-right:24px}
.premium_section .lst_type p{padding:0 20px}
.premium_section .lst_type2{padding-bottom:10px}
.premium_section .lst_type2 li{width:155px;margin-right:24px}
.premium_section .lst_type2 p{text-align:left}
.premium_section .lst_type3{padding-bottom:10px}
.premium_section .lst_type3 li{width:144px;margin-right:38px}
.premium_section .lst_type3 li.frst{margin-right:39px}
.premium_section .news_info2{position:relative;height:70px;margin-top:10px}
.premium_section .news_info2 .thmb{position:absolute;top:0;left:0}
.premium_section .news_info2 .info{padding-left:160px}
.premium_section .news_info2 h5{font-size:12px;font-weight:400}
.premium_section .news_info2 h5 a{color:#3f4043;font-weight:700}
.premium_section .news_info2 h5 .bar{color:#e9eaeb}
.premium_section .news_info2 h5 em{font-family:tahoma;font-size:11px;color:#b3b4b9}
.premium_section .news_info2 p{margin-top:6px;line-height:17px;color:#9fa0a9}
.premium_section .notice_area{position:relative;height:36px;padding:0 20px;border-top:1px solid #f2f2f2;background-color:#fcfcfc}
.premium_section .notice_area p{padding-top:12px;font-size:11px;line-height:14px;color:#9fa0a9}
.premium_section .notice_area p em{margin-right:9px;color:#bfbfc4}
.premium_section .notice_area p .bar{margin:0 -1px 0 -2px;color:#ececec}
.premium_section .notice_area p .txt{position:absolute;top:12px;right:20px}
.premium_section .notice_area p .txt em{margin:0;font-family:tahoma;color:#b3b4b9}
.findhouse #container #content{width:760px}
.findhouse_section .spot_find{height:344px;background:url(http://landthumb.phinf.naver.net/20121127_64/land_naver_1354008105490HQV8K_JPEG/bg_findhouse.jpg) no-repeat}
.findhouse_section .find_area{margin-top:40px}
.findhouse_section .find_area h4{padding-bottom:9px;border-bottom:1px solid #bcbcbc}
.findhouse_section .find_area .tit{overflow:hidden;display:block;width:127px;height:15px;margin-left:5px;background:url(http://landthumb.phinf.naver.net/20121127_64/land_naver_1354008105490HQV8K_JPEG/bg_findhouse.jpg) no-repeat 0 -349px;text-indent:-999px}
.findhouse_section .tit_find{margin-top:25px;font-size:14px;color:#000}
.findhouse_section .tit_find em{color:#06c}
.findhouse_section .find_info{position:relative;margin-top:10px}
.findhouse_section .find_info dl{overflow:hidden;width:535px;background-color:#eeeff3;border:1px solid #d8dadd;border-width:1px 0}
.findhouse_section .find_info dt{float:left;width:98px;height:26px;padding:7px 0 0 15px;font-size:11px;line-height:20px;color:#81848c;letter-spacing:-1px;font-weight:700}
.findhouse_section .find_info dd{float:left;width:422px;background-color:#fff}
.findhouse_section .find_info dd p{height:25px;margin:0 10px;padding-top:8px;border-bottom:1px solid #eeeef1;color:#000;line-height:20px}
.findhouse_section .find_info dd.last p{height:88px;border:0;color:#767676;letter-spacing:-1px}
.findhouse_section .find_info .thmb{position:absolute;top:0;right:0}
.findhouse_section .find_info .thmb .mask{position:absolute;top:0;left:0;width:223px;height:164px;border:1px solid #000;opacity:.15;filter:alpha(opacity=15)}
.findhouse_section .btn_find{padding:40px 0;text-align:center}
.findhouse_section .btn_find a{display:inline-block;width:178px;height:44px;background:url(http://landthumb.phinf.naver.net/20121127_64/land_naver_1354008105490HQV8K_JPEG/bg_findhouse.jpg) no-repeat -132px -349px}
#container #content.content_loan{width:760px;padding-bottom:30px}
.loan_section .loan{height:326px;background:url(../img/search/img_loan.jpg) no-repeat}
.loan_section .loan2{height:413px;background:url(../img/search/img_loan2.jpg) no-repeat}
.loan_section .loan3{height:288px;background:url(../img/search/img_loan3.jpg) no-repeat}
.loan_section .loan4{height:200px;background:url(../img/search/img_loan4.jpg) no-repeat}
.loan_section .loan5{position:relative;height:104px;background:url(../img/search/img_loan5.jpg) no-repeat}
.loan_section .loan5 a{overflow:hidden;position:absolute;top:0;left:292px;width:178px;height:44px;text-indent:-999px}
.loan_section .loan6{height:53px;background:url(../img/search/img_loan6.jpg) no-repeat}
caption{display:none}
.section_interior h3{height:25px;.height:23px;padding:0 0 0 7px;border-bottom:1px solid #E5E5E5;font-size:14px;color:#222}
.group_interior{margin-top:50px;border:1px solid #d9d9d9;width:740px}
.group_interior h4{padding:20px 20px 15px;background-color:#fafafa}
.group_interior .h_interior{display:block;margin-bottom:10px;font-size:16px;color:#333}
.group_interior span{font-size:12px;line-height:18px;font-weight:400;color:#555}
.interior_content{overflow:hidden;position:relative;border-top:1px solid #e3e3e3;zoom:1}
.interior_image{float:left;position:relative;width:475px;height:337px;padding:20px;border-right:1px solid #e3e3e3}
.interior_image .frame_image{position:relative}
.interior_image .frame_image>i{display:block;position:absolute;top:0;left:0;width:475px;height:315px;background:url(../img/search/frame_image.png) no-repeat}
.interior_image .tit_image{margin-top:9px;color:#555}
.interior_info{float:right;position:relative;width:182px;height:337px;padding:20px}
.h_interiorinfo{display:block;margin-bottom:10px;color:#333}
.lst_interiorinfo{margin-bottom:16px}
.lst_interiorinfo li{clear:both;position:relative;margin-top:5px;line-height:18px;color:#555}
.lst_interiorinfo li:first-child{margin-top:0}
.lst_interiorinfo li span{display:block;float:left;width:60px;padding-right:2px;font-weight:700;color:#757575}
.lst_interiorinfo li strong{color:#333}
.lst_interiorinfo.v2{margin:8px 0 0}
.lst_interiorinfo.v2 li{margin-top:0;padding-left:7px}
.lst_interiorinfo.v2 li span{font-weight:400}
.lst_interiorinfo .bul_interiorinfo{display:block;position:absolute;top:8px;left:0;width:1px;height:2px;background-color:#757575}
.frame_image2{width:178px;border:1px solid #e3e3e3}
.tbl_interior_area{overflow:hidden;position:relative;border-top:1px solid #e3e3e3;zoom:1}
.tbl_complexinfo{float:left;width:234px;padding:20px 11px 40px 20px}
.tbl_complexinfo>strong{color:#333}
.tbl_complexinfo table{width:100%;margin-top:9px;border-collapse:collapse;border-top:1px solid #9fa2a9;table-layout:fixed}
.tbl_complexinfo th,.tbl_complexinfo td{padding:4px 0 3px 8px;line-height:19px}
.tbl_complexinfo tr:first-child th,.tbl_complexinfo tr:first-child td{padding-top:9px}
.tbl_complexinfo th{background-color:#fafafa;font-weight:400;color:#757575;text-align:left;vertical-align:top}
.tbl_complexinfo td{color:#333}
.tbl_detailinfo{float:right;width:433px;padding:20px 20px 40px}
.tbl_detailinfo>strong{color:#333}
.tbl_detailinfo .desc_deatilinfo{position:absolute;top:21px;right:18px;font-size:11px;color:#888}
.tbl_detailinfo table{width:100%;margin-top:9px;border-collapse:collapse;border-top:1px solid #9fa2a9;table-layout:fixed}
.tbl_detailinfo th,.tbl_detailinfo td{padding:12px 0 8px}
.tbl_detailinfo th{background-color:#fafafa;font-size:11px;font-weight:400;color:#757575}
.tbl_detailinfo td{padding:10px 0;border-top:1px solid #e1e1e1;color:#333;text-align:center}
.tbl_detailinfo td.name_detail{padding-left:8px;text-align:left}
.tbl_detailinfo td.name_detail a{display:inline-block;color:#3d79cc;text-decoration:underline}
.tbl_detailinfo td.name_detail .txt{display:block;margin-top:10px}
.tbl_detailinfo td .thmb_area{float:left;position:relative;margin-right:6px}
.tbl_detailinfo td .thmb_area .thmb_num{position:absolute;right:0;bottom:0;width:16px;height:18px;background:url(../img/search/bg_slide.gif) no-repeat}
.tbl_detailinfo td.expand{padding:14px 0 40px;color:#555}
.tbl_detailinfo td.price{padding-right:22px;text-align:right}
.tbl_detailinfo td .state_agency{display:block;margin-top:10px;color:#818181;text-decoration:underline}
.tbl_detailinfo td.contact_info{color:#333;text-align:left}
.tbl_detailinfo td.contact_info .state_agency{color:#333;text-decoration:none}
.tbl_detailinfo.v2{width:auto}
.tbl_detailinfo.v2 td.name_detail{padding-left:15px}
.section_interior .more a{display:inline-block;position:absolute;right:19px;bottom:20px;padding:0 9px 0 0;background:url(../img/search/sprite_common.gif) no-repeat 100% -39px;color:#0033AC;letter-spacing:-1px;text-decoration:none}
:root .section_interior .more a{background-position:100% -37px}
.tbl_interior_area .more{position:absolute;right:0;bottom:18px;padding-top:9px;border-top:1px solid #e1e1e1;text-align:right}
.tbl_interior_area .tbl_complexinfo .more{right:474px}
.tbl_interior_area .tbl_complexinfo .more{width:235px;margin-right:10px}
.tbl_interior_area .tbl_detailinfo .more{width:435px;margin-right:19px}
.tbl_interior_area .tbl_detailinfo.v2 .more{width:700px;margin-right:19px}
.tbl_interior_area .more a{position:static}
.ad_area_srch{margin:0 0 24px 0}
@media screen and (-webkit-min-device-pixel-ratio:0){.section_option .opt_area .btn_radio{top:2px}
}
/*# sourceMappingURL=maps/search_content_template.css.map */
