#container,#footer{width:980px;margin:0 auto}
.header_one{position:relative;z-index:60;margin-bottom:10px}
.header_one:after,.header_one .inner_wrap:after{display:block;clear:both;content:''}
.header_one .blind,.header_one legend{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.header_one .icon,.header_one .nav_list .menu a,.header_one .sub_nav_list .menu a,.header_one .button_area a{display:inline-block;overflow:hidden;background-image:url(../img/gnb/sp_gnb_one.png);background-repeat:no-repeat;color:transparent;line-height:999px;vertical-align:top}
.header_one .inner_wrap{position:relative;width:980px;margin:0 auto}
.header_one .gnb_wrap,.header_one .nav_wrap,.header_one .sub_nav_wrap{min-width:980px}
.header_one .gnb_wrap{position:relative;z-index:1;background:#00c73c;border-bottom:1px solid #00a732}
.header_one .gnb_wrap .inner_wrap{height:54px}
.header_one .item_area{float:left}
.header_one .logo_area{float:left;margin:16px 14px 0 -1px}
.header_one .logo_area a{display:inline-block;float:left;margin-right:4px}
.header_one .logo_area .icon{height:24px}
.header_one .logo_naver .icon{width:55px;background-position:0 0}
.header_one .logo_land .icon{width:63px;background-position:-59px 0}
.header_one .inner_gnb_search{float:left;margin-top:9px}
.header_one input{font-family:'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,'돋움',Dotum,Helvetica,'Apple SD GothicNeo',Sans-serif}
.header_one .search_input,.header_one .search_button{float:left;height:35px;border:1px solid #00a933}
.header_one .search_input{width:300px;padding:0 10px;border-right-width:0;line-height:35px;color:#999}
.header_one .search_button{margin-right:3px;background:#00b336;color:#fff;text-align:center;vertical-align:middle}
.header_one .search_button.type_inside{width:35px;border-left-width:0}
.header_one .search_button.type_integration{width:65px}
.header_one .search_button.type_inside .icon{width:15px;height:15px;margin-top:10px;background-position:-130px 0}
.header_one .search_button.type_integration .icon{width:48px;height:14px;margin-top:11px;background-position:-150px 0}
.header_one .gnb_area{float:right}
.header_one .gnb_name{max-width:120px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal}
.header_one .nav_wrap,.header_one .sub_nav_wrap{border-bottom:1px solid #e5e5e5}
.header_one .nav_wrap .inner_wrap,.header_one .sub_nav_wrap .inner_wrap{height:40px}
.header_one .nav_list,.header_one .nav_list .menu,.header_one .sub_nav_list,.header_one .sub_nav_list .menu{float:left}
.header_one .nav_list .menu a{position:relative;height:41px;padding:0 15px}
.header_one .nav_list .menu:first-child a{padding-left:0}
.header_one .nav_list .menu.on a{color:#00c73c}
.header_one .nav_list .menu.on a:after{position:absolute;left:15px;right:15px;bottom:0;height:3px;background:#00c73c;content:''}
.header_one .nav_list .menu.on:first-child a:after{left:0}
.header_one .sub_nav_wrap{background:#fafafa}
.header_one .sub_nav_list{margin-top:8px}
.header_one .sub_nav_list .menu a{height:24px;margin-right:14px;padding:0 6px}
.header_one .sub_nav_list .menu.on a{background-color:#00c73c}
.header_one .sub_nav_list .menu:first-child a{padding-left:0}
.header_one .sub_nav_list .menu.on:first-child a{padding-left:6px}
.header_one .button_area{float:right;margin-top:7px}
.header_one .button_area a{height:24px;padding:0 15px;border:1px solid #d7d7d7;background-color:#fcfcfc}
.header_one .nav_list .menu.main_home a{width:54px;background-position:0 -30px}
.header_one .nav_list .menu.main_article a{width:25px;background-position:-69px -30px}
.header_one .nav_list .menu.main_isale a{width:26px;background-position:-123px -30px}
.header_one .nav_list .menu.main_news a{width:25px;background-position:-177px -30px}
.header_one .nav_list .menu.main_community a{width:48px;background-position:-232px -30px}
.header_one .nav_list .menu.main_auction a{width:24px;background-position:-309px -30px}
.header_one .nav_list .menu.main_mypage a{width:59px;background-position:-362px -30px}
.header_one .nav_list .menu.main_home.on a{background-position:0 -70px}
.header_one .nav_list .menu.main_article.on a{background-position:-69px -70px}
.header_one .nav_list .menu.main_isale.on a{background-position:-123px -70px}
.header_one .nav_list .menu.main_news.on a{background-position:-177px -70px}
.header_one .nav_list .menu.main_community.on a{background-position:-232px -70px}
.header_one .nav_list .menu.main_auction.on a{background-position:-309px -70px}
.header_one .nav_list .menu.main_mypage.on a{background-position:-362px -70px}
.header_one .button_area a.type_admin{width:81px;background-position:-450px -37px}
.header_one .sub_nav_list .menu.saleinfo a{width:43px;background-position:0 -118px}
.header_one .sub_nav_list .menu.salenews a{width:41px;background-position:-62px -118px}
.header_one .sub_nav_list .menu.salehelp a{width:33px;background-position:-129px -118px}
.header_one .sub_nav_list .menu.saleinfo.on a{background-position:6px -157px}
.header_one .sub_nav_list .menu.salenews.on a{background-position:-62px -157px}
.header_one .sub_nav_list .menu.salehelp.on a{background-position:-129px -157px}
.header_one .sub_nav_list .menu.news_headline a{width:43px;background-position:0 -197px}
.header_one .sub_nav_list .menu.news_region a{width:64px;background-position:-63px -197px}
.header_one .sub_nav_list .menu.news_issue a{width:31px;background-position:-153px -197px}
.header_one .sub_nav_list .menu.news_field a{width:54px;background-position:-210px -197px}
.header_one .sub_nav_list .menu.news_breaking a{width:54px;background-position:-290px -197px}
.header_one .sub_nav_list .menu.news_expert a{width:53px;background-position:-370px -197px}
.header_one .sub_nav_list .menu.news_magazine a{width:64px;background-position:-449px -197px}
.header_one .sub_nav_list .menu.news_trend a{width:53px;background-position:-539px -197px}
.header_one .sub_nav_list .menu.news_forum a{width:75px;background-position:-620px -197px}
.header_one .sub_nav_list .menu.news_headline.on a{background-position:6px -237px}
.header_one .sub_nav_list .menu.news_region.on a{background-position:-63px -237px}
.header_one .sub_nav_list .menu.news_issue.on a{background-position:-153px -237px}
.header_one .sub_nav_list .menu.news_field.on a{background-position:-210px -237px}
.header_one .sub_nav_list .menu.news_breaking.on a{background-position:-290px -237px}
.header_one .sub_nav_list .menu.news_expert.on a{background-position:-370px -237px}
.header_one .sub_nav_list .menu.news_magazine.on a{background-position:-449px -237px}
.header_one .sub_nav_list .menu.news_trend.on a{background-position:-539px -237px}
.header_one .sub_nav_list .menu.news_forum.on a{background-position:-620px -237px}
.header_one .sub_nav_list .menu.com_kin a{width:65px;background-position:0 -278px}
.header_one .sub_nav_list .menu.com_ourtown a{width:79px;background-position:-84px -278px}
.header_one .sub_nav_list .menu.com_sponsor a{width:54px;background-position:-187px -278px}
.header_one .sub_nav_list .menu.com_kin.on a{background-position:6px -317px}
.header_one .sub_nav_list .menu.com_ourtown.on a{background-position:-84px -317px}
.header_one .sub_nav_list .menu.com_sponsor.on a{background-position:-187px -317px}
.header_one .sub_nav_list .menu.auction_beginner a{width:67px;background-position:0 -358px}
.header_one .sub_nav_list .menu.auction_search a{width:55px;background-position:-87px -358px}
.header_one .sub_nav_list .menu.auction_report a{width:64px;background-position:-168px -358px}
.header_one .sub_nav_list .menu.auction_beginner.on a{background-position:6px -398px}
.header_one .sub_nav_list .menu.auction_search.on a{background-position:-87px -398px}
.header_one .sub_nav_list .menu.auction_report.on a{background-position:-168px -398px}
.header_one .sub_nav_list .menu.interest_article a{width:96px;background-position:0 -440px}
.header_one .sub_nav_list .menu.interest_column a{width:70px;background-position:-116px -440px}
.header_one .sub_nav_list .menu.isale_schedule_notice a{width:70px;background-position:-212px -440px}
.header_one .sub_nav_list .menu.secession a{width:78px;background-position:-308px -440px}
.header_one .sub_nav_list .menu.interest_article.on a{background-position:6px -479px}
.header_one .sub_nav_list .menu.interest_column.on a{background-position:-116px -479px}
.header_one .sub_nav_list .menu.isale_schedule_notice.on a{background-position:-212px -479px}
.header_one .sub_nav_list .menu.secession.on a{background-position:-308px -479px}
.header_one .logo_land_tool .icon,.header_one .logo_land_small .icon,.header_one .nav_list .menu.main_tool1 a,.header_one .nav_list .menu.main_tool2 a{background-image:url(../img/gnb/sp_tool_gnb_one.png)}
.header_one .logo_land_tool .icon{width:62px;background-position:0 0}
.header_one .logo_land_small .icon{width:57px;margin-left:5px;background-position:-71px 0}
.header_one .nav_list .menu.main_tool1 a{width:103px;background-position:0 -25px}
.header_one .nav_list .menu.main_tool2 a{width:49px;background-position:-118px -25px}
.header_one .nav_list .menu.main_tool1.on a{background-position:0 -55px}
.header_one .nav_list .menu.main_tool2.on a{background-position:-118px -55px}
.header_one .desc_wrap{overflow:hidden;height:35px;background:#f9fafb;border-bottom:1px solid #e5e5e5}
.header_one .desc_wrap .text{float:left;margin-top:9px;padding-left:11px;background:url(../img/gnb/bullet.gif) no-repeat 0 6px;font-size:11px;line-height:18px;color:#646464}
.header_one .desc_wrap .text .description{margin-right:14px}
.header_one .desc_wrap .text .description .bar{color:#b3b3b3}
.header_one .desc_wrap .text .description strong{color:#000}
.header_one .desc_wrap .button_area{float:right;margin-top:8px}
.header_one .desc_wrap .button_area a{padding:0;border:0}
.header_one .desc_wrap .button_area a.type_agency{width:74px;height:19px;background:url(../img/gnb/btn_agency.png) no-repeat 0 0}
#container2{margin:10px auto 0!important}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{font-family:'돋움',Dotum,Helvetica,sans-serif;font-size:12px}
img,fieldset{border:0}
ul,ol{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
legend,hr,caption{display:none}
button{border:0;background:0 0}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:0;height:0;font-size:0;line-height:0}
.skip{display:block;overflow:hidden;width:1px;height:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0}
.skip:hover,.skip:active,.skip:focus{width:100%;height:auto;margin:0;padding:5px 0;font-weight:700;font-size:12px;font-family:Tahoma;line-height:1;color:#333;text-decoration:none!important;text-indent:10px}
.scroll{overflow:hidden;overflow-y:auto;scrollbar-face-color:#fff;scrollbar-shadow-color:#d2d2d2;scrollbar-highlight-color:#fff;scrollbar-3dlight-color:#d2d2d2;scrollbar-darkshadow-color:#fff;scrollbar-track-color:#f7f7f7;scrollbar-arrow-color:#a9a9a9}
.input_chk,.input_rdo{width:13px;height:13px;margin:-1px 0 1px;vertical-align:middle}
.input_txt{height:15px;padding:3px 0 0 5px;border:1px solid #979797;border-color:#979797 #d3d3d3 #d3d3d3 #979797;vertical-align:middle}
.header_one .inner_wrap,#container,#footer{width:960px}
#container.con_snb{overflow:hidden;background:url(../../../tool/img/bg_snb.gif) repeat-y}
#container.con_snb .snb{float:left;margin-right:26px}
#container.con_snb #content{float:left;width:740px}
#content{padding-bottom:50px}
#footer{padding:20px 0 28px;border-top:3px solid #d8d9dc;text-align:center}
#footer *{margin:0;padding:0;font-size:12px;line-height:normal;font-family:'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;color:#444;list-style:none}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{width:100%;margin:0 0 14px}
#footer ul li{display:inline;position:relative;padding:0 1px 0 6px;background:url(http://test.static.land.naver.net/static/center/line_v_footer10.gif) no-repeat 0 0;font-size:11px;white-space:nowrap}
#footer ul li *{font-size:11px}
#footer ul li.first{padding:0 1px 0 0;background:0}
#footer ul a{letter-spacing:-1px}
#footer p{margin:-4px 0 14px;font-size:11px;line-height:16px;color:#aaa;letter-spacing:-1px}
#footer address{margin:0 14px 0 0}
#footer address{font:9px Verdana}
#footer address a{font:700 9px Tahoma;color:#444}
#footer address a:hover{color:#2cb400}
.snb{width:180px}
.snb_nav{padding-bottom:20px;border:1px solid #dcdde0;background-color:#feffff}
.snb h2,.snb .nav a{background:url(../../../tool/img/spr_snb.gif) no-repeat}
.snb h2{overflow:hidden;width:178px;height:40px;text-indent:-999px}
.snb .nav{margin:-4px 0 0 18px}
.snb .nav li{margin-top:14px}
.snb .nav a{overflow:hidden;display:block;height:12px;text-indent:-999px}
.snb .nav ul{margin:-1px 0 0 9px}
.snb .nav ul li{margin-top:8px}
.snb .nav ul a{height:11px}
.snb .nav .snb_n{width:54px;background-position:0 -43px}
.snb .nav .snb_n2{width:61px;background-position:0 -58px}
.snb .nav .selected .snb_n2{background-position:0 -72px}
.snb .nav .snb_n3{width:65px;background-position:0 -86px}
.snb .nav .snb_n4{width:45px;background-position:0 -101px}
.snb .nav .selected .snb_n4{background-position:0 -115px}
.snb .nav .snb_n5{width:58px;background-position:0 -129px}
.snb .nav .selected .snb_n5{background-position:0 -143px}
.h_tit{margin-top:20px;padding:0 0 12px 4px;border-bottom:2px solid #dcdde0}
.con_snb .h_tit{margin-top:10px}
.h_border{border:0}
.h_tit span{overflow:hidden;display:block;height:16px;background:url(../../../tool/img/spr_tit.gif) no-repeat;text-indent:-999px}
.h_tit .h_log{width:42px}
.h_tit .h_mem_join{width:117px;background-position:0 -20px}
.h_tit .h_join{width:195px;background-position:0 -40px}
.h_tit .h_management{width:56px;background-position:0 -60px}
.h_tit .h_agency{width:70px;background-position:0 -80px}
.h_tit .h_agency_info{width:178px;background-position:0 -100px}
.h_tit .h_product{width:132px;background-position:0 -120px}
.h_tit .h_myinfo{width:73px;background-position:0 -140px}
.h_tit .h_mem_out{width:89px;background-position:0 -160px}
.h_stit span{overflow:hidden;display:block;height:14px;background:url(../../../tool/img/spr_stit.gif) no-repeat;text-indent:-999px}
.h_stit .h_agree{width:402px}
.h_stit .h_agree2{width:184px;background-position:0 -20px}
.h_stit .h_agree3{width:108px;background-position:0 -40px}
.h_stit .h_agree4{width:108px;background-position:0 -60px}
.h_stit .h_agree5{width:192px;margin-top:-9px;background-position:0 -200px}
.h_stit .h_info{width:88px;margin-top:-9px;background-position:0 -80px}
.h_stit .h_agency_info{width:85px;background-position:0 -100px}
.h_stit .h_product_info{width:119px;background-position:0 -120px}
.h_stit .h_memo{width:74px;background-position:0 -140px}
.h_stit .h_comp{width:60px;background-position:0 -160px}
.h_stit .h_management_group{width:120px;background-position:0 -180px}
.h_stit_v2{margin-top:23px}
.h_txt{font-size:12px;line-height:14px;color:#333;letter-spacing:-1px}
.paginate{padding-top:11px;text-align:center}
.paginate a,.paginate strong{display:inline-block;position:relative;padding:4px 8px 4px 7px;border:1px solid #fff;color:#000;font:700 13px/normal Verdana;text-decoration:none}
.paginate strong{color:#f23219}
.paginate .pre{margin-right:4px;padding:6px 6px 5px 16px;background:url(../../../tool/img/spr_paginate.gif) no-repeat 5px 8px}
.paginate .next{margin-left:0;padding:6px 16px 5px 6px;background:url(../../../tool/img/spr_paginate.gif) no-repeat 100% 8px}
.paginate .pre_end{margin-right:-4px;padding:6px 6px 5px 16px;background:url(../../../tool/img/spr_paginate.gif) no-repeat 2px -52px}
.paginate .next_end{margin-left:-4px;padding:6px 16px 5px 6px;background:url(../../../tool/img/spr_paginate.gif) no-repeat 100% -52px}
.paginate .pre,.paginate .next,.paginate .pre_end,.paginate .next_end{position:relative;color:#ccc;font-family:'굴림',Gulim;font-size:12px;font-weight:400}
.paginate .pre:hover{background-position:5px -22px}
.paginate .next:hover{background-position:100% -22px}
.paginate .pre_end:hover{background-position:2px -82px}
.paginate .next_end:hover{background-position:100% -82px}
.paginate a.pre,.paginate a.next,.paginate a.pre_end,.paginate a.next_end{color:#565656}
.paginate a:hover,.paginate strong{border:1px solid #b3b3b3;color:#f23219;text-decoration:none}
.btn_area{padding-top:35px;text-align:center}
.btn{display:inline-block;height:29px;background:url(../../../tool/img/spr_btn.gif) no-repeat}
.btn_login{width:73px}
.btn_logout{width:75px;background-position:-76px 0}
.btn_mem_join{width:137px;background-position:-154px 0}
.btn_cfm{width:58px;background-position:0 -32px}
.btn_cancel{width:67px;background-position:-61px -32px}
.btn_cancel2{width:54px;background-position:-162px -197px}
.btn_phone{width:62px;height:20px;margin-left:1px;background-position:-131px -32px}
.btn_phone2{width:78px;height:20px;margin-left:1px;background-position:-196px -32px}
.btn_file{width:74px;height:20px;background-position:0 -64px}
.btn_join_apply{width:82px;background-position:-77px -64px}
.btn_join_comp{width:82px;background-position:-162px -64px}
.btn_sch{width:67px;background-position:0 -96px}
.btn_sale{width:74px;height:20px;margin:-1px 0 1px 5px;background-position:-70px -96px}
.btn_del{width:16px;height:15px;background-position:-247px -64px}
.btn_del:hover{background-position:-266px -64px}
.btn_lst{width:126px;background-position:0 -139px}
.btn_sel{width:53px;height:20px;background-position:-218px -96px}
.btn_sch_id{width:28px;height:19px;background-position:-129px -139px}
.btn_cls_pop{width:40px;height:23px;background-position:-160px -139px}
.btn_trans{width:105px;height:18px;background-position:0 -171px}
.btn_app_pop{width:93px;height:23px;background-position:-203px -139px}
.btn_rt_pop{width:40px;height:23px;background-position:-108px -171px}
.btn_cel_pop{width:40px;height:23px;background-position:-151px -171px}
.btn_cfm_pop{width:40px;height:23px;background-position:-194px -171px}
.btn_mem_pop{width:79px;height:23px;background-position:-213px -229px}
.btn_team_pop{width:79px;height:23px;background-position:-213px -255px}
.btn_reg_pop{width:62px;height:23px;background-position:0 -269px}
.btn_edit_pop{width:62px;height:23px;background-position:-65px -269px}
.btn_cls_ly{width:15px;height:14px;background-position:-274px -96px}
.btn_key{width:69px;height:19px;background-position:0 -192px}
.btn_out{width:52px;height:20px;background-position:-237px -171px}
.btn_renew{width:74px;height:20px;margin:-1px 0 1px 5px;background-position:0 -214px}
.btn_info_edt{width:82px;background-position:-77px -197px}
.btn_mem_out{width:82px;background-position:0 -237px}
.btn_team_reg{width:63px;height:20px;background-position:-219px -197px}
.btn_mem_reg{width:63px;height:20px;background-position:-85px -229px}
.btn_del2{width:28px;height:19px;background-position:-151px -229px}
.btn_edit{width:28px;height:19px;background-position:-182px -229px}
.tx_result{margin:10px 0 9px;padding-right:8px;font-size:11px;color:#606060;text-align:right}
.tx_result em{color:#3e75ac}
.tx_result .bar{display:inline-block;margin:-1px 0 1px -4px;color:#d9d9d7;vertical-align:middle}
.tx_result .btn{margin:-1px -8px 1px -2px;vertical-align:middle}
.tbl_tool{width:100%;margin-top:11px;border:0;border-top:2px solid #adadad;border-bottom:1px solid #d4d4d4;border-spacing:0;table-layout:fixed}
.tbl_tool td,.tbl_tool th{border:0;background:0 0;border-top:1px solid #ebebeb}
.tbl_tool .frst td,.tbl_tool .frst th{border:0}
.tbl_tool th{padding:11px 0 11px 15px;background:#fafafa;color:#333;text-align:left;letter-spacing:-1px;vertical-align:top}
.tbl_tool td{padding:7px 0 5px 15px}
.tbl_tool select,.tbl_tool .btn{vertical-align:middle}
.tbl_tool .tbl_tx{margin-top:5px;font-size:11px;line-height:14px;color:#8f8f8f;letter-spacing:-1px}
.tbl_tool .tbl_tx em{color:#5079c3}
.tbl_tool .bx_cal{display:inline-block;position:relative;width:62px;height:16px;padding:2px 13px 0 6px;border:1px solid #c9c9c9;vertical-align:middle}
.tbl_tool .bx_cal input{width:100%;border:0;font-family:tahoma;font-size:11px;color:#676767}
.tbl_tool .bx_cal .btn_cal{overflow:hidden;position:absolute;top:4px;right:4px;width:11px;height:12px;background-position:-277px -32px;line-height:999px}
.tbl_tool .dash{display:inline-block;margin:0 -1px;color:#444;vertical-align:middle}
.tbl_tool .dsc{margin-left:5px;font-size:11px;color:#8f8f8f}
.tbl_tool .dsc em{color:#3e75ac}
.tbl_tool .tc_r{color:#f6433c}
.tbl_tool_v2{background:url(../../../tool/img/bg_tbl_th.gif) repeat-x}
.tbl_tool_v2 th{height:31px;padding:0;border:0;border-bottom:1px solid #d4d4d4;background:url(../../../tool/img/bar_th.gif) no-repeat 0 11px;font-weight:400;font-size:11px;color:#444;letter-spacing:-1px;text-align:center;vertical-align:middle}
.tbl_tool_v2 th.frst{background:0 0}
.tbl_tool_v2 th a{padding-right:9px;background:url(../../../tool/img/bu_sort.gif) no-repeat;color:#444}
.tbl_tool_v2 th a.asc{background-position:100% -17px}
.tbl_tool_v2 th a.dsc{background-position:100% 3px}
.tbl_tool_v2 td{padding:8px 0 9px;font-size:11px;line-height:16px;color:#606060;text-align:center}
.tbl_tool_v2 td a{color:#606060}
.tbl_tool_v2 td a.t_u{text-decoration:underline}
.tbl_tool_v2 td.num{font-family:tahoma}
.tbl_tool_v2 .frst td{border-top:1px solid #f0f0f0}
.tbl_tool_v2 .even td{background-color:#fbfbfb}
.tbl_tool_v2 a.apply{color:#3e75ac;text-decoration:underline}
.tbl_tool_v2 em.apply{color:#f6433c}
.tbl_tool_in{width:100%;margin:7px 0 2px;border:0;border-top:1px solid #adadad;border-bottom:1px solid #d4d4d4;border-spacing:0;table-layout:fixed}
.tbl_tool_in td,.tbl_tool_in th{border:0;background:0 0;border-left:1px solid #f0f0f0}
.tbl_tool_in .frst td{border-top:0;border-left:1px solid #f0f0f0}
.tbl_tool_in th.frst,.tbl_tool_in td.frst{border-left:0}
.tbl_tool_in th{padding:6px 0 5px;background:#f9fafa;border-top:0;border-bottom:1px solid #d4d4d4;font-weight:400;font-size:11px;color:#606060;text-align:center;letter-spacing:0}
.tbl_tool_in td{padding:5px 0 4px;border-top:1px solid #f0f0f0;font-size:11px;color:#606060;text-align:center}
.bx_log{margin-top:20px;padding:80px 0;border:1px solid #e5e5e5;background-color:#fafafa;text-align:center}
.bx_log .tx{overflow:hidden;width:260px;height:88px;margin:0 auto;background:url(../../../tool/img/spr_txt.gif) no-repeat;text-indent:-9999px}
.bx_log .tx2{margin:17px 0 31px;line-height:18px;color:#828282}
.bx_log .tx2 strong{color:#333}
.bx_log .tx_out{width:376px;height:63px;background-position:0 -191px}
.section_agree{position:relative}
.section_agree .agree_inner{margin-bottom:-3px}
.section_agree .agree_area{overflow:hidden;width:100%}
.section_agree .nav_step{overflow:hidden;position:absolute;top:-29px;right:10px;width:277px;height:15px;background:url(../../../tool/img/spr_step.gif) no-repeat;text-indent:-999px}
.section_agree .step2{background-position:0 -18px}
.section_agree .step3{background-position:0 -36px}
.section_agree .h_stit{margin-top:34px}
.section_agree .bx_agree{margin-top:11px;padding:2px;border:1px solid #e5e5e5;line-height:18px}
.section_agree .bx_agree .scroll{height:254px;padding:0 27px}
.section_agree .bx_agree h4{margin-top:18px;font-size:12px;color:#444}
.section_agree .bx_agree p{color:#606060}
.section_agree .bx_agree .type{margin-top:19px}
.section_agree .chk_agree{margin-top:9px}
.section_agree .chk_agree .input_chk{margin-right:1px}
.section_agree .chk_agree label{line-height:14px;color:#444}
.section_agree .join_dsc{overflow:hidden;width:100%}
.section_agree .join_dsc .bx_log{margin-top:20px}
.section_agree .join_dsc .bx_log .tx{width:313px;height:61px;background-position:0 -91px}
.section_agree .join_dsc .bx_log .tx_v2{width:356px;height:33px;margin-top:13px;background-position:0 -155px}
.section_agree .join_dsc .bx_log .tx2{margin-top:26px;color:#606060;letter-spacing:-1px}
.tab_management{width:960px;height:27px;border-bottom:1px solid #adadad}
.tab_management li{float:left;margin-right:-1px}
.tab_management li a{overflow:hidden;display:block;height:28px;background:url(../../../tool/img/spr_tab.gif) no-repeat;text-indent:-999px}
.tab_management li .tab{width:101px}
.tab_management li .tab2{width:101px;background-position:-100px 0}
.tab_management li .tab3{width:92px;background-position:-200px 0}
.tab_management li .tab4{width:113px;background-position:-291px 0}
.tab_management li.selected a{position:relative}
.tab_management li.selected .tab{background-position:0 -31px}
.tab_management li.selected .tab2{background-position:-100px -31px}
.tab_management li.selected .tab3{background-position:-200px -31px}
.tab_management li.selected .tab4{background-position:-291px -31px}
.tab_management_v2{width:739px}
.tab_management_v2 li .tab{width:71px;background-position:0 -62px}
.tab_management_v2 li .tab2{width:60px;background-position:-70px -62px}
.tab_management_v2 li .tab3{width:102px;background-position:-129px -62px}
.tab_management_v2 li .tab4{width:115px;background-position:-230px -62px}
.tab_management_v2 li.selected .tab{background-position:0 -93px}
.tab_management_v2 li.selected .tab2{background-position:-70px -93px}
.tab_management_v2 li.selected .tab3{background-position:-129px -93px}
.tab_management_v2 li.selected .tab4{background-position:-230px -93px}
.his_sch .tbl_tool{margin-top:24px}
.his_sch .btn_area{padding-top:20px}
.his_sch .h_stit{margin:30px 0 -12px}
.his_result .tbl_tool{margin-top:0}
.his_result .lst_his{margin:28px 0 -25px}
.his_result .lst_his li{padding-left:7px;background:url(../../../tool/img/bu_dot.gif) no-repeat 0 5px;font-size:11px;line-height:14px;color:#757575}
.his_result .lst_his li em{color:#000}
.tx_info{margin:16px 0 -9px;line-height:20px;color:#444}
.tx_info em{color:#f6433c}
.tx_info span{font-size:11px;color:#757575;letter-spacing:-1px}
.section_memo{margin-top:47px}
.section_memo .tx{margin:-14px 0 9px;font-size:11px;line-height:14px;color:#8f8f8f;text-align:right}
.memo_area{border-top:2px solid #adadad}
.memo_area .write_area{position:relative;height:52px;padding:12px 88px 0 97px;background-color:#fafafa}
.memo_area .write_area .t_memo{overflow:hidden;position:absolute;top:26px;left:24px}
.memo_area .write_area .t_memo label{display:block;width:41px;height:11px;background:url(../../../tool/img/spr_txt.gif) no-repeat -263px 0;text-indent:-999px}
.memo_area .write_area .write{border:1px solid #d3d3d3}
.memo_area .write_area textarea{width:100%;height:38px;border:0}
.memo_area .write_area .btn_memo{position:absolute;top:12px;right:15px;width:68px;height:40px}
.memo_area .write_area .btn_memo span{overflow:hidden;display:block;width:68px;height:40px;background:url(../../../tool/img/spr_btn.gif) no-repeat -147px -96px;text-indent:-999px;cursor:pointer}
.memo_area .lst_memo{border-bottom:1px solid #d4d5d9}
.memo_area .lst_memo li{position:relative;padding:10px 46px 10px 113px;border-top:1px solid #ebebeb;line-height:14px;color:#444}
.memo_area .lst_memo li strong{color:#333}
.memo_area .lst_memo li .bar{margin:0 10px 0 11px;color:#ccc}
.memo_area .lst_memo .date{position:absolute;top:11px;left:15px}
.memo_area .lst_memo .btn{overflow:hidden;position:absolute;top:9px;right:15px;text-indent:-999px}
.memo_area .btn_area{padding-top:20px}
.group_info .h_txt{margin-top:18px}
.group_info .tbl_tool_v2 th,.group_result .tbl_tool_v2 th{background:0 0}
.group_info .tbl_tool_v2 th.frst,.group_info .tbl_tool_v2 td.frst{border-right:1px solid #ededed}
.group_result .h_txt{margin-top:29px}
.group_result .tx_result{margin-top:-12px}
.group_sch{margin-top:30px}
.group_sch .btn_area{padding-top:20px}
.group_result_v2{margin-top:28px}
.group_result_v2 .tx_dsc{font-size:11px;line-height:14px;color:#757575}
.group_result_v2 .tx_dsc em{color:#000}
.group_result_v2 .tx_result{margin-top:-12px}
#pop_header{height:34px;background:url(../../../tool/img/bg_pop_header.gif) repeat-x;border-top:1px solid #727272}
#pop_header h1{margin:9px 0 0 15px;padding-left:9px;background:url(../../../tool/img/bu_arr_pop.gif) no-repeat 0 3px;font-family:gulim;font-size:13px;line-height:14px;color:#fff;letter-spacing:-1px}
#pop_footer{margin:0 20px;padding:10px 0 15px;border-top:1px solid #e5e5e5;text-align:center}
#pop_footer.no_line{padding:20px 0 25px;border:0}
.bx_pop{margin:20px 20px 0;border:1px solid #e3e3e3}
.bx_pop .inner{padding:18px 0 19px;background-color:#f8f8f8;border:1px solid #f1f1f1;text-align:center}
.bx_pop_v2 .inner{padding:33px 0 24px}
.bx_pop .tx_pop{margin-bottom:8px;line-height:14px;color:#333;letter-spacing:-1px}
.sch_id{padding:18px 0 20px;text-align:center}
.sch_id p{font-size:11px;line-height:14px;color:#757575;letter-spacing:-1px}
.sch_id .sch_area{margin-top:8px}
.sch_id .sch_area a{margin-left:1px;vertical-align:middle}
.pop_tit{margin:19px 0 0 19px;font-size:12px;line-height:14px;color:#444}
.pop_tbl{margin:0 20px 0 19px}
.pop_tbl .tbl_tool{margin-top:8px}
.pop_tbl2 .tbl_tool{margin-top:20px}
.pop_tbl .tbl_tool .sc{padding:0}
.pop_tbl .tc_r{color:#f6433c}
.pop_tbl .pop_dsc{margin:8px 0 27px;font-size:11px;line-height:14px;color:#333;letter-spacing:-1px}
.pop_tbl .pop_dsc em{color:#f6433c}
.ly_tool{position:absolute;background-color:#fff;border:2px solid #777}
.ly_tool .btn_cls_ly{overflow:hidden;position:absolute;top:8px;right:7px;text-indent:-999px}
.ly_tool .ly_header{height:31px;background-color:#f4f4f4}
.ly_tool .ly_header h3{padding:9px 0 0 15px;font-size:12px;line-height:14px;color:#383838}
.ly_tool .ly_footer{margin:0 20px;padding:10px 0 15px;border-top:1px solid #e5e5e5;text-align:center}
.ly_mail{overflow:hidden;width:361px}
.ly_mail .ly_tx{margin:26px 0 15px;line-height:20px;color:#444;text-align:center}
.ly_mail .ly_tx em{font-size:11px;color:#f5433d}
.ly_mail .ly_dsc{position:relative;margin:14px 0 23px 36px;font-size:11px;color:#6b6b6b;letter-spacing:-1px}
.ly_mail .ly_dsc .btn{overflow:hidden;position:absolute;top:-4px;right:36px;text-indent:-999px}
.ly_mail .input_txt{width:287px;height:27px;margin-left:36px;padding:2px 0 0;border:1px solid #afb5bf;font-weight:700;font-size:16px;line-height:24px;color:#000;text-align:center}
.ly_mail_cfm{overflow:hidden;width:341px}
.ly_mail_cfm .ly_tx{margin:39px 0 33px;line-height:24px;color:#444;text-align:center}
.section_myinfo{position:relative}
.section_myinfo .h_stit{margin-top:25px}
.section_myinfo .btn_out{overflow:hidden;position:absolute;top:-3px;right:0;text-indent:-999px}
.sc_area{overflow:hidden;overflow-y:scroll;border-bottom:1px solid #d4d4d4}
.sc_area .tbl_tool{width:100%;.width:auto;margin:-32px 0 0;border:0}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0}
body,input,textarea,select,table{font-family:'돋움',Dotum,AppleGothic,sans-serif;font-size:12px}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
a{text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
.blind{visibility:hidden;overflow:hidden;position:absolute;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
.blind_caption{overflow:hidden;visibility:visible;top:0;left:0;width:1px;height:1px;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
caption{overflow:hidden;top:0;left:0;width:1px;height:0;font-size:0;line-height:0}
body{margin:0}
h1,h2,h3,h4,h5,h6,p{outline:0}
#wrap{position:relative;text-align:left}
#u_skip{position:relative;z-index:2147483647}
#u_skip a{position:absolute;left:0;top:-45px;width:128px;background:url(../img/lnb/sp_u_skip.png) repeat-x 0 -11px;border:1px solid #4ec53d;text-align:center;outline:0}
#u_skip a:active,#u_skip a:focus{top:0;text-decoration:none;cursor:pointer;zoom:1}
#u_skip span{display:inline-block;padding:2px 6px 0 0;background:url(../img/lnb/sp_u_skip.png) no-repeat 100% 11px;font-size:11px;letter-spacing:-1px;color:#fff;line-height:26px}
#footer{clear:both;padding:40px 0 30px;border-top:1px solid #dedede;text-align:center;zoom:1}
#footer *{margin:0;padding:0;font-size:12px;font-style:normal;font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,Sans-serif;line-height:normal;color:#333;list-style:none}
#footer img{vertical-align:top}
#footer a{color:#444;text-decoration:none}
#footer a:visited{color:#666;text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer ul{margin:0 0 9px}
#footer ul li{display:inline;position:relative;padding:0 5px 0 7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) left 3px no-repeat;font-size:12px;white-space:nowrap}
#footer ul li a:hover,#footer ul li a:hover strong{color:#438a01}
#footer ul li.first{padding:0 3px 0 0;background:0 0}
#footer .info{margin:0 0 11px;font-size:11px;line-height:15px;color:#7e7e7e}
#footer .info2{margin:-3px 0 13px;font-size:11px;line-height:18px}
#footer .info2 span{display:inline-block;margin-left:2px;padding-left:7px;background:url(http://static.naver.com/common/footer/bu_bar.gif) 1px 50% no-repeat;#background-position:left 10%;font-size:11px}
#footer address{font:9px/14px Verdana}
#footer address img{vertical-align:middle}
#footer address a{font:700 9px Tahoma;color:#444}
#footer address a:hover{color:#2cb400}
#footer address span{padding-left:2px;font:9px/14px Verdana}
#footer address em{padding-left:3px;font:9px verdana}
#footer address .logo{display:inline-block;overflow:hidden;width:58px;height:11px;margin:-1px 0 1px;background:url(../img/footer/bg_header_footer.gif) no-repeat -524px -84px;line-height:999px;vertical-align:middle}
#footer .sta_search_box{overflow:hidden;width:322px;margin:0 auto 22px;padding-top:10px}
#footer .sta_search_box .sta_search_text{float:left;width:202px;height:17px;.height:15px;margin-right:3px;padding:2px 0 0 7px;.padding:4px 0 0 7px;border:0;border:3px solid #3eaf0e;font:12px '돋움',Dotum,AppleGothic,sans-serif;color:#888;vertical-align:middle}
#footer .sta_search_box .sta_text_ovr{color:#000}
#footer .sta_search_box .btn_search{display:inline-block;overflow:hidden;width:42px;height:25px;margin-left:-3px;background:url(../img/home/bg_header_footer.gif) no-repeat -524px -49px;line-height:999px;vertical-align:top}
#footer .sta_search_box .btn_search2{display:inline-block;overflow:hidden;width:56px;height:25px;background:url(../img/home/bg_header_footer.gif) no-repeat -569px -49px;line-height:999px;vertical-align:top}
.hidden{display:none}
.view_mobile{width:100%;height:17px;padding:20px 0;border-top:1px solid #e7e7e7;background-color:#f3f3f3;text-align:center}
.view_mobile strong{display:inline-block;overflow:hidden;width:176px;height:17px;background:url(../img/footer/view_mobile.gif) no-repeat;text-indent:-9999px;vertical-align:top}
/*# sourceMappingURL=maps/tool.css.map */
