@charset "utf-8";

#print_pop{width:667px; margin:0 auto; text-align:left;}
#print_pop h1{height:22px; padding:10px 0 0 24px; border-top:1px solid #0c5fa9; background:#0d6ab2 url(../img/ico_printop_arrow.gif) 15px 12px no-repeat; color:#fff; font-size:14px; letter-spacing:-1px;}

.btn_print{position:relative; width:619px; margin:12px 0 0 24px; text-align:right;}

.entrytop_box{position:relative; width:619px; margin:3px 0 5px 24px; background:url(../img/bg_print_box_top.gif) no-repeat}
	.entrytop_box dl{display:block; width:593px; _width /**/:619px; padding:18px 0 13px 26px; *padding-bottom:14px; _padding-top:22px; background:url(../img/bg_print_box_btm.gif) left bottom no-repeat; overflow:hidden;}
	.entrytop_box dt{width:100%; padding-left:1px; color:#333; font-family:simsun; _font-family:"네이버사전",simsun; font-size:36px; font-weight:bold; line-height:43px;}
	.entrytop_box dt span{color:#797979; letter-spacing:-4px; font-weight:normal;}
	.entrytop_box dt img{margin:0 4px 0 3px; _margin-top:-3px; vertical-align:middle;}
	.entrytop_box dt .star{position:relative; top:-1px; display:none;}/* 20100811 edit */
	.entrytop_box dt .star img{margin:0; vertical-align:middle;}
	.entrytop_box dt.kor{margin-top:-4px; margin-bottom:-2px; font-size:28px; font-family:"돋움"; font-weight:bold; letter-spacing:-4px;}
	.entrytop_box dt.kor span{font-family:simsun; _font-family:"네이버사전",simsun; font-weight:normal; letter-spacing:-2px;}
	.entrytop_box dd{width:100%; margin-top:-2px; _margin-top:-4px; padding:0 0 9px 1px; overflow:hidden;}
	.entrytop_box dd ul{list-style:none; padding:7px 0 0 0; margin:0;}
	.entrytop_box dd li{float:left; margin:0 7px 0 0; color:#333; white-space:nowrap; line-height:18px;}
	.entrytop_box dd li span.a{color:#606060; font-size:14px; font-family:simsun; _font-family:"네이버사전",simsun; text-decoration:none;}
	.entrytop_box dd li .py{position:relative; color:#000; font-size:18px; font-family:times new roman,simsun,굴림,Arial; top:-1px;}
	.entrytop_box .btm_btn{clear:both; width:603px; _width /**/:680px; height:34px; padding:0 29px 0 28px; overflow:hidden; background:url(../img/bg_topbox_bot.gif) no-repeat left bottom;} /* edit 20081226 height, padding, width value*/

	.entrytop_box dt span.hsk{margin:0 2px 0 0px; *margin:0 -2px 0 0px;}/* 20100811 edit */
	.entrytop_box dt span.hsk img{margin:-7px 0px 0 4px; margin:-7px 0px 0 5px\9; *margin:-1px 0px 0 4px; _margin:-1px 0px 0 4px; vertical-align:middle;}/* 20100811 edit */

	.entrytop_box .btm_btn li{float:left; padding-right:7px;}
	.entrytop_box .btm_btn li.mid{padding-left:9px; background:url(../img/bg_hline2.gif) no-repeat 0 center;}
	.entrytop_box .btm_btn li.btn_print{float:right; text-align:right;}
	.entrytop_box .btm_btn li span{padding:0 0 0 13px; color:#606060; font-size:11px; text-decoration:none; line-height:13px; _line-height:14px;  letter-spacing:-1px;}
	.entrytop_box .btm_btn li span.addword{background:url(../img/ico_addword.gif) 0 0 no-repeat; *background-position:0 1px;}
	.entrytop_box .btm_btn li span.myblog{background:url(../img/ico_myblog.gif) 0 0 no-repeat; *background-position:0 1px;}
	.entrytop_box .btm_btn li span.print{padding:0 0 0 14px; background:url(../img/ico_print.gif) 0 0 no-repeat; *background-position:0 1px;}

.top_words{width:617px; margin:0 0 5px 24px; padding:8px 0; border:1px solid #f0f0f0; background:#f8f8f8; overflow:hidden;}
	.top_words dl{clear:both; width:585px; margin:0 0 0 27px; overflow:hidden;}
	.top_words dt{float:left; margin-right:6px; padding-top:5px;}
	.top_words dd{float:left; height:20px; margin-right:16px; padding:4px 0 0 0; white-space:nowrap;}
	.top_words dd span.a{color:#0c5fa9; font-family:simsun; _font-family:"네이버사전",simsun; font-size:14px; text-decoration:underline;}/* 20090104 edit */
	.top_words dd span.nf{margin-left:5px}
	.top_words dd em{color:#000; font-family:times new roman; font-size:17px; line-height:15px;}
	.top_words dd span{font-size:14px; font-family:simsun; _font-family:"네이버사전",simsun;}

.size_control{position:relative; width:619px; height:25px; margin:0 0 0 24px; overflow:hidden;}
	.size_control ul{float:right; overflow:hidden;}
	.size_control li{float:left; margin-left:-1px; border:1px solid #c8c8c8; background:#fff;}
	.size_control li.txt{padding:6px 5px 0 0; border:none; color:#707070; font-size:11px; letter-spacing:-1px;}
	.size_control li.on{background:url(../img/bg_font_control.gif) 0 0 no-repeat;}/* 20090225 eidt*/
	.size_control li span{display:block; width:23px; height:23px; color:#313131; font-family:"돋움"; text-align:center; line-height:23px; cursor:pointer; _cursor:hand;}
	.size_control li.on span{color:#0c5fa9;}/* 20090225 eidt*/
	.size_control li span.font_lv1{font-size:12px}
	.size_control li span.font_lv2{font-size:14px}
	.size_control li span.font_lv3{font-size:16px}
	/*20050918 add*/
	.size_control li a.font_lv1{font-size:12px}
	.size_control li a.font_lv2{font-size:14px}
	.size_control li a.font_lv3{font-size:16px}

.words{position:relative; width:619px; margin:-1px 0 0 24px; padding:0 0 11px 0; overflow:hidden;}
	.words ol{padding-left:14px; overflow:hidden;}
	.words li{width:100%; padding-bottom:12px; color:#333; line-height:24px;}
	.words li strong{margin-right:2px}
	.words li em.more{color:#000;}
	.words li em span.en{color:#000;font-family:times new roman}
	.words li p{padding-left:16px; background:url(../img/bg_dot.gif) 9px 11px no-repeat; line-height:24px; overflow:hidden;}
	.words li p img{_margin:7px 0; vertical-align:middle;}
	.words li .sc{font-family:simsun; _font-family:"네이버사전",simsun; vertical-align:middle;}

.study_mess{position:relative; width:619px; margin:0 0 0 24px; padding:19px 0 13px 0; border-top:1px solid #dbdbdb; overflow:hidden;}
	.study_mess h5{margin:0 0 10px 0; margin-bottom:11px; font-size:12px; color:#000;}
	.study_mess .mess_box{float:left; height:20px; margin:0 0 7px 0; padding:7px 13px 0; border:1px solid #ebebeb; font-size:16px; font-weight:bold; font-family:simsun; _font-family:"네이버사전",simsun; text-align:center;}
	.study_mess p.txt{margin:10px 0 0 0; padding:0; color:#a0a0a0; text-align:right;}
	.study_mess p.txt span{font-family:simsun; _font-family:"네이버사전",simsun;}
	.study_mess ol{clear:both; padding-left:14px; overflow:hidden;}
	.study_mess li{width:100%; padding-bottom:12px; color:#333; line-height:24px;}
	.study_mess li em{color:#a0a0a0;}
	.study_mess li p{padding-left:16px; background:url(../img/bg_dot.gif) 9px 11px no-repeat; line-height:24px;}
	.study_mess li .sc{font-family:simsun; _font-family:"네이버사전",simsun; vertical-align:middle;}
	.study_mess li p img{vertical-align:middle}

/* 20090206 add */
.use_words{position:relative; width:619px; margin:0 0 0 24px; padding:20px 0 13px 0; *padding-top:19px 0 0 0; border-top:1px solid #dbdbdb; overflow:hidden;}
	.use_words h5{margin:0 0 10px 0; *margin-bottom:11px; font-size:12px; color:#000;}
	.use_words dl{width:605px; _width /**/:100%; padding-left:14px; overflow:hidden;}
	.use_words dt{width:100%; color:#999; font-family:Arial; overflow:hidden;}
	.use_words dt span{margin-left:1px; color:#0c5fa9; font-family:simsun; _font-family:"네이버사전",simsun; font-weight:bold; text-decoration:underline; vertical-align:middle;}/* 20090104 edit */
	.use_words dt .sound{border-bottom:none; text-decoration:none;}
	.use_words dt img{vertical-align:middle;}
	.use_words dt.kro span{font-family:Dotum;}
	.use_words dt.kro span.sc{color:#666; font-family:simsun; _font-family:"네이버사전",simsun;}
	.use_words dd{width:100%; overflow:hidden; margin:2px 0 16px}
	.use_words dd ol{width:100%; overflow:hidden;}
	.use_words dd li{width:100%; color:#333;}
	.use_words dd li em{font-size:12px; color:#a0a0a0;}
	.use_words dd li span{font-family:simsun; _font-family:"네이버사전",simsun; vertical-align:middle;}
/* //20090206 add */

/* 20090304 add */
.view_words{position:relative; width:619px; margin:0 0 0 24px; padding:20px 0 13px 0; *padding-top:19px; border-top:1px solid #dbdbdb; overflow:hidden;}
	.view_words h5{margin:0 0 11px 0; *margin-bottom:12px; font-size:12px; color:#000;}
	.view_words dl{width:100%; padding-left:14px; overflow:hidden;}
	.view_words dt{float:left; clear:both; padding:0 6px 14px 1px; color:#0000DE; font-size:38px; line-height:1em!important; font-family:simsun; _font-family:"네이버사전",simsun; font-weight:bold;}
	.view_words dt a{/* margin:0; padding:0;font-size:38px;line-height:1em!important; color:#0C5FA9; font-family:simsun; _font-family:"네이버사전",simsun; font-weight:bold; text-decoration:none; */}
	.view_words dt a:hover{text-decoration:underline;}
	.view_words dd{padding-bottom:14px; line-height:22px; color:#333;}
	.view_words dd span{color:#999; font-family:Arial; font-size:13px}
	.view_words dd a{margin-right:5px; text-decoration:none;}
	.view_words dd a:hover{text-decoration:none;}
	.view_words dd img{_margin:6px 0; vertical-align:middle}
	/* 20090930 add */
	.view_words dd ul{ margin-top:2px !important; margin-top:2px\9 !important; *margin-top:9px; _margin-top:2px !important; overflow:hidden;zoom:1; }
	.view_words dd ul li{ float:left;  font: normal 12px Dotum; padding-left:10px; background:url(../img/bg_bar3.gif) no-repeat left 0;}
	.view_words dd ul li.first{ margin-right:8px;padding-left:0; background:transparent none repeat scroll 0 0;}
	.view_words dd ul li img.ico{ position:relative; top:1px; margin-right:4px;}
	.view_words dd ul li a{ color:#333;}
/* //20090304 add */

.pend{padding-bottom:0; border-bottom:none}

.lv1, .lv2, .lv3{overflow:hidden;}

.lv1 .words li{font-size:15px; line-height:26px;font-family:arial}
	.lv1 .words li span.en{font-size:17px;}
	.lv1 .words li .sc{font-size:14px; *line-height:15px; _line-height:24px;}/* 20090104 edit */
	.lv1 .words li .py{font-size:15px;}/* 20090518 edit */
	.lv1 .study_mess li{font-size:12px; line-height:24px;}
	.lv1 .study_mess li .sc{font-size:14px;}
	.lv1 .study_mess li p{background-position:9px 11px}
	.lv1 .study_mess p.txt{font-size:12px;}
	/* 20090206 add */
	.lv1 .use_words dt{font-size:15px; line-height:28px}
	.lv1 .use_words dt span{font-size:16px; *line-height:18px; _line-height:28px;}
	.lv1 .use_words dt.kro span{font-size:14px; *line-height:15px; _line-height:28px;}
	.lv1 .use_words dt.kro span.sc{font-size:14px}
	.lv1 .use_words dd li{font-size:12px; line-height:18px;}
	.lv1 .use_words dd li span{font-size:14px}
	/* //20090206 add */
	.lv1 .view_words dt{line-height:22px;}/* 20090304 add */
	.lv1 .view_words dd{line-height:22px; font-size:12px}/* 20090304 add */
	.lv1 .view_words dd span{font-size:12px}/* 20090304 add */

.lv2 .words li{font-size:17px; line-height:28px; font-family:arial}
	.lv2 .words li span.en{font-size:19px;}
	.lv2 .words li .sc{font-size:16px; *line-height:17px; _line-height:24px;}/* 20090104 edit */
	.lv2 .study_mess li{font-size:14px; line-height:26px;}
	.lv2 .study_mess li .sc{font-size:16px;}
	.lv2 .study_mess li p{background-position:9px 13px}
	.lv2 .study_mess p.txt{font-size:14px;}
	/* 20090206 add */
	.lv2 .use_words dt{font-size:15px; line-height:30px}
	.lv2 .use_words dt span{font-size:18px; *line-height:20px; _line-height:30px;}
	.lv2 .use_words dt.kro span{font-size:16px; *line-height:17px; _line-height:30px;}
	.lv2 .use_words dt.kro span.sc{font-size:16px}
	.lv2 .use_words dd li{font-size:14px; line-height:20px;}
	.lv2 .use_words dd li span{font-size:16px}
	/* //20090206 add */
	.lv2 .view_words dt{*height:auto; line-height:22px;}/* 20090304 add */
	.lv2 .view_words dd{_height:24px; line-height:22px; font-size:12px}/* 20090304 add */
	.lv2 .view_words dd span{font-size:12px}/* 20090304 add */
	
.lv3 .words li{font-size:19px; line-height:30px;font-family:arial}
	.lv3 .words li span.en{font-size:21px;}
	.lv3 .words li .sc{font-size:18px; *line-height:19px; _line-height:24px;}/* 20090104 edit */
	.lv3 .study_mess li{font-size:16px; line-height:28px;}
	.lv3 .study_mess li .sc{font-size:18px;}
	.lv3 .study_mess li p{background-position:9px 15px}
	.lv3 .study_mess p.txt{font-size:16px;}
	/* 20090206 add */
	.lv3 .use_words dt{font-size:17px; line-height:32px}
	.lv3 .use_words dt span{font-size:20px; *line-height:22px; _line-height:32px;}/* 20090104 add */
	.lv3 .use_words dt.kro span{font-size:18px; *line-height:19px; _line-height:32px;}/* 20090104 add */
	.lv3 .use_words dt.kro span.sc{font-size:18px}/* 20090105 add */
	.lv3 .use_words dd li{font-size:16px; line-height:22px;}
	.lv3 .use_words dd li span{font-size:18px}/* 20090105 add */
	/* //20090206 add */
	.lv3 .view_words dt{line-height:30px;}/* 20090304 add */
	.lv3 .view_words dd{_height:26px; line-height:22px; font-size:12px}/* 20090304 add */
	.lv3 .view_words dd span{font-size:12px}/* 20090304 add */

.totop{margin-top:-2px; padding:0 26px 21px 0; text-align:right;}
.print_foot{width:627px; margin:0 auto; padding:12px 0 18px 0; border-top:1px solid #e4e4e4; font:10px Verdana; text-align:center;}
.print_foot a, .print_foot span{color:#009bcb; /* color:#00535d; font-weight:bold; */}

#pop_footer{width:auto;padding:21px 0 50px;border-top:1px solid #dedede;text-align:center}
#pop_footer address{font-family:Verdana;font-size:9px;color:#444}
#pop_footer address .logo{display:inline-block;margin:1px 3px 0 0;vertical-align:top}
#pop_footer address .logo img{vertical-align:top}
#pop_footer address a,address a:visited,address a:link{padding-right:1px;font-family:Tahoma;font-weight:bold;font-size:9px;color:#2cb400}
#pop_footer address a:hover{color:#2cb400;text-decoration:underline}

.nbb{border-bottom:none}/* 20090121 add */

@media print{
	.entrytop_box{position:relative; width:613px; margin:3px 0 5px 24px; background:none; border:3px solid #b5b5b5;}
	.word_list{position:relative; clear:both; padding:25px 0 28px 23px; overflow:hidden;}
	.size_control{display:none;}
}

.hidden {visibility:hidden;}
