/* Common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,sup{margin:0;padding:0}
body,input,textarea,select,button,table,div,p{font-family: '»õ±¼¸²','New Gulim','±¼¸²',gulim,'µ¸¿ò',dotum,applegothic,sans-serif;font-size:12px}
button,img,fieldset{border:0}
button{cursor:pointer}
ul,ol{list-style:none}
em,address{font-style:normal}
a{color:#0000de;text-decoration:none}
a:hover,a:active,a:focus{text-decoration:underline}
hr,legend{display:none}
input{margin:-1px 0 1px;font-family: '»õ±¼¸²','New Gulim','±¼¸²',gulim,'µ¸¿ò',dotum,applegothic,sans-serif;font-size:12px;vertical-align:middle}
textarea{overflow:hidden;overflow-y:auto;font-family: '»õ±¼¸²','New Gulim','±¼¸²',gulim,'µ¸¿ò',dotum,applegothic,sans-serif;font-size:12px;line-height:18px}
input.text{height:20px;_margin:-2px 0 0;padding:1px 3px 0;border:1px solid #ccc}
textarea.text{_margin:-2px 0 0;padding:1px 3px 0;border:1px solid #ccc}
select{font-family: '»õ±¼¸²','New Gulim','±¼¸²',gulim,'µ¸¿ò',dotum,applegothic,sans-serif;font-size:12px;vertical-align:middle}
table{padding:0;border-collapse:collapse;font-family: '»õ±¼¸²','New Gulim','±¼¸²',gulim,'µ¸¿ò',dotum,applegothic,sans-serif;font-size:12px;table-layout:fixed;border-collapse:collapse}
table caption{display:none}
.blind{overflow:hidden;position:absolute;width:0;height:0;opacity:0;filter:alpha(opacity='0')}
a strong{cursor:pointer}
.ari{font-family:arial}
i{font-style:normal}
.highlight{background:#e3f3ff; display:inline;}