@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전Tip노출개수 */
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}

/* 각 사전 별 수정부분 */
.cont_main h2 .logo{width:320px;background:url(../img/pt/sp_header_pc.png) no-repeat}
.cont_main.change_lang h2 .logo{width:379px;margin-left:279px;background-position:0 -92px}
.cont_main.change_lang .main_srch .btn_srch{width:81px;background:url(../img/pt/sp_header_pc.png) no-repeat 0 -186px}
.cont_main.change_lang .main_srch .device{left:423px;}
.cont_main .main_srch{*width:468px}

.dic_lk .img{background:url(../img/pt/sp_dic.png) no-repeat;background-size:122px 157px}
.pc .lyr_mobile div{background:url(../img/pt/img_qr.gif) no-repeat}
.pc .header h1 a{background:url(../img/pt/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/pt/sp_dic_s.png) no-repeat}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 130px; /* 서비스에 맞게 변경 */
	background-image: url(../img/pt/Nicon_ptdic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/pt/Nicon_ptdic.svg);
	-webkit-background-size: 130px auto; /* 서비스에 맞게 변경 */
	background-size: 130px auto; /* 서비스에 맞게 변경 */
}
