@charset "utf-8";

body,input,textarea,select,table,button,code{font-family:'나눔고딕',NanumGothic,'돋움',Dotum,'굴림',Gulim,Helvetica,sans-serif}
.word_srch_area .btn_all_del{letter-spacing:-2px}
.top_btn .blind{letter-spacing:-1px}
.today_cvr .jp{letter-spacing:0}
.dt li{*float:left}
.accent{top:20px}

/* Image Sprite */
.hs .hssbt,
.hs .ipbt,
.hs .hsw .clrt{background-image:url(../im/sp_gnb_10_s.png)}
.m_tab li a:before,
.m_tab .on a:after,
.srch_nodata .m_tab .on a:after,
.srch_result .m_tab .on a:after,
.btn_open,
.on .btn_open,
.player .play,
.player .btn_play,
.player .playing,
.dlst .fd_btn,
.ico_x,
.ico_x2,
.dic_lk .ico_arr,
.ft_big,
.ft_small,
.top_btn:after,
.on.top_btn:after,
.accent .tic,
.accent .close,
.sbt3,
.sc4_n .sbt4,
.ico_star,
.main_dn .thumb.th_phrase{background-image:url(../im/sp_gnb_11_s.png)}
.u_ftlkbt:before,
.header .naver span{background-image:url(../im/sp_gnb_12_s.png)}
.clrt{background-image:url(../im/clrt_n.gif)}
.m_tab li a{background-image:url(../im/bg_tab_s.png)}
.device_wrap a .ico{background-image:url(../im/sp_inputdevice2_e.png)}
.atbt button,
.auto_complete2 .option button,
.info_tit a.btn_refresh,
.dic_lk .thumb{background-image:url(../im/sp_btn_s.png)}
.section .more2 a,
.tc-panels .more a{background-image:url(../im/ico_sanj_s.gif)}
.player.load .play{background-image:url(../im/ico_loading_s.gif)}
.layer_dic .more_layer a{background-image:url(../im/bg_more_layer_s.png)}
.td_lst{background-image:url(../im/bg_td_li_s.gif)}
.info_tit,
.wc_btn_area{background-image:url(../im/bg_tit_s.gif)}
.info_tit a.ico_help{background-image:url(../im/ico_help_s.gif)}
.info_tit .help_dsc .btn_clse,
.area_ly_notice .btn_clse{background-image:url(../im/btn_help_clse_s.gif)}
.info_tit .help_dsc .effect{background-image:url(../im/bg_help_bubble_s.gif)}
.today_cvr .bnr{background-image:url(../im/bg_today_cvr_pattern_s.png)}
.today_cvr .bnr a{background-image:url(../im/ico_translation_s.png)}
.today_cvr .bnr .cnr_lt{background-image:url(../im/bg_today_cvr_lt_s.png)}
.today_cvr .bnr .cnr_rt{background-image:url(../im/bg_today_cvr_rt_s.png)}
.u_pg2 .arr_ico{background-image:url(../im/sp_bg2_s.png)}
.top_move a .ico_move{background-image:url(../im/ico_move_s.gif)}
.wc_btn_area .slt_wrap .ico_arr{background-image:url(../im/ico_wc_s.gif)}
.section_sptrans .srch_box .lst_p .jap_ico,
.lst2 li .lst_p .jap_ico{background-image:url(../im/sp_bu_v_s.png)}
.ts .help,
.ts .kiclo .nc,
.top_a,
.top_a2,
.top_a3,
.helpt .sbox:after{background-image:url(../im/sp_ime_s.png)}
.jc,.jc4,.jct,.jcd,.jcd4,.jcd5{background-image:url(../im/bot_bc_new2_e.png)}
.jc,.jc6,.jct2,.jcd2,.jc6,.jc7{background-image:url(../im/bot_bc4_e.png)}
.jc,.jc4,.jc6{background-image:url(../im/bot_boxbg_e.png)}
.btn_add,
.pop_txt .arr_top{background-image:url(../im/sp_addbt_s.png)}
.new_pop .option_area .select:after,
.new_pop a.btn_close{background-image:url(../im/sp_layer_pop_s.png)}
.set_lang select{background-image:url(../im/sp_ico_s.gif)}
/*.kib .butt .del{text-align:center;background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic1.png) 50% 50% no-repeat}
.kib .butt .del_v1{text-align:center;background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_b2.png) no-repeat}
.kib .butt .del1{text-align:center;background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_b2.png) no-repeat}
.kib .butt .dela{text-align:center;background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_b2.png) no-repeat}
.kib .butt .del.on{background:#4b5873 url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic1.png) 50% 50% no-repeat}
.kib .butt .del1.on{background:#4b5873 url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic4.png) 50% 50% no-repeat}
.kib .butt .dela.on{background:#4b5873 url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic5.png) 50% 50% no-repeat}
.kia .butt .del{background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic1.png) 50% 50% no-repeat}
.kia .butt .del_v1{background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic1.png) 50% 50% no-repeat}
.kia .butt .shift{background:#69748a url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic2.png) 50% 50% no-repeat}
.kia .butt .del.on{background:#4b5873 url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic1.png) 50% 50% no-repeat}
.kia .butt .shift.on{background:#4b5873 url(http://dicimg.naver.com/jpdic_mobile/im/ki_ic3.png) 50% 50% no-repeat}*/

.btn_txt_style1.open .hc{background-image:url(../im/sp_txt_btn_arrow_s.png)}
.btn_txt_style1.close .hc{background-image:url(../im/sp_txt_btn_arrow_s.png)}

.main_dn .thumb.th_trans{background-image:url(../im/bg_multitrans_s.png)}

/* 웹수집 */
.userentry_word .note .ico,.con_clt .ask,.con_clt .ask .pop_clt a,.con_clt .ask .arr_top{background-image:url(../im/sp_clt_e.png)}

/* 20150114 사전 UI 개편 */
.hs .hssbt,
.header .ham,
.hs .ipbt,
.hs .ipbt.on,
.hs .hsw .clrt,
.gnb_l, .gnb_m, .gnb_m .line, .gnb_r, .gnb_r .line,
.top_a,.top_a2,.top_a3,.top_a2 .line,.top_a3 .line,
.ts .help{background-image:url(../im/sp_header_e.png)}

/* 20150311 문자 입력기/필기 인식기 디자인 수정 */
.kia .butt .del .ico,
.kib .butt .del .ico,
.kia .butt .del_v1 .ico,
.kia .butt .shift .ico,
.kia .butt .space .ico{background-image:url(../im/sp_ki_ico_e.png)}
.kia .butt .del.on .ico,
.kib .butt .del.on .ico,
.kia .butt .del_v1.on .ico,
.kib .butt .del_v1.on .ico,
.kia .butt .shift.on .ico,
.kia .butt .space.on .ico{background-image:url(../im/sp_ki_ico_on_e.png)}

/* 오픈사전 배너 */
.main_dn.opendic .main_np .img{background-image:url(../im/ico_opendict_bann_e.png)}

/* 오픈사전 이미지 */
.go_register .ico,.go_register .ico2,.openword_none li .btn_regist .ico,.btn_txt_style1.info_userent .ico,.userentry_section .more_ico,.userentry_word .vote .like a,.userentry_word .vote .dislike a,.open_mean .detail .arrow{background-image:url(../im/sp_opendict_e.png)}
