/* ONE NAVER GNB, 2016-07-11, Sunsoo */
.header_one {
  margin-bottom: 10px;
}

.header_one:after, .header_one .inner_wrap:after {
  display: block;
  clear: both;
  content: '';
}

.header_one .blind, .header_one legend {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  font-size: 0;
  line-height: 0;
}

.header_one .icon, .header_one .nav_list .menu a, .header_one .sub_nav_list .menu a, .header_one .button_area a {
  display: inline-block;
  overflow: hidden;
  background-image: url(http://static.land.naver.net/static/center/20160802/gnb/sp_admin_gnb_one.png);
  background-repeat: no-repeat;
  color: transparent;
  line-height: 999px;
  vertical-align: top;
}

.header_one .inner_wrap {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

.header_one .gnb_wrap, .header_one .nav_wrap, .header_one .sub_nav_wrap {
  min-width: 960px;
}

.header_one .gnb_wrap {
  background: #00c73c;
  border-bottom: 1px solid #00a732;
}

.header_one .gnb_wrap .inner_wrap {
  height: 54px;
}

.header_one .item_area {
  float: left;
}

.header_one .logo_area {
  float: left;
  margin: 16px 14px 0 -1px;
}

.header_one .logo_area a {
  display: inline-block;
  float: left;
  margin-right: 4px;
}

.header_one .logo_area .icon {
  height: 24px;
}

.header_one .logo_naver .icon {
  width: 55px;
  background-position: 0 0;
}

.header_one .logo_landad .icon {
  width: 147px;
  background-position: -59px 0;
}

.header_one .logo_land .icon {
  width: 57px;
  margin-left: 9px;
  background-position: -215px 0;
}

.header_one .gnb_area {
  float: right;
}

.header_one .gnb_name {
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.header_one .nav_wrap, .header_one .sub_nav_wrap {
  border-bottom: 1px solid #e5e5e5;
}

.header_one .nav_wrap .inner_wrap, .header_one .sub_nav_wrap .inner_wrap {
  height: 40px;
}

.header_one .nav_list, .header_one .nav_list .menu, .header_one .sub_nav_list, .header_one .sub_nav_list .menu {
  float: left;
}

.header_one .nav_list .menu a {
  position: relative;
  height: 41px;
  padding: 0 15px;
}

.header_one .nav_list .menu:first-child a {
  padding-left: 0;
}

.header_one .nav_list .menu.on a {
  color: #00c73c;
}

.header_one .nav_list .menu.on a:after {
  position: absolute;
  left: 15px;
  right: 15px;
  bottom: 0;
  height: 3px;
  background: #00c73c;
  content: '';
}

.header_one .nav_list .menu.on:first-child a:after {
  left: 0;
}

.header_one .nav_list .menu.main_home a {
  width: 66px;
  background-position: 0 -25px;
}

.header_one .nav_list .menu.main_user a {
  width: 48px;
  background-position: -81px -25px;
}

.header_one .nav_list .menu.main_profile a {
  width: 62px;
  background-position: -159px -25px;
}

.header_one .nav_list .main_talk_connect a {
  width: 85px;
  background-position: -251px -25px;
}

.header_one .nav_list .main_talk_admin a {
  width: 60px;
  background-position: -365px -25px;
}

.header_one .nav_list .menu.main_home.on a {
  background-position: 0 -55px;
}

.header_one .nav_list .menu.main_user.on a {
  background-position: -81px -55px;
}

.header_one .nav_list .menu.main_profile.on a {
  background-position: -159px -55px;
}

.header_one .nav_list .main_talk_connect.on a {
  background-position: -251px -55px;
}

.header_one .nav_list .main_talk_admin.on a {
  background-position: -365px -55px;
}

.header_one .desc_wrap, .header_one .desc_wrap .inner_wrap {
  height: 35px;
}

.header_one .desc_wrap {
  overflow: hidden;
  background: #f9fafb;
  border-bottom: 1px solid #e5e5e5;
}

.header_one .desc_wrap .text {
  float: left;
  margin-top: 9px;
  padding-left: 11px;
  background: url(http://static.land.naver.net/static/center/20160802/bu_arrow.gif) no-repeat 0 5px;
  font-size: 11px;
  line-height: 18px;
  color: #646464;
}

.header_one .desc_wrap .text .description {
  margin-right: 14px;
}

.header_one .desc_wrap .text .description .bar {
  color: #b3b3b3;
}

.header_one .desc_wrap .text .description strong {
  color: #000;
}

/* skip navigation */
#u_skip {
  position: relative;
  z-index: 2147483647;
}

#u_skip a {
  position: absolute;
  left: 0;
  top: -45px;
  width: 128px;
  background: url(http://static.land.naver.net/static/service/20160802/lnb/sp_u_skip.png) repeat-x 0 -11px;
  border: 1px solid #4ec53d;
  text-align: center;
  outline: none;
}

#u_skip a:active,
#u_skip a:focus {
  top: 0;
  text-decoration: none;
  cursor: pointer;
  zoom: 1;
}

#u_skip span {
  display: inline-block;
  padding: 2px 6px 0 0;
  background: url(http://static.land.naver.net/static/service/20160802/lnb/sp_u_skip.png) no-repeat 100% 11px;
  font-size: 11px;
  letter-spacing: -1px;
  color: #fff;
  line-height: 26px;
}

/*# sourceMappingURL=../../maps/include/gnb/gnb_one.css.map */
