@charset "utf-8";

/* common */
body {margin:0; padding:0; font-family: Helvetica;}
body div,body h1,body ul,body li,body p,body a,body img,body span,body em,body strong,body label,body input {margin:0; padding:0; text-decoration: none;}