@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전이용TIP 3개 노출 시 삭제 */
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}

/* 각 사전 별 수정부분 */
.cont_main h2 .logo{width:286px;background:url(../img/hu/sp_header_pc.png) no-repeat}
.cont_main.change_lang h2 .logo{width:407px;margin-left:283px;background-position:0 -50px}
.cont_main.change_lang .main_srch .btn_srch{width:72px;background:url(../img/hu/sp_header_pc.png) no-repeat 0 -100px}
.cont_main.change_lang .main_srch .device{left:414px;}
.cont_main .main_srch{*width:439px}

.dic_lk .img{background:url(../img/hu/sp_dic.png) no-repeat;background-size:139px 227px;background-position:22px -169px;}
.pc .lyr_mobile div{background:url(../img/hu/img_qr.png) no-repeat}
.pc .header h1 a{background:url(../img/hu/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/hu/sp_dic_s.png) no-repeat 8px -161px}

.cont_main .title_type{width:353px}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 111px; /* 서비스에 맞게 변경 */
	background-image: url(../img/hu/Nicon_hudic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/hu/Nicon_hudic.svg);
	-webkit-background-size: 111px auto; /* 서비스에 맞게 변경 */
	background-size: 111px auto; /* 서비스에 맞게 변경 */
}
