.lay_simple{position:absolute;padding-bottom:4px;border:1px solid;background:#fff;font-size:12px}
.lay_simple_r,.lay_simple_r strong{color:#ff1009}
.lay_simple li{margin:0;paddding:0}
.lay_rect{position:absolute;z-index:2;padding:1px 3px 1px 3px;border:1px solid;background:#fff;font-size:12px;letter-spacing:-1px}
.lay_rect .num{font-family:Tahoma,sans-serif;font-size:9px;letter-spacing:0}
.lay_rect_r{color:#ff1009}
.lay_rect_fill{position:absolute;z-index:4;padding:3px 3px 2px 3px;#padding-bottom:0;border:1px solid;font-size:12px;font-size:11px;letter-spacing:-1px;color:#fff}
.lay_rect_fill_r{border-color:#e61818;background:#fc1a1a}
.length_sum{padding:8px 10px 2px 9px;#padding-top:8px;font-size:11px;color:#000;margin:0}
.length_sum li{padding-bottom:1px;.padding-bottom:3px;#padding-bottom:1px;white-space:nowrap;list-style:none outside none}
.length_sum strong{font-family:Tahoma,sans-serif;font-size:11px}
.length_sum .label{display:inline-block;width:33px;letter-spacing:-1px}
.length_sum .unit{margin-left:-2px;letter-spacing:-1px}
.lay_simple .lay_msg{margin:0 10px 0 8px;padding:6px 0 1px 1px;.padding:5px 0 4px 1px;#padding-top:6px;#padding-bottom:3px;border-top:1px solid #e5e5e5;font-size:11px;color:#818080;letter-spacing:-1px;line-height:13px;white-space:nowrap}
div.nmap_ctr_legend{width:43px!important}
.nmap_ctr_legend .nmap_ctr_legend1,.nmap_ctr_legend .nmap_ctr_legend2,.nmap_ctr_legend .nmap_ctr_legend3,.nmap_ctr_legend .nmap_ctr_legend4,.nmap_ctr_legend .nmap_ctr_legend5,.nmap_ctr_legend .nmap_ctr_legend6{width:43px!important}
Xdiv.nmap_ctr_legend img{position:absolute!important;left:0;width:100px;height:90px;background:url(../img/sale/map/tit_legend_new3.png) no-repeat 0 0!important;#background:none!important;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/sale/map/tit_legend_new3.png', sizingMethod='crop')}
.nmap_scaler_left .nmap_ctr_legend img{left:-57px!important}
.nmap_scaler_m13 .nmap_ctr_legend1{visibility:visible!important}
div.folded_info_window{width:233px}
div.folded_info_window a.btn_photo{display:none}
div.folded_info_window a.btn_photo img{display:none;border:none}
.map_marker{position:absolute!important;height:27px;white-space:nowrap!important}
.map_marker .bg_lft{display:inline-block;white-space:nowrap!important;vertical-align:top!important;height:20px;padding:7px 3px 0 8px!important;font-size:12px!important;font-weight:700!important;color:#000!important;letter-spacing:-1px!important;background:url(../imgmaps2/bg_lay_htype6.png) no-repeat 0 0!important;#background:none!important;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgmaps2/bg_lay_htype6.png', sizingMethod='crop')}
.map_marker .bg_rgt{display:inline-block;white-space:nowrap!important;vertical-align:top!important;width:7px;height:27px!important;background:url(../imgmaps2/bg_lay_htype6_r.png) no-repeat 0 0!important;#background:none!important;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgmaps2/bg_lay_htype6_r.png', sizingMethod='crop');float:none}
.Xnmap_footer .nmap_scale_base{left:114px!important}
.nmap_footer .nmap_copyright{padding-left:105px!important}
.nmap_copyright .nmap_cp_traffic,.nmap_copyright .nmap_cp_traffic span{display:none!important}
#map .map_area .complex_type_only{width:56px}
#map .map_area .complex_type_only .bg_search{width:51px}
#map .map_area .complex_type_only li.complex_button{display:block}
#map .map_area .complex_type_only li.agent_button{display:none}
#map .map_area .agent_type_only{width:76px}
#map .map_area .agent_type_only .bg_search{width:71px}
#map .map_area .agent_type_only li.complex_button{display:none}
#map .map_area .agent_type_only li.agent_button{display:block}
#map .map_area .complex_and_agent_type{width:122px}
#map .map_area .complex_and_agent_type .bg_search{width:117px}
#map .map_area .complex_and_agent_type li.complex_button{display:block}
#map .map_area .complex_and_agent_type li.agent_button{display:block}
#map .map_area{xdisplay:inline;xfloat:left;position:relative;z-index:10;padding:0}
#map .map_area .map_guide{left:4px;position:absolute;top:57px}
#map .map_area .map_on{top:30px;left:221px}
#map .marker{overflow:hidden;position:absolute;cursor:pointer;zindex:50}
#map .markerie6{position:absolute}
.marker_info{overflow:hidden;position:absolute;height:27px;white-space:nowrap}
.marker_info .bg_lft{display:inline-block;height:21px;padding:7px 4px 0 8px;background:url(../img/isale/bg_mapmarker_l.png) no-repeat;#background:0 0;font-weight:700;font-size:12px;vertical-align:top;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/isale/bg_mapmarker_l.png', sizingMethod=crop)}
.marker_info .bg_lft em{color:#ff943f}
.marker_info .bg_lft img{margin:-2px 4px 2px 0;vertical-align:middle}
.marker_info .bg_rgt{display:inline-block;width:6px;height:28px;background:url(../img/isale/bg_mapmarker_r.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/isale/bg_mapmarker_r.png', sizingMethod=crop)}
.marker_info strong{color:#ff943f}
.map_marker{overflow:hidden;position:absolute}
.map_marker .bg_lft{display:inline-block;height:21px;padding:7px 10px 0 12px;background:url(../img/article/bx_mapmarker_l.png) no-repeat;#background:0 0;font-weight:700;vertical-align:top;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bx_mapmarker_l.png', sizingMethod=crop)}
.map_marker .bg_lft em{color:#ff943f}
.map_marker .bg_rgt{display:inline-block;width:6px;height:28px;background:url(../img/article/bx_mapmarker_r.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bx_mapmarker_r.png', sizingMethod=crop)}
.map_marker2 .bg_btm{bottom:-4px;display:block;height:10px;overflow:hidden;position:absolute;width:100%}
.map_marker2{padding:0 0 10px;width:294px;height:159px;background:url(../img/findhouse/map/bg_mapmarker2.png) no-repeat;#background:0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/findhouse/map/bg_mapmarker2.png', sizingMethod=crop)}
.map_marker2 dt{padding:13px 0 0 17px;font-weight:700;color:#3f3f3f;letter-spacing:-1px}
.map_marker2 .type2{min-height:117px}
.map_marker2 dt a{color:#3f3f3f}
.map_marker2 dt a.slt{display:inline-block;position:relative;margin-left:4px;padding-left:5px;background:url(../img/findhouse/map/ic_arrow.gif) no-repeat 0 -12px;color:#1c8c03;text-decoration:underline}
.map_marker2 dt a.slt_clear{display:inline-block;position:relative;margin-left:4px;padding-left:5px;background:url(../img/findhouse/map/ic_arrow.gif) no-repeat 0 3px;color:#757575;text-decoration:underline}
.map_marker2 dd{position:absolute;font-size:12px;color:#7c7c7c;letter-spacing:-1px}
.map_marker2 dd strong{margin-right:6px;color:#3f3f3f}
.map_marker2 dd em{letter-spacing:0}
.map_marker2 dd a{margin-right:3px;font-weight:700;color:#ff943f;text-decoration:underline}
.map_marker2 dd .bar{margin:0 2px 0 1px}
.map_marker2 dd.dd1{top:43px}
.map_marker2 dd.dd2{top:43px;left:118px;position:absolute}
.map_marker2 dd.dd3{top:61px}
.map_marker2 dd.dd4{top:79px}
.map_marker2 dd.dd5{top:97px}
.map_marker2 .business dt{margin-bottom:12px}
.map_marker2 .business dd{overflow:hidden;position:static;width:269px;padding:4px 0 0 16px;line-height:14px}
.map_marker2 .business dd strong{float:left;width:45px;margin:0}
.map_marker2 .business dd em{float:left;width:224px}
.map_marker2 .btn_photo{position:absolute;top:43px;right:15px}
.map_marker2 .btn_photo img{border:2px solid #d0d0d0}
.map_marker2 .btn_area{position:absolute;top:120px;height:30px;width:262px;border-top:1px solid #eaeaea;padding-top:9px}
.map_marker2 .btn_area a{display:inline-block;overflow:hidden;height:20px;background:url(../img/findhouse/map/sp_btn.gif) no-repeat;line-height:999px;vertical-align:top}
.map_marker2 .btn_area .btn_move{width:63px;background-position:0 0;margin-right:-1px}
.map_marker2 .btn_area .btn_price{width:63px;background-position:-66px 0;margin-right:-1px}
.map_marker2 .btn_area .btn_street{width:63px;background-position:-132px 0;margin-right:-1px}
.map_marker2 .btn_area .btn_airplane{width:64px;background-position:-198px 0;margin-right:-4px}
.map_marker2 .btn_clse{display:block;position:absolute;top:9px;right:6px;padding:2px}
.map_marker2 .marker_page{position:absolute;right:-2px;bottom:-2px}
.map_marker2 .marker_page .pagenum{padding:0 52px 11px 0;font-family:verdana;font-size:10px;font-weight:700;color:#b3b3b3;vertical-align:top}
.map_marker2 .marker_page .pagenum strong{color:#4275cf}
.map_marker2 .marker_page a{display:block;overflow:hidden;position:absolute;bottom:9px;width:14px;height:14px;padding:2px 2px 2px 0;background:url(../img/article/btn_markerpage.gif) no-repeat;cursor:default}
.map_marker2 .marker_page a span{position:absolute;left:-9999px;z-index:-1}
.map_marker2 .marker_page a.btn_prev{right:28px;background-position:2px 2px}
.map_marker2 .marker_page a.btn_next{right:15px;background-position:-15px 2px}
.map_marker2 .marker_page a.btn_prev_on{right:28px;background-position:2px -14px;cursor:pointer}
.map_marker2 .marker_page a.btn_next_on{right:15px;background-position:-15px -14px;cursor:pointer}
.map_marker2 .bg_rgt{position:absolute;top:0;right:-5px;width:5px;height:169px;background:url(../img/findhouse/map/bg_mapmarker2_r.png) no-repeat;#background:0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/findhouse/map/bg_mapmarker2_r.png', sizingMethod=crop)}
.map_marker2.school_marker{width:240px}
.mk2_wide{height:173px;xbackground:url(../img/findhouse/map/bg_mapmarker2_wide.png) no-repeat;#background:0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/findhouse/map/bg_mapmarker2_wide.png', sizingMethod=crop)}
.mk2_wide .bg_rgt{position:absolute;top:0;right:-5px;width:5px;height:185px;background:url(../img/findhouse/map/bg_mapmarker2wide_r.png) no-repeat;#background:0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/findhouse/map/bg_mapmarker2wide_r.png', sizingMethod=crop)}
.map_marker3{overflow:hidden;width:300px;height:142px;background:url(../img/article/bg_mapmarker2.png) no-repeat;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker2.png', sizingMethod=crop)}
.map_marker3 dt{width:255px;padding:13px 0 0 17px;font-weight:700;color:#3f3f3f}
.map_marker3 dt strong{color:#ff943f}
.map_marker3 dd{overflow:auto;position:absolute;top:31px;left:11px;width:275px;height:95px;border:1px solid #f0f0f0;border-width:1px 0}
.map_marker3 .btn_clse{display:block;position:absolute;top:9px;right:11px;padding:2px}
.scroll2{scrollbar-face-color:#fff;scrollbar-track-color:#f4f4f4;scrollbar-3dlight-color:#d7d7d7;scrollbar-arrow-color:#909090;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-darkshadow-color:#d7d7d7}
.map_marker3 .estate_list{margin-top:10px}
.map_marker3 .estate_list li{padding:0 0 8px 14px;background:url(../img/article/bu_arw_gray2.gif) no-repeat 5px 3px}
.map_marker3 .estate_list a{color:#3f3f3f}
.map_marker4{z-index:45;width:39px;height:24px;padding-top:1px;background:url(../img/article/bg_mapmarker3.png) no-repeat;#background:0 0;color:#fff;text-align:center;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker3.png', sizingMethod=crop);cursor:pointer}
.map_marker4_on{z-index:57;width:39px;height:24px;padding-top:1px;background:url(../img/article/bg_mapmarker3_on.png) no-repeat;#background:0 0;color:#fff;text-align:center;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker3_on.png', sizingMethod=crop);cursor:pointer}
.marker_num{font-size:11px}
.marker_num em{font-family:tahoma;font-size:12px;font-weight:700}
.map_error{position:absolute;width:446px;height:59px;padding-top:54px;background:url(../img/article/bg_maperror.png) no-repeat;#background:0 0;font-size:12px;text-align:center;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_maperror.png', sizingMethod=crop)}
.map_error p{line-height:18px;color:#555;letter-spacing:-1px}
.map_error strong{display:block}
.map_error a{color:#009e25;text-decoration:underline}
.map_marker5{width:300px;padding-bottom:8px;background:url(../img/article/bg_mapmarker4.png) no-repeat;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker4.png', sizingMethod=crop)}
.map_marker5 dt{width:255px;margin-bottom:12px;padding:13px 0 0 17px;font-weight:700;color:#3f3f3f;letter-spacing:-1px}
.map_marker5 dt a{color:#3f3f3f}
.map_marker5 dd{overflow:hidden;width:269px;padding:4px 0 0 16px;font-size:12px;line-height:14px;color:#7c7c7c;letter-spacing:-1px}
.map_marker5 dd strong{float:left;width:45px;color:#3f3f3f}
.map_marker5 dd em{float:left;width:224px;letter-spacing:0}
.map_marker5 .btn_clse{display:block;position:absolute;top:9px;right:6px;padding:2px}
.map_marker5 .bg_btm{overflow:hidden;position:absolute;left:0;bottom:-4px;width:300px;height:4px;background:url(../img/article/bg_mapmarker4_b.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker4_b.png', sizingMethod=crop)}
.map_marker6{text-align:left}
.map_marker6 div{position:absolute;height:24px}
.vec_dong .dongtype2{width:33px;background:url(../img/article/bg_vecdong2.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_vecdong2.png', sizingMethod=crop)}
.vec_dong .dongtype3{width:47px;background:url(../img/article/bg_vecdong3.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_vecdong3.png', sizingMethod=crop)}
.vec_dong .dongtype4{width:59px;background:url(../img/article/bg_vecdong4.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_vecdong4.png', sizingMethod=crop)}
.vec_dong .dongtype5{width:70px;background:url(../img/article/bg_vecdong5.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_vecdong5.png', sizingMethod=crop)}
.vec_dong .dongtype6{width:83px;background:url(../img/article/bg_vecdong6.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_vecdong6.png', sizingMethod=crop)}
.sat_dong .dongtype2{width:33px;background:url(../img/article/bg_satdong2.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_satdong2.png', sizingMethod=crop)}
.sat_dong .dongtype3{width:47px;background:url(../img/article/bg_satdong3.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_satdong3.png', sizingMethod=crop)}
.sat_dong .dongtype4{width:59px;background:url(../img/article/bg_satdong4.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_satdong4.png', sizingMethod=crop)}
.sat_dong .dongtype5{width:70px;background:url(../img/article/bg_satdong5.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_satdong5.png', sizingMethod=crop)}
.sat_dong .dongtype6{width:83px;background:url(../img/article/bg_satdong6.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_satdong6.png', sizingMethod=crop)}
.map_marker6 a{display:block;padding:6px 0 5px;font-size:12px;color:#333;text-align:center}
.map_marker6 a:hover{font-weight:700}
.map_marker7{width:295px;height:124px;background:url(../img/article/bg_mapmarker7.png) no-repeat;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker.png', sizingMethod=crop)}
.map_marker7 dt{padding:13px 0 0 17px;font-weight:700;color:#3f3f3f;letter-spacing:-1px}
.map_marker7 dt a.slt{display:inline-block;position:relative;margin-left:4px;padding-left:5px;background:url(../img/findhouse/map/ic_arrow.gif) no-repeat 0 -12px;color:#1c8c03;text-decoration:underline}
.map_marker7 dt a.slt_clear{display:inline-block;position:relative;margin-left:4px;padding-left:5px;background:url(../img/findhouse/map/ic_arrow.gif) no-repeat 0 3px;color:#757575;text-decoration:underline}
.map_marker7 dd{position:absolute;left:17px;font-size:12px;color:#7c7c7c;letter-spacing:-1px}
.map_marker7 dd strong{margin-right:6px;color:#3f3f3f}
.map_marker7 dd em{letter-spacing:0}
.map_marker7 dd .bar{margin:0 2px 0 1px}
.map_marker7 dd.dd1{top:43px}
.map_marker7 dd.dd2{top:43px;left:135px}
.map_marker7 dd.dd3{top:61px}
.map_marker7 dd.dd4{top:79px}
.map_marker7 dd.dd5{top:97px}
.map_marker7 dd.dd5 em{margin-right:3px;font-weight:700;color:#ff943f;letter-spacing:-1px}
.map_marker7 .bg_rgt{position:absolute;top:0;right:-5px;width:5px;height:124px;background:url(../img/article/bg_mapmarker7_r.png) no-repeat;#background:0 0;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker7_r.png', sizingMethod=crop)}
.map_marker7 .btn_photo{position:absolute;top:43px;right:15px}
.map_marker7 .btn_photo img{border:2px solid #d0d0d0}
.map_marker8{width:200px;height:28px;border:1px solid #a3a3a3;background:url(../img/article/bg_mapmarker.png) no-repeat;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker.png', sizingMethod=crop)}
.map_marker8 dt{width:200px;margin-bottom:7px;padding:9px 0 0 7px;font-weight:700;color:#3f3f3f;letter-spacing:-1px}
.map_marker8 dt a{color:#fff}
.map_marker8 .btn_clse{display:block;position:absolute;top:9px;right:6px}
.map_marker9{width:300px;padding:0 0 10px;text-align:left}
.map_marker9 dl{overflow:hidden;width:100%;padding:0 0 26px;background:url(../img/article/bg_mapmarker9.png) no-repeat 0 0;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker9.png', sizingMethod=crop)}
.map_marker9 dt{margin:0 0 17px;padding:11px 0 0 17px;line-height:1.2;font-weight:700;line-height:106%;color:#3f3f3f;letter-spacing:-1px}
.map_marker9 dt a{position:relative;color:#3f3f3f}
.map_marker9 dd{position:relative;margin:0 10px 3px 17px;padding:0 5px 0 51px;font-size:12px;line-height:1.2;color:#7c7c7c;letter-spacing:-1px;zoom:1}
.map_marker9 dd strong{display:inline-block;position:absolute;left:0;width:46px;color:#3F3F3F}
.map_marker9 dd em{font-weight:700;color:#FF943F;letter-spacing:0;text-decoration:underline}
.map_marker9 dd a{position:relative;margin-right:3px;font-weight:700;color:#ff943f;text-decoration:underline}
.map_marker9 .btn_sale_view{position:absolute;z-index:20;margin:-22px 0 0 17px}
.map_marker9 .btn_clse{display:block;position:absolute;top:8px;right:11px;z-index:30;padding:2px}
.map_marker9 .bg_btm{display:block;overflow:hidden;position:absolute;bottom:0;width:100%;height:10px}
.map_marker9 .bg_btm span{display:block;position:absolute;bottom:0;width:100%;height:300px;background:url(../img/article/bg_mapmarker9.png) no-repeat 0 0;#background:0 0;text-align:left;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/article/bg_mapmarker9.png', sizingMethod=crop)}
.ly_info{overflow:hidden;width:295px;padding-bottom:9px;border:1px solid #dadada;background-color:#fff;font-size:12px}
.ly_info h4{padding:9px 0 7px 15px;border-bottom:1px solid #f0f0f0;background-color:#fafafa;font-size:12px;line-height:14px;color:#3f3f3f;letter-spacing:-1px}
.ly_info h4 a{color:#3f3f3f}
.ly_info h4 img{margin:-1px 0 1px;vertical-align:middle}
.ly_info dl{overflow:hidden;float:left;position:relative;width:200px;margin:8px 0 12px;padding-left:16px;line-height:18px}
.ly_info dl dt{float:left;width:56px;font-weight:700;color:#333;letter-spacing:-1px}
.ly_info dl dd{float:left;width:140px;color:#7c7c7c}
.ly_info dl dd a{color:#ff943f;text-decoration:underline}
.ly_info .btn_thmb{display:inline-block;margin-top:11px}
.ly_info .btn_thmb img{border:2px solid #d0d0d0}
.ly_info .btn_thmb2{position:absolute;top:42px;right:16px}
.ly_info .btn_thmb2 img{border:2px solid #d0d0d0}
.ly_info .btn_shop{display:inline-block;margin:0 0 0 15px}
.ly_info .btn_shop img{vertical-align:top}
.ly_info .btn_clse{display:block;position:absolute;top:9px;right:8px;padding:2px}
.ly_bus{width:265px;padding:0}
.ly_bus .scroll{overflow-y:scroll;height:119px;scrollbar-face-color:#fff;scrollbar-track-color:#f7f7f7;scrollbar-3dlight-color:#e3e3e3;scrollbar-arrow-color:#8d8d8d;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#fff;scrollbar-darkshadow-color:#e3e3e3}
.ly_bus img{vertical-align:middle}
.ly_bus h4 img{margin-right:4px}
.ly_bus .bus_area{overflow:hidden;width:247px}
.ly_bus .bus_area ul{overflow:hidden;width:236px;margin:5px 0 0 15px}
.ly_bus .bus_area ul li{float:left;width:118px;margin-top:10px}
.ly_bus .bus_area ul li img{margin-right:2px}
.ly_bus .bus_area ul li a{color:#333}
.ly_info_v2 dl dt{width:33px}
.ly_info_v2 dl dd{float:left;width:160px;color:#7c7c7c}
.ly_info_v2 dl dt.move{position:absolute;top:0;left:118px}
.ly_info_v2 dl dd.move{position:absolute;top:0;left:152px}
.ly_info_v2 p{width:190px;line-height:16px;color:#333;word-break:break-all;word-wrap:break-word}
.ly_info_v2 .ad{margin:9px 0 0 17px}
.ly_info_v2 .tel{margin:3px 0 0 16px}
.ly_info_v2 .tel strong{margin-right:8px}
.ly_info_v2 .tel img{vertical-align:middle!important}
.ly_info_v2 .url{margin-left:16px}
.ly_info_v2 .url a{color:#2e9303}
.ly_info_v2 .grade{margin:2px 0 4px 16px}
.ly_info_v2 .comment{margin-left:5px;font-size:11px;color:#7d7d7d;letter-spacing:-1px}
.ly_info_v2 .comment a{font-size:11px;color:#7d7d7d;text-decoration:underline}
.ly_info_v2 .comment .bar{margin:0 6px 0 5px;color:#ebebeb}
.star_grade{display:inline}
.star_grade .star{display:inline-block;width:80px;height:16px;margin:-1px 0 0 -1px;background:url(http://static.naver.net/common/comment/bg_sprite_ico.gif) 0 -300px no-repeat}
.star_grade .star span{display:inline-block;height:16px;margin:0;background:url(http://static.naver.net/common/comment/bg_sprite_ico.gif) 0 -340px no-repeat}
.star_grade em{margin-left:4px;font-family:tahoma;font-weight:700;color:#e82828;vertical-align:0}
.dragableSquare{display:none;position:absolute;top:-999px;left:-999px;z-index:999;width:5px;height:5px;border:1px solid #FFF;background:none repeat scroll 0 0 #4C4C4C;line-height:0;font-size:0;cursor:pointer}
div.folded_info_window{width:233px}
div.folded_info_window a.btn_photo{display:none}
div.folded_info_window a.btn_photo img{display:none;border:none}
.map_marker{position:absolute!important;height:27px;white-space:nowrap!important}
.map_marker .bg_lft{display:inline-block;white-space:nowrap!important;vertical-align:top!important;height:20px;padding:7px 3px 0 8px!important;font-size:12px!important;font-weight:700!important;color:#000!important;letter-spacing:-1px!important;background:url(../imgmaps2/bg_lay_htype6.png) no-repeat 0 0!important;#background:none!important;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgmaps2/bg_lay_htype6.png', sizingMethod=crop)}
.map_marker .bg_rgt{display:inline-block;white-space:nowrap!important;vertical-align:top!important;width:7px;height:27px!important;background:url(../imgmaps2/bg_lay_htype6_r.png) no-repeat 0 0!important;#background:none!important;#filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../imgmaps2/bg_lay_htype6_r.png', sizingMethod=crop);float:none}
.Xnmap_footer .nmap_scale_base{left:100%!important}
.nmap_footer .nmap_copyright{padding-left:6px!important}
.nmap_copyright .nmap_cp_traffic,.nmap_copyright .nmap_cp_traffic span{display:none!important}
.lay_simple{position:absolute;padding-bottom:4px;border:1px solid;background:#fff;font-size:12px}
.lay_simple_r,.lay_simple_r strong{color:#ff1009}
.lay_simple li{margin:0;paddding:0}
.lay_rect{position:absolute;z-index:2;padding:1px 3px 1px 3px;border:1px solid;background:#fff;font-size:12px;letter-spacing:-1px}
.lay_rect .num{font-family:Tahoma,sans-serif;font-size:9px;letter-spacing:0}
.lay_rect_r{color:#ff1009}
.lay_rect_fill{position:absolute;z-index:4;padding:3px 3px 2px 3px;#padding-bottom:0;border:1px solid;font-size:12px;font-size:11px;letter-spacing:-1px;color:#fff}
.lay_rect_fill_r{border-color:#e61818;background:#fc1a1a}
.length_sum{padding:8px 10px 2px 9px;#padding-top:8px;font-size:11px;color:#000;margin:0}
.length_sum li{padding-bottom:1px;.padding-bottom:3px;#padding-bottom:1px;white-space:nowrap;list-style:none outside none}
.length_sum strong{font-family:Tahoma,sans-serif;font-size:11px}
.length_sum .label{display:inline-block;width:33px;letter-spacing:-1px}
.length_sum .unit{margin-left:-2px;letter-spacing:-1px}
.lay_simple .lay_msg{margin:0 10px 0 8px;padding:6px 0 1px 1px;.padding:5px 0 4px 1px;#padding-top:6px;#padding-bottom:3px;border-top:1px solid #e5e5e5;font-size:11px;color:#818080;letter-spacing:-1px;line-height:13px;white-space:nowrap}
.label1{color:#FF943F}
.input_chk{height:13px;margin:-1px 3px 0 5px;position:relative;vertical-align:middle;width:13px}
/*# sourceMappingURL=../../maps/include/map/land_map.css.map */
