.align1_1:after, .pdt_page .lst_obj > a .thumb .i_mbr_certify, .pdt_page .lst_obj > a .no_img span, .pdt_page .no_data:before, .area_selc .btn_selc_area button:after, .pdt_tbl_wrap .no_data:before {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* prefix mixin helper */
/* card top area Outer Glow effect */
/* multi-line ellipsis mixin */
/* image outline */
.header_obj {
  position: relative;
}

.location .addr {
  width: 100% !important;
}

.location.nr_sta {
  position: static;
}

.location.nr_sta .addr {
  position: absolute;
  width: inherit !important;
  top: 0;
  left: 50%;
  height: 45px;
  text-align: center;
  margin-left: -95px;
  z-index: 99;
}

.location.nr_sta .addr li {
  display: inline-block;
}

.location.nr_sta .addr li.addrs_txt {
  position: relative;
}

.location.nr_sta .addr li.addrs_txt:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -7px;
  width: 1px;
  height: 14px;
  background: #5f8bce;
}

.location.nr_sta .addr li a {
  display: inline-block;
  position: relative;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-grid-row-align: center;
  align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  display: -webkit-flex;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  height: 45px;
  padding: 0 9px 0 11px;
  font-size: 16px;
  color: #fff;
  line-height: 45px;
}

.a .location.nr_sta .addr li a {
  height: 45px;
}

.location.nr_sta .addr li a:after {
  content: '';
  position: absolute;
  right: -4px;
  top: 50%;
  margin-top: -7px;
  width: 5px;
  height: 14px;
  background-position: -80px 0;
}

.location.nr_sta .addr .subway {
  margin-top: 14px;
}

.location.nr_sta .addr:after {
  content: none;
}

.location.nr_sta .btn_sch {
  display: none;
  right: 80px;
  top: 10px;
  height: 27px;
  border: 1px solid #7aa3e0;
}

.location.nr_sta .btn_sch span {
  line-height: 27px;
  color: #e0e7f6;
}

.a .location.nr_sta .btn_sch span {
  line-height: 25px;
}

.location.nr_sta .btn_sch span:before {
  background-position: -35px -60px;
}

@media only screen and (max-width: 320px) {
  .location .btn_sch {
    right: 70px;
  }
}

.btn_prev_ver {
  display: none;
}

.view_mode {
  display: none;
}

.align1_1 {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 30;
}

.align1_1 select {
  height: 50px;
  padding: 3px 30px 0 0;
  border: 0;
  background-color: #fff;
  font-size: 15px;
  -webkit-appearance: none;
  line-height: 1;
  color: #141414;
  background-color: transparent;
  border-radius: 0;
  direction: rtl;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
}

.align1_1:after {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -2px;
  width: 10px;
  height: 6px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -70px -20px;
  content: " ";
  vertical-align: middle;
}

.alarm_set .align1_1 {
  right: 74px;
}

.alarm_set .align1_1 select {
  padding-right: 14px;
}

.alarm_set .align1_1:after {
  right: 0;
}

.h_loc.alarm_set {
  padding: 0 168px;
}

.h_loc {
  padding: 0 150px;
}

.h_loc:after {
  content: none;
}

.scrh_page .h_loc {
  padding: 0;
}

.pdt_map {
  position: absolute;
  bottom: 2px;
  width: 226px;
  background: #fff;
}

.pdt_map:after {
  position: fixed;
  top: 0;
  right: 226px;
  width: 1px;
  height: 200%;
  background: rgba(0, 0, 0, 0.15);
  content: '';
}

.pdt_map .v1_type {
  border: 0;
}

.pdt_map .v1_type li {
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.pdt_map .pdt_lst .lst_obj > a, .pdt_map .pdt_lst.aprt_blck .lst_obj > a, .pdt_map .pdt_lst.estate_agent .lst_obj > a {
  padding: 16px 15px 16px;
}

.pdt_map .pdt_lst .lst_obj > a .thumb, .pdt_map .pdt_lst.aprt_blck .lst_obj > a .thumb, .pdt_map .pdt_lst.estate_agent .lst_obj > a .thumb {
  display: none;
}

.pdt_map .pdt_lst.aprt_blck .lst_obj .obj_info {
  padding: 0;
}

.pdt_map .pdt_lst.aprt_blck .lst_obj .thrth_info button {
  width: 60px;
}

.pdt_map .pdt_lst.aprt_blck .lst_obj .thrth_info .other_list {
  width: 180px;
}

.pdt_lst .scroll_area {
  z-index: 50;
  width: 226px;
}

@media (min-width: 481px) {
  .pdt_page .pdt_lst:after {
    box-shadow: none;
  }
  .pdt_page .pdt_lst.aprt_blck:after {
    box-shadow: none;
    position: absolute;
    bottom: -80px;
    width: 100%;
  }
  .pdt_page .v1_type {
    border: 0;
  }
  .pdt_page .v1_type:after {
    content: '';
    display: block;
    clear: both;
  }
  .pdt_page .v1_type li {
    float: left;
    width: 33.3%;
    border-top: 0;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    vertical-align: top;
  }
  .pdt_page .v1_type li:nth-child(3n+0) {
    width: 33.4%;
    border-right: 0;
  }
  .pdt_page .lst_obj > a {
    height: 195px;
    padding: 15px 12px 10px 12px;
  }
  .pdt_page .lst_obj > a .thumb {
    position: relative;
    display: block;
    float: none;
    width: auto;
    margin: 0;
  }
  .pdt_page .lst_obj > a .thumb .i_mbr_certify {
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 19px;
    display: inline-block;
    background: url(../../im/sp_lst.png) no-repeat;
    background-size: 265px 300px;
    background-position: -105px -110px;
    z-index: 10;
  }
  .pdt_page .lst_obj > a .no_img {
    display: block;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #ededed;
  }
  .pdt_page .lst_obj > a .no_img span {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -15px 0 0 -16px;
    width: 32px;
    height: 37px;
    display: inline-block;
    background: url(../../im/sp_lst.png) no-repeat;
    background-size: 265px 300px;
    background-position: -70px -105px;
  }
  .pdt_page .lst_obj > a .no_img:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  .pdt_page .lst_obj .obj_info .tw_name {
    margin: 10px 0 0 0;
  }
  .pdt_page .lst_obj .obj_info .tw_name .i_mbr_certify {
    display: none;
  }
  .pdt_page .lst_obj .obj_info .frst_info {
    font-size: 18px;
    margin-bottom: 5px;
    letter-spacing: -1px;
  }
  .pdt_page .lst_obj .obj_info .frst_info .i_cir_hp {
    right: 11px;
    bottom: 10px;
  }
  .pdt_page .lst_obj .obj_info .scnd_info, .pdt_page .lst_obj .obj_info .thrth_info, .pdt_page .lst_obj .obj_info .frth_info {
    margin-top: 3px;
  }
  .pdt_page .lst_obj .obj_info .fifth_info {
    margin-top: 5px;
  }
  .pdt_page .pdt_lst {
    position: relative;
    width: 100%;
  }
  .pdt_page .pdt_lst.aprt_blck {
    display: table;
    background-color: #f7f7f7;
  }
  .pdt_page .pdt_lst.aprt_blck .v1_type {
    display: table-row;
  }
  .pdt_page .pdt_lst.aprt_blck .v1_type li {
    float: none;
    display: table-cell;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj > a {
    text-align: center;
    height: auto;
    padding: 15px 0;
    box-sizing: border-box;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj > a .thumb {
    margin: 0 auto;
    position: relative;
    top: 50%;
    left: 0;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .obj_info {
    padding: 0;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info {
    white-space: normal;
    width: auto;
    margin: 4px auto 0;
    width: 180px;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info .all {
    display: block;
    margin: 0 auto;
    width: 58px;
    text-align: center;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info .all + i {
    display: none;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info button {
    width: 60px;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info .other_list {
    width: 180px;
  }
  .pdt_page .pdt_lst.aprt_blck .lst_obj .thrth_info > button:nth-child(3) {
    margin-right: 0;
  }
  .pdt_page .pdt_lst.estate_agent .lst_obj > a {
    text-align: center;
    height: auto;
    padding: 15px;
  }
  .pdt_page .pdt_lst.estate_agent .lst_obj > a .thumb {
    margin: 0 auto;
    float: none;
  }
  .pdt_page .pdt_lst.estate_agent .obj_info {
    padding-right: 0;
  }
  .pdt_page .pdt_lst.estate_agent .obj_info .frst_info {
    margin: 6px 0 0 0;
  }
  .pdt_page .pdt_lst.estate_agent .obj_info .scnd_info {
    margin-top: 6px;
  }
  .pdt_page .pdt_lst.estate_agent .obj_info .thrth_info {
    position: relative;
    top: 0;
    width: auto;
    margin: 6px 0 0 0;
    padding: 0;
  }
  .pdt_page .no_data {
    margin: 61px 0 0 0;
  }
  .pdt_page .no_data:before {
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url(../../im/sp_lst.png) no-repeat;
    background-size: 265px 300px;
    margin: 0 15px 0 0;
    vertical-align: middle;
    background-position: -130px -65px;
  }
}

.btn_all_view {
  left: -1px;
  border-top: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#dom_list_map {
  width: 227px;
  top: 45px;
  right: 0;
  left: auto;
  z-index: 55;
}

.price .pdt_bx {
  float: left;
  width: 46%;
}

.price table {
  float: left;
  width: 53%;
  margin-bottom: 15px;
}

.price table th:first-child {
  border-left: 0;
}

.price table td:first-child {
  border-left: 0;
}

.price:after {
  content: '';
  display: block;
  clear: both;
}

.price .pdt_mbr_certify {
  font-size: 10px;
}

.price .pdt2 {
  margin-bottom: 17px;
}

.pdt_tbl {
  position: relative;
}

.pdt_tbl:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  background-color: #fff;
}

.pdt_tbl li {
  overflow: hidden;
}

.pdt_tbl li p {
  border-bottom: 0;
}

.pdt_tbl .info_box {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 20px 0 0;
}

.pdt_tbl .info_box + .info_box {
  padding: 0 0 0 20px;
}

.pdt_tbl .info_box + .info_box + .info_box {
  padding-left: 0;
}

.h_wrap + .pdt_tbl dd:last-child {
  border-bottom: 0;
}

.price + .spec .pdt_tbl + .pdt_tbl {
  padding-top: 11px;
}

.spec {
  position: relative;
  overflow: hidden;
}

.spec .pdt_tbl dd:last-child {
  border-bottom: 0;
}

.spec .pdt_tbl.line_1 dd {
  border-bottom: 1px solid #f1f1f1;
}

.spec.traff .pdt_tbl {
  float: none;
  width: 100%;
}

.spec .data_srce {
  position: absolute;
  right: 0;
  top: 24px;
}

.spec .subwayLine {
  position: relative;
}

.spec .subwayLine dt:first-child + dd {
  margin: 0;
}

.spec .subwayLine dd:nth-child(even) {
  float: left;
  min-width: 40%;
}

.spec .subwayLine dd:nth-child(odd) {
  min-width: 60%;
}

.addr_txt {
  display: inline-block;
}

.bridge_info {
  padding-left: 50px;
  padding-right: 39px;
}

.bridge_info .in_box {
  position: relative;
  min-height: 101px;
}

.bridge_info .desc {
  padding-right: 175px;
}

.bridge_info .desc .btn_more2 {
  margin-top: 3px;
}

.bridge_info .btn_tel {
  position: absolute;
  right: 0;
  top: 0;
  margin: 11px 0 0 0;
  padding: 0;
  width: 141px;
  padding-left: 21px;
  min-height: 92px;
  display: table;
}

.bridge_info .btn_tel:before {
  position: absolute;
  left: 0;
  bottom: 11px;
  top: 0;
  width: 1px;
  background: #f0f0f0;
  content: "";
}

.bridge_info .btn_tel .tel {
  margin-bottom: 9px;
}

.bridge_info .btn_tel button + button {
  margin: 0;
}

.frm_brdg {
  padding: 18px 16px 19px;
}

.frm_brdg dt {
  display: block;
  float: left;
  clear: left;
  margin-right: 8px;
}

.frm_brdg .btn_notify {
  top: 15px;
}

.scroll_box {
  position: absolute;
  width: 226px;
  overflow: hidden;
}

.lnb .location {
  position: relative;
  height: 52px;
}

.lnb .location .addr {
  left: 0;
  text-align: left;
  height: 52px;
  margin-left: 0;
  position: relative;
}

.lnb .location .addr li a {
  height: 52px;
  color: #141414;
  padding: 0 14px 0 13px;
}

.lnb .location .addr li a:after {
  content: '';
  position: absolute;
  right: -6px;
  top: 0;
  margin-top: 0;
  width: 15px;
  height: 52px;
  background-position: -100px 0;
}

.lnb .location .addr:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: url(../../im/top_line_bg.png) repeat-x 0 0;
  background-size: 1px 1px;
  z-index: 25;
}

.lnb .location .btn_sch {
  display: none;
}

.lnb .lnb_btn_clse {
  height: 52px;
}

.est_agnt_info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  white-space: nowrap;
}

.est_agnt_info .thumb {
  float: none;
  position: relative;
  left: 0;
  display: inline-block;
  vertical-align: top;
  margin: 7px 15px 0 0;
}

.est_agnt_info .obj_info {
  display: inline-block;
  max-width: 370px;
  padding-left: 0;
  text-align: left;
  white-space: normal;
}

.aprt_blck_info {
  text-align: center;
}

.aprt_blck_info .thumb {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.aprt_blck_info .obj_info {
  display: inline-block;
  text-align: left;
}

.area_selc {
  position: absolute;
  top: 8px;
  right: 0;
  left: 50%;
  width: 85px;
  margin-left: -35px;
}

.area_selc .btn_selc_area {
  width: 85px;
  height: 30px;
  margin: 0 auto;
}

.area_selc .btn_selc_area button {
  width: 85px;
  height: 30px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  border: 0;
  background-color: transparent;
  color: #fff;
}

.area_selc .btn_selc_area button:after {
  content: '';
  width: 10px;
  height: 6px;
  display: inline-block;
  background: url(../../im/sp_header.png) no-repeat;
  background-size: 190px 105px;
  background-position: -80px -50px;
  vertical-align: middle;
  margin-left: 4px;
}

.pdt_num_txt {
  display: none;
}

.ctrl_sec .h_wrap {
  width: 438px;
  margin: 0 auto;
  padding: 30px 0 0 0;
}

.ctrl_sec .pdt_sq_info, .ctrl_sec .pdt_sq_info2, .ctrl_sec .range_area_wrap {
  width: 438px;
  margin: 0 auto;
  padding: 15px 0 30px 0;
}

.ctrl_sec .pdt_crcl_info {
  width: 468px;
  margin: 0 auto;
  padding: 0 0 30px 0;
}

.ctrl_sec .btn_dir_room {
  width: 438px;
  margin: 0 auto 14px auto;
}

.flt_btn_area {
  display: block;
  text-align: center;
}

.flt_btn_area .flt_reset {
  width: 105px;
}

.flt_btn_area .flt_setting {
  width: 190px;
}

.fc_cont_wrap {
  text-align: center;
}

.fc_cont_lst {
  display: inline-block;
  overflow-x: hidden;
}

.fc_cont_lst ul li {
  margin: 0 14px 0 13px;
}

.pdt_tbl_wrap .no_data {
  margin: 29px 0 19px 0;
}

.pdt_tbl_wrap .no_data:before {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  margin: 0 15px 0 0;
  vertical-align: middle;
  background-position: -130px -65px;
}

.view_mode2 .align1 {
  width: 22.2%;
}

.view_mode2 .align1.v2 {
  width: 33.3%;
}

.view_mode2 .align1.v2:before {
  border-left-width: 3px;
}

.view_mode2 .align1.v2 > select {
  padding-left: 12px;
}

.view_mode2 .align1:first-child {
  margin-left: 0;
}

.guide_pdt_oneroom {
  left: 118px;
  margin: 0;
}

.guide_pdt_circle {
  background-position: 0 -289px;
  bottom: 30px;
  left: 30px;
  top: auto;
  margin: 0;
}

.set_info_box {
  padding: 19px 65px 20px 15px;
}

.set_info_box .set_info_txt {
  width: 100%;
}

.set_info_box.v2 {
  padding: 20px 65px 21px 15px;
}

.set_info_box.v2 .set_info_txt {
  width: 100%;
}

.closed_box {
  height: 195px;
  padding: 15px 12px 10px 12px;
}

.closed_box .closed_txt {
  padding-top: 60px;
  padding-right: 0;
  text-align: center;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.closed_box .closed_txt:before {
  display: block;
  margin: 0 auto 12px auto;
}

.complex_select_box .complex_list_box > ul > li {
  width: 50%;
  float: left;
  border-right: 1px solid #e4e4e4;
}

.complex_select_box .complex_list_box > ul > li:nth-child(even) {
  border-right: 0;
}

.pop_other_content .ly_other_list {
  width: 400px;
  height: 250px;
  margin: -125px 0 0 -200px;
}

.pop_other_content .ly_other_list .other_list_box {
  height: 194px;
}

.comm_detail .no_data {
  position: relative;
  height: 150px;
  text-align: left;
  margin: 0;
  line-height: 24px;
  font-size: 18px;
  border-top: 1px solid #ededed;
}

.comm_detail .no_data .txt {
  position: absolute;
  left: 50%;
  top: 60px;
  width: 290px;
  margin-left: -145px;
}

.comm_detail .no_data .txt:before {
  content: '';
  width: 40px;
  height: 40px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 245px;
  float: left;
  margin: 3px 14px 0 0;
  vertical-align: middle;
  background-position: -130px -65px;
}

.comm_detail .no_data .br {
  display: inline;
}

.comm_detail .no_data:before {
  content: none;
}

.comm_detail .no_data .br {
  display: none;
}

.comm_detail .knowledge_box .knowledge_txt {
  width: inherit;
}

.place_limit p .place_refer {
  display: inline-block;
}

.h_loc.agnt_datail .align1_1 {
  right: 42px;
}

.pdt_info.v2 p:nth-child(2) {
  margin-top: -4px;
}

.pdt_info.v2 p br {
  display: none;
}

/*# sourceMappingURL=../maps/include/basic_land.css.map */
