.ly_pdt_alarm.interest_alarm .btn_ok span, .ly_pdt_alarm .info_box.new_info_box2 .new_info_tab, .ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type1.on button, .ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type2.on button, .ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type3.on button, .ly_alarm_error .btn_ok span, .ly_pop_alarm:before, .ly_pop_alarm .chk_box label:before, .ly_pop_alarm .btn_clse span, .pdt_set_wrap .no_alarm_area .no_alarm_data a, .set_info_box .btn_detail span, .set_info_txt .bar, .ly_detail_box strong:before, .ly_detail_box .btn_clse span, .set_lst .edit_area button span, .set_lst .btn_view_fltr span, .set_lst .thrd_info .pdt_new em:before, .btn_set_area .btn_del:before, .closed_box .closed_txt:before, .complex_select_box > .h_top .location_map_view > h2 em, .complex_select_box .complex_list_box > ul > li:after, .comm_list_style dl dd.ico_bar:after, .comm_list_style dl dt.ico_bar:after, .comm_list_style .ico_comm_town, .comm_list_style .ico_comm_qna, .comm_list_style .like_cnt:after, .comm_list_style .comment_cnt:after, .comm_list_style .btn_body_view, .more_article_box > a:after, .more_view_box > a:after, .comm_detail .write_article, .comm_detail .sort_menu ul li a.on:after, .comm_detail .sort_menu .select_box:after, .comm_detail .kind_checkbox li label:before, .comm_detail .comm_show_title > .txt_title .qna_ico, .comm_detail .comm_show_content .like_cnt span:after, .comm_detail .comm_show_content .comm_btn .answer_cnt:after, .comm_detail .comm_show_content .comm_btn .answer_btn, .comm_detail .comm_answer_box .choose_answer, .comm_detail .comm_answer_box .answer_ico, .comm_detail .comm_answer_box dl dd.ico_bar:after, .comm_detail .comm_answer_box dl dt.ico_bar:after, .comm_detail .comm_answer_box .like_cnt:after, .comm_detail .comm_answer_box .comment_cnt:after, .comm_detail .comm_answer_box .answer_cnt:after, .comm_detail .knowledge_box .answer_btn, .comm_detail .no_data:before, .pop_other_content .ly_bridge_tel .desc dd span:before, .pop_other_content .ly_bridge_tel .btn_tel button:before, .pop_other_content .btn_clse, .ly_ic.end_layer .btn_del {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* prefix mixin helper */
/* card top area Outer Glow effect */
/* multi-line ellipsis mixin */
/* image outline */
.ly_pdt_alarm {
  position: absolute;
  width: 266px;
  text-align: center;
  background-color: #fff;
  padding-bottom: 10px;
}

.ly_pdt_alarm.interest_alarm {
  width: 275px;
  padding-bottom: 0;
}

.ly_pdt_alarm.interest_alarm .btn_ok {
  width: 275px;
  height: 46px;
  font-size: 15px;
  margin: 0;
  border: 0;
  border-top: 1px solid #f1f1f1;
  background-color: transparent;
}

.ly_pdt_alarm.interest_alarm .btn_ok span {
  width: 54px;
  height: 15px;
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -65px 0;
}

.ly_pdt_alarm.cancel_alarm {
  width: 236px;
}

.ly_pdt_alarm.cancel_alarm .info_txt {
  padding: 53px 0 44px;
  font-size: 16px;
}

.ly_pdt_alarm.cancel_alarm .btn_no {
  width: 105px;
}

.ly_pdt_alarm.cancel_alarm .btn_yes {
  width: 105px;
}

.ly_pdt_alarm.delete_alarm {
  width: 235px;
}

.ly_pdt_alarm.delete_alarm .info_txt {
  padding: 48px 0 38px;
  font-size: 17px;
  line-height: 20px;
}

.ly_pdt_alarm.delete_alarm .btn_no {
  width: 105px;
}

.ly_pdt_alarm.delete_alarm .btn_yes {
  width: 105px;
}

.ly_pdt_alarm.new_alarm {
  width: 261px;
}

.ly_pdt_alarm.new_alarm .price_tit {
  padding: 7px 0 11px;
}

.ly_pdt_alarm.new_alarm .info_txt {
  padding: 16px 0 18px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 10px;
  line-height: 20px;
}

.ly_pdt_alarm .info_box {
  background-color: #f9f9f9;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;
  padding: 17px 10px 18px;
  margin-bottom: 10px;
}

.ly_pdt_alarm .info_box.new_info_box .frst_info {
  padding-bottom: 8px;
  line-height: 20px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab {
  overflow: hidden;
  position: relative;
  width: 215px;
  height: 31px;
  margin: 8px auto -7px;
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: 0 -124px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li {
  float: left;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type1.on {
  text-indent: 0;
  width: 72px;
  height: 31px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type1.on button {
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: 0 -160px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type1 button {
  width: 72px;
  left: 0;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type2.on {
  width: 72px;
  height: 31px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type2.on button {
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -71px -160px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type2 button {
  width: 73px;
  left: 71px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type3.on {
  text-indent: 0;
  width: 71px;
  height: 31px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type3.on button {
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -143px -160px;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li.pdt_type3 button {
  width: 72px;
  right: 0;
}

.ly_pdt_alarm .info_box.new_info_box2 .new_info_tab li button {
  position: absolute;
  top: 0;
  width: 71px;
  height: 31px;
  margin: 0;
  border: 0;
  background-color: transparent;
  font-size: 0;
}

.ly_pdt_alarm .addr, .ly_pdt_alarm .tw_name {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: -1px;
  color: #000;
  line-height: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.ly_pdt_alarm .frst_info {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.ly_pdt_alarm .frst_info .pdt_type_tit {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Medium, Arial, sans-serif;
}

.ly_pdt_alarm .scnd_info {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 18px;
  color: #4874e4;
  letter-spacing: -1px;
  line-height: 22px;
}

.ly_pdt_alarm .scnd_info strong {
  margin: 0 2px 0 4px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: normal;
}

.ly_pdt_alarm .info_txt {
  padding: 12px 0 18px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #000;
  letter-spacing: -1px;
}

.ly_pdt_alarm .info_txt em {
  color: #305ed3;
}

.ly_pdt_alarm .price_tit {
  display: block;
  padding: 7px 0 12px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 18px;
  letter-spacing: -1px;
  color: #000;
}

.ly_pdt_alarm button {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  width: 120px;
  height: 37px;
  margin: 0 3px;
  border: 0;
  background-color: transparent;
}

.ly_pdt_alarm .btn_no {
  background-color: #eaeaea;
  color: #666;
}

.ly_pdt_alarm .btn_yes {
  background-color: #4874e4;
  color: #fff;
}

.ly_alarm_error {
  position: absolute;
  width: 235px;
  text-align: center;
  background-color: #fff;
  padding-top: 29px;
}

.ly_alarm_error .info_txt {
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  color: #000;
  letter-spacing: -1px;
  line-height: 20px;
}

.ly_alarm_error .info_txt em {
  color: #4874e4;
}

.ly_alarm_error .info_txt + .info_txt {
  padding-top: 10px;
}

.ly_alarm_error .btn_ok {
  width: 235px;
  height: 46px;
  margin-top: 18px;
  border: 0;
  border-top: 1px solid #f1f1f1;
  background-color: transparent;
}

.ly_alarm_error .btn_ok span {
  width: 54px;
  height: 15px;
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -65px 0;
}

.ly_pop_alarm {
  position: absolute;
  top: 47px;
  right: 6px;
  width: 145px;
  padding: 11px 0 11px 15px;
  box-sizing: border-box;
  background-color: #fff;
  z-index: 1000;
  text-align: left;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
}

.ly_pop_alarm:before {
  content: '';
  position: absolute;
  right: 45px;
  top: -8px;
  width: 17px;
  height: 9px;
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -65px -20px;
  z-index: 1001;
}

.h_loc .ly_pop_alarm:before {
  right: 10px;
}

.ly_pop_alarm strong {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #00c83c;
}

.ly_pop_alarm .txt {
  margin-top: 4px;
  font-size: 14px;
  color: #000;
  letter-spacing: -1px;
  line-height: 16px;
}

.ly_pop_alarm .chk_box {
  margin-top: 6px;
  font-size: 13px;
  color: #000;
  letter-spacing: -1px;
}

.ly_pop_alarm .chk_box input[type=checkbox] {
  width: 0;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.ly_pop_alarm .chk_box label:before {
  content: '';
  width: 10px;
  height: 10px;
  margin-right: 4px;
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  background-position: -120px -15px;
}

.ly_pop_alarm .chk_box input[type=checkbox]:checked + label:before {
  background-position: -85px -20px;
}

.ly_pop_alarm .btn_clse {
  position: absolute;
  top: 7px;
  right: 4px;
  width: 24px;
  height: 24px;
  border: 0;
  background-color: transparent;
}

.ly_pop_alarm .btn_clse span {
  display: inline-block;
  background: url(../../im/sp_lypop.png) no-repeat;
  background-size: 220px 230px;
  width: 12px;
  height: 12px;
  background-position: -120px 0;
}

.pdt_set_wrap .no_alarm_area {
  position: relative;
  min-height: 150px;
  margin-top: 10px;
  background-color: #fff;
  border-top: 1px solid #e2e4e4;
}

.pdt_set_wrap .no_alarm_area .no_alarm_data {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -62px;
  text-align: center;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 21px;
  letter-spacing: -1px;
}

.pdt_set_wrap .no_alarm_area .no_alarm_data strong {
  font-weight: normal;
  color: #141414;
}

.pdt_set_wrap .no_alarm_area .no_alarm_data p {
  margin: 7px 0 26px;
  font-size: 14px;
  color: #aaa;
}

.pdt_set_wrap .no_alarm_area .no_alarm_data a {
  display: block;
  width: 185px;
  height: 45px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: 0 -255px;
}

.set_info_box {
  position: relative;
  padding: 18px 65px 19px 15px;
  background-color: #fff;
  border-bottom: 1px solid #e4e8e9;
}

.set_info_box h3 {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

.set_info_box .btn_detail {
  margin-left: 6px;
  width: 16px;
  height: 16px;
  border: 0;
  background-color: transparent;
  vertical-align: -1px;
}

.set_info_box .btn_detail span {
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -155px -110px;
}

.set_info_box.v2 {
  padding: 19px 65px 20px 15px;
  border-bottom: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

.set_info_box.v2 .set_info_txt {
  width: 196px;
  margin-top: 2px;
}

.set_info_tit {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 13px;
  color: #00c83c;
  letter-spacing: -1px;
  margin-top: 1px;
}

.set_info_txt {
  width: 260px;
  margin-top: -1px;
  font-size: 13px;
  color: #666;
  letter-spacing: -1px;
  line-height: 17px;
}

.set_info_txt em {
  letter-spacing: 0;
  color: #00c83c;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
}

.set_info_txt .bar {
  width: 5px;
  height: 9px;
  margin: 0 2px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -85px -35px;
  vertical-align: 1px;
}

.ly_detail_box {
  position: absolute;
  left: 13px;
  top: 44px;
  width: 290px;
  padding: 0 15px 18px 15px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  z-index: 99991;
}

.ly_detail_box strong {
  display: inline-block;
  padding-top: 15px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 16px;
  color: #000;
}

.ly_detail_box strong:before {
  content: '';
  width: 17px;
  height: 17px;
  margin-right: 9px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -130px -150px;
  vertical-align: -2px;
}

.ly_detail_box .txt_lst li {
  padding-top: 5px;
  line-height: 20px;
  font-size: 15px;
  color: #666;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
}

.ly_detail_box .btn_clse {
  position: absolute;
  right: 0;
  top: 0;
  width: 35px;
  height: 35px;
  border: 0;
  background-color: transparent;
}

.ly_detail_box .btn_clse span {
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -150px -130px;
}

.btn_set {
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -13px;
  width: 50px;
  height: 25px;
  font-size: 13px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  border: 0;
  background-color: #cdd0d1;
  z-index: 15;
}

.btn_set.on {
  background-color: #00c83c;
}

.set_lst {
  margin: 10px 0 50px 0;
  background-color: #fff;
}

.set_lst li {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
}

.set_lst li.on {
  background-color: #f6f8fe;
}

.set_lst .edit_area {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -23px;
  z-index: 15;
}

.set_lst .edit_area button {
  width: 48px;
  height: 45px;
  border: 0;
  background-color: transparent;
}

.set_lst .edit_area button span {
  width: 18px;
  height: 18px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -150px -150px;
}

.set_lst .edit_area button.on span {
  background-position: -170px -155px;
}

.set_lst .edit_area + .info_box {
  padding-left: 48px;
}

.set_lst .edit_area + .info_box .btn_set {
  display: none;
}

.set_lst .info_box {
  position: relative;
  padding: 18px 65px 15px 15px;
}

.set_lst .info_box.v2 {
  padding: 23px 65px 20px 15px;
}

.set_lst .info_box.v2 .frst_info {
  margin: 1px 0 -6px 0;
}

.set_lst .info_box a {
  display: block;
}

.set_lst li.off p {
  color: #d5d5d5;
}

.set_lst li.off .pdt_total {
  color: #d5d5d5;
}

.set_lst li.off .pdt_total em {
  color: #d5d5d5;
}

.set_lst li.off .pdt_new {
  color: #d5d5d5;
}

.set_lst li.off .pdt_new em {
  color: #d5d5d5;
}

.set_lst li.off .time_txt {
  color: #d5d5d5;
}

.set_lst li.off .thrd_info .pdt_new em:before {
  background-position: -91px -233px;
}

.set_lst li.off .btn_view_fltr {
  opacity: .5;
  z-index: 50;
}

.set_lst .addr, .set_lst .tw_name {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.set_lst .frst_info {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.set_lst .frst_info .pdt_type_tit {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Medium, Arial, sans-serif;
}

.set_lst .scnd_info {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 18px;
  color: #4874e4;
  letter-spacing: -1px;
  line-height: 24px;
}

.set_lst .scnd_info strong {
  margin: 0 2px 0 4px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 0;
  font-weight: normal;
}

.set_lst .btn_view_fltr {
  border: 0;
  background-color: transparent;
  display: inline-block;
  padding: 0 3px;
  margin-left: 7px;
}

.set_lst .btn_view_fltr span {
  width: 15px;
  height: 16px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -70px -75px;
  vertical-align: top;
  margin-top: 2px;
}

.set_lst .thrd_info {
  margin: 7px 0 0 0;
}

.set_lst .thrd_info .pdt_total {
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 13px;
  color: #666;
  letter-spacing: -1px;
}

.set_lst .thrd_info .pdt_total em {
  letter-spacing: 0;
  color: #4895ff;
}

.set_lst .thrd_info .pdt_new {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: -1px;
  color: #f14d4e;
}

.set_lst .thrd_info .pdt_new:before {
  content: '|';
  color: #dbdddd;
  font-size: 13px;
  margin: 0 7px;
}

.set_lst .thrd_info .pdt_new em {
  letter-spacing: 0;
}

.set_lst .thrd_info .pdt_new em:before {
  content: '';
  width: 17px;
  height: 16px;
  margin-right: -1px;
  margin-left: -3px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -130px -130px;
  vertical-align: -4px;
}

.set_lst .thrd_info .time_txt {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Medium, Arial, sans-serif;
  font-size: 13px;
  color: #aaa;
}

.btn_set_area {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  z-index: 50;
  background-color: #f4f4f4;
}

.btn_set_area:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn_set_area .btn_selct_all {
  width: 92px;
  height: 50px;
  border: 0;
  background-color: transparent;
  color: #4874e4;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
}

.btn_set_area .btn_del {
  position: absolute;
  right: 0;
  top: 0;
  width: 87px;
  height: 50px;
  border: 0;
  background-color: transparent;
  color: #999;
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
}

.btn_set_area .btn_del.on {
  color: #f14d4e;
}

.btn_set_area .btn_del.on:before {
  background-position: -80px -160px;
}

.btn_set_area .btn_del:before {
  content: '';
  width: 15px;
  height: 16px;
  margin-right: 6px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -190px -155px;
  vertical-align: -2px;
}

.notice_wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  background: #edeff2;
}

.notice_wrap h2 {
  padding: 13px 10px 12px 10px;
  font-size: 17px;
  color: #000;
}

.notice_wrap .txt_area {
  margin: 0 10px 20px 10px;
  padding: 16px 15px 16px;
  border: 1px solid #d2d2d3;
  background-color: #fff;
  -webkit-border-radius: 3px;
}

.notice_wrap .txt_area h3 {
  font-size: 14px;
  color: #000;
}

.notice_wrap .txt_area .li_txt li {
  font-size: 13px;
  padding: 10px 0 0 15px;
  color: #666;
}

.notice_wrap .txt_area .li_txt li:first-letter {
  margin-left: -10px;
  color: #000;
}

.notice_wrap .txt_area .li_copy li {
  font-size: 13px;
  margin-top: 8px;
  color: #666;
}

.notice_wrap .txt_area .li_copy li:first-child {
  margin-top: 0;
}

.notice_wrap .txt_area .li_copy li span {
  display: block;
  color: #767779;
}

.notice_wrap .noti {
  margin: 12px 0 0;
  padding: 15px 0 0;
  border-top: 1px solid #ebebef;
}

.notice_wrap .noti dt {
  padding-left: 20px;
  font-size: 13px;
  font-weight: bold;
  color: #000;
  background: url(../../im/ic2.gif) no-repeat 0 0;
}

.notice_wrap .noti dd {
  padding-top: 2px;
  font-size: 13px;
  color: #767779;
}

.ly_like {
  position: absolute;
  left: 50%;
  padding: 13px 0 15px 0;
  margin-left: -148px;
  width: 297px;
  background-color: rgba(1, 8, 25, 0.7);
  font-size: 14px;
  color: #fff;
  font-family: AppleSDGothicNeo-Light,sans-serif;
  text-align: center;
  line-height: 21px;
  z-index: 30;
}

.closed_box {
  height: 120px;
  text-align: center;
}

.closed_box .closed_txt {
  padding-top: 45px;
  padding-right: 10px;
  font-size: 14px;
  color: #aaa;
  letter-spacing: -1px;
}

.closed_box .closed_txt:before {
  content: '';
  width: 25px;
  height: 25px;
  margin-right: 8px;
  vertical-align: -8px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -230px -155px;
}

.complex_select_box {
  background: #eee;
  height: calc(100% - 91px);
  height: -webkit-calc(100% - 91px);
  height: -moz-calc(100% - 91px);
  width: 100%;
}

.complex_select_box > .h_top {
  height: 50px;
  border-bottom: 1px solid #e4e4e4;
}

.complex_select_box > .h_top .prev em {
  margin-left: 11px;
}

.complex_select_box > .h_top:before {
  display: none;
}

.complex_select_box > .h_top > h2 {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  padding: 0 20px;
  line-height: 50px;
  letter-spacing: -1px;
}

.complex_select_box > .h_top .location_map_view {
  display: block;
}

.complex_select_box > .h_top .location_map_view > h2 {
  font-size: 17px;
  font-weight: normal;
  color: #000;
  font-family: "HelveticaNeueW10-55Roma", AppleSDGothicNeo-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 20px;
  line-height: 51px;
  letter-spacing: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.complex_select_box > .h_top .location_map_view > h2 em {
  position: relative;
  top: -2px;
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 8px 0 0;
  vertical-align: middle;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -199px -212px;
}

.complex_select_box .complex_list_box {
  background: #f7f7f7;
  height: calc(100% - 50px);
  height: -webkit-calc(100% - 50px);
  height: -moz-calc(100% - 50px);
}

.complex_select_box .complex_list_box > ul > li {
  position: relative;
  border-bottom: 1px solid #e4e4e4;
  background: #fff;
  display: table;
  width: 100%;
  height: 62px;
  padding: 0 30px 0 20px;
  box-sizing: border-box;
}

.complex_select_box .complex_list_box > ul > li:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -176px -105px;
  width: 8px;
  height: 14px;
}

.complex_select_box .complex_list_box > ul > li > a {
  display: table-cell;
  vertical-align: middle;
  padding-top: 3px;
}

.complex_select_box .complex_list_box > ul > li > a strong {
  color: #000;
  font-size: 15px;
  font-family: "HelveticaNeueW10-55Roma", AppleSDGothicNeo-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.complex_select_box .complex_list_box > ul > li > a .btn_box {
  margin-top: 4px;
  color: #999;
  font-size: 13px;
  line-height: 13px;
}

.complex_select_box .complex_list_box > ul > li > a .btn_box .type {
  margin-right: 5px;
  font-weight: 700;
  color: #333;
}

.complex_select_box .complex_list_box > ul > li > a .btn_box button {
  border: 0;
  color: #999;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  background: #fff;
  margin: 0 2px;
}

.complex_select_box .complex_list_box > ul > li > a .btn_box button:first-of-type {
  margin-left: 0;
}

.complex_select_box .complex_list_box > ul > li > a .btn_box button > span {
  color: #4895ff;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-left: 2px;
}

.detail {
  position: relative;
  overflow: hidden;
}

.comm_list_style {
  display: block;
  overflow: hidden;
}

.comm_list_style > .txt_title {
  font-size: 16px;
  color: #000;
  letter-spacing: -1px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  word-wrap: break-word;
  line-height: 22px;
  font-weight: normal;
}

.comm_list_style dl {
  float: left;
  padding-top: 2px;
}

.comm_list_style dl .qna_comm {
  font-family: "HelveticaNeueW10-65LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #4874e4;
  letter-spacing: -1px;
}

.comm_list_style dl dt {
  margin-right: 3px;
}

.comm_list_style dl dd, .comm_list_style dl dt {
  float: left;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #777;
}

.comm_list_style dl dd.ico_bar, .comm_list_style dl dt.ico_bar {
  position: relative;
  padding-right: 8px;
  margin-right: 7px;
}

.comm_list_style dl dd.ico_bar:after, .comm_list_style dl dt.ico_bar:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 9px;
  margin-top: -5px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -214px -125px;
}

.comm_list_style dl + dl {
  float: right;
}

.comm_list_style dl + dl dd {
  font-size: 15px;
  color: #333;
  letter-spacing: 0;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comm_list_style .ico_comm_town, .comm_list_style .ico_comm_qna {
  display: block;
  width: 36px;
  height: 16px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -74px -212px;
}

.comm_list_style .ico_comm_qna {
  background-position: -116px -212px;
}

.comm_list_style .like_cnt, .comm_list_style .comment_cnt {
  position: relative;
  padding-left: 18px;
  font-size: 14px;
}

.comm_list_style .like_cnt:after, .comm_list_style .comment_cnt:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -22px -246px;
}

.comm_list_style .like_cnt.on:after {
  background-position: -171px -125px;
}

.comm_list_style .comment_cnt {
  margin-left: 15px;
}

.comm_list_style .comment_cnt:after {
  margin-top: -7px;
  background-position: -171px -142px;
}

.comm_list_style .btn_body_view {
  float: right;
  position: relative;
  top: -3px;
  width: 72px;
  height: 29px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: 0 -310px;
}

.more_article_box, .more_view_box {
  display: block;
  text-align: right;
  padding: 12px 0 14px;
}

.more_article_box > a, .more_view_box > a {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  padding-right: 13px;
}

.more_article_box > a:after, .more_view_box > a:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 6px;
  height: 11px;
  margin-top: -5px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -194px -143px;
}

.more_article_box.more_view_box, .more_view_box.more_view_box {
  text-align: center;
}

.more_article_box > a, .more_view_box > a {
  padding-right: 12px;
  font-size: 14px;
}

.more_article_box > a:after, .more_view_box > a:after {
  width: 12px;
  height: 12px;
  background-position: -188px -143px;
}

.btn_more_body {
  padding: 15px;
  background-color: #e4e8e9;
}

.btn_more_body .btn_more_shadow {
  padding: 1px;
  background-color: #e4e8e9;
}

.btn_more_body .btn_more_shadow > a {
  display: block;
  height: 50px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 14px;
  color: #141414;
  background-color: #fff;
  letter-spacing: -1px;
  text-align: center;
  line-height: 50px;
}

.comm_detail .h_loc {
  border-bottom: 1px solid #ededed;
}

.comm_detail .h_loc .prev em {
  margin-left: 11px;
}

.comm_detail .write_article {
  position: absolute;
  display: block;
  width: 20px;
  height: 22px;
  top: 50%;
  right: 15px;
  margin-top: -11px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -166px -212px;
}

.comm_detail .sort_menu {
  clear: both;
  overflow: hidden;
  padding: 9px 0 8px 5px;
  background-color: #fff;
}

.comm_detail .sort_menu ul {
  float: left;
  line-height: 30px;
}

.comm_detail .sort_menu ul li:first-child {
  margin-left: 10px;
}

.comm_detail .sort_menu ul li {
  float: left;
  margin-left: 15px;
}

.comm_detail .sort_menu ul li a {
  position: relative;
  font-size: 14px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #bababa;
  letter-spacing: -1px;
}

.comm_detail .sort_menu ul li a.on {
  padding-left: 14px;
  color: #000;
}

.comm_detail .sort_menu ul li a.on:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 11px;
  height: 8px;
  margin-top: -4px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -209px -143px;
}

.comm_detail .sort_menu .select_box {
  position: relative;
  border: 1px solid #ccc;
  background: #fff;
  float: right;
  margin-right: 12px;
}

.comm_detail .sort_menu .select_box select {
  -webkit-appearance: none;
  background: none;
  border: 0;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", AppleSDGothicNeo-Light, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  letter-spacing: -1px;
  padding: 4px 10px 4px 5px;
  min-width: 90px;
}

.comm_detail .sort_menu .select_box:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  width: 10px;
  height: 6px;
  margin-top: -3px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -70px -20px;
}

.comm_detail .sort_menu + .spec.community {
  border-top: 0;
}

.comm_detail .sort_menu + .spec.community .comment_box {
  padding: 0;
}

.comm_detail .sort_menu + .spec.community .comment_box ul li {
  padding: 15px 15px 10px;
}

.comm_detail .sort_menu.board ul li {
  margin-left: 25px;
}

.comm_detail .sort_menu.board ul li:first-child {
  margin-left: 15px;
}

.comm_detail .sort_menu.board ul li a {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
}

.comm_detail .sort_menu.board ul li a.on {
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  color: #4874e4;
}

.comm_detail .sort_menu.board ul li a.on:after {
  background-position: -209px -154px;
}

.comm_detail .kind_checkbox {
  padding: 3px 20px 12px 0;
  margin-left: -5px;
  border-top: 1px solid #ededed;
  overflow: hidden;
}

.comm_detail .kind_checkbox li {
  float: left;
  margin-top: 10px;
  margin-left: 25px;
}

.comm_detail .kind_checkbox li input[type='checkbox'] {
  display: none;
}

.comm_detail .kind_checkbox li label {
  position: relative;
  font-size: 14px;
  color: #000;
  letter-spacing: -1px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  padding-left: 18px;
}

.comm_detail .kind_checkbox li label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -171px -161px;
}

.comm_detail .kind_checkbox li input[type='checkbox']:checked + label:before {
  background-position: -190px -161px;
}

.comm_detail .inp_title_box, .comm_detail .inp_content_box {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #ededed;
  padding: 13px 20px;
}

.comm_detail .inp_title_box input, .comm_detail .inp_title_box textarea, .comm_detail .inp_content_box input, .comm_detail .inp_content_box textarea {
  font-size: 16px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  -webkit-appearance: none;
  background: none;
  border: 0;
  width: 100%;
  resize: none;
}

.comm_detail .inp_title_box.noline, .comm_detail .inp_content_box.noline {
  border-top: none;
}

.comm_detail .inp_title_box ::-webkit-input-placeholder, .comm_detail .inp_title_box textarea:-moz-placeholder, .comm_detail .inp_title_box input:-moz-placeholder, .comm_detail .inp_content_box ::-webkit-input-placeholder, .comm_detail .inp_content_box textarea:-moz-placeholder, .comm_detail .inp_content_box input:-moz-placeholder {
  color: #bababa;
}

.comm_detail .inp_content_box {
  padding: 15px 17px;
}

.comm_detail .write_reply {
  padding: 17px 20px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  letter-spacing: -1px;
  line-height: 22px;
}

.comm_detail .btn_group_box {
  padding: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.comm_detail .btn_group_box .btn_group {
  display: table;
  width: 100%;
  text-align: center;
}

.comm_detail .btn_group_box .btn_group a {
  display: table-cell;
  width: 50%;
  font-size: 15px;
  color: #fff;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 2px;
  line-height: 38px;
}

.comm_detail .btn_group_box .btn_group a.btn_cancle {
  background: #afb4bb;
}

.comm_detail .btn_group_box .btn_group a.btn_register {
  background: #4874e4;
}

.comm_detail .btn_group_box .btn_group a + span {
  display: block;
  width: 5px;
}

.comm_detail .comm_show_title {
  position: relative;
  padding: 20px 20px 15px;
}

.comm_detail .comm_show_title > .txt_title {
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 29px;
  margin-top: 1px;
  margin-bottom: 12px;
  -webkit-line-clamp: inherit;
}

.comm_detail .comm_show_title > .txt_title .qna_ico {
  position: relative;
  top: 3px;
  left: 0;
  width: 22px;
  height: 22px;
  margin-right: 2px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -74px -239px;
}

.comm_detail .view_body {
  padding: 20px 20px 22px;
}

.comm_detail .comm_show_content {
  position: relative;
  padding: 20px 20px 25px;
  border-top: 1px solid #ededed;
  font-size: 16px;
}

.comm_detail .comm_show_content > a {
  display: block;
  overflow: hidden;
}

.comm_detail .comm_show_content > a img {
  width: 100%;
}

.comm_detail .comm_show_content > p {
  margin-top: 15px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  letter-spacing: -1px;
  line-height: 23px;
}

.comm_detail .comm_show_content .like_cnt {
  position: relative;
  display: block;
  width: 115px;
  height: 35px;
  border: 1px solid #d4d4d4;
  text-align: center;
  margin: 30px auto 0;
}

.comm_detail .comm_show_content .like_cnt span {
  position: relative;
  display: inline-block;
  padding-left: 22px;
  line-height: 35px;
  color: #000;
}

.comm_detail .comm_show_content .like_cnt span:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 17px;
  height: 15px;
  margin-top: -7px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -193px -185px;
}

.comm_detail .comm_show_content .like_cnt span.on:after {
  background-position: -170px -185px;
}

.comm_detail .comm_show_content .comm_btn {
  margin-top: 31px;
}

.comm_detail .comm_show_content .comm_btn .answer_cnt {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 36px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  border: 1px solid #d4d4d4;
  line-height: 33px;
}

.comm_detail .comm_show_content .comm_btn .answer_cnt:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 9px;
  display: inline-block;
  width: 16px;
  height: 16px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -171px -142px;
}

.comm_detail .comm_show_content .comm_btn .answer_btn {
  float: right;
  width: 96px;
  height: 35px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: 0 -269px;
}

.comm_detail .comm_show_content.view {
  padding-bottom: 46px;
}

.comm_detail .comm_answer_box {
  padding: 17px 0 0;
  border-top: 1px solid #c9c9c9;
}

.comm_detail .comm_answer_box ul > li {
  overflow: hidden;
  padding: 25px 20px 25px;
  border-top: 1px solid #c9c9c9;
}

.comm_detail .comm_answer_box li:first-child {
  border-top: none;
  padding-top: 0;
}

.comm_detail .comm_answer_box .answer_box {
  padding: 0 20px 35px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", AppleSDGothicNeo-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000;
  letter-spacing: -1px;
}

.comm_detail .comm_answer_box .answer_box strong {
  color: #4874e4;
}

.comm_detail .comm_answer_box .answer_box.no_reply {
  margin-bottom: -12px;
}

.comm_detail .comm_answer_box .choose_answer {
  width: 63px;
  height: 18px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -101px -269px;
}

.comm_detail .comm_answer_box .answer_txt {
  padding-top: 8px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000;
  letter-spacing: -1px;
  line-height: 24px;
}

.comm_detail .comm_answer_box .answer_ico {
  width: 18px;
  height: 18px;
  margin-right: 3px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -124px -242px;
}

.comm_detail .comm_answer_box dl {
  float: left;
  padding: 11px 0 15px 0;
}

.comm_detail .comm_answer_box dl dt {
  margin-right: 3px;
}

.comm_detail .comm_answer_box dl dd, .comm_detail .comm_answer_box dl dt {
  float: left;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #777;
}

.comm_detail .comm_answer_box dl dd.ico_bar, .comm_detail .comm_answer_box dl dt.ico_bar {
  position: relative;
  padding-right: 8px;
  margin-right: 7px;
}

.comm_detail .comm_answer_box dl dd.ico_bar:after, .comm_detail .comm_answer_box dl dt.ico_bar:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 9px;
  margin-top: -5px;
  display: inline-block;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -214px -125px;
}

.comm_detail .comm_answer_box dl + dl {
  float: right;
}

.comm_detail .comm_answer_box dl + dl dd {
  font-size: 15px;
  color: #333;
  letter-spacing: 0;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comm_detail .comm_answer_box .like_cnt, .comm_detail .comm_answer_box .comment_cnt {
  position: relative;
  padding-left: 19px;
}

.comm_detail .comm_answer_box .like_cnt:after, .comm_detail .comm_answer_box .comment_cnt:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 14px;
  height: 14px;
  margin-top: -6px;
  display: inline-block;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -22px -246px;
}

.comm_detail .comm_answer_box .comment_cnt {
  margin-left: 15px;
}

.comm_detail .comm_answer_box .comment_cnt:after {
  margin-top: -7px;
  background-position: -171px -142px;
}

.comm_detail .comm_answer_box .detail_answer {
  display: block;
  padding-top: 15px;
  border-top: 1px solid #ededed;
  font-size: 16px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  line-height: 23px;
  clear: both;
}

.comm_detail .comm_answer_box .answer_cnt {
  display: inline-block;
  position: relative;
  padding: 0 15px 0 36px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #000;
  border: 1px solid #d4d4d4;
  line-height: 33px;
}

.comm_detail .comm_answer_box .answer_cnt:after {
  content: '';
  position: absolute;
  left: 15px;
  top: 9px;
  display: inline-block;
  width: 16px;
  height: 16px;
  display: inline-block;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -171px -142px;
}

.comm_detail .comm_answer_box .comm_btn {
  margin-top: 22px;
}

.comm_detail .knowledge_box {
  overflow: hidden;
  padding: 15px 20px;
  border: 1px solid #c9c9c9;
  border-width: 1px 0 1px 0;
}

.comm_detail .knowledge_box .answer_btn {
  float: right;
  width: 96px;
  height: 35px;
  display: inline-block;
  background: url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: 0 -269px;
}

.comm_detail .knowledge_box .knowledge_txt {
  display: inline-block;
  width: 169px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #999;
  line-height: 18px;
  letter-spacing: -1px;
}

.comm_detail .comm_show_comment {
  position: relative;
  overflow: hidden;
  border-top: 1px solid #c9c9c9;
  padding: 22px 20px 0;
}

.comm_detail .comm_show_comment .inp_comment_box > h4 {
  font-size: 17px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  letter-spacing: -1px;
  font-weight: normal;
}

.comm_detail .comm_show_comment .inp_comment_box > h4 span {
  padding-left: 5px;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box {
  position: relative;
  margin-top: 11px;
  width: 100%;
  display: table;
  margin-bottom: 15px;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box textarea {
  display: table-cell;
  border: 1px solid #b3b3b3;
  border-right: 0;
  height: 43px;
  line-height: 40px;
  width: 100%;
  padding: 0 14px;
  box-sizing: border-box;
  resize: none;
  border-radius: 0;
  -webkit-appearance: none;
  overflow: hidden;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box .inp_user_id {
  display: none;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box div {
  display: table-cell;
  vertical-align: top;
  width: 79px;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box div span {
  display: none;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box div a {
  display: block;
  width: 79px;
  background: #4874e4;
  color: #fff;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  text-align: center;
  height: 43px;
  line-height: 43px;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box.on .inp_user_id {
  display: block;
  font-size: 16px;
  color: #000;
  letter-spacing: -1px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, AppleSDGothicNeo-SemiBold, Arial, sans-serif;
  padding: 12px 15px 5px;
  border: 1px solid #b3b3b3;
  border-bottom: 0;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box.on textarea {
  display: block;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #ededed;
  border-top: 0;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 135px;
  color: #000;
  line-height: 18px;
  letter-spacing: -1px;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box.on > div {
  display: table;
  width: 100%;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box.on > div span {
  display: table-cell;
  text-align: right;
  padding-right: 15px;
  border: 1px solid #b3b3b3;
  border-width: 0 0 1px 1px;
  font-size: 14px;
  color: #aaa;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.comm_detail .comm_show_comment .inp_comment_box .inp_box.on > div a {
  display: table-cell;
}

.comm_detail .comm_show_comment .comment_list_box ul {
  overflow: hidden;
}

.comm_detail .comm_show_comment .comment_list_box ul li {
  position: relative;
  border-top: 1px solid #ededed;
  padding: 15px 0;
}

.comm_detail .comm_show_comment .comment_list_box ul li > .txt_title {
  font-size: 16px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 23px;
  -webkit-line-clamp: inherit;
  margin-bottom: 3px;
}

.comm_detail .comm_show_comment .comment_list_box ul li:last-of-type {
  border-bottom: none;
}

.comm_detail .no_data {
  padding: 120px 0 75px 0;
  border-top: 1px solid #ededed;
  text-align: center;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px;
  line-height: 23px;
  color: #888;
  letter-spacing: -1px;
}

.comm_detail .no_data .br {
  display: block;
  padding-top: 3px;
}

.comm_detail .no_data:before {
  content: '';
  width: 75px;
  height: 75px;
  margin: 0 auto 22px auto;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  display: block;
  background-position: 0 -165px;
}

.pop_other_content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.pop_other_content .ly_bridge_tel {
  position: fixed;
  z-index: 500;
  left: 50%;
  top: 50%;
  width: 223px;
  min-height: 224;
  margin: -112px 0 0 -118px;
  background-color: #fff;
  text-align: center;
  padding: 0 7px;
}

.pop_other_content .ly_bridge_tel .thumb {
  display: inline-block;
  overflow: hidden;
  border-radius: 60px;
  position: relative;
  margin-top: 15px;
  margin-bottom: 8px;
}

.pop_other_content .ly_bridge_tel .thumb:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
  border-radius: 60px;
  box-sizing: border-box;
}

.pop_other_content .ly_bridge_tel .thumb img {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.pop_other_content .ly_bridge_tel .desc {
  overflow: hidden;
}

.pop_other_content .ly_bridge_tel .desc dl {
  padding-top: 5px;
}

.pop_other_content .ly_bridge_tel .desc dt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-bottom: 3px;
}

.pop_other_content .ly_bridge_tel .desc dt p {
  display: inline;
  color: #141414;
  font-size: 17px;
  line-height: 21px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pop_other_content .ly_bridge_tel .desc dd {
  color: #252525;
  font-size: 13px;
  font-family: HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 13px;
  margin-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}

.pop_other_content .ly_bridge_tel .desc dd span {
  position: relative;
  padding-left: 11px;
}

.pop_other_content .ly_bridge_tel .desc dd span:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 8px;
  height: 13px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
  background-position: -65px -30px;
}

.pop_other_content .ly_bridge_tel .btn_tel {
  clear: left;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pop_other_content .ly_bridge_tel .btn_tel > div {
  font-size: 0;
  text-align: center;
  vertical-align: top;
}

.pop_other_content .ly_bridge_tel .btn_tel button {
  width: 130px;
  height: 30px;
  background: transparent;
  font-size: 14px;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  margin-bottom: 7px;
}

.pop_other_content .ly_bridge_tel .btn_tel button:before {
  content: '';
  margin-right: 7px;
  display: inline-block;
  background: url(../../im/sp_lst.png) no-repeat;
  background-size: 265px 300px;
}

.pop_other_content .ly_bridge_tel .btn_tel button.off {
  border: 1px solid #eee;
}

.pop_other_content .ly_bridge_tel .btn_tel .tel:before {
  width: 13px;
  height: 13px;
  background-position: -171px -177px;
  vertical-align: -2px;
}

.pop_other_content .ly_other_list {
  position: fixed;
  z-index: 500;
  left: 50%;
  top: 50%;
  width: 300px;
  height: 435px;
  margin: -217px 0 0 -150px;
  background-color: #fff;
}

.pop_other_content .ly_other_list h2 {
  height: 55px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  padding: 0 56px 0 17px;
  line-height: 55px;
  border-bottom: 1px solid #eee;
  color: #000;
  font-size: 18px;
  font-family: "HelveticaNeueW10-55Roma", AppleSDGothicNeo-Medium, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.pop_other_content .ly_other_list .other_list_box {
  overflow: hidden;
  height: 379px;
  overflow-y: auto;
}

.pop_other_content .ly_other_list .other_list_box li {
  position: relative;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid #eee;
}

.pop_other_content .ly_other_list .other_list_box li h3 {
  line-height: 60px;
  height: 60px;
  margin-left: 17px;
  margin-right: 207px;
  color: #141414;
  font-size: 18px;
  font-weight: normal;
  font-family: "HelveticaNeueW10-35Thin", AppleSDGothicNeo-Medium, Helvetica, Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info {
  position: absolute;
  top: 17px;
  right: 17px;
  color: #6c6c6c;
  z-index: 16;
  overflow: hidden;
  padding-right: 0;
  white-space: normal;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info button {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-left: 0;
  width: 60px;
  line-height: 13px;
  background: 0;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  height: 25px;
  font-size: 13px;
  color: #444;
  vertical-align: -1px;
  letter-spacing: -1px;
  display: block;
  float: left;
  margin-bottom: 3px;
  -webkit-appearance: none;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info button > span {
  display: inline-block;
  vertical-align: -1px;
  padding: 4px 0 5px;
}

.a .pop_other_content .ly_other_list .other_list_box li .thrth_info button {
  padding: 2px 0 1px;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info button:first-of-type:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #ddd;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info button.other_list {
  border-left: 1px solid #ddd;
  margin-bottom: 0;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info button .pdt_num {
  margin-left: 2px;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Light, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #4895ff;
  letter-spacing: 0;
}

.pop_other_content .ly_other_list .other_list_box li .thrth_info span {
  margin: 0;
}

.pop_other_content .btn_clse {
  position: absolute;
  right: 17px;
  top: 17px;
  width: 22px;
  height: 22px;
  border: 0;
  display: inline-block;
  background: url(../../im/sp_ic.png) no-repeat;
  background-size: 435px 255px;
  background-position: -205px -80px;
}

.ly_loc_error {
  position: fixed;
  width: 288px;
  padding: 11px 0 10px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: rgba(1, 8, 25, 0.75);
  z-index: 100;
  text-align: center;
}

.ly_loc_error p {
  display: inline-block;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -1px;
}

.ly_ic {
  position: absolute;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Regular, Arial, sans-serif;
  font-size: 10px;
  z-index: 50;
}

.ly_ic.start_layer {
  width: 35px;
  height: 15px;
  background-color: #f3202f;
  line-height: 15px;
  color: #fff;
  text-align: center;
}

.ly_ic.itmd_layer {
  padding: 2px 5px 2px 5px;
  background-color: #fff;
  border: 1px solid #f3202f;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  line-height: 14px;
  color: #666;
}

.ly_ic.end_layer {
  padding: 5px 7px 1px 7px;
  background-color: #fff;
  border: 1px solid #f3202f;
}

.ly_ic.end_layer li {
  line-height: 14px;
  margin-bottom: 1px;
}

.ly_ic.end_layer .label {
  display: inline-block;
  min-width: 26px;
  font-size: 10px;
  color: #000;
  vertical-align: middle;
}

.ly_ic.end_layer strong {
  display: inline-block;
  margin-left: 4px;
  font-family: "Helvetica Neue", Helvetica, AppleSDGothicNeo-Medium, Arial, sans-serif;
  font-weight: normal;
  color: #f3202f;
  vertical-align: middle;
}

.ly_ic.end_layer strong em {
  font-size: 11px;
  font-family: "HelveticaNeueW10-55Roma", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ly_ic.end_layer .btn_del {
  position: absolute;
  top: -1px;
  right: -33px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../../im/sp_ic.png) no-repeat;
  background-size: 435px 255px;
  background-position: -212px -207px;
  border: 0;
  text-indent: 0;
  font-size: 1px;
  line-height: 1px;
  color: transparent;
}

.place_limit {
  position: relative;
  margin-bottom: -1px;
  padding: 12px 13px;
  border: 1px solid #ebebeb;
  border-width: 1px 0 1px 0;
  font-family: "HelveticaNeueW10-45LigT", HelveticaNeue-Light, AppleSDGothicNeo-Regular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  color: #777;
  letter-spacing: -1px;
  line-height: 16px;
  z-index: 10;
  background: #fcfcfc url(../../im/sp_end.png) no-repeat;
  background-size: 225px 340px;
  background-position: -196px -237px;
}

.place_limit p {
  padding-left: 24px;
}

.place_limit p .place_highlight {
  color: #ee3a26;
}

.place_limit p .place_refer {
  display: block;
}

/*# sourceMappingURL=../maps/include/detail.css.map */
