@import "../../common/_variable";
@import "../../common/_mixin";
@import "../../common/_common";

*{margin:0; padding:0;}
img {vertical-align:top;}
img, fieldset, button{border:0;}
hr, button img{display:none;}
li{list-style:none;}
a{text-decoration:none;}
a:hover, a:active, a:focus{text-decoration:underline;}
textarea{overflow:auto;}
html:first-child select{padding-right:6px; height:20px;}
option{ padding-right:6px;}
button, label{cursor:pointer; cursor:hand;}
button{background:none; background-repeat:no-repeat;}
button *{position:relative;}
.input_text, textarea{#{$ie7-hack}margin:-1px 0; border:1px solid;}
.input_check, .input_radio{width:13px; height:13px;}
.blind, legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.clear {clear:both;}

body {text-align:center; font-family:dotum, sans-serif; font-size:12px;}

/* Select Box */
.selectbox-naked *{display:none;}
.selectbox-naked input,
.selectbox-naked select{display:inline;}
.selectbox-naked select *{display:block;}
.selectbox-applied {position:relative;}
.selectbox-applied select{display:none;}
.selectbox-applied .selectbox-box{height:18px;#{$ie6-hack}height:20px;  cursor:pointer;#{$ie6-hack}cursor:hand; border:1px solid #bbb; background:#fff url(http://img.land.naver.com/imgland/sale/2009/bg_select_arw.gif) right 50% no-repeat; color:#606060;letter-spacing:-1px;}
.selectbox-applied .selectbox-label{overflow:hidden; margin:4px 0 0 6px;}
.selectbox-applied .selectbox-layer{overflow:hidden; position:absolute; z-index:99999; border:1px solid #bbb; margin-top:-1px;}
.selectbox-applied .selectbox-list{overflow-y:auto; list-style:none; scrollbar-face-color:#ffffff; scrollbar-track-color:#f7f7f7; scrollbar-3dlight-color:#e3e3e3; scrollbar-arrow-color:#8d8d8d; scrollbar-shadow-color:#fff; scrollbar-highlight-color:#fff; scrollbar-darkshadow-color:#e3e3e3;}
.selectbox-applied .selectbox-list li{width:100%; cursor:pointer;#{$ie6-hack}cursor:hand; padding:3px 0 2px 0;#{$ie6-hack}padding:4px 0 1px 0; background:#fff; color:#606060; text-indent:4px;}
.selectbox-applied .selectbox-list li.selectbox-item-hovered {background-color:#f3f3f3; color:#333;}
.selectbox_dim {position:absolute; left:0; top:0; background:#FFF; width:100%; height:20px; filter:alpha(opacity=50); opacity:0.6; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);}
/* //Select Box */

#container {position:relative; clear:both; width:980px; overflow:hidden; margin-top:12px; padding-bottom:60px; z-index:1;}
#content {position:relative; float:left; width:680px;}
#content .spot {position:relative; clear:both; width:100%; height:240px; margin-bottom:22px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot.gif) repeat-x left bottom; z-index:1;} /* 090519 */
#content .spot h3 {height:24px;#{$ie6-hack}height:34px; margin-left:2px; padding:9px 0 0 16px; border-top:1px solid #fff; background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_tit.gif) repeat-x left top; font-size:0;}
#content .spot .search {position:relative; float:left; width:425px;#{$ie6-hack}padding-top:1px; border-top:1px solid #9b9b9b; background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_item.gif) no-repeat left -1px;#{$ie6-hack}background-position:left top;}
#content .spot .search .type1 {clear:both; width:404px; overflow:hidden; margin:1px 0 15px 15px; line-height:14px;} /* 100128 */
#content .spot .search .type1 dt {float:left; width:36px;#{$ie6-hack}width:39px; padding:17px 0 0 3px;}
#content .spot .search .type1 dd {float:left; width:362px; padding-top:15px;}
#content .spot .search .type1 dd ul {clear:both; width:100%; overflow:hidden; padding-top:1px;}
#content .spot .search .type1 dd li {float:left; margin-left:-1px; padding:0 11px 8px 10px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_spot_ctg.gif) no-repeat left 4px; letter-spacing:-1px;}
#content .spot .search .type1 dd li a {color:#333;}
#content .spot .search .type1 dt.theme {border-top:1px solid #eee; margin-top:5px;}
#content .spot .search .type1 dd.theme {border-top:1px solid #eee; margin-top:5px;}
#content .spot .search .type1 dd.theme li {width:70px; padding:0 0 5px 0; text-align:center;}
#content .spot .search .type2 {clear:both; width:423px; height:67px;#{$ie6-hack}height:88px; margin-left:2px; padding-top:21px; background:#fbfbfb url(http://img.land.naver.com/imgland/sale/2009/bg_spot_type2.gif) repeat-x left top;}
#content .spot .search .type2 dt {float:left; margin-bottom:10px; padding:4px 15px 0 16px;} /* 090529 */
#content .spot .search .type2 dt.when {padding-left:17px;} /* 090529 */
#content .spot .search .type2 dd {position:relative; float:left; margin-bottom:10px; z-index:1;} /* 090519 */
#content .spot .search .type2 dd.line1 {position:relative; z-index:10;}  /* 090519 */
#content .spot .search .btn_search {position:absolute; top:199px; right:17px;}
#content .spot .news {float:left; width:254px;#{$ie6-hack}width:255px; border-top:1px solid #9b9b9b; border-right:1px solid #9b9b9b; background:url(http://img.land.naver.com/imgland/sale/2009/bg_spot_item.gif) no-repeat left -1px;}
#content .spot .news dl {position:relative; width:235px; height:76px; margin:16px 0 0 17px; }
#content .spot .news dt {margin:3px 0 7px 99px; font-weight:bold; letter-spacing:-1px; }
#content .spot .news dt a {color:#333;}
#content .spot .news dd {margin-left:99px;}
#content .spot .news dd a {color:#5c5c5c; letter-spacing:-1px; line-height:18px; word-break:keep-all;}
#content .spot .news dd.thumb {position:absolute; top:0; left:0; margin:0;}
#content .spot .news ul {width:230px;#{$ie6-hack}width:246px; margin-left:1px; padding:19px 0 11px 16px;#{$ie6-hack}padding:18px 0 11px 16px; background:#fff;} /* 100128 */
#content .spot .news li {margin-bottom:4px; padding-left:10px; background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 4px; line-height:14px;}
#content .spot .news li a {color:#333;}

.left_side {position:relative; float:left; width:426px; z-index:0;} /* 090519 */
.center_side {float:right; width:238px;}
.bottom {clear:both; width:100%;}
.bottom h3 {padding-bottom:9px; font-size:0;}

.main_component {position:relative; width:100%;}
.main_component h3 {padding-bottom:9px; border-bottom:1px solid #eee; font-size:0;}
.main_component .more {position:absolute; top:3px; right:4px; padding-right:6px; background:url(http://img.land.naver.com/imgland/sale/2009/bu_more.gif) no-repeat right 2px; color:#afafaf; font-size:11px; letter-spacing:-1px;}
.main_component .calendar_area {clear:both; width:100%; height:176px; overflow:hidden; margin:-1px 0 26px; background:url(http://static.land.naver.net/static/service/20100804/sale/bg_calendar.gif) no-repeat;}
.main_component .calendar_area .left {float:left; width:186px; margin-right:13px;}
.main_component .calendar_area .top {padding:9px 0 0 15px;}
.main_component .calendar_area .top img {vertical-align:middle; margin-top:-2px;}
.main_component .calendar_area .top .today {margin-left:29px;font-size:11px;color:#777;letter-spacing:-1px;text-decoration:underline}
.main_component .calendar_area .top strong {font-size:13px; font-family:tahoma; color:#4d4d4d; padding-right:1px;}
/* 090519 */
.main_component .calendar_area .calendar {margin:25px 0 0 11px;}
.main_component .calendar_area .calendar th {height:17px; vertical-align:top; font-size:0;}
.main_component .calendar_area .calendar td {width:23px; font-size:10; font-family:tahoma; color:#868686; text-align:center; letter-spacing:-1px;}
.main_component .calendar_area .calendar td a {display:block; width:17px; color:#3c3c3c; font-weight:bold;}
.main_component .calendar_area .calendar td a.select {background:#134d7a; color:#fff;}
.main_component .calendar_area .calendar td.sun, .main_component .calendar_area .calendar td.sun a {color:#ff5151;}
.main_component .calendar_area .calendar td.blank {height:6px; font-size:0;}
.main_component .calendar_area .calendar .thisweek td {background:#e9edf1;}
.main_component .calendar_area .cal_line6  th {height:15px;}
.main_component .calendar_area .cal_line6  td.blank {height:4px;}
/* //090519 */
.main_component .calendar_area .right {float:left; width:226px;}
.main_component .calendar_area .right h4 {padding:12px 0 8px 0; border-bottom:1px solid #eee; color:#4d4d4d; font-size:12px; letter-spacing:-1px;}
/* 090420 */
.main_component .calendar_area .right h4.date {padding:10px 0 8px 0;}
.main_component .calendar_area .right h4.date span {color:#134d7a; font-family:tahoma; letter-spacing:0;}
/* //090420 */
.main_component .calendar_area .ing {clear:both; width:216px; height:115px; overflow-y:auto; overflow-x:hidden; margin-top:12px; border:1px solid #fff}
html:first-child .main_component .calendar_area .ing {overflow:auto;}
.main_component .calendar_area .ing dt {float:left; width:33px; font-size:11px; letter-spacing:-1px; color:#a0a0a0;}
.main_component .calendar_area .ing dt strong {font-family:tahoma; font-size:10px; letter-spacing:0;}
.main_component .calendar_area .ing dt.on {color:#134d7a; padding-top:1px;} /* 090519 */
.main_component .calendar_area .ing dd {float:left; width:160px; padding:1px 0 4px; letter-spacing:-1px;}
.main_component .calendar_area .ing dd li {margin-bottom:3px;padding-left:7px;background: url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq2.gif) no-repeat 0 6px;line-height:16px}
.main_component .calendar_area .ing dd li a {color:#555;}
.main_component .calendar_area .ing dd p {margin-top:-1px; padding-bottom:3px; color:#666; line-height:14px;} /* 090519 */

.main_component .tabmenu {clear:both; width:100%; overflow:hidden; margin-bottom:12px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_line_tab.gif) no-repeat left bottom; padding-left:1px;}
.main_component .tabmenu  li {float:left; display:inline;}
.main_component .tabmenu  li.on {margin-left:-1px; border-left:1px solid #d4d4d4;}
.main_component .submenu {clear:both; width:100%; overflow:hidden; margin:12px 0 9px -10px;}
.main_component .submenu li {float:left; margin-left:-1px; padding:0 10px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_submenu.gif) no-repeat left 2px;}

.main_component .sale_detail {position:relative; width:100%; margin-bottom:31px;#{$ie6-hack}margin-bottom:34px; padding-top:1px;} /* 100308 */
.main_component .sale_detail h4 {margin-left:203px; padding:7px 0 6px; font-size:12px; letter-spacing:-1px; line-height:14px;}
.main_component .sale_detail h4 a {color:#333;}
.main_component .sale_detail h4.type2 {padding:2px 0 6px;} /* 090521 */
.main_component .sale_detail dl {clear:both; width:222px; overflow:hidden; margin-left:203px; padding:3px 0;}
.main_component .sale_detail dt {float:left; width:52px; margin-right:5px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_bar_sale_detail.gif) no-repeat right 4px; letter-spacing:-1px; color:#333; line-height:14px;}
.main_component .sale_detail dd {float:left; width:160px; margin:1px 0 3px; color:#333; line-height:14px;}
.main_component .sale_detail dd.thm {margin:0 0 5px; font-family:tahoma;} /* 090511 */
.main_component .sale_detail .thumb {position:absolute; top:2px; left:0;}
.main_component .sale_detail .thumb a {display:block; width:186px;}
.main_component .sale_detail .thumb a:hover, .main_component .sale_detail .thumb a:focus, .main_component .sale_detail .thumb a:active {text-decoration:none;}
.main_component .sale_detail .thumb .tit {position:absolute; left:0; top:73px; width:100%; height:24px;#{$ie7-hack}cursor:hand; background:url(http://img.land.naver.com/imgland/sale/2009/bg_sale_detail_txt.png);#{$ie6-hack}background:none;#{$ie6-hack}filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.land.naver.com/imgland/sale/2009/bg_sale_detail_txt.png', sizingMethod='crop'); }
.main_component .sale_detail .thumb .tit span {display:block; width:100%; padding-top:7px;  text-align:center; color:#fff; font-weight:bold}
/* 090511 */
.main_component .sale_detail .prefer {width:226px; overflow:hidden; margin-left:202px; margin-bottom:-1px;} /* 090519 */
.main_component .sale_detail .prefer li {position:relative; height:16px; margin-top:4px; padding-left:9px; background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 3px; color:#111;letter-spacing:-1px;}
.main_component .sale_detail .prefer li .star {position:absolute; top:-1px; right:0;}
/* //090511 */
.main_component .nav_detail {position:absolute; top:156px; right:0; }
.main_component .nav_detail .prev {margin-right:-1px;}

.main_component .skech {position:relative; width:100%; height:151px; margin:24px 0 35px; border-bottom:1px solid #eee;}
.main_component .skech .photo {position:absolute; top:0; left:36px; width:160px; text-align:center; z-index:1} /* 0723 수정 */
.main_component .skech .photo .tit {display:block; width:100%; margin-top:10px; text-align:center; letter-spacing:-1px;}
.main_component .skech .photo a {color:#111;} /* 0723 수정 */
.main_component .skech .nav {position:absolute; top:48px; left:16px; z-index:0;}
.main_component .skech .nav .prev {margin-right:175px;}

.main_component .focus {position:relative; width:100%; height:76px; margin:14px 0 4px;}
.main_component .focus dt {margin:3px 0 7px 99px; font-weight:bold; letter-spacing:-1px; }
.main_component .focus dt a {color:#333;}
.main_component .focus dd {margin-left:99px;}
.main_component .focus dd a {color:#5c5c5c; letter-spacing:-1px; line-height:18px; word-break:keep-all;}
.main_component .focus dd.thumb {position:absolute; top:0; left:0; margin:0;}
.main_component .img_focus {margin:14px 0 5px;} /* 090521 */

.main_component .normal {width:100%; padding:13px 0 24px;} /* 100308 */
.main_component .normal li {margin-bottom:4px; padding-left:10px; background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq.gif) no-repeat left 4px; line-height:14px;} /* 100308 */
.main_component .normal li a {color:#333;}

.newtown {width:100%; font-size:12px;  border-top:1px solid #b7b7b7;  border-bottom:1px solid #eee; table-layout:fixed;}
.newtown th {padding:8px 0 4px;border-right:1px solid #eee; background:url(http://img.land.naver.com/imgland/sale/2009/bg_table_head.gif) repeat-x left top; color:#505050;}
.newtown td {padding:14px 0; border-top:1px solid #eee; border-right:1px solid #eee; vertical-align:top;}
.newtown td.emphasis {border-top:1px solid dedede;}
.newtown td.emphasis p.thumb {float:left; padding:0 8px 0 13px;}
.newtown td.emphasis p.txt {float:left; width:120px; padding-top:6px;letter-spacing:-1px; line-height:16px; word-break:keep-all;}
.newtown td.emphasis p.txt a {color:#333;}
.newtown td .citylist {clear:both; width:100%; overflow:hidden; margin-left:3px;}
.newtown td .citylist li {float:left; width:61px;#{$ie6-hack}width:77px; margin-bottom:8px; padding-left:16px;  background:url(http://img.land.naver.com/imgland/sale/2009/bu_grey_sq2.gif) no-repeat 10px 3px; letter-spacing:-1px;}
.newtown td .citylist li a {color:#666;}
.newtown td .citylist li.one {width:180px;}
.newtown td.left {}
.newtown td.left p.thumb {padding-left:9px;}
.newtown td.left .citylist {margin-left:5px;}
.newtown td.left .citylist li {width:67px;#{$ie6-hack}width:81px; padding:0 5px 0 9px; background-position:4px 3px;}
.newtown td.left .citylist li.one {width:200px;}
.newtown .end {border-right:none;}
.newtown td.end p.txt{width:90px;padding-top:0}

/* 우측 컴포넌트 영역 */
.aside {position:relative; float:right; width:280px;}
.aside .banner {margin-top:7px;}
.side_component {position:relative; margin-top:7px; border:1px solid #e4e4e4;}
.side_component h3 {padding:10px 0 9px 15px;#{$ie6-hack}padding:10px 0 11px 15px; background:url(http://img.land.naver.com/imgland/sale/2009/bg_aside_tit.gif) repeat-x left top; font-size:12px;}
.side_component .pop_housing {width:252px; margin:10px 0 0 13px; table-layout:fixed;}
.side_component .pop_housing th {padding:4px 0; background:#f7f7f7; border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; color:#4f4f4f; letter-spacing:-1px; font-weight:normal;}
.side_component .pop_housing th.tl1 {padding-left:16px; text-align:left;}
.side_component .pop_housing th.tl2 {padding-left:11px; text-align:left;}
.side_component .pop_housing th.linelt {border-left:1px solid #eaeaea;}
.side_component .pop_housing th.linert {border-right:1px solid #eaeaea;}
.side_component .pop_housing td {padding:5px 0 3px;}
.side_component .pop_housing td.name {letter-spacing:-1px;}
.side_component .pop_housing td.name a {color:#000;}
.side_component .pop_housing td.name img {margin-top:-1px; margin-right:1px;}
.side_component .pop_housing td.rank {color:#9a9a9a; font-family:tahoma; text-align:center;}
.side_component .pop_housing td.rank img {vertical-align:middle;}
.side_component .pop_housing td.rank img.ico_stat {margin-right:3px;}
.side_component .pop_housing td.period {padding-left:11px; color:#9a9a9a; font-family:tahoma;font-size:11px;}
.side_component .pop_housing td.period img {vertical-align:middle;}
.side_component .pop_housing td.blank {height:9px; padding:0; font-size:0;}
.side_component .housing {margin:14px 13px -1px 13px;}
.side_component .housing li {position:relative; width:100%; height:49px; margin-bottom:18px;#{$ie6-hack}margin-bottom:13px;}
.side_component .housing li p {margin-left:76px; padding-top:9px; color:#343434; line-height:16px;} /*090521 */
.side_component .housing li p a {color:#333;}
.side_component .housing li p.date {color:#999; font-family:tahoma;}
.side_component .housing li p.thumb {position:absolute; top:0; left:0; margin:0; padding:0;}
/* 090518 */
.side_component .best_brand {clear:both; width:266px; overflow:hidden; margin-left:10px; padding:9px 0 10px;}
.side_component .best_brand li {width:66px; float:left; padding:3px 0; text-align:center;}
/* //090518 */

/* 스크롤 */
.scroll {scrollbar-face-color:#ffffff; scrollbar-track-color:#f7f7f7; scrollbar-3dlight-color:#e3e3e3; scrollbar-arrow-color:#8d8d8d; scrollbar-shadow-color:#fff; scrollbar-highlight-color:#fff; scrollbar-darkshadow-color:#e3e3e3;}

/* 100308 분양정보 */
.sale_info {overflow:hidden; width:100%; margin:14px 0 0;}
.sale_info .thumb {float:left; width:92px;}
.sale_info .info {float:left; width:142px;}
.sale_info .info h4 {margin-top:3px; font-size:12px; letter-spacing:-1px;}
.sale_info .info h4 a {color:#111;}
.sale_info .info p {margin:6px 0 0 1px; line-height:18px; letter-spacing:-1px;}
.sale_info .info p a {color:#5f5f5f;}
