@charset "UTF-8";

/* 발음듣고 따라하기 */
.im_pronun {
	display: inline-block;
	overflow: hidden;
	width: 8px;
	height: 24px;
	font-size: 0;
	line-height: 0;
	color: transparent;
	background: url(../img/image_pronun.png) no-repeat;
	background-size: 228px 18px;
	-webkit-background-size: 228px 18px;

	&.sym1 {
		background-position: 0 2px;
	}
	&.sym2 {
		background-position: -12px 2px;
	}
	&.sym3 {
		background-position: -24px 2px;
	}
	&.sym4 {
		background-position: -36px 2px;
	}
	&.sym5 {
		width: 7px;
		background-position: -48px 2px;
	}
	&.sym6 {
		width: 7px;
		background-position: -60px 2px;
	}
	&.sym7 {
		width: 7px;
		background-position: -72px 2px;
	}
	&.sym8 {
		background-position: -84px 2px;
	}
	&.sym9 {
		background-position: -96px 2px;
	}
	&.sym10 {
		background-position: -108px 2px;
	}
	&.sym11 {
		width: 7px;
		background-position: -120px 2px;
	}
	&.sym12 {
		width: 5px;
		background-position: -132px 2px;
	}
	&.sym13 {
		width: 10px;
		background-position: -144px 2px;
	}
	&.sym14 {
		background-position: -156px 2px;
	}
	&.sym15 {
		width: 7px;
		background-position: -168px 2px;
	}
	&.sym16 {
		width: 7px;
		background-position: -180px 2px;
	}
	&.sym17 {
		width: 7px;
		background-position: -192px 2px;
	}
	&.sym18 {
		background-position: -204px 2px;
	}
	&.sym19 {
		width: 7px;
		background-position: -216px 2px;
	}
}
