@charset "UTF-8";

/* 태블릿 가이드 */
@media (min-width: 768px) {
	.section_tit,
	.section_option,
	.section_comment_tit,
	.entry_quiz_area,
	.section_usertrans_tit,
	.common_box_wrap,
	.section_card,
	.section_card + .common_btn_wrap.v1,
	.common_btn_wrap.v1 ~ .common_btn_wrap,
	.common_btn_wrap,
	.common_tab_wrap,
	.section_ranking_tit,
	.section_card_wrap,
	.talk_banner,
	.section_entry,
	.btn_total_result,
	.another_search .tit,
	.another_search .lst_dic,
	.main#wrap .common_tab_wrap,
	.main#wrap .section_card,
	.main#wrap .open_banner,
	.main#wrap .home_cont_wrap,
	.main#wrap .home_cont_wrap .phrase_cont,
	.main#wrap .home_cont_wrap .common_btn_wrap,
	.main#wrap .banner_opendic,
	.main#wrap .shortcut {
		max-width:83.8%;
		margin-left:auto;
		margin-right:auto;
		box-sizing:border-box;
	}
	.main#wrap .shortcut{
		padding: 0;
	}
	.section_tit .btn_lnk{
		margin:0;
	}
	.section_card_wrap{
		.lst_card{
			margin:0;
		}
		.section_card{
			max-width:100%;
		}
	}
	.btn_total_result{
		display:block;
	}
	.home_cont_wrap .lnk_area .lst li{
		width:25%;
		border-top:none;
		border-left: 1px solid #f3f3f3;
		box-sizing:border-box;
	}
	.home_cont_wrap .lnk_area .lst li:first-child{
		border-left: none;
	}
	.home_cont_wrap .lnk_area .lst li:nth-child(2n){
		border-top:none;
	}
	.banner_opendict {
		margin-right:0;
	}

}
@media (min-width: 1024px) {
	.section_tit,
	.section_option,
	.section_comment_tit,
	.entry_quiz_area,
	.section_usertrans_tit,
	.common_box_wrap,
	.section_card,
	.section_card + .common_btn_wrap.v1,
	.common_btn_wrap.v1 ~ .common_btn_wrap,
	.common_btn_wrap,
	.common_tab_wrap,
	.section_ranking_tit,
	.section_card_wrap,
	.talk_banner,
	.section_entry,
	.btn_total_result,
	.another_search .tit,
	.another_search .lst_dic,
	.main#wrap .common_tab_wrap,
	.main#wrap .section_card,
	.main#wrap .open_banner,
	.main#wrap .home_cont_wrap,
	.main#wrap .home_cont_wrap .phrase_cont,
	.main#wrap .home_cont_wrap .common_btn_wrap,
	.main#wrap .banner_opendic,
	.main#wrap .shortcut {
		max-width:68.4%;
	}
}
