// Sprites Map
$sp_comic: (
name: 'sp_comic',
width: 132px,
height: 64px,
image: '../im/sp_comic.png',
low_image: '',
sprites: (
    icon_badge_cookie: (
    offset-x: 0px,
    offset-y: 0px,
    width: 64px,
    height: 64px,
    ),
    icon_badge_time: (
    offset-x: -68px,
    offset-y: 0px,
    width: 64px,
    height: 64px,
    ),
)
);