html {  background:#fff;  }

html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,tbody, tfoot, thead, tr, th, td  { margin:0; padding:0; border:0; outline: 0; vertical-align: baseline; background: transparent; font-family:Arial; font-size:12px; line-height:14px; color:#626262;}

body  { line-height: 1; background: #fff url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/bg.jpg') left 50px repeat-x; }
ol, ul  { list-style: none; }
:focus  { outline: 0; }

table { border-collapse: collapse; border-spacing: 0; }

a { color:#512f00; text-decoration:none; font-weight:bold; }
a:hover { color:#7e6212; }


.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt55{margin-top:55px;}
.mt17{margin-top:17px;}


#wrapper { width:100%; height:100%; min-height:768px; position:absolute; bottom:0; left:0; overflow:hidden; min-height: 600px; }
#mask {width:400%; height:100%;}

#menu { position:absolute; top:0px; z-index:999; background-color:#fff; width:100%; height:50px; }
#menu ul { overflow:hidden; display:block; margin:6px auto 0 auto;	 padding: 0; width:780px; }
#menu ul li { padding:0; margin:0;  float:left; font-size:13px; line-height:15px; color:#903600; font-weight:bold; }
#menu ul li a { color:#903600; text-decoration:none; display:inline-block; cursor: pointer; height:38px;}
#menu ul li a:hover { text-decoration:none; }
#menu ul li a.selected { color:#aaa; }
#menu ul li a.home {width:111px; background:url('images/logo.gif') left top no-repeat; font-size:0; border:0; line-height:0; margin-top:7px;}
#menu ul li .home span{display:block; padding-top:4px;}
#menu ul li a.flower { margin-left:50px;  padding-left:30px; background:url('images/menu01.gif') left 3px no-repeat;}
#menu ul li .flower  span{display:block; padding-top:4px;}
#menu ul li a.enter {margin-left:26px; padding-left:38px; background:url('images/menu02.gif') left 3px no-repeat;}
#menu ul li .enter  span{display:block; padding-top:11px;}
#menu ul li a.zootopia { margin-left:27px;  padding-left:30px; background:url('images/menu03.gif') left 3px no-repeat;}
#menu ul li .zootopia  span{display:block; padding-top:11px;}

.back { width:100%; height:238px; overflow:hidden; position:absolute; bottom:0; z-index:1; }
.back_a { width:100%; height:95%; overflow:hidden; position:absolute; z-index:3; }
.back-big { width:9500px; height:100%; }

#back0  { position:absolute; top:50px; z-index:1; height:425px; }
#back0 .back-big { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_01.png') left top repeat-x; }

#back1 { position:absolute; bottom:287px; z-index:2; height:266px; }
#back1 .back-big { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_02.png')  left bottom repeat-x; }

#back2 { position:absolute; bottom:0px; z-index:3; height:388px; }
#back2 .back-big { width:7500px; background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_03.png') left bottom repeat-x; }

#back3 { position:absolute; top:81px; z-index:3; height:199px; }
#back3 .back-big { }

#back4 { position:absolute; bottom:494px; z-index:1; height: 140px; }
#back4 .back-big { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_05.png') left bottom repeat-x; }

#back5 { position:absolute; bottom:282px; z-index:2; height:165px; }
#back5 .back-big { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_06.png') left top repeat-x; }

#back6 { position: absolute; bottom:0px; z-index:3; height:475px; }
#back6 .back-big { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/background_07.png') 200px bottom repeat-x; }

#back7 { position:absolute; top:0; z-index:3; height:190px; }
#back7 .back-big { }

#back8 { position: absolute; top:0; z-index:3; height:300px; }
#back8 .back-big { }


.box { width:25%; height:100%; float:left; position:relative; }
.content { bottom:0; height:100%; left:50%; margin-left:-480px; position:absolute; width:960px;  }
.inner { position:relative; z-index:10; bottom:0px; height:100%; min-height:700px; }
.box .content .inner .paper { position:absolute; z-index:20; height:694px; bottom:0px; left:50%; }

#box1 .content { height:713px; margin-left:-765px; }
#box1 .content .inner	{background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/index_bg.png') left bottom no-repeat;  width:1458px; }
#box1 .content .inner .paper { width:1408px; margin-left:-688px; }
#box1 .content .inner .paper .imgbox { width:100%; height:100%; }
#box1 .content .inner .paper .index_img1 { width:310px; height:510px; margin:63px 0 0 1082px; }
#box1 .content .inner .paper .index_img1 .imgbox { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/index_img_03.png') left top no-repeat; }
#box1 .content .inner .paper .index_img2 { width:50px; height:45px; margin:-155px 0 0 360px; }
#box1 .content .inner .paper .index_img3 { width:250px; height:380px; margin:-505px 0 0 340px; }
#box1 .content .inner .paper .index_img4 { width:508px; height:627px; margin:-271px 0 0 909px; }
#box1 .content .inner .paper .index_img4 .imgbox { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/index_img_01.png') left top no-repeat; }
#box1 .content .inner .paper .index_img5 { width:405px; height:624px; margin:-624px 0 0 18px; }
#box1 .content .inner .paper .index_img5 .imgbox { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/index_img_04.png') left top no-repeat; }
#box1 .content .inner .paper .index_img6 { width:812px; height:608px; margin:-608px 0 0 -41px; }
#box1 .content .inner .paper .index_img6 .imgbox { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/index_img_02.png') left top no-repeat; }


#box2 .content { height:735px; margin-left:-650px; }
#box2 .content .inner { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_bg.png') left bottom no-repeat; width:1140px; left:auto; bottom:0; }
#box2 .content .inner .paper { width:937px; margin-left:-370px; }
#box2 .content .inner a { position:relative; z-index:99; }
#box2 .content .inner .paper .cont{width:810px; margin-left:40px;  margin-top:40px;}
.txt0201{margin-top:10px; font-size:15px; line-height:17px; color:#444444; }

#box3 .content { height:725px; margin-left:-550px; }
#box3 .content .inner{background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_02_bg.png') left bottom no-repeat; width:1070px; left:auto; bottom:0; }
#box3 .content .inner .paper { width:904px; margin-left:-450px; }
#box3 .content .inner .paper .cont{width:930px;  margin-top:40px; position:relative; margin-left:-1px;}
.title0301{clear:both; word-wrap: break-word; }
.txt0301{float:left; display:inline-block; margin-top:8px; font-size:13px; line-height:15px; color:#444444;  width:600px;}

#box4 .content { height:697px; margin-left:-550px; }
#box4 .content .inner { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_03_bg.png') left bottom no-repeat; width:1112px; left: auto; bottom:0; }
#box4 .content .inner .paper { width:893px; margin-left:-460px; }
#box4 .content .inner .paper .cont{width:810px; margin-left:42px;  margin-top:36px;}
.title0401{clear:both;}
.txt0401{float:left; display:inline-block; font-size:15px; line-height:17px; color:#444444; margin-top:15px;}

.box .content .inner .paper h1 { height:40px; font-size:40px; overflow:hidden;  line-height:42px; }
#box2 .content .inner .paper h1 {color:#ee3f7d; font-weight:normal; line-height:38px;  font-size:34px;}
#box2 .content .inner .paper h1 span{font-weight:bold;  }
#box3 .content .inner .paper h1 {color:#006bcf;  float:left; margin-right:10px; width:265px; padding-left:47px;}
#box4 .content .inner .paper h1 { color:#547000; float:left; margin-right:30px;}

.picbox { position:relative; z-index:99; width:514px; height:562px; top:181px; left:622px; }
.picbox .btnbox { position:relative; z-index:99; background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pictxt_01.gif') 20px top no-repeat; padding-top:34px; margin-bottom:-20px; font-size:0; line-height:0; }
.picbox .btnbox img { vertical-align:middle; }
.picbox .btnbox .pre { margin:0 6px 0 0; }
.picbox .btnbox .txt { margin:-2px 7px 0 0; }
.picbox .btnbox .next { margin:0 0 -26px 0; _position:relative; _z-index:20; }
.picbox .pic { width:504px; height:507px; margin:0 0 0 4px; text-indent:-99999px; }
.picbox .pic.pic01 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_01.png') left top no-repeat; }
.picbox .pic.pic02 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_02.png') left top no-repeat; }
.picbox .pic.pic03 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_03.png') left top no-repeat; }
.picbox .pic.pic04 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_04.png') left top no-repeat; }
.picbox .pic.pic05 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_05.png') left top no-repeat; }
.picbox .pic.pic06 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_06.png') left top no-repeat; }
.picbox .pic.pic07 { background:url('http://www.everland.com/MultiLanguage/english/everland/webzine/tulip2011/images/cont_01_pic_07.png') left top no-repeat; }

.list02{width:390px; clear:left; overflow:hidden;}
.list02 dd{font-size:0; border:0; line-height:0; float:left; width:175px;}
.list02 dt{float:left; margin-left:5px; display:inline; width:210px; margin-top:25px;}
.list02 dt .tit{color:#a1214f; font-size:14px; line-height:16px; font-weight:bold;}  
.list02 dt .txt{color:#626262; font-size:13px; line-height:16px; margin-top:3px;}  

.entbox{width:930px; padding-top:25px; position:relative;   overflow:hidden; margin-left:38px;}
.entbox .listbox{float:left; width:277px;  }

.list0301{width:277px;}
.list0301 dd{font-weight:0; line-height:0; font-size:0; text-align:center;}
.list0301 dt .tit{color:#0090bf; font-size:14px; line-height:16px; font-weight:bold; text-align:center;  margin-top:1px; }
.list0301 dt .txt{color:#626262; font-size:12px; line-height:13px; margin-top:4px; text-align:center;}

.postionbox{position:relative; width:257px; margin-top:8px;  height:280px; }

.list0302{width:430px;  position:absolute; top:0;  left:-75px;}
.list0302 dd{font-weight:0; line-height:0; font-size:0; text-align:center; }
.list0302 dt .tit{color:#0090bf; font-size:14px; line-height:16px; font-weight:bold; text-align:center;  margin-top:1px;}
.list0302 dt .txt{color:#626262; font-size:12px; line-height:13px; margin-top:4px; text-align:center;}

.zoobox{padding-top:28px; clear:both; width:856px; position:relative;}

.list04{width:255px; margin-right:28px; float:left;}
.list04 dd{font-weight:0; line-height:0; font-size:0;}
.list04 dt .tit{color:#487a00; font-size:14px; line-height:16px; font-weight:bold; text-align:left;  margin-top:1px;}
.list04 dt .txt{color:#626262; font-size:12px; line-height:14px; margin-top:4px; text-align:left;}


.close { position:absolute; z-index:9999; width:40px; right:5px; text-align:right; }
.close img { margin:4px 0 0 0; }

.trans{position:absolute; top:1px; right:75px; text-align:right;  z-index:9999;}