@import "../../common/_variable";
@import "../../common/_mixin";
@import "../../common/_common";

*{margin:0; padding:0;}
img {vertical-align:top;}
img, fieldset, button{border:0;}
hr, button img{display:none;}
li{list-style:none;}
a{text-decoration:none;}
a:hover, a:active, a:focus{text-decoration:underline;}
html:first-child select{padding-right:6px; height:20px;}
option{ padding-right:6px;}
button, label{cursor:pointer; cursor:hand;}
button{background:none; background-repeat:no-repeat;}
button *{position:relative;}
.input_text, textarea{#{$ie7-hack}margin:-1px 0; border:1px solid;}
.input_check, .input_radio{width:13px; height:13px;#{$ie7-hack}margin:1px 0 -1px;}
.blind, legend {position:absolute; top:0; left:0; width:0; height:0; overflow:hidden; visibility:hidden; font-size:0; line-height:0;}
.clear {clear:both;}


body {text-align:center; font-family:dotum, sans-serif;}

/**/
#header #menu {height:40px !important;}
#container {clear:both; position: relative; width:958px;#{$ie6-hack}width:960px; border:1px solid #d9d9d9;}
.spot {width:958px; height:360px; background:url(#{$imgUrl-service}/sale/bg_event.gif) no-repeat;}
.spot .post_area {position:absolute; top:288px; right:228px; padding:9px 10px 7px 15px; text-align:right; background-color:#f6f6f6;}
.spot .post_area em {display:inline-block; font-family:tahoma; font-size:14px; line-height:16px;#{$ie6-hack}line-height:14px; color:#039ed9; font-style:normal; border-bottom:1px solid #a1a1a1;}
.spot .post_area img {vertical-align:middle;}
.spot .btn_win {position:absolute; top:287px; right:71px;}

#content {margin:0 70px;}
.section_write {#{$ie6-hack}width:818px; height:354px;#{$ie6-hack}height:394px; padding:22px 26px 22px 26px; background:url(#{$imgUrl-service}/sale/bg_event_write.gif) no-repeat;}
/* 091208 */
.section_write h3 {position:relative; width:202px; height:19px; background:url(#{$imgUrl-service}/sale/h_sale_event3.gif) no-repeat;}
.section_write h3 span {display:block; text-indent:-9999px;}
.section_write h3 a {overflow:hidden; position:absolute; top:0; left:93px; width:62px; height:19px; background:url(#{$imgUrl-service}/sale/blank.gif) no-repeat;}
/* //091208 */
.section_write textarea {overflow:hidden; overflow-y:auto; width:766px; height:215px; padding:10px 0 0 8px; margin:7px 0 6px 0; font:12px/18px "돋움", dotum, AppleGothic, Sans-serif; border:1px solid #c2c2c2; color:#888; font-size:12px; background:#fff; vertical-align:top;}
.section_write input {vertical-align:middle;}
.section_write label {font-size:11px; margin-left:6px;}
.section_write .check_area {margin-top:11px;}
.section_write .check_area label {font-size:12px; margin:0 15px 0 6px;}
.section_write .btn_area {margin-top:18px; text-align:center;}

.section_notice {margin:29px 0 48px; padding-left:1px; font-size:12px;}
.section_notice h4 {height:20px;}
.section_notice ul {background:url(#{$imgUrl-service}/sale/ico_event_list.gif) no-repeat 0 0;}
.section_notice ul li {margin-top:8px; padding:1px 0 0 23px; color:#707070; line-height:18px;}
.section_notice ul li strong {font-weight:normal; color:#252525;}

/* popup */
#pop_event {width:530px; text-align:left; background-color:#fff;}
#pop_event .header {margin:0 0 0 21px; background:url(#{$imgUrl-service}/popup/bg_event_line.gif) no-repeat left bottom;}
#pop_event .header h1 {padding:21px 0 7px 0; font-size:0;}
#pop_event .container {overflow:hidden;#{$ie6-hack}height:1%; margin:0 20px 0 21px; background:url(#{$imgUrl-service}/popup/bg_event.gif) no-repeat;}
#pop_event .container .section_view {margin-top:100px; border:1px solid #eaeaea; font-size:12px; line-height:24px; letter-spacing:-1px; color:#666; background-color:#fbfbfb;}
#pop_event .container .section_view .desc1 {margin:64px 0 79px; text-align:center;}
#pop_event .container .section_view .desc1 strong {font-size:14px;}
#pop_event .container .section_view .desc2 {margin:13px 0 25px 29px; line-height:18px;}
#pop_event .container .section_view .event_list {margin:50px 0 69px 22px;}
#pop_event .container .section_view .event_list li {padding-left:6px; background:url(#{$imgUrl-service}/popup/bu_event.gif) no-repeat 0 10px;}
#pop_event .container .section_view .event_list2 {margin:18px 0 0 22px;}
#pop_event .container .section_view .event_list2 li {margin-bottom:7px; padding-left:7px; line-height:17px; background:url(#{$imgUrl-service}/popup/bu_event.gif) no-repeat 0 7px;}
#pop_event .container .section_view .event_list2 li strong {font-weight:normal; color:#2f7cb2;}
#pop_event .container .section_view .user_info {overflow:hidden; width:428px; margin-left:29px; padding-top:18px;}
#pop_event .container .section_view .user_info dt {float:left; width:117px; padding:5px 0 4px; border-bottom:1px solid #ebebeb;}
#pop_event .container .section_view .user_info dd {float:left; width:311px; padding:5px 0 4px; color:#333; border-bottom:1px solid #ebebeb;}
#pop_event .container .section_view .user_info dd.input { padding:5px 0 7px;}
#pop_event .container .section_view .user_info dd select {width:77px; font-family:dotum,'돋움'; line-height:14px;}
#pop_event .container .section_view .user_info dd input {width:86px; height:19px; padding:2px 0 0 4px; line-height:14px; font-family:dotum,'돋움'; border:1px solid #ccc;}
#pop_event .footer {margin:30px 20px 0 21px; text-align:center; border-top:1px solid #eeeeec;}
#pop_event .footer img {margin:10px 0 15px;}


/* sjy 100203 */
.spot_immovables {position:relative; width:958px; height:442px; font-family:gulim; background:url(http://static.land.naver.net/imgland/new/sale/bg_immovables.jpg) no-repeat left top}
.spot_immovables .best_prise {position:absolute; top:196px; right:92px; width:360px; height:130px; background:url(http://static.land.naver.net/imgland/new/sale/bg_best_prise.jpg) no-repeat left top}
.spot_immovables .best_prise h3 {margin:18px 0 0 76px}
.spot_immovables .best_prise .btns {position:absolute; top:17px; right:17px}
.spot_immovables .best_prise .btns a {margin-right:2px}
.spot_immovables .best_prise p {margin:17px 0 0 77px; color:#3796cd; letter-spacing:-1px; font-size:13px; font-weight:bold}
.spot_immovables .best_prise p em {margin-right:4px; color:#909090; font-style:normal}
.spot_immovables .best_prise .btn {margin:11px 0 0 74px}
.use_comment {overflow:hidden; margin:45px 0 50px 88px}
.use_comment .menu {float:left; position:relative; width:171px; margin-right:24px}
.use_comment .menu h3 {width:171px; height:28px; text-indent:-3000px; background:url(http://static.land.naver.net/imgland/new/sale/bg_title_use_prise.gif) no-repeat left top}
.use_comment .menu .use_reple_view {margin:18px 0 0 11px; padding-bottom:20px; font-size:12px}
.use_comment .menu .use_reple_view li {margin-bottom:6px}
.use_comment .menu .use_reple_view strong {padding-left:15px; background:url(http://static.land.naver.net/imgland/new/img/sale/ico_list.gif) no-repeat left 1px; color:#3796cd; font-weight:bold}
.use_comment .menu .use_reple_view a {padding-left:15px; color:#443d40; letter-spacing:-1px; background:url(http://static.land.naver.net/imgland/new/sale/ico_list.gif) no-repeat left 1px}
.use_comment .menu .use_reple_view a.on {color:#3796cd; font-weight:bold}
.use_comment .menu .use_reple_view li.sub {position:relative; margin-top:6px; padding-left:16px; background:url(http://static.land.naver.net/imgland/new/sale/ico_sublist.gif) no-repeat left 2px; line-height:18px;}
.use_comment .menu .use_reple_view li.sub a {background:url(http://static.land.naver.net/imgland/new/sale/ico_list.gif) no-repeat 1px 2px}
.use_comment .comment {float:left; width:586px}
.use_comment .comment h3 {padding:0 0 6px 5px; border-bottom:1px solid #3796cd; font-family:gulim; color:#443d40; font-size:16px}
.use_comment .comment .scroll {overflow:auto; width:586px; height:607px;#{$ie7-hack}height:628px; margin-top:27px; padding-top:20px; scrollbar-3dlight-color:#e3e3e3; scrollbar-highlight-color:#f5f5f5; scrollbar-shadow-color:#f5f5f5; scrollbar-darkshadow-color:#e3e3e3; scrollbar-arrow-color:#e3e3e3; scrollbar-face-color:#f5f5f5; scrollbar-track-color:#f6f6f6}
.use_comment .comment .scroll dl {width:547px;}
.use_comment .comment .scroll dl dt {overflow:hidden; width:546px; color:#858585; font-size:11px}
.use_comment .comment .scroll dl dt .user {display:inline; float:left; margin:1px 0 0 5px}
.use_comment .comment .scroll dl dt .date {display:inline; float:right; margin:1px 5px 0 0}
.use_comment .comment .scroll dl dd {width:492px;#{$ie7-hack}width:546px; margin:8px 0 29px 0; padding:21px 33px 25px 21px; border:1px solid #ccd8e3; font-family:gulim; color:#443d40; font-size:13px; line-height:22px; background:#e6eef5}

/* 100204 */
.best_prises {width:781px; margin:40px 0 0 90px; border:1px solid #ccd8e3; border-top:2px solid #2f7cb2; border-bottom:none; font-family:"굴림",gulim; color:#443d40}
.best_prises th {width:148px; border-right:1px solid #ccd8e3; border-bottom:1px solid #ccd8e3; background:#E6EEF5; text-align:left; vertical-align:top}
.best_prises th span {display:block; overflow:hidden; width:65px; height:14px; margin:13px 0 0 15px; background: url(http://static.land.naver.net/imgland/new/sale/sprite_best_prises_th.gif) no-repeat; text-indent:-300px;}
.best_prises .bg_th1 {background-position:0 0; margin-top:10px}
.best_prises .bg_th2 {background-position:0 -50px}
.best_prises .bg_th3 {background-position:0 -100px}
.best_prises td {padding:7px 0 7px 15px; border-bottom:1px solid #ccd8e3;}
.best_prises select {margin-bottom:5px; font-family:"굴림",gulim; font-size:12px; color:#443d40;}
.best_prises select1 {width:80px;}
.best_prises select2 {width:120px;}
.best_prises select3 {width:100px;}
.best_prises select4 {width:170px;}
.best_prises .notice {font-size:11px; letter-spacing:-1px; line-height:16px; margin-bottom:-3px}
.best_prises .recom_notice {margin-left:-15px; padding:0 0 3px 15px; border-bottom:1px solid #CCD8E3}
.best_prises .recom_notice li {padding-bottom:4px;}
.best_prises td .prise_txt {width:576px; height:22px; padding:3px 0 0 3px; font-size:12px; border:1px solid #c8c8c8;}
.best_prises td textarea {overflow:auto; width:567px; height:238px; margin:9px 0 9px 0; padding:10px 0 0 13px; border:1px solid #c8c8c8; font-size:12px; color:#443d40; scrollbar-3dlight-color:#e3e3e3; scrollbar-highlight-color:#f5f5f5; scrollbar-shadow-color:#f5f5f5; scrollbar-darkshadow-color:#e3e3e3; scrollbar-arrow-color:#e3e3e3; scrollbar-face-color:#f5f5f5; scrollbar-track-color:#f6f6f6}
.btn_registration {margin:20px 0 270px; text-align:center;}

/* 페이지 네비게이션 */
.paginate {padding-top:7px; text-align:center}
.paginate * {margin:0; padding:0}
.paginate a, .paginate strong {display:inline-block;#{$ie6-hack}position:relative; margin-right:-6px; padding:4px 7px 2px 7px; font:bold 12px dotum, Serif; color:#8a8a8a; line-height:normal; text-decoration:none !important; background:#fff url(http://static.naver.com/common/paginate/line_pg4.gif) no-repeat 0 5px}
.paginate strong {color:#45a9e3 !important}
.paginate a.first {background:none}
.paginate a.end {background:none}
.paginate a:hover, .paginate a:active, .paginate a:focus {background-color:#f7f7f7}
.paginate a.pre, .paginate a.pre_end, .paginate a.next, .paginate a.next_end {font:12px "돋움", Dotum, "굴림", Gulim, AppleGothic, Sans-serif}
.paginate a.pre {padding:4px 4px 2px 11px; background:url(http://static.land.naver.net/imgland/new/sale/bg_page_prev.gif) no-repeat 2px 1px !important}
.paginate a.pre_end {padding:4px 10px 2px 16px; background:url(http://static.naver.com/common/paginate/bu_pg4_l2.gif) no-repeat right 4px !important}
.paginate a.next {padding:4px 18px 2px 9px; background:url(http://static.land.naver.net/imgland/new/sale/bg_page_next.gif) no-repeat left 1px !important}
.paginate a.next_end {padding:4px 16px 2px 9px; background:url(http://static.naver.com/common/paginate/bu_pg4_r2.gif) no-repeat left 4px !important}
