@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전이용TIP 3개 노출 시 삭제 */
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}

/* 각 사전 별 수정부분 */
.cont_main h2 .logo{width:257px;background:url(../img/ar/sp_header_pc.png) no-repeat}
.cont_main.change_lang h2 .logo{width:298px;background-position:0 -50px}
.cont_main.change_lang .main_srch .btn_srch{width:52px;background:url(../img/ar/sp_header_pc.png) no-repeat 0 -100px}
.cont_main .main_srch{*width:439px}

.dic_lk .img{background:url(../img/ar/sp_dic.png) no-repeat;background-size:139px 227px;background-position:22px -169px}
.pc .lyr_mobile div{background:url(../img/ar/img_qr.png) no-repeat}
.pc .header h1 a{background:url(../img/ar/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/ar/sp_dic_s.png) no-repeat 8px -161px}

.cont_main .title_type{width:353px}

/* 아랍어/ 페르시아어 공통 */
.entry_h3.clsup + ul li p,
.li_num,
.section_h,
.td_txt.td_txt_v2,
.td_lst .td_txt,
.entry_tit .tit,
.section_sub.body_other,
.entry_h3.clsup,
.entry_tit .con_clt,
.tooltip_wrap,
.entry_d2 li .exam .tel > span{direction:rtl}

.section_sub.body_other ul,
.tooltip_wrap .ask .que_con{direction:ltr}

.li_rgt b,
.entry_h3 a,
.body_other li p strong,
.body_other li p b,
.body_other li p em,
.h_em,
.entry_p,
.entry_top_v2 .col7,
.entry_h3.clsup
{display:inline-block}

.noti_txt,
.noti_txt2,
.entry_d2 .vote,
p.usen_word,
.li8.none,
.entry_d3,
.btm2to.usen_all,
.li_rgt,
.entry_h,
.entry_d2 li,
.section_dsc,
.td_li h4,
.info_tit,
.td_lst .td_txt,
.myw_noti
{text-align:right}

.con_clt .ask .pop_clt p,
.td_lst.td_lst_v2 .td_txt{direction:ltr;text-align:left}

.con_clt .ask .pop_clt{text-align:left}

.entry_h4{display:block;margin:0}

.entry_h3.clsup a{display:inline-block;vertical-align:top}

.entry_h3.clsup{margin:0}
.con_clt .ask .pop_clt p,
.li_num{float:right;margin-left:5px}
.myw_txt{max-width:100%;padding:0 10px 0 35px;text-align:right}
.ico_x2{left:1px;right:auto}
.pc .ico_x2{background-position:7px -341px}
.pc .td_li{padding:5px 18px 12px 0}
.cont_main .auto_complete2 .list_head li{padding-right:0;padding-left:11px}
.cont_main .auto_complete2 .list_head span.w2{max-width:100%}
.pc .global_option a.btn_close:after{display:none}
.td_li{padding:4px 10px 10px 0}
.li_rgt b{margin-right:5px}
.section_sub ul li p b{margin-left:5px}
.con_clt .ask{margin-right:2px;margin-left:0}

.con_clt .txt_box1{margin-right:6px;margin-left:0}
.open_dic .con_clt .txt_box1{margin-right:0}
.more_ssdic{display:block;margin:0 10px 20px 0;text-align:right}
.pop_clt{right:-55px;left:auto}
.dht4{padding:27px 10px 22px 0}
.area_origin .txt_origin{text-align:left}
.h_em{margin-right:7px;margin-left:0}
.entry_d2 > li .num{position:relative;left:auto;top:auto;direction:rtl;float:right;padding-left:4px}
.ico_pron{margin:6px 4px 0 0}
.sc2 .sbt{left:10px;right:auto}
.sc2_v2 .sbt{left:53px;right:auto}
.sc2_v2 .sbt5{left:10px;right:auto}
.sc2{padding:8px 10px 0 48px}
.sc2_v2{padding:8px 10px 0 91px}
.u_hsft{padding:18px 5px 6px 10px}
.u_hsw{padding:5px 5px 0 38px}
.u_hs .u_itw{padding:0 6px 0 40px}
.u_clrt{left:3px;right:auto}
.u_hs .u_hssbt_ss{left:0;right:auto}
.sc2 .sbt3{right:auto;left:53px}
.sc2_v2 .sbt3{right:auto;left:95px}
.sc2 .sc_box, .sc2_v2 .sc_box{padding:1px 6px 1px 50px}
.userentry_section{text-align:right;}
.userentry_section .txt_box{float:right;}
.userentry_section .ask{float:right;margin:0 5px 0 0;}
.tooltip_wrap .ask .que_con{left:auto;right:0;}
.tooltip_wrap .ask .que_con:after{left:auto;right:0;}
.profile_wrap{padding:0 25px 0 13px}
.profile_wrap .profile_thumb{right:-5px;left:auto;}
.profile_wrap dt{float:right;}
.profile_wrap dd{float:right;margin:0 4px 0 0;}
.profile_wrap dt:after{content:''}
.profile_wrap dt:before{content:' : '}
.entry_d2 .vote{padding:0 47px 0 0;}
.entry_d2 .vote a{float:right;margin:5px 0 0 5px;}
.profile_wrap.no_img + .vote{padding:0;}
.profile_wrap.no_img,
.pc .profile_wrap.no_img{padding:0 0 0 120px;}
.pc .profile_wrap{padding:2px 46px 0 120px;}
.pc .entry_d2 .vote{right:auto; left: 12px;}
.pc .profile_wrap .writer~.date:before{display:inline;width:auto;height:auto;margin:0;background:transparent;content:' : '}
.pc .profile_wrap .writer~.date:after{display: inline-block;width:1px;height:11px;margin:0 10px;background:#e6e6e6;content:''}
.pc .profile_wrap .profile_thumb{right:0;top:0;left:auto;}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 92px; /* 서비스에 맞게 변경 */
	background-image: url(../img/ar/Nicon_ardic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/ar/Nicon_ardic.svg);
	-webkit-background-size: 92px auto; /* 서비스에 맞게 변경 */
	background-size: 92px auto; /* 서비스에 맞게 변경 */
}
.Nsearch{
	direction: rtl !important;
}
.Nsearch_tool .Ntool_search.Nicon_input {
	margin: 0 6px 0 0 !important;
}
