@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전Tip노출개수 */
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}

/* 각 사전 별 수정부분 */
.cont_main h2 .logo{width:288px;background:url(../img/ge/sp_header_pc.png) no-repeat}
.cont_main.change_lang h2 .logo{width:403px;margin-left:289px;background-position:0 -92px}
.cont_main.change_lang .main_srch .btn_srch{width:61px;background:url(../img/ge/sp_header_pc.png) no-repeat 0 -186px}
.cont_main.change_lang .main_srch .device{left:403px;}
.cont_main .main_srch{*width:448px}

.dic_lk .img{background:url(../img/ge/sp_dic.png) no-repeat;background-size:104px 157px}
.pc .lyr_mobile div{background:url(../img/ge/img_qr.gif) no-repeat}
.pc .header h1 a{background:url(../img/ge/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/ge/sp_dic_s.png) no-repeat}

.cont_main .title_type{width:290px}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 111px; /* 서비스에 맞게 변경 */
	background-image: url(../img/ge/Nicon_gedic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/ge/Nicon_gedic.svg);
	-webkit-background-size: 111px auto; /* 서비스에 맞게 변경 */
	background-size: 111px auto; /* 서비스에 맞게 변경 */
}
