@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전이용TIP 3개 노출 시 삭제
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}*/

/* 각 사전 별 수정부분 */
.cont_main h2 .logo{width:289px;background:url(../img/ru/sp_header_pc.png) no-repeat}
.cont_main.change_lang h2 .logo{width:443px;margin-left:289px;background-position:0 -95px}
.cont_main.change_lang .main_srch .btn_srch{width:62px;background:url(../img/ru/sp_header_pc.png) no-repeat 0 -186px}
.cont_main.change_lang .main_srch .device{left:404px;}
.cont_main .main_srch{*width:449px}

.dic_lk .img{background:url(../img/ru/sp_dic.png) no-repeat;background-size:122px 227px}
.pc .lyr_mobile div{background:url(../img/ru/img_qr.gif) no-repeat}
.pc .header h1 a{background:url(../img/ru/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/ru/sp_dic_s.png) no-repeat}
.pc .tab_guide li{*width:33%}

.cont_main .title_type{width:325px}

/* 메인베너변경 */
.usen_banner .img_area .thumb{background:url(../img/ru/event_03.png) no-repeat 94% 50%;background-size:64px auto;-webkit-background-size:64px auto}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 109px; /* 서비스에 맞게 변경 */
	background-image: url(../img/ru/Nicon_rudic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/ru/Nicon_rudic.svg);
	-webkit-background-size: 109px auto; /* 서비스에 맞게 변경 */
	background-size: 109px auto; /* 서비스에 맞게 변경 */
}
