@charset "utf-8";
/* NHNC Web Standard Team JHY 121115 */

/* 사전이용TIP 3개 노출 시 삭제
.m_tab_v2 .m_tab_l{width:50%}
.m_tab_v2 .m_tab_l:nth-child(1){width:50%}*/

/* 각 사전 별 수정부분 */
.cont_main h2 a .logo{width:287px;background:url(../img/vn/h2_tit.png) no-repeat 0 -90px}
.dic_lk .img{background:url(../img/vn/sp_dic.png) no-repeat;background-size:103px 157px}
.pc .lyr_mobile div{background:url(../img/vn/img_qr.gif) no-repeat}
.pc .header h1 a{background:url(../img/vn/sp_dic_s.png) no-repeat 0 6px}
.pc .dic_lk .img{background:url(../img/vn/sp_dic_s.png) no-repeat}

.cont_main .title_type{width:287px}

/* 메인베너변경 */
.usen_banner .img_area .thumb{background:url(../img/vn/event_03.png) no-repeat 94% 50%;background-size:64px auto;-webkit-background-size:64px auto}

/* GNB 타이틀 */
.Ngnb_service .Nservice_item .Nicon_service {
	width: 110px; /* 서비스에 맞게 변경 */
	background-image: url(../img/vn/Nicon_vndic.png); /* 서비스에 맞게 변경 */
	background-image: linear-gradient(transparent, transparent), url(../img/vn/Nicon_vndic.svg);
	-webkit-background-size: 110px auto; /* 서비스에 맞게 변경 */
	background-size: 110px auto; /* 서비스에 맞게 변경 */
}
